.zoom-hover-effect {
	display: inline-block;
	transition: linear .1s;
	&:hover {
		transform: scale(1.1, 1.1);
	}
}
.icon-zoom-hover {
	.svg-icon {
		transition: linear .1s;
	}
	&:hover {
		.svg-icon {
			transform: scale(1.1, 1.1);
		}
	}
}