html {
	font-size: $rem-font-size;
}
body {
	position: relative;

	font-family: $document-font-family;
	font-weight: $document-font-weight;
	font-size: $document-font-size;
	line-height: $document-line-height;
	color: $document-color;

	background-color: $document-background;
}

img {
	max-width: 100%;
	// height: auto;
}




.bg-none {
	background: none !important;
}
a {
	color: #2F80ED;
	&:hover {
		color: #2F80ED;
	}
}

.hidden {
	opacity: 0;
	visibility: hidden;
}

.background-dark-8 {
	background-color: rgba(40, 47, 54, 0.08);
}
.background-green-3 {
	background-color: #6FCF97 !important;
}
.border-top-grey {
	border-top: 1px solid rgba(40, 47, 54, 0.15);
}
.border-bottom-grey {
	border-bottom: 1px solid rgba(40, 47, 54, 0.15);
}



.store-inside-column {
	@include mlg() {
		margin-top: -10px;
		margin-bottom: 5px;
	}
}