.container-fluid {
	max-width: 1170px;
	@media only screen and (max-width: 767px) {
		width: 1170px;
	}
}
.row {
	&_indents_m {
		margin-left: -10px;
		margin-right: -10px;
		& > .column, & > [class*='col-'], & > .col {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	&_indents_sm {
		margin-left: -8px;
		margin-right: -8px;
		& > .column, & > [class*='col-'], & > .col {
			padding-left: 8px;
			padding-right: 8px;
		}
	}
	&_indents_s {
		margin-left: -5px;
		margin-right: -5px;
		& > .column, & > [class*='col-'], & > .col {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	&_indents_xs {
		margin-left: -2px;
		margin-right: -2px;
		& > .column, & > [class*='col-'], & > .col {
			padding-left: 2px;
			padding-right: 2px;
		}
	}
}
.no-gutters {
	& > [class*='col-'], & > .column {
		padding: 0;
	}
}

.column {
	padding-left: 15px;
	padding-right: 15px;
}