$rem-font-size: 16px;
$font: 'SF Pro Display', sans-serif;
$font2: 'Lato', sans-serif;

// values for body tag
$document-font-family: $font;
$document-font-weight: 400;
$document-font-size: 14 / 16 + rem;
$document-color: #282F36;
$document-line-height: 1.4;
$document-background: #EEEFEF;
// $document-background: #fff;
// $document-background: transparent;