<template>
	<div>
		<div class="mb-4 pb-2">
			<div class="wrap">
				<div class="row no-gutters">
					<div class="col-lg-6 d-flex flex-column">
						<app-synced-vert-carousel :data-carousel="syncedCarouselData" :group-name="'goodCarousel'" />
					</div>
					<div class="col-lg-6 d-flex flex-column">
						<div class="pl-5 pr-5 pt-4 pb-3 d-flex flex-column flex-grow-1">
							<a class="add-preview-favour add-preview-favour_position_new active" href="#">
								<app-svg-icon name="heart-fill"/>
							</a>
							<div class="color-orange font-weight-bold text-uppercase letter-spacing-1 mb-3 mt-3">Куплю</div>
							<h3 class="mb-3">Куплю Антикварные часы</h3>
							<div class="row row_indents_m pb-2">
								<div class="column color-dark font-weight-bold mb-2 font-size-16">880 890 000 <span class="font-weight-normal text-small">UZS</span></div>
							</div>
							<hr class="devider mt-4 mb-3">
							<!-- <div class="row row_indents_m pt-1 pb-1">
								<div class="column mb-3">
									<a class="button button-blue font-weight-bold" href="#" @click.prevent="showModal('offerPrice')">Предложить</a>
								</div>
								<div class="column mb-3">
									<a class="button button_basket font-weight-bold" href="#">
										<div class="button-in d-flex flex-nowrap align-items-center justify-content-center">
											<span>Без торга</span>
										</div>
									</a>
								</div>
							</div> -->
							<vue-tabs class="small-tabs pb-4">
								<v-tab id="short-descr" title="Краткое описание">
									<div class="color-dark-80">Антикварные часы Patek Phillipe  1699 года украденные во время мародерства во время ВОВII Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. </div>
								</v-tab>
								<v-tab id="contacts" title="Контакты">
									<div class="row row_indents_s">
										<div class="column">
											<app-svg-icon class="color-grey-dark font-size-30" name="user" />
										</div>
										<div class="column d-flex flex-column justify-content-center text-small color-grey-dark">Пользователь предпочел скрыть данные</div>
									</div>
								</v-tab>
							</vue-tabs>
							<hr class="devider mt-0 mb-4">
							<div class="mb-4">
								<a class="button button-blue font-weight-bold" href="#" @click.prevent="showModal('offerPrice')">Предложить</a>
							</div>
							<div class="row justify-content-between mt-auto">
								<div class="column">
									<div class="row">
										<div class="column">
											<a class="share-link color-dark text-decoration-none" href="#">
												<span class="d-flex flex-nowrap">
													<app-svg-icon class="font-size-18 color-dark-30 flex-shrink-0" name="fb" />
													<span class="font-weight-bold ml-1 mr-1">Share</span>
													<span class="color-dark-30">82</span>
												</span>
											</a>
										</div>
										<div class="column">
											<a class="share-link color-dark text-decoration-none" href="#">
												<span class="d-flex flex-nowrap">
													<app-svg-icon class="font-size-18 color-dark-30 flex-shrink-0" name="tw" />
													<span class="font-weight-bold ml-1 mr-1">Tweet</span>
													<span class="color-dark-30">33</span>
												</span>
											</a>
										</div>
										<div class="column">
											<app-dropdown-multi class="dropdown-simple">
												<template v-slot:togglecontent>
													<span class="font-size-14 font-weight-bold color-dark-main">More</span>
													<app-svg-icon class="font-size-8 color-dark-50 ml-2" name="arrow-down" />
												</template>
												<ul class="shop-card-features-list list-unstyled mb-0">
													<li class="mb-2">
														<a class="share-link color-dark text-decoration-none font-size-14" href="#">
															<span class="d-flex flex-nowrap align-items-center">
																<app-svg-icon class="font-size-18 color-dark-30 flex-shrink-0" name="tw" />
																<span class="font-weight-bold ml-1 mr-1">Tweet</span>
																<span class="color-dark-50">82</span>
															</span>
														</a>
													</li>
													<li class="mb-2">
														<a class="share-link color-dark text-decoration-none font-size-14" href="#">
															<span class="d-flex flex-nowrap align-items-center">
																<app-svg-icon class="font-size-18 color-dark-30 flex-shrink-0" name="tw" />
																<span class="font-weight-bold ml-1 mr-1">Tweet</span>
																<span class="color-dark-50">33</span>
															</span>
														</a>
													</li>
													<li class="mb-2">
														<a class="share-link color-dark text-decoration-none font-size-14" href="#">
															<span class="d-flex flex-nowrap align-items-center">
																<app-svg-icon class="font-size-18 color-dark-30 flex-shrink-0" name="tw" />
																<span class="font-weight-bold ml-1 mr-1">Tweet</span>
																<span class="color-dark-50">82</span>
															</span>
														</a>
													</li>
												</ul>
											</app-dropdown-multi>
										</div>
									</div>
								</div>
								<div class="column">
									<app-dropdown-multi class="dropdown-simple dropdown-simple_center">
										<template v-slot:togglecontent>
											<app-svg-icon class="font-size-20 color-grey svg-icon_reverse_90" name="dots" />
										</template>
										<ul class="shop-card-features-list list-unstyled mb-0">
											<li><a href="#">Редактировать</a></li>
											<li><a href="#">Удалить</a></li>
										</ul>
									</app-dropdown-multi>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<modal name="offerPrice" :adaptive="true" :minWidth="280" :maxWidth="390" :height="'auto'" :scrollable="true">
			<div class="modal-in">
				<div class="modal-body">
					<button class="modal-close button-clr" type="button" @click="hideModal('offerPrice')">
						<app-svg-icon name="close" />
					</button>
					<div class="pt-4">
						<form>
							<div class="modal-title">Предложить цену</div>
							<div class="form-group mb-3 pb-1">
								<label class="font-weight-bold color-gray-2" for="offerGood">Предложить товар</label>
								<input class="form-control" type="text" id="offerGood" placeholder="Выберите товар">
							</div>
							<div class="form-group mb-3 pb-1">
								<label class="font-weight-bold color-gray-2" for="offerPrice">Сообщение:</label>
								<textarea class="form-control" id="offerPrice" rows="5"></textarea>
							</div>
							<div class="form-group">
								<div class="row row_indents_m align-items-center">
									<div class="column mb-2">
										<a class="button button-blue" href="#" @click.prevent="hideModal('offerPrice')">Отправить</a>
									</div>
									<div class="column mb-2">
										<a class="font-weight-bold color-dark-50" @click.prevent="hideModal('offerPrice')" href="#">Отменить</a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</modal>
	</div>
</template>

<script>
	import SvgIcon from '../components/SvgIcon.vue'
	// import contentToggle from '../components/contentToggle.vue'
	import {VueTabs, VTab} from 'vue-nav-tabs/dist/vue-tabs.js'
	import DropdownMulti from '../components/dropdownMulti.vue'
	// import tooltip from '../components/tooltip.vue'
	import syncedVertCarousel from '../components/synced-vertical-carousel.vue'
	export default {

		name: 'ad-inside',

		data () {
			return {
				syncedCarouselData: [
					{
						thumbs: require('../assets/images/carousel-thumb1.png'),
						carouselImg: require('../assets/images/carousel-img.png')
					},
					{
						thumbs: require('../assets/images/carousel-thumb2.png'),
						carouselImg: require('../assets/images/carousel-img.png')
					},
					{
						thumbs: require('../assets/images/carousel-thumb3.png'),
						carouselImg: require('../assets/images/carousel-img.png')
						// carouselImg: require('../assets/images/carousel-thumb3.png')
					},
					{
						thumbs: require('../assets/images/carousel-thumb4.png'),
						carouselImg: require('../assets/images/carousel-img.png')
						// carouselImg: require('../assets/images/carousel-thumb4.png')
					},
					{
						thumbs: require('../assets/images/carousel-thumb1.png'),
						carouselImg: require('../assets/images/carousel-img.png')
						// carouselImg: require('../assets/images/carousel-thumb1.png')
					},
					{
						thumbs: require('../assets/images/carousel-thumb2.png'),
						carouselImg: require('../assets/images/carousel-img.png')
						// carouselImg: require('../assets/images/carousel-thumb2.png')
					},
					{
						thumbs: require('../assets/images/carousel-thumb1.png'),
						carouselImg: require('../assets/images/carousel-img.png')
						// carouselImg: require('../assets/images/carousel-thumb1.png')
					},
					{
						thumbs: require('../assets/images/carousel-thumb2.png'),
						carouselImg: require('../assets/images/carousel-img.png')
						// carouselImg: require('../assets/images/carousel-thumb2.png')
					}
				]
			}
		},
		methods: {
			showModal (modal) {
				this.$modal.show(modal);
			},
			hideModal (modal) {
				this.$modal.hide(modal);
			}
		},
		components: {
			appDropdownMulti: DropdownMulti,
			appSvgIcon: SvgIcon,
			VueTabs,
			VTab,
			// appContentToggle: contentToggle,
			// appTooltip: tooltip,
			appSyncedVertCarousel: syncedVertCarousel
		}
	}
</script>

<style lang="css" scoped>
</style>