<template>
	<div class="pt-5 pb-5">
		<div class="container-fluid">
			<a class="button button-blue mb-3" href="#" @click.prevent="showModal('addCategory')">Добавить категорию</a><br>
			<a class="button button-blue mb-3" href="#" @click.prevent="showModal('addBrand')">Добавить бренд</a><br>
			<a class="button button-blue mb-3" href="#" @click.prevent="showModal('addModel')">Добавить модель</a><br>
			<modal name="addCategory" :adaptive="true" :minWidth="280" :maxWidth="555" :height="'auto'" :scrollable="true">
				<div class="modal-in">
					<div class="modal-body pt-5 pb-5 pr-5">
						<button class="modal-close button-clr" type="button" @click="hideModal('addCategory')">
							<app-svg-icon name="close" />
						</button>
						<div class="pr-5">
							<div class="pb-4">
								<form>
									<div class="modal-title">Добавить категорию</div>
									<div class="form-group mb-3 pb-1">
										<label class="color-dark font-weight-bold" for="categoryName">Название категории:</label>
										<input class="form-control" id="categoryName" type="text">
									</div>
									<div class="form-group mb-3 pb-1">
										<label class="color-dark font-weight-bold" for="linkToSourceModel">Ссылка на источник:</label>
										<input class="form-control" id="linkToSourceModel" type="text">
									</div>
								</form>
							</div>
							<div class="modal-foot pl-0 pr-0">
								<div class="row row_indents_m align-items-center">
									<div class="column">
										<button class="button button-blue button-clr" type="button" @click="hideModal('addCategory')">Добавить</button><br>
									</div>
									<div class="column">
										<a class="font-weight-bold color-dark-50" href="#">Отменить</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</modal>
			<modal name="addBrand" :adaptive="true" :minWidth="280" :maxWidth="555" :height="'auto'" :scrollable="true">
				<div class="modal-in">
					<div class="modal-body pt-5 pb-5 pr-5">
						<button class="modal-close button-clr" type="button" @click="hideModal('addBrand')">
							<app-svg-icon name="close" />
						</button>
						<div class="pr-5">
							<div class="pb-4">
								<form>
									<div class="modal-title">Добавить категорию</div>
									<div class="form-group mb-3 pb-1">
										<label class="color-dark font-weight-bold" for="brandCategory">Название категории:</label>
											<treeselect
												:multiple="true"
												:options="optionsCategory.options"
												placeholder="Выберите категорию..."
												:value-consists-of="optionsCategory.valueConsistsOf"
												:limit="3"
												:limitText="limitTextFunc"
												:default-expand-level="2"
												:disable-branch-nodes="true"
												:normalizer="normalizer"
												v-model="optionsCategory.value">
											</treeselect>
									</div>
									<div class="form-group mb-3 pb-1">
										<label class="color-dark font-weight-bold" for="brandName">Название бренда:</label>
										<input class="form-control" id="brandName" type="text">
									</div>
									<div class="form-group mb-3 pb-1">
										<label class="color-dark font-weight-bold" for="linkToSourceBrand">Ссылка на источник:</label>
										<input class="form-control" id="linkToSourceBrand" type="text">
									</div>
								</form>
							</div>
							<div class="modal-foot pl-0 pr-0">
								<div class="row row_indents_m align-items-center">
									<div class="column">
										<button class="button button-blue button-clr" type="button" @click="hideModal('addBrand')">Добавить</button><br>
									</div>
									<div class="column">
										<a class="font-weight-bold color-dark-50" href="#">Отменить</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</modal>
			<modal name="addModel" :adaptive="true" :minWidth="280" :maxWidth="555" :height="'auto'" :scrollable="true">
				<div class="modal-in">
					<div class="modal-body pt-5 pb-5 pr-5">
						<button class="modal-close button-clr" type="button" @click="hideModal('addModel')">
							<app-svg-icon name="close" />
						</button>
						<div class="pr-5">
							<div class="pb-4">
								<form>
									<div class="modal-title">Добавить категорию</div>
									<div class="form-group mb-3 pb-1">
										<label class="color-dark font-weight-bold" for="modelCategory">Категория:</label>
										<treeselect
											:multiple="true"
											:options="optionsCategory.options"
											placeholder="Выберите категорию..."
											:value-consists-of="optionsCategory.valueConsistsOf"
											:limit="3"
											:limitText="limitTextFunc"
											:default-expand-level="2"
											:disable-branch-nodes="true"
											:normalizer="normalizer"
											v-model="optionsCategory.value">
										</treeselect>
									</div>
									<div class="form-group mb-3 pb-1">
										<label class="color-dark font-weight-bold" for="modelBrand">Бренд:</label>
										<treeselect
											:multiple="true"
											:options="brands.options"
											placeholder="Выберите категорию..."
											:value-consists-of="brands.valueConsistsOf"
											:limit="3"
											:limitText="limitTextFunc"
											:default-expand-level="2"
											:disable-branch-nodes="true"
											:normalizer="normalizer"
											v-model="brands.value">
										</treeselect>
									</div>
									<div class="form-group mb-3 pb-1">
										<label class="color-dark font-weight-bold" for="modelName">Название модели:</label>
										<input class="form-control" id="modelName" type="text">
									</div>
									<div class="form-group mb-3 pb-1">
										<label class="color-dark font-weight-bold" for="linkToSource">Ссылка на источник:</label>
										<input class="form-control" id="linkToSourceBrand" type="text">
									</div>
								</form>
							</div>
							<div class="modal-foot pl-0 pr-0">
								<div class="row row_indents_m align-items-center">
									<div class="column">
										<button class="button button-blue button-clr" type="button" @click="hideModal('addModel')">Добавить</button><br>
									</div>
									<div class="column">
										<a class="font-weight-bold color-dark-50" href="#">Отменить</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</modal>
		</div>
	</div>
</template>
<script>
	import SvgIcon from '../components/SvgIcon.vue'
	import Treeselect from '@riophae/vue-treeselect'
	import '@riophae/vue-treeselect/dist/vue-treeselect.css'
	export default {
		name: 'addCategory',
		data () {
			return {
				optionsCategory: {
					value: [],
					valueConsistsOf: 'LEAF_PRIORITY',
					options: [
						{
							id: 'Appliances',
							title: 'Бытовая техника',
							children: [
								{
									id: 'microwave',
									title: 'Микроволновки',
									children: [
										{
											id: 'microwave-1',
											title: 'Микроволновка 1',
										},
										{
											id: 'microwave-2',
											title: 'Микроволновка 2',
										}
									],
								},
								{
									id: 'phens',
									title: 'Фены',
									children: [
										{
											id: 'phen-1',
											title: 'Фен 1',
										},
										{
											id: 'phen-2',
											title: 'Фен 2',
										}
									],
								},
							],
						},
						{
							id: 'Electronics',
							title: 'Электроника',
							children: [
								{
									id: 'phones',
									title: 'Мобильные телефоны',
									children: [
										{
											id: 'samsungPhone',
											title: 'Samsung',
										},
										{
											id: 'lgPhone',
											title: 'LG',
										}
									],
								},
								{
									id: 'TV',
									title: 'Телевизоры',
									children: [
										{
											id: 'samsungTV',
											title: 'Samsung',
										},
										{
											id: 'lgTV',
											title: 'LG',
										}
									],
								},
							],
						}
					],
				},
				brands: {
					value: [],
					valueConsistsOf: 'LEAF_PRIORITY',
					options: [
						{
							id: 'Appliances',
							title: 'Бытовая техника',
							children: [
								{
									id: 'microwave',
									title: 'Микроволновки',
									children: [
										{
											id: 'microwave-1',
											title: 'Микроволновка 1',
										},
										{
											id: 'microwave-2',
											title: 'Микроволновка 2',
										}
									],
								},
								{
									id: 'phens',
									title: 'Фены',
									children: [
										{
											id: 'phen-1',
											title: 'Фен 1',
										},
										{
											id: 'phen-2',
											title: 'Фен 2',
										}
									],
								},
							],
						},
						{
							id: 'Electronics',
							title: 'Электроника',
							children: [
								{
									id: 'phones',
									title: 'Мобильные телефоны',
									children: [
										{
											id: 'samsungPhone',
											title: 'Samsung',
										},
										{
											id: 'lgPhone',
											title: 'LG',
										}
									],
								},
								{
									id: 'TV',
									title: 'Телевизоры',
									children: [
										{
											id: 'samsungTV',
											title: 'Samsung',
										},
										{
											id: 'lgTV',
											title: 'LG',
										}
									],
								},
							],
						}
					],
				},
			}
		},
		methods: {
			normalizer(node) {
				return {
					label: node.title,
				}
			},
			limitTextFunc (count) {
				return `${count}`
			},
			showModal (modal) {
				this.$modal.show(modal);
			},
			hideModal (modal) {
				this.$modal.hide(modal);
			}
		},
		components: {
			appSvgIcon: SvgIcon,
			Treeselect
		}
	}
</script>
<style lang="css" scoped>
</style>