<template>
	<div class="section pt-4 pb-4">
		<div class="container-fluid">
			<div class="wrap p-4">
				<div class="pl-2 pr-2">
					<div class="row">
						<div class="col-12 col-lg-6">
							<div class="pb-2">
								<h4>Оплата</h4>
							</div>
							<div class="color-dark-80 mb-3">Выберите вариант оплаты</div>
							<div class="checkbox-wrap pl-3 pr-3 pt-3 pb-2 mb-3">
								<div class="p-1">
									<app-checkbox 
										:type="'radio'"
										:name="'paySystem'"
										:id="'visa'"
										class="checkbox-circle"
										:checked="true">
											<span class="row flex-nowrap">
												<span class="column">
													<span class="font-weight-bold d-block mb-3">Credit Card</span>
													<span class="d-block color-dark-80">Safe money transfer using your bank account.  Safe payment metod. Visa, MasterCard, Maestro, Discover, American Express.</span>
												</span>
												<span class="column flex-shrink-0">
													<img src="../assets/images/visa-logo.png" alt="">
												</span>
											</span>
									</app-checkbox>
								</div>
							</div>
							<div class="checkbox-wrap pl-3 pr-3 pt-3 pb-2 mb-3">
								<div class="p-1">
									<app-checkbox 
										:type="'radio'"
										:name="'paySystem'"
										:id="'paypal'"
										class="checkbox-circle"
										:checked="false">
											<span class="row flex-nowrap">
												<span class="column">
													<span class="font-weight-bold d-block mb-3">PayPal</span>
													<span class="d-block color-dark-80">Safe payment online. Credit card needed. PayPal account is not necessary.</span>
												</span>
												<span class="column flex-shrink-0">
													<img src="../assets/images/paypal-logo.png" alt="">
												</span>
											</span>
									</app-checkbox>
								</div>
							</div>
							<div class="font-size-16 font-weight-bold mb-3 pb-1">Credit Card Information</div>
							<div class="form-wrap mb-4">
								<div class="form-group">
									<label class="label label_color_dark font-weight-bold" for="cardNumber">Номер карты</label>
									<div class="position-relative">
										<input class="form-control" id="cardNumber" type="text">
										<app-svg-icon class="form-icon-position form-icon-position_inside" name="check" />
									</div>
								</div>
								<div class="row row_indents_m align-items-end">
									<div class="form-group column">
										<label class="label label_color_dark font-weight-bold" for="cardDay">Месяц</label>
										<select class="form-control" id="cardDay">
											<option value="1">01</option>
											<option value="1">02</option>
											<option value="1">03</option>
											<option value="1">04</option>
											<option value="1">05</option>
											<option value="1">06</option>
											<option value="1">07</option>
											<option value="1">08</option>
											<option value="1">09</option>
											<option value="1">10</option>
											<option value="1">11</option>
											<option value="1">12</option>
										</select>
									</div>
									<div class="form-group column">
										<label class="label label_color_dark font-weight-bold" for="cardMonth">Год</label>
										<select class="form-control" id="cardMonth">
											<option value="1">2021</option>
											<option value="1">2022</option>
											<option value="1">2023</option>
										</select>
									</div>
									<div class="form-group col-3">
										<label class="label label_color_dark font-weight-bold" for="CVV">CVV Code</label>
										<input class="form-control" type="text" id="CVV">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tabs-foot mt-5 pt-5">
						<div class="row row_indents_m align-items-center justify-content-center">
							<div class="column">
								<router-link class="button button-blue" :to="{name: 'good-added'}">Подтвердить</router-link>
							</div>
							<div class="column">
								<router-link class="color-dark-50 font-weight-bold" :to="{name: 'shop-inside'}">Не рекламировать</router-link>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Checkbox from '../components/Checkbox.vue'
	import SvgIcon from '../components/SvgIcon.vue'
	export default {
		name: 'advertPayment',
		data () {
			return {

			}
		},
		components: {
			appCheckbox: Checkbox,
			appSvgIcon: SvgIcon,
		}
	}
</script>

<style lang="scss" scoped>
</style>