<template>
	<div class="row">
		<div class="col-4 col-lg-3" v-if="!(this.$route.name == 'article-card')">
			<div class="wrap p-4">
				<div class="mb-4 pb-2">
					<h4>База знаний</h4>
				</div>
				<ul class="messeges-nav list-unstyled mb-0">
					<router-link
						v-for="(link, keyLink) in list.links"
						:key="keyLink"
						:exact="link.main"
						active-class="active"
						tag="li"
						:class="{ disabled: link.disabled }"
						:event="link.disabled ? 'click' : ''"
						:to="{name:link.url}">
							<a class="color-dark-80 text-decoration-none">
								<span class="row row_indents_m flex-nowrap justify-content-between">
									<span class="column">{{ link.title }}</span>
									<span class="column color-dark-50 text-small">{{ link.value }}</span>
								</span>
							</a>
					</router-link>
				</ul>
				<div class="pt-5">
					<a class="button button-regular button-regular_grey pt-1 pb-2 w-100" href="#">
						<span class="row row_indents_s align-items-center justify-content-center text-small line-height-1">
							<span class="column">
								<app-svg-icon name="plus" />
							</span>
							<span class="column pt-1">Добавить статью</span>
						</span>
					</a>
				</div>
			</div>
		</div>
		<div class="col" :class="{'col-lg-9': !(this.$route.name == 'article-card')}">
			<template v-if="!(this.$route.name == 'article-card')">
				<div class="mb-4 pb-2">
					<div class="search-article position-relative">
						<input class="form-control" type="text" placeholder="Поиск по базе">
						<app-svg-icon name="zoom" />
					</div>
				</div>
				<div class="wrap p-4">
					<div class="article-preview position-relative">
						<router-link class="article-preview-link" :to="{name: 'article-card'}">
							<div class="row row_indents_m">
								<div class="col-lg-5 mb-4 mb-lg-0">
									<div class="article-preview-img">
										<img src="../assets/images/article1.jpg" alt="">
									</div>
								</div>
								<div class="col-lg-7">
									<div class="text-small text-uppercase color-blue-75 letter-spacing-1 mb-2">Реклама</div>
									<div class="mb-3 color-dark">
										<h4>Что означает  продвижение товара <br> в Топ и Таргет?</h4>
									</div>
									<div class="color-dark-80 pr-lg-5 mb-3 pb-1">Weaker carriers have fallen by the wayside amid fierce competition, while others have been hit by bad luck. The result: thousands of canceled flights.</div>
									<div class="row row_indents_s color-dark-50 text-small line-height-1">
										<div class="column pb-2">Oct 12</div>
										<div class="column pb-2">
											<div class="d-flex flex-nowrap align-items-center">
												<app-svg-icon name="comment" />
												<span class="ml-1">8</span>
											</div>
										</div>
										<div class="column pb-2">
											<div class="d-flex flex-nowrap align-items-center">
												<app-svg-icon name="heart-fill" />
												<span class="ml-1">405</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</router-link>
						<div class="article-preview-mark">
							<app-mark></app-mark>
						</div>
					</div>
					<div class="article-preview position-relative">
						<router-link class="article-preview-link" :to="{name: 'article-card'}">
							<div class="row row_indents_m">
								<div class="col-lg-5 mb-4 mb-lg-0">
									<div class="article-preview-img">
										<img src="../assets/images/article2.jpg" alt="">
									</div>
								</div>
								<div class="col-lg-7">
									<div class="text-small text-uppercase color-bluegreen-75 letter-spacing-1 mb-2">Доставка</div>
									<div class="mb-3 color-dark">
										<h4>Как заполнить информацию о товаре чтобы его захотели купить?</h4>
									</div>
									<div class="color-dark-80 pr-lg-5 mb-3 pb-1">The Los Angeles area, for all of its culinary diversity, has not historically been thought of as a haven for bread lovers. The area has a reputation as a place where gluten fears to tread.</div>
									<div class="row row_indents_s color-dark-50 text-small line-height-1">
										<div class="column pb-2">Oct 12</div>
										<div class="column pb-2">
											<div class="d-flex flex-nowrap align-items-center">
												<app-svg-icon name="comment" />
												<span class="ml-1">8</span>
											</div>
										</div>
										<div class="column pb-2">
											<div class="d-flex flex-nowrap align-items-center">
												<app-svg-icon name="heart-fill" />
												<span class="ml-1">405</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</router-link>
						<div class="article-preview-mark">
							<app-mark :toggle="true"></app-mark>
						</div>
					</div>
					<div class="article-preview position-relative">
						<router-link class="article-preview-link" :to="{name: 'article-card'}">
							<div class="row row_indents_m">
								<div class="col-lg-5 mb-4 mb-lg-0">
									<div class="article-preview-img">
										<img src="../assets/images/article3.jpg" alt="">
									</div>
								</div>
								<div class="col-lg-7">
									<div class="text-small text-uppercase color-red-75 letter-spacing-1 mb-2">Аукционы</div>
									<div class="mb-3 color-dark">
										<h4>Условия и правила проведения открытых торгов</h4>
									</div>
									<div class="color-dark-80 pr-lg-5 mb-3 pb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore iure a recusandae, cumque quo officiis sapiente repudiandae sed cum. Tempore ut, nam sit debitis nobis consequuntur voluptatibus dicta accusantium, odit facere fuga totam. Similique blanditiis, voluptas sed nesciunt aliquam necessitatibus!</div>
									<div class="row row_indents_s color-dark-50 text-small line-height-1">
										<div class="column pb-2">Oct 12</div>
										<div class="column pb-2">
											<div class="d-flex flex-nowrap align-items-center">
												<app-svg-icon name="comment" />
												<span class="ml-1">8</span>
											</div>
										</div>
										<div class="column pb-2">
											<div class="d-flex flex-nowrap align-items-center">
												<app-svg-icon name="heart-fill" />
												<span class="ml-1">405</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</router-link>
						<div class="article-preview-mark">
							<app-mark></app-mark>
						</div>
					</div>
					<div class="article-preview position-relative">
						<router-link class="article-preview-link" :to="{name: 'article-card'}">
							<div class="row row_indents_m">
								<div class="col-lg-5 mb-4 mb-lg-0">
									<div class="article-preview-img">
										<img src="../assets/images/article4.jpg" alt="">
									</div>
								</div>
								<div class="col-lg-7">
									<div class="text-small text-uppercase color-bluegreen-75 letter-spacing-1 mb-2">Товары</div>
									<div class="mb-3 color-dark">
										<h4>Как добавить категорию товара и бренд?</h4>
									</div>
									<div class="color-dark-80 pr-lg-5 mb-3 pb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut nisi blanditiis quia, atque sapiente labore? Eligendi possimus placeat vero beatae velit eum eius sapiente reiciendis, aliquid similique sunt dolore, totam.</div>
									<div class="row row_indents_s color-dark-50 text-small line-height-1">
										<div class="column pb-2">Oct 12</div>
										<div class="column pb-2">
											<div class="d-flex flex-nowrap align-items-center">
												<app-svg-icon name="comment" />
												<span class="ml-1">8</span>
											</div>
										</div>
										<div class="column pb-2">
											<div class="d-flex flex-nowrap align-items-center">
												<app-svg-icon name="heart-fill" />
												<span class="ml-1">405</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</router-link>
						<div class="article-preview-mark">
							<app-mark></app-mark>
						</div>
					</div>
					<div class="article-preview position-relative">
						<router-link class="article-preview-link" :to="{name: 'article-card'}">
							<div class="row row_indents_m">
								<div class="col-lg-5 mb-4 mb-lg-0">
									<div class="article-preview-img">
										<img src="../assets/images/article5.jpg" alt="">
									</div>
								</div>
								<div class="col-lg-7">
									<div class="text-small text-uppercase color-red-75 letter-spacing-1 mb-2">Science</div>
									<div class="mb-3 color-dark">
										<h4>Forests Protect the Climate. A Future With More Storms Would Mean Trouble.</h4>
									</div>
									<div class="color-dark-80 pr-lg-5 mb-3 pb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos ducimus magnam sit dolorem dolores maxime, fuga, neque eum voluptas suscipit.</div>
									<div class="row row_indents_s color-dark-50 text-small line-height-1">
										<div class="column pb-2">Oct 12</div>
										<div class="column pb-2">
											<div class="d-flex flex-nowrap align-items-center">
												<app-svg-icon name="comment" />
												<span class="ml-1">8</span>
											</div>
										</div>
										<div class="column pb-2">
											<div class="d-flex flex-nowrap align-items-center">
												<app-svg-icon name="heart-fill" />
												<span class="ml-1">405</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</router-link>
						<div class="article-preview-mark">
							<app-mark></app-mark>
						</div>
					</div>
					<div class="article-preview position-relative">
						<router-link class="article-preview-link" :to="{name: 'article-card'}">
							<div class="row row_indents_m">
								<div class="col-lg-5 mb-4 mb-lg-0">
									<div class="article-preview-img">
										<img src="../assets/images/article6.jpg" alt="">
									</div>
								</div>
								<div class="col-lg-7">
									<div class="text-small text-uppercase color-purple-75 letter-spacing-1 mb-2">Art & Design</div>
									<div class="mb-3 color-dark">
										<h4>New Contemporary Institute Reverberates in Richmond’s Historic Landscape</h4>
									</div>
									<div class="color-dark-80 pr-lg-5 mb-3 pb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores itaque deserunt similique numquam, distinctio ipsum iusto! Magnam laudantium facere eius placeat assumenda dignissimos eum nesciunt est obcaecati ipsa ut, sint esse, at, eaque quas neque aspernatur tempore. Nam consequuntur, tempora.</div>
									<div class="row row_indents_s color-dark-50 text-small line-height-1">
										<div class="column pb-2">Oct 12</div>
										<div class="column pb-2">
											<div class="d-flex flex-nowrap align-items-center">
												<app-svg-icon name="comment" />
												<span class="ml-1">8</span>
											</div>
										</div>
										<div class="column pb-2">
											<div class="d-flex flex-nowrap align-items-center">
												<app-svg-icon name="heart-fill" />
												<span class="ml-1">405</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</router-link>
						<div class="article-preview-mark">
							<app-mark></app-mark>
						</div>
					</div>
				</div>
			</template>
			<router-view />
		</div>
	</div>
</template>
<script>
	import SvgIcon from '../components/SvgIcon.vue'
	import bookmark from '../components/bookmark.vue'
	export default {
		name: 'article-category',

		data () {
			return {
				list: {
					links: [
						{
							main: true,
							title: 'Все статьи',
							value: '1 580',
							url: 'all-articles'
						},
						{
							title: 'Торговля',
							value: '893',
							url: 'trade-articles'
						},
						{
							title: 'Настройки кабинета',
							value: '1 082',
							url: 'my-buynow'
						},
					]
				}
			}
		},
		components: {
			appSvgIcon: SvgIcon,
			appMark: bookmark
		}
	}
</script>
<style lang="scss" scoped>
</style>