<template>
	<div class="article-card">
		<div class="article-card-header position-relative text-white">
			<div class="article-card-header-img" :style="{'backgroundImage': 'url('+headerBg+')'}">&nbsp;</div>
			<div class="container-fluid position-relative">
				<div class="row row_indents_m justify-content-end pb-5 mb-4">
					<div class="column mb-2">
						<router-link class="line-height-1 font-weight-bold d-flex flex-nowrap align-items-center text-white" :to="{name: 'article-category'}">
							<app-svg-icon name="home-1" />
							<span class="ml-2">Назад в базу</span>
						</router-link>
					</div>
					<div class="column mb-2">
						<router-link class="line-height-1 font-weight-bold d-flex flex-nowrap align-items-center text-white" :to="{name: 'article-category'}">
							<app-svg-icon name="arrow-left" />
							<span class="ml-2">Пред</span>
						</router-link>
					</div>
					<div class="column mb-2">
						<router-link class="line-height-1 font-weight-bold d-flex flex-nowrap align-items-center text-white" :to="{name: 'article-category'}">
							<span class="mr-2">След</span>
							<app-svg-icon class="svg-icon_reverse" name="arrow-left" />
						</router-link>
					</div>
				</div>
				<div class="pl-5 position-relative">
					<app-mark class="article-card-mark" :toggle="false" />
					<div class="article-card-header-content position-relative ml-lg-5">
						<div class="mb-5 pb-4">
							<h1>Создание персонального магазина на Buynow</h1>
						</div>
						<div class="font-size-18 line-height-30 text-white-80 mb-5 pb-2">Давно выяснено, что при оценке дизайна и композиции читаемый <br> текст мешает сосредоточиться.</div>
						<div class="row align-items-center text-white-50 font-size-12 line-height-1">
							<div class="column mb-2">
								<app-svg-icon name="clock-1" />
								<span class="ml-1">Авг 6, 10:23 </span>
							</div>
							<div class="column mb-2">
								<app-svg-icon name="heart-fill" />
								<span class="ml-1">830</span>
							</div>
							<div class="column mb-2">
								<app-svg-icon name="comment" />
								<span class="ml-1">19</span>
							</div>
							<div class="column mb-2">
								<div class="button button-border button-border_theme_article">
									<app-svg-icon name="share" />
									<span class="ml-2">142 Shares</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="article-card-body">
			<div class="container-fluid mb-5">
				<div class="pl-5">
					<div class="ml-lg-5">
						<div class="article-card-header-content">
							<h3>Почему он используется?</h3>
							<p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца.</p>
							<p>Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором.</p>
							<p>За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).</p>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid mb-5">
				<div class="position-relative">
					<app-carousel class="article-card-carousel" :perPageCustom="[[320, 1]]" :scrollPerPage="false" :mouseDrag="false" :paginationEnabled="false" ref="carousel">
						<app-slide>
							<img src="../assets/images/article-card-slide.jpg" alt="">
						</app-slide>
						<app-slide>
							<img src="../assets/images/article-card-slide.jpg" alt="">
						</app-slide>
						<app-slide>
							<img src="../assets/images/article-card-slide.jpg" alt="">
						</app-slide>
					</app-carousel>
					<div class="article-card-arrows">
						<button class="article-card-arrow-prev button-clr" type="button" @click.prevent="prevSlide()">
							<app-svg-icon class="svg-icon_reverse" name="circle-arrow" />
						</button>
						<button class="article-card-arrow-next button-clr" type="button" @click.prevent="nextSlide()">
							<app-svg-icon name="circle-arrow" />
						</button>
					</div>
				</div>
			</div>
			<div class="container-fluid mb-5">
				<div class="pl-5">
					<div class="ml-lg-5">
						<div class="article-card-header-content">
							<p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца.</p>
							<p>Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором.</p>
							<p>За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).</p>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid mb-5 pt-5 pb-3">
				<div class="pl-5">
					<div class="ml-lg-5">
						<div class="article-card-header-content">
							<div class="position-relative">
								<blockquote>
									<app-svg-icon class="blockquote-svg color-blue-25 font-size-70" name="quote" />
									<div class="row row_indents_m flex-nowrap position-relative">
										<div class="column"><h3>Классический текст Lorem Ipsum, используемый с XVI века, приведён ниже. Также даны разделы 1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum" Цицерона и их английский перевод, сделанный H. Rackham, 1914 год.</h3></div>
										<div class="column flex-shrink-0">
											<div class="user d-flex flex-column">
												<div class="user-avatar mb-2">
													<img src="../assets/images/user-avatar.png" alt="">
												</div>
												<div class="font-size-18 line-height-30 color-dark-80">William Peterson</div>
												<div class="color-dark-50">Модератор</div>
											</div>
										</div>
									</div>
								</blockquote>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid mb-5">
				<div class="pl-5">
					<div class="ml-lg-5">
						<div class="article-card-header-content">
							<p>Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).</p>
							<p>Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь </p>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid mb-5">
				<div class="pl-5">
					<div class="ml-lg-5">
						<div class="article-card-header-content">
							<hr class="devider mb-5 mt-5">
							<h3 class="mb-4">Поделитесь с друзьями</h3>
							<div class="row row_indents_s align-items-center">
								<div class="column">
									<a class="button button-social" href="#">
										<span class="row row_indents_s align-items-center">
											<span class="column">
												<app-svg-icon name="heart" />
											</span>
											<span class="column font-weight-bold">Like</span>
											<span class="column">830</span>
										</span>
									</a>
								</div>
								<div class="column">
									<a class="button button-social button-social_fb" href="#">
										<span class="row row_indents_s align-items-center">
											<span class="column">
												<app-svg-icon name="fb" />
											</span>
											<span class="column font-weight-bold">Share</span>
											<span class="column">82</span>
										</span>
									</a>
								</div>
								<div class="column">
									<a class="button button-social button-social_tw" href="#">
										<span class="row row_indents_s align-items-center">
											<span class="column">
												<app-svg-icon name="tw" />
											</span>
											<span class="column font-weight-bold">Tweet</span>
											<span class="column">33</span>
										</span>
									</a>
								</div>
								<div class="column">
									<app-dropdown-multi class="dropdown_social pt-0 pb-0">
										<template v-slot:togglecontent>
											<div class="circle circle_social">
												<app-svg-icon class="shop-card-icon color-grey svg-icon_reverse_90" name="dots" />
											</div>
										</template>
										<div class="text-center">
											<a class="button button-social mb-2" href="#">
												<span class="row row_indents_s align-items-center">
													<span class="column">
														<app-svg-icon name="heart" />
													</span>
													<span class="column font-weight-bold">Like</span>
													<span class="column">830</span>
												</span>
											</a>
											<a class="button button-social button-social_fb mb-2" href="#">
												<span class="row row_indents_s align-items-center">
													<span class="column">
														<app-svg-icon name="fb" />
													</span>
													<span class="column font-weight-bold">Share</span>
													<span class="column">82</span>
												</span>
											</a>
											<a class="button button-social button-social_tw mb-2" href="#">
												<span class="row row_indents_s align-items-center">
													<span class="column">
														<app-svg-icon name="tw" />
													</span>
													<span class="column font-weight-bold">Tweet</span>
													<span class="column">33</span>
												</span>
											</a>
										</div>
									</app-dropdown-multi>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="background-dark-8 pt-5 pb-5 mb-5">
				<div class="container-fluid mb-5">
					<div class="pt-2 pb-2">
						<div class="row">
							<div class="col-4 col-lg-3 mb-4">
								<a class="other-article color-dark-main text-decoration-none" href="#">
									<img class="mb-3" src="../assets/images/article-img1.png" alt="">
									<div class="font-weight-bold font-size-16 pb-2 mb-1">An Evangelist of Singaporean Food Has a New Pulpit</div>
									<div class="row row_indents_s text-small color-dark-50">
										<div class="column">
											<app-svg-icon name="eye-3" />
											<span class="ml-1">1,904</span>
										</div>
										<div class="column">
											<app-svg-icon name="comment" />
											<span class="ml-1">82</span>
										</div>
									</div>
								</a>
							</div>
							<div class="col-4 col-lg-3 mb-4">
								<a class="other-article color-dark-main text-decoration-none" href="#">
									<img class="mb-3" src="../assets/images/article-img2.png" alt="">
									<div class="font-weight-bold font-size-16 pb-2 mb-1">At the Mouth of the Mississippi, a Weird and Fragile Beauty</div>
									<div class="row row_indents_s text-small color-dark-50">
										<div class="column">
											<app-svg-icon name="eye-3" />
											<span class="ml-1">2,873</span>
										</div>
										<div class="column">
											<app-svg-icon name="comment" />
											<span class="ml-1">982</span>
										</div>
									</div>
								</a>
							</div>
							<div class="col-4 col-lg-3 mb-4">
								<a class="other-article color-dark-main text-decoration-none" href="#">
									<img class="mb-3" src="../assets/images/article-img3.png" alt="">
									<div class="font-weight-bold font-size-16 pb-2 mb-1">Chattanooga Is Changing. But Its Charms Remain.</div>
									<div class="row row_indents_s text-small color-dark-50">
										<div class="column">
											<app-svg-icon name="eye-3" />
											<span class="ml-1">821</span>
										</div>
										<div class="column">
											<app-svg-icon name="comment" />
											<span class="ml-1">30</span>
										</div>
									</div>
								</a>
							</div>
							<div class="col-4 col-lg-3 mb-4">
								<a class="other-article color-dark-main text-decoration-none" href="#">
									<img class="mb-3" src="../assets/images/article-img4.png" alt="">
									<div class="font-weight-bold font-size-16 pb-2 mb-1">How to Get by in a Country if You Don’t Know the Language</div>
									<div class="row row_indents_s text-small color-dark-50">
										<div class="column">
											<app-svg-icon name="eye-3" />
											<span class="ml-1">5,030</span>
										</div>
										<div class="column">
											<app-svg-icon name="comment" />
											<span class="ml-1">495</span>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid mb-5">
				<div class="pl-5">
					<div class="ml-lg-5">
						<div class="comments-wrap">
							<div class="row align-items-center justify-content-between">
								<div class="column mb-3">
									<h2 class="m-0">Комментарии <span class="color-dark-50 font-weight-normal">19</span></h2>
								</div>
								<div class="column mb-3">
									<a class="button button-border color-dark-main pt-2 pb-2 pl-3 pr-3" href="#">
										<div class="pt-1 pb-1">
											<app-svg-icon name="pen" />
											<span class="ml-2 font-weight-bold">Комментировать</span>
										</div>
									</a>
								</div>
							</div>
							<div class="comment-list mb-4 pb-2">
								<div class="comment-card">
									<div class="row row_indents_sm flex-nowrap">
										<div class="column flex-shrink-0">
											<div class="comment-card-avatar">
												<img src="../assets/images/user.png" alt="">
											</div>
										</div>
										<div class="column flex-grow-1">
											<div class="mb-2 pb-1"><strong class="font-size-16">John Snow</strong><span class="color-dark-50 text-small ml-1">July 17, 6:38 pm</span></div>
											<div class="font-size-18 line-height-30 color-dark-80 mb-2 pb-1">In the event, "in places like Iraq and Jordan, leaders of the new sovereign states were brought in from the outside, tailored to suit colonial interests and commitments</div>
											<div class="row row_indents_m">
												<div class="column">
													<a class="color-dark text-small" href="#">
														<app-svg-icon class="color-dark-30" name="comment" />
														<span class="font-weight-bold ml-1">Reply</span>
													</a>
												</div>
												<div class="column">
													<app-like-counter :count-val="10" />
												</div>
											</div>
										</div>
									</div>
									<div class="comment-card">
										<div class="row flex-nowrap">
											<div class="column flex-shrink-0">
												<div class="comment-card-avatar">
													<img src="../assets/images/user-avatar.png" alt="">
												</div>
											</div>
											<div class="column flex-grow-1">
												<div class="mb-2 pb-1"><strong class="font-size-16">Lora Morrow</strong><span class="color-dark-50 text-small ml-1">July 17, 6:41 pm</span></div>
												<div class="font-size-18 line-height-30 color-dark-80 mb-2 pb-1">Likewise, most states in the Persian Gulf were handed over to those who could protect and safeguard imperial interests in the post-withdrawal phase</div>
												<div class="row row_indents_m">
													<div class="column">
														<a class="color-dark text-small" href="#">
															<app-svg-icon class="color-dark-30" name="comment" />
															<span class="font-weight-bold ml-1">Reply</span>
														</a>
													</div>
													<div class="column">
														<app-like-counter />
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="comment-card">
									<div class="row row_indents_sm flex-nowrap">
										<div class="column flex-shrink-0">
											<div class="comment-card-avatar">
												<img src="../assets/images/user-avatar2.png" alt="">
											</div>
										</div>
										<div class="column flex-grow-1">
											<div class="mb-2 pb-1"><strong class="font-size-16">Tara Stark</strong><span class="color-dark-50 text-small ml-1">July 17, 6:53 pm</span></div>
											<div class="font-size-18 line-height-30 color-dark-80 mb-2 pb-1">French Indochina was divided into five subdivisions: Tonkin, Annam, Cochinchina, Cambodia and Laos. Cochinchina was the first territory under French Control. Saigon was conquired in 1859. Then, in 1887, the Indochinese Union was established.</div>
											<div class="row row_indents_m">
												<div class="column">
													<a class="color-dark text-small" href="#">
														<app-svg-icon class="color-dark-30" name="comment" />
														<span class="font-weight-bold ml-1">Reply</span>
													</a>
												</div>
												<div class="column">
													<app-like-counter :count-val="-3" />
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="comment-card">
									<div class="row row_indents_sm flex-nowrap">
										<div class="column flex-shrink-0">
											<div class="comment-card-avatar">
												<img src="../assets/images/user-avatar3.png" alt="">
											</div>
										</div>
										<div class="column flex-grow-1">
											<div class="mb-2 pb-1"><strong class="font-size-16">Greyjoy</strong><span class="color-dark-50 text-small ml-1">July 17, 7:12 pm</span></div>
											<div class="font-size-18 line-height-30 color-dark-80 mb-2 pb-1">Indian Marxist scholar Vivek Chibber has critiqued some foundational logics of Postcolonial Theory in his book Postcolonial Theory and the Specter of Capital</div>
											<div class="row row_indents_m">
												<div class="column">
													<a class="color-dark text-small" href="#">
														<app-svg-icon class="color-dark-30" name="comment" />
														<span class="font-weight-bold ml-1">Reply</span>
													</a>
												</div>
												<div class="column">
													<app-like-counter />
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-4 pb-2">
								<a class="button button-border color-dark-main pt-2 pb-2 pl-3 pr-3 w-100" href="#">
									<div class="pt-2 pb-2">
										<app-svg-icon class="color-dark-30" name="load-more" />
										<span class="ml-2 font-weight-bold">Загрузить еще</span>
									</div>
								</a>
							</div>
							<div class="comment-card-answer background-dark-8 p-4">
								<div class="p-2">
									<div class="comment-card comment-card_write">
										<div class="row row_indents_m flex-nowrap">
											<div class="column flex-shrink-0">
												<div class="comment-card-avatar mt-4 pt-3">
													<img src="../assets/images/user.png" alt="">
												</div>
											</div>
											<div class="column flex-grow-1">
												<h4 class="mb-3">Что вы думаете об этом?</h4>
												<div class="comment-card-textarea mb-3" ref="commentTextarea">
													<textarea class="form-control" @focus="focusElem()" @blur="unFocusElem()"></textarea>
												</div>
												<a class="button button-blue" href="#">Написать</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import svgIcon from '../components/SvgIcon.vue'
	import mark from '../components/bookmark.vue'
	import Dropdown from "../components/dropdownMulti.vue"
	import likeCounter from "../components/likes-counter.vue"
	import { Carousel, Slide } from 'vue-carousel'
	export default {

		name: 'article-card',

		data () {
			return {
				headerBg: require('@/assets/images/article-card-header-img.jpg'),
				subMenu: [
					{
						text: 'Открыть',
						url: 'lot-inside'
					},
					{
						text: 'Настройки',
						url: '#'
					},
					{
						text: 'Удалить',
						url: '#'
					}
				]
			}
		},
		methods: {
			focusElem () {
				this.$refs.commentTextarea.classList.add('focus')
			},
			unFocusElem () {
				this.$refs.commentTextarea.classList.remove('focus')
			},
			checkObj (obj) {
				for(var key in obj) {
					if(obj.hasOwnProperty(key))
						return false;
				}
				return true;
			},
			nextSlide() {
				if ( !this.checkObj(this.$refs) ) {
					this.$refs.carousel.goToPage(this.$refs.carousel.getNextPage());
				} else {
					this.$emit('goToNextSlide')
				}
			},
			prevSlide() {
				if ( !this.checkObj(this.$refs) ) {
					this.$refs.carousel.goToPage(this.$refs.carousel.getPreviousPage());
				} else {
					this.$emit('goToPrevSlide')
				}
			}
		},
		components: {
			appSvgIcon: svgIcon,
			appCarousel: Carousel,
			appSlide: Slide,
			appMark: mark,
			appLikeCounter: likeCounter,
			appDropdownMulti: Dropdown
		}
	}
</script>

<style lang="scss" scoped>

</style>