<template>
	<div class="wrap p-4">
		<div class="table-resposive">
			<table class="table basket-table">
				<thead>
					<tr>
						<th>Наименование</th>
						<th>Цена</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div class="basket-table-item">
								<div class="row row_indents_m align-items-center flex-lg-nowrap">
									<div class="column flex-shrink-0 mb-3 mb-lg-0">
										<div class="basket-table-img">
											<img src="../assets/images/bestSeller1.png" alt="">
										</div>
									</div>
									<div class="column">
										<div class="font-weight-bold color-dark-main">Leather Book Terra in Buffalo</div>
										<div>Color: Brown</div>
										<div>Material: Leather</div>
									</div>
								</div>
							</div>
						</td>
						<td><div>$33.9</div></td>
						<td>
							<a class="color-gray-2 font-size-20" href="#">
								<app-svg-icon name="eye-2" />
							</a>
						</td>
						<td>
							<div>
								<a class="circle circle_40x40 circle_blue" href="#">
									<app-svg-icon class="font-size-18" name="cart" />
								</a>
							</div>
						</td>
						<td>
							<div class="row row_indents_m flex-nowrap align-items-center">
								<div class="column">
									<appFavourite class="color-dark-30 font-size-16" />
								</div>
								<div class="column">
									<button class="color-dark-30 button-clr" type="button">
										<app-svg-icon name="close" />
									</button>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="basket-table-item">
								<div class="row row_indents_m align-items-center flex-lg-nowrap">
									<div class="column flex-shrink-0 mb-3 mb-lg-0">
										<div class="basket-table-img">
											<img src="../assets/images/basket-img.png" alt="">
										</div>
									</div>
									<div class="column">
										<div class="font-weight-bold color-dark-main">Rick Morty Mug – Pickle Rick</div>
										<div>Color: White</div>
										<div>Material: 11oz</div>
									</div>
								</div>
							</div>
						</td>
						<td><div>$14.9</div></td>
						<td>
							<a class="color-gray-2 font-size-20" href="#">
								<app-svg-icon name="eye-2" />
							</a>
						</td>
						<td>
							<a class="circle circle_40x40 circle_blue" href="#">
								<app-svg-icon class="font-size-18" name="cart" />
							</a>
						</td>
						<td>
							<div class="row row_indents_m flex-nowrap align-items-center">
								<div class="column">
									<appFavourite class="color-dark-30 font-size-16" />
								</div>
								<div class="column">
									<button class="color-dark-30 button-clr" type="button">
										<app-svg-icon name="close" />
									</button>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="basket-table-item">
								<div class="row row_indents_m align-items-center flex-lg-nowrap">
									<div class="column flex-shrink-0 mb-3 mb-lg-0">
										<div class="basket-table-img">
											<img src="../assets/images/basket-img2.png" alt="">
										</div>
									</div>
									<div class="column">
										<div class="font-weight-bold color-dark-main">Wood Toy Teether - Baby Toy</div>
										<div>Color: Brown</div>
										<div>Material: Wood</div>
									</div>
								</div>
							</div>
						</td>
						<td><div>$14.9</div></td>
						<td>
							<a class="color-gray-2 font-size-20" href="#">
								<app-svg-icon name="eye-2" />
							</a>
						</td>
						<td>
							<a class="circle circle_40x40 circle_blue" href="#">
								<app-svg-icon class="font-size-18" name="cart" />
							</a>
						</td>
						<td>
							<div class="row row_indents_m flex-nowrap align-items-center">
								<div class="column">
									<appFavourite class="color-dark-30 font-size-16" />
								</div>
								<div class="column">
									<button class="color-dark-30 button-clr" type="button">
										<app-svg-icon name="close" />
									</button>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>

<script>
	import SvgIcon from '../components/SvgIcon.vue'
	import favourite from '../components/favourite.vue'
	export default {
		name: 'browsing-history',
		data () {
			return {

			}
		},
		components: {
			appSvgIcon: SvgIcon,
			appFavourite: favourite
		}
	}
</script>
<style lang="scss" scoped>
</style>