<template>
	<div>
		<div class="container-fluid pt-4 pb-5">
			<app-breadcrumbs class="pb-2" :list="crumbs"></app-breadcrumbs>
			<router-view />
			<div v-if="this.$router.currentRoute.name == 'categorys'">
				<div>
					<div class="row">
						<div class="col-3 mb-4 pb-1 d-flex flex-column"
							v-for="(item, index) in categoryMain.items"
							:key="index">
								<router-link class="add-preview add-preview_good flex-grow-1 d-flex flex-column p-4"
									:to="{name: item.href}">
										<div class="add-preview__img text-center p-0 mb-4">
											<app-svg-icon class="font-size-40" :name="item.icon" />
										</div>
										<div class="add-preview__body p-0 text-center">
											<div class="add-preview__price font-weight-bold">{{ item.text }}</div>
										</div>
								</router-link>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import BreadCrumbs from '../components/Breadcrumbs.vue'
	import SvgIcon from '../components/SvgIcon.vue'
	export default {
		name: 'categorys-view',
		data () {
			return {
				viewToggle: false,
				categoryMain: {
					items: [
						{
							icon: 'camera',
							text: 'Электроника',
							href: 'electronics',
						},
						{
							icon: 'refridgerator',
							text: 'Бытовая Техника',
							href: 'electronics',
						},
						{
							icon: 'imac',
							text: 'Компьютерная Техника',
							href: 'electronics',
						},
						{
							icon: 'building',
							text: 'Недвижимость',
							href: 'electronics',
						},
						{
							icon: 'car',
							text: 'Транспорт',
							href: 'electronics',
						},
						{
							icon: 'paint',
							text: 'Строительство и Ремонт',
							href: 'electronics',
						},
						{
							icon: 'tees',
							text: 'Мода и Cтиль',
							href: 'electronics',
						},
						{
							icon: 'pingpong',
							text: 'Спорт и Отдых',
							href: 'electronics',
						},
						{
							icon: 'lipstick',
							text: 'Красота и Уход',
							href: 'electronics',
						},
						{
							icon: 'bear',
							text: 'Детские товары',
							href: 'electronics',
						},
						{
							icon: 'stethoscope',
							text: 'Для Здоровья',
							href: 'electronics',
						},
						{
							icon: 'home',
							text: 'Дом и дача',
							href: 'electronics',
						},
						{
							icon: 'cat',
							text: 'Для Животных',
							href: 'electronics',
						},
						{
							icon: 'signal',
							text: 'Оборудование',
							href: 'electronics',
						},
						{
							icon: 'guitar',
							text: 'Досуг',
							href: 'electronics',
						},
						{
							icon: 'diagram',
							text: 'Аукционы',
							href: 'electronics',
						}
					]
				},
				filterLinks: [
					{
						main: true,
						linkName: 'По порядку',
						url: ''
					},
					{
						linkName: 'По цене',
						url: ''
					},
					{
						linkName: 'По популярности',
						url: '',
					},
					{
						linkName: 'По новизне',
						url: '',
					},
				],
			}
		},
		computed: {
			crumbs: function() {
				let pathArray = this.$route.path.split("/")
				let breadcrumbs = pathArray.reduce((breadcrumbArray, path, idx) => {
					breadcrumbArray.push({
						path: path,
						to: breadcrumbArray[idx - 1] ? ( breadcrumbArray[idx - 1].to == '/' ? breadcrumbArray[idx - 1].to + path : breadcrumbArray[idx - 1].to + '/' + path ) : '/',
						text: this.$route.matched[idx].meta.breadcrumb || path,
					});
					return breadcrumbArray;
				}, [])
				return breadcrumbs;
			}
		},
		components: {
			appSvgIcon: SvgIcon,
			appBreadcrumbs: BreadCrumbs
		}
	}
</script>

<style lang="scss" scoped>
</style>