<template>
	<div>
		<div class="row pb-4" v-if="this.$router.currentRoute.name == 'clocks'">
			<div class="col-md-4 col-xl-3 mb-4 d-flex flex-column">
				<div class="wrap">
					<app-toggle :title="'Оценка'" :toggle="true">
						<app-checkbox 
							class="d-block checkbox-circle pb-1"
							:type="'radio'"
							:name="'rate'"
							:id="'any'"
							:checked="true">
								<span class="row row_indents_s flex-nowrap align-items-center justify-content-between">
									<span class="column d-flex flex-nowrap align-items-center">
										<span>Любая</span>
									</span>
									<span class="column">803</span>
								</span>
						</app-checkbox>
						<app-checkbox 
							class="d-block checkbox-circle pb-1"
							:type="'radio'"
							:name="'rate'"
							:id="'rate4'"
							:checked="false">
								<span class="row row_indents_s flex-nowrap align-items-center justify-content-between">
									<span class="column d-flex flex-nowrap align-items-center">
										<span class="d-flex flex-wrap align-items-center">
											<app-svg-icon class="flex-shrink-0 color-yellow" name="star2" />
											<app-svg-icon class="flex-shrink-0 color-yellow" name="star2" />
											<app-svg-icon class="flex-shrink-0 color-yellow" name="star2" />
											<app-svg-icon class="flex-shrink-0 color-yellow" name="star2" />
											<app-svg-icon class="flex-shrink-0 color-dark-30" name="star2" />
										</span>
										<span class="ml-1">& Выше</span>
									</span>
									<span class="column">470</span>
								</span>
						</app-checkbox>
						<app-checkbox 
							class="d-block checkbox-circle pb-1"
							:type="'radio'"
							:name="'rate'"
							:id="'rate3'"
							:checked="false">
								<span class="row row_indents_s flex-nowrap align-items-center justify-content-between">
									<span class="column d-flex flex-nowrap align-items-center">
										<span class="d-flex flex-wrap align-items-center">
											<app-svg-icon class="flex-shrink-0 color-yellow" name="star2" />
											<app-svg-icon class="flex-shrink-0 color-yellow" name="star2" />
											<app-svg-icon class="flex-shrink-0 color-yellow" name="star2" />
											<app-svg-icon class="flex-shrink-0 color-dark-30" name="star2" />
											<app-svg-icon class="flex-shrink-0 color-dark-30" name="star2" />
										</span>
										<span class="ml-1">& Выше</span>
									</span>
									<span class="column">284</span>
								</span>
						</app-checkbox>
						<app-checkbox 
							class="d-block checkbox-circle pb-1"
							:type="'radio'"
							:name="'rate'"
							:id="'rate2'"
							:checked="false">
								<span class="row row_indents_s flex-nowrap align-items-center justify-content-between">
									<span class="column d-flex flex-nowrap align-items-center">
										<span class="d-flex flex-wrap align-items-center">
											<app-svg-icon class="flex-shrink-0 color-yellow" name="star2" />
											<app-svg-icon class="flex-shrink-0 color-yellow" name="star2" />
											<app-svg-icon class="flex-shrink-0 color-dark-30" name="star2" />
											<app-svg-icon class="flex-shrink-0 color-dark-30" name="star2" />
											<app-svg-icon class="flex-shrink-0 color-dark-30" name="star2" />
										</span>
										<span class="ml-1">& Выше</span>
									</span>
									<span class="column">49</span>
								</span>
						</app-checkbox>
					</app-toggle>
					<app-toggle :toggle="true" :title="'Производитель'">
						<app-checkbox 
							class="d-block pb-1"
							:type="'checkbox'"
							:name="'manufacturer'"
							:id="'Samsung'"
							:checked="false">
								<span class="row row_indents_s flex-nowrap align-items-center justify-content-between">
									<span class="column d-flex flex-nowrap align-items-center">
										<span>Samsung</span>
									</span>
									<span class="column">96</span>
								</span>
						</app-checkbox>
						<app-checkbox 
							class="d-block pb-1"
							:type="'checkbox'"
							:name="'manufacturer'"
							:id="'Sony'"
							:checked="true">
								<span class="row row_indents_s flex-nowrap align-items-center justify-content-between">
									<span class="column d-flex flex-nowrap align-items-center">
										<span>Sony</span>
									</span>
									<span class="column">71</span>
								</span>
						</app-checkbox>
						<app-checkbox 
							class="d-block pb-1"
							:type="'checkbox'"
							:name="'manufacturer'"
							:id="'Apple'"
							:checked="true">
								<span class="row row_indents_s flex-nowrap align-items-center justify-content-between">
									<span class="column d-flex flex-nowrap align-items-center">
										<span>Apple</span>
									</span>
									<span class="column">55</span>
								</span>
						</app-checkbox>
						<app-checkbox 
							class="d-block pb-1"
							:type="'checkbox'"
							:name="'manufacturer'"
							:id="'Huawei'"
							:checked="false">
								<span class="row row_indents_s flex-nowrap align-items-center justify-content-between">
									<span class="column d-flex flex-nowrap align-items-center">
										<span>Huawei</span>
									</span>
									<span class="column">54</span>
								</span>
						</app-checkbox>
						<app-checkbox 
							class="d-block pb-1"
							:type="'checkbox'"
							:name="'manufacturer'"
							:id="'ASUS'"
							:checked="false">
								<span class="row row_indents_s flex-nowrap align-items-center justify-content-between">
									<span class="column d-flex flex-nowrap align-items-center">
										<span>ASUS</span>
									</span>
									<span class="column">49</span>
								</span>
						</app-checkbox>
						<app-checkbox 
							class="d-block pb-1"
							:type="'checkbox'"
							:name="'manufacturer'"
							:id="'Meizu'"
							:checked="false">
								<span class="row row_indents_s flex-nowrap align-items-center justify-content-between">
									<span class="column d-flex flex-nowrap align-items-center">
										<span>Meizu</span>
									</span>
									<span class="column">48</span>
								</span>
						</app-checkbox>
						<app-checkbox 
							class="d-block pb-1"
							:type="'checkbox'"
							:name="'manufacturer'"
							:id="'LG'"
							:checked="false">
								<span class="row row_indents_s flex-nowrap align-items-center justify-content-between">
									<span class="column d-flex flex-nowrap align-items-center">
										<span>LG</span>
									</span>
									<span class="column">47</span>
								</span>
						</app-checkbox>
					</app-toggle>
					<app-toggle :title="'Цена'">
						<div class="row row_indents_m align-items-center pb-2">
							<div class="col mb-2">
								<input class="form-control" type="text" v-model="priceRangeValue[0]">
							</div>
							<div class="col flex-grow-0">-</div>
							<div class="col mb-2">
								<input class="form-control" type="text" v-model="priceRangeValue[1]">
							</div>
						</div>
						<vue-slider
							class="mb-4"
							v-model="priceRangeValue"
							:enable-cross="false"
							:min="0"
							:max="1000"
							:tooltip="'none'"/>
						<div class="row pb-3">
							<div class="col-6 mb-2">
								<a class="color-dark-80" href="#" @click.prevent="setValue($event)"><span class="d-none">от 0 - </span>до $25</a>
							</div>
							<div class="col-6 mb-2">
								<a class="color-dark-80" href="#" @click.prevent="setValue($event)">$25 - $50</a>
							</div>
							<div class="col-6 mb-2">
								<a class="color-dark-80" href="#" @click.prevent="setValue($event)">$50 - $100</a>
							</div>
							<div class="col-6 mb-2">
								<a class="color-dark-80" href="#" @click.prevent="setValue($event)">$100 - $200</a>
							</div>
							<div class="col-6 mb-2">
								<a class="color-dark-80" href="#" @click.prevent="setValue($event)">$200 - $500</a>
							</div>
							<div class="col-6 mb-2">
								<a class="color-dark-80" href="#" @click.prevent="setValue($event)">$500 & выше <span class="d-none">- до $1000</span></a>
							</div>
						</div>
						<div class="color-dark-50 text-small">Найдено 878 товаров</div>
					</app-toggle>
					<app-toggle :toggle="true" :title="'Цвет'">
						<div class="row">
							<div class="col-6">
								<app-checkbox 
									class="d-block pb-1"
									:type="'checkbox'"
									:name="'color'"
									:id="'black'"
									:checked="false"
									:content="'Black'"/>
							</div>
							<div class="col-6">
								<app-checkbox 
									class="d-block pb-1"
									:type="'checkbox'"
									:name="'color'"
									:id="'Gold'"
									:checked="false"
									:content="'Gold'"/>
							</div>
							<div class="col-6">
								<app-checkbox 
									class="d-block pb-1"
									:type="'checkbox'"
									:name="'color'"
									:id="'White'"
									:checked="false"
									:content="'White'"/>
							</div>
							<div class="col-6">
								<app-checkbox 
									class="d-block pb-1"
									:type="'checkbox'"
									:name="'color'"
									:id="'Pink'"
									:checked="false"
									:content="'Pink'"/>
							</div>
							<div class="col-6">
								<app-checkbox 
									class="d-block pb-1"
									:type="'checkbox'"
									:name="'color'"
									:id="'Gray'"
									:checked="false"
									:content="'Gray'"/>
							</div>
							<div class="col-6">
								<app-checkbox 
									class="d-block pb-1"
									:type="'checkbox'"
									:name="'color'"
									:id="'Green'"
									:checked="false"
									:content="'Green'"/>
							</div>
						</div>
						<app-toggle class="toggle-box_simple" :toggle="false" :title="'Показать ещё'">
							<div class="row">
								<div class="col-6">
									<app-checkbox 
										class="d-block pb-1"
										:type="'checkbox'"
										:name="'color'"
										:id="'black1'"
										:checked="false"
										:content="'Black'"/>
								</div>
								<div class="col-6">
									<app-checkbox 
										class="d-block pb-1"
										:type="'checkbox'"
										:name="'color'"
										:id="'Gold1'"
										:checked="false"
										:content="'Gold'"/>
								</div>
								<div class="col-6">
									<app-checkbox 
										class="d-block pb-1"
										:type="'checkbox'"
										:name="'color'"
										:id="'White1'"
										:checked="false"
										:content="'White'"/>
								</div>
								<div class="col-6">
									<app-checkbox 
										class="d-block pb-1"
										:type="'checkbox'"
										:name="'color'"
										:id="'Pink1'"
										:checked="false"
										:content="'Pink'"/>
								</div>
								<div class="col-6">
									<app-checkbox 
										class="d-block pb-1"
										:type="'checkbox'"
										:name="'color'"
										:id="'Gray1'"
										:checked="false"
										:content="'Gray'"/>
								</div>
								<div class="col-6">
									<app-checkbox 
										class="d-block pb-1"
										:type="'checkbox'"
										:name="'color'"
										:id="'Green1'"
										:checked="false"
										:content="'Green'"/>
								</div>
							</div>
						</app-toggle>
					</app-toggle>
					<app-toggle :toggle="true" :title="'Размер экрана'">
						<div class="row row_indents_xs">
							<div class="column">
								<app-checkbox 
									class="d-block checkbox-frame"
									:type="'checkbox'"
									:name="'color'"
									:id="'size5-5'"
									:checked="true"
									:content="'5.5'"/>
							</div>
							<div class="column">
								<app-checkbox 
									class="d-block checkbox-frame"
									:type="'checkbox'"
									:name="'color'"
									:id="'size5-7'"
									:checked="false"
									:content="'5.7'"/>
							</div>
							<div class="column">
								<app-checkbox 
									class="d-block checkbox-frame"
									:type="'checkbox'"
									:name="'color'"
									:id="'size5-0'"
									:checked="false"
									:content="'5.0'"/>
							</div>
							<div class="column">
								<app-checkbox 
									class="d-block checkbox-frame"
									:type="'checkbox'"
									:name="'color'"
									:id="'size6-0'"
									:checked="false"
									:content="'6.0'"/>
							</div>
							<div class="column">
								<app-checkbox 
									class="d-block checkbox-frame"
									:type="'checkbox'"
									:name="'color'"
									:id="'size4-7'"
									:checked="false"
									:content="'4.7'"/>
							</div>
							<div class="column">
								<app-checkbox 
									class="d-block checkbox-frame"
									:type="'checkbox'"
									:name="'color'"
									:id="'size4-3'"
									:checked="false"
									:content="'4.3'"/>
							</div>
						</div>
						<app-toggle class="toggle-box_simple" :toggle="false" :title="'Показать ещё'">
							<div class="row row_indents_xs">
							<div class="column">
								<app-checkbox 
									class="d-block checkbox-frame"
									:type="'checkbox'"
									:name="'color'"
									:id="'size5-5-1'"
									:checked="true"
									:content="'5.5'"/>
							</div>
							<div class="column">
								<app-checkbox 
									class="d-block checkbox-frame"
									:type="'checkbox'"
									:name="'color'"
									:id="'size5-7-1'"
									:checked="false"
									:content="'5.7'"/>
							</div>
							<div class="column">
								<app-checkbox 
									class="d-block checkbox-frame"
									:type="'checkbox'"
									:name="'color'"
									:id="'size5-0-1'"
									:checked="false"
									:content="'5.0'"/>
							</div>
							<div class="column">
								<app-checkbox 
									class="d-block checkbox-frame"
									:type="'checkbox'"
									:name="'color'"
									:id="'size6-0-1'"
									:checked="false"
									:content="'6.0'"/>
							</div>
							<div class="column">
								<app-checkbox 
									class="d-block checkbox-frame"
									:type="'checkbox'"
									:name="'color'"
									:id="'size4-7-1'"
									:checked="false"
									:content="'4.7'"/>
							</div>
							<div class="column">
								<app-checkbox 
									class="d-block checkbox-frame"
									:type="'checkbox'"
									:name="'color'"
									:id="'size4-3-1'"
									:checked="false"
									:content="'4.3'"/>
							</div>
						</div>
						</app-toggle>
					</app-toggle>
					<app-toggle :title="'Built-in Storage'">
						<div>Контент ещё не готов</div>
					</app-toggle>
					<app-toggle :title="'Rear Camera'">
						<div>Контент ещё не готов</div>
					</app-toggle>
					<app-toggle :title="'Front-Facing Camera'">
						<div>Контент ещё не готов</div>
					</app-toggle>
					<app-toggle :title="'разрешение экрана'">
						<div>Контент ещё не готов</div>
					</app-toggle>
				</div>
			</div>
			<div class="col-md-8 col-xl-9 mb-4 d-flex flex-column">
				<div class="mb-4 pb-1">
					<div class="wrap pl-3 pr-3">
						<div class="pr-2">
							<div class="row align-items-center">
								<div class="column">
									<ul class="shop-nav row row_indents_m list-unstyled mb-0">
										<router-link
											v-for="(link, keyLink) in filterLinks"
											:key="keyLink"
											class="column"
											tag="li"
											:to="{name: link.url}">
												<a class="font-weight-bold color-grey-dark">
													{{ link.linkName }}
												</a>
										</router-link>
									</ul>
								</div>
								<div class="column pt-2 pb-2">
									<div class="shop-search">
										<form>
											<div class="position-relative">
												<app-svg-icon class="form-icon-position form-icon-position_inside-left" name="zoom-2" />
												<input class="form-control" type="search" placeholder="Поиск по товарам">
											</div>
										</form>
									</div>
								</div>
								<div class="column pt-2 pb-2 ml-auto">
									<div class="row align-items-center">
										<div class="column">
											<div class="font-weight-bold">Вид</div>
										</div>
										<div class="column">
											<div class="row row_indents_s align-items-center">
												<div class="column">
													<a class="button-view-sort color-grey d-block" :class="{'active color-blue': !viewToggle}" @click.prevent="viewToggle = !viewToggle" href="#">
														<app-svg-icon class="font-size-14" name="ceils" />
													</a>
												</div>
												<div class="column">
													<a class="button-view-sort color-grey d-block" :class="{'active color-blue': viewToggle}" @click.prevent="viewToggle = !viewToggle" href="#">
														<app-svg-icon class="font-size-14" name="list-2" />
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4 col-md-6 col-lg-4 mb-4 pb-1 d-flex flex-column" :class="{'col-12': viewToggle}">
						<router-link class="add-preview add-preview_good flex-grow-1 d-flex" :class="{'add-preview_stroke position-relative flex-nowrap': viewToggle, 'flex-column': !viewToggle}" :to="{name: 'good-page'}">
							<div class="add-preview__img text-center p-3" :class="{'p-3 position-static': viewToggle, 'flex-grow-1 d-flex flex-column align-items-center justify-content-center': !viewToggle}">
								<img src="../assets/images/add-img4-new.png" alt="">
								<a class="add-preview-favour" href="#">
									<app-svg-icon name="heart"/>
								</a>
							</div>
							<div class="add-preview__body pt-0 pl-4 pr-4" :class="{'col-9 pt-4': viewToggle}">
								<div class="add-preview__price font-weight-bold">360 990 <span class="font-size-10">UZS</span></div>
								<div class="add-preview__name">Комбенезон джинсовый <br> Gloria Jeans</div>
								<div class="add-preview__category">Сумки</div>
							</div>
						</router-link>
					</div>
					<div class="col-4 col-md-6 col-lg-4 mb-4 pb-1 d-flex flex-column" :class="{'col-12': viewToggle}">
						<router-link class="add-preview add-preview_good flex-grow-1 d-flex" :class="{'add-preview_stroke position-relative flex-nowrap': viewToggle, 'flex-column': !viewToggle}" :to="{name: 'good-page-advert'}">
							<div class="add-preview__img text-center p-3" :class="{'p-3 position-static': viewToggle, 'flex-grow-1 d-flex flex-column align-items-center justify-content-center': !viewToggle}">
								<img src="../assets/images/add-img4-new.png" alt="">
								<a class="add-preview-favour" href="#">
									<app-svg-icon name="heart"/>
								</a>
							</div>
							<div class="add-preview__body pt-0 pl-4 pr-4" :class="{'col-9 pt-4': viewToggle}">
								<div class="add-preview__price font-weight-bold">360 990 <span class="font-size-10">UZS</span></div>
								<div class="add-preview__name">Комбенезон джинсовый <br> Gloria Jeans</div>
								<div class="add-preview__category">Сумки</div>
							</div>
						</router-link>
					</div>
					<div class="col-4 col-md-6 col-lg-4 mb-4 pb-1 d-flex flex-column" :class="{'col-12': viewToggle}">
						<router-link class="add-preview add-preview_good flex-grow-1 d-flex" :class="{'add-preview_stroke position-relative flex-nowrap': viewToggle, 'flex-column': !viewToggle}" :to="{name: 'good-page-seller'}">
							<div class="add-preview__img text-center p-3" :class="{'p-3 position-static': viewToggle, 'flex-grow-1 d-flex flex-column align-items-center justify-content-center': !viewToggle}">
								<img src="../assets/images/add-img4-new.png" alt="">
								<a class="add-preview-favour" href="#">
									<app-svg-icon name="heart"/>
								</a>
							</div>
							<div class="add-preview__body pt-0 pl-4 pr-4" :class="{'col-9 pt-4': viewToggle}">
								<div class="add-preview__price font-weight-bold">360 990 <span class="font-size-10">UZS</span></div>
								<div class="add-preview__name">Комбенезон джинсовый <br> Gloria Jeans</div>
								<div class="add-preview__category">Сумки</div>
							</div>
						</router-link>
					</div>
				</div>
				<div class="preview-event mb-4">
					<router-link class="wrap p-4 position-relative d-block color-dark-main" :to="{name: 'good-page'}">
						<button class="add-preview-favour add-preview-favour_no-border button-clr" type="button">
							<app-svg-icon name="heart"/>
						</button>
						<div class="row flex-nowrap">
							<div class="col-4 d-flex flex-column">
								<div class="preview-event-img">
									<img src="../assets/images/preview-event.jpg" alt="">
								</div>
							</div>
							<div class="col-4 d-flex flex-column">
								<div class="preview-event-main d-flex flex-column flex-grow-1">
									<div>
										<div class="tag tag_red font-weight-normal d-inline-block mb-3">Акция</div>
									</div>
									<div class="color-blue">Комбенезон джинсовый Gloria JeansКомбенезон джинсовый  Gloria Jeans Casual for Women style</div>
									<div class="color-orange font-size-12 font-weight-bold mt-auto">by Zara Casual</div>
								</div>
							</div>
							<div class="col-4 d-flex flex-column align-items-center justify-content-center flex-shrink-0">
								<div>
									<h4 class="mb-0">360 990 <span class="font-size-12">UZS</span></h4>
									<del class="font-size-8 color-grey">480 000 UZS</del>
									<div class="row row_indents_m align-items-center mt-3">
										<div class="column">
											<div class="rate font-size-12 font-weight-normal pt-1 pb-1"><span class="d-inline-block pb-1">3.5</span></div>
										</div>
										<div class="column">
											<div class="color-dark-50">10 отзывов</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</router-link>
				</div>
				<div class="preview-event mb-4">
					<router-link class="wrap p-4 position-relative d-block color-dark-main" :to="{name: 'good-page'}">
						<div class="preview-event__tag tag tag_green">Новинка</div>
						<div class="row flex-nowrap">
							<div class="col-3 d-flex flex-column">
								<div class="d-flex flex-column flex-grow-1 align-items-center justify-content-center">
									<div class="preview-event-img d-flex flex-column">
										<img class="flex-shrink-0 flex-grow-0 w-100" src="../assets/images/preview-event2.jpg" alt="">
									</div>
								</div>
							</div>
							<div class="col-5 d-flex flex-column">
								<div class="preview-event-main d-flex flex-column flex-grow-1">
									<h4>Apple Watch 3</h4>
									<div class="row row_indents_xs align-items-center pb-2">
										<div class="column mb-2">
											<div class="d-flex flex-nowrap align-items-center">
												<app-svg-icon class="color-orange" name="star2" />
												<app-svg-icon class="color-orange" name="star2" />
												<app-svg-icon class="color-orange" name="star2" />
												<app-svg-icon class="color-orange" name="star2" />
												<app-svg-icon class="color-dark-30" name="star2" />
											</div>
										</div>
										<div class="column mb-2">
											<div class="color-dark-50">143 отзыва</div>
										</div>
									</div>
									<div class="color-dark-80">
										<div class="mb-2">Case: Gold Aluminum</div>
										<div class="mb-2">Case size: 38mm</div>
										<div class="mb-2">Band: Pink Sand Sport (120-130mm)</div>
										<div class="mb-2">Connectivity: GPS+Cellular </div>
									</div>
								</div>
							</div>
							<div class="col-4 d-flex flex-column align-items-center justify-content-center">
								<div class="preview-event-foot">
									<h4 class="mb-0">360 990 <span class="font-size-12">UZS</span></h4>
									<del class="font-size-8 color-grey">480 000 UZS</del>
									<div class="row row_indents_s flex-nowrap mt-4 pb-1">
										<div class="column mb-2">
											<div class="button button-blue nowrap" href="#">В корзину</div>
										</div>
										<div class="column mb-2">
											<button class="add-preview-favour position-static" type="button">
												<app-svg-icon name="heart"/>
											</button>
										</div>
									</div>
									<div class="mb-2"><div class="color-dark-80">Бесплатная доставка</div></div>
									<div class="mb-2"><div class="color-dark-80">Есть в магазине в Next</div></div>
								</div>
							</div>
						</div>
					</router-link>
				</div>
				<ul class="pagination d-flex flex-wrap w-100 mt-auto list-unstyled">
					<li>
						<a href="#">
							<app-svg-icon class="mr-2" name="arrow-left" />
							<span>Пред</span>
						</a>
					</li>
					<li>
						<a href="#">1</a>
					</li>
					<li class="active">
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">...</a>
					</li>
					<li>
						<a href="#">18</a>
					</li>
					<li>
						<a href="#">
							<span>След</span>
							<app-svg-icon class="svg-icon_reverse ml-2" name="arrow-left" />
						</a>
					</li>
				</ul>
			</div>
		</div>
		<router-view />
	</div>
</template>

<script>
	import SvgIcon from '../components/SvgIcon.vue'
	import toggleBox from '../components/toggle-box.vue'
	import Checkbox from '../components/Checkbox.vue'
	import VueSlider from 'vue-slider-component'
	import 'vue-slider-component/theme/default.css'
	export default {
		name: 'Store',
		data () {
			return {
				priceRangeValue: [200, 500],
				viewToggle: false,
				shopLinks: [
					{
						main: true,
						linkName: 'Товары',
						url: 'store-inside'
					},
					{
						linkName: 'Акции',
						url: 'store-events'
					},
					{
						linkName: 'Отзывы',
						url: 'store-reviews',
					},
					{
						linkName: 'Опросы',
						url: 'store-quiz',
					},
					{
						linkName: 'Купоны',
						url: 'store-coupons',
					},
				],
				filterLinks: [
					{
						main: true,
						linkName: 'По порядку',
						url: ''
					},
					{
						linkName: 'По цене',
						url: ''
					},
					{
						linkName: 'По популярности',
						url: '',
					},
					{
						linkName: 'По новизне',
						url: '',
					},
				],
				goods: [
					{
						category: 'сумки',
						largeTitle: '149 990 UZS',
						titleDescr: 'Сумка “Индиана Джонс” с кожанными ручками ',
						soldGoods: '125',
						totalGoods: '370',
						views: '54,764',
						rate: '5.0',
						reviewsSummary: '10',
						goodImg: require('../assets/images/ads-card-img.png')
					},
					{
						category: 'сумки',
						largeTitle: '149 990 UZS',
						titleDescr: 'Сумка “Индиана Джонс” с кожанными ручками ',
						soldGoods: '125',
						totalGoods: '370',
						views: '54,764',
						rate: '5.0',
						reviewsSummary: '10',
						goodImg: require('../assets/images/ads-card-img.png')
					},
					{
						category: 'сумки',
						largeTitle: '149 990 UZS',
						titleDescr: 'Сумка “Индиана Джонс” с кожанными ручками ',
						soldGoods: '125',
						totalGoods: '370',
						views: '54,764',
						rate: '5.0',
						reviewsSummary: '10',
						goodImg: require('../assets/images/ads-card-img.png')
					},
				]
			}
		},
		methods: {
			setValue (e) {
				var arr = e.target.text.replace(/[^-\d]/g, '').split('-')
				this.priceRangeValue = arr
			},
			showModal (modal) {
				this.$modal.show(modal);
			},
			hideModal (modal) {
				this.$modal.hide(modal);
			}
		},
		components: {
			appSvgIcon: SvgIcon,
			appToggle: toggleBox,
			appCheckbox: Checkbox,
			VueSlider
		}
	}
</script>

<style lang="scss" scoped>
</style>