<template>
	<div class="create-quiz wrap">
		<vue-tabs>
			<v-tab id="question-list" title="Список вопросов">
				<div class="row pb-5">
					<div class="col-xl-10 ml-auto mr-auto">
						<form>
							<h4>Добавление опросника</h4>
							<app-draggable
								tag="div"
								:list="group"
								handle=".handle"
								v-bind="dragOptions"
								@start="drag = true"
								@end="drag = false">
									<transition-group type="transition" :name="!drag ? 'flip-list' : null">
										<div
											class="wrap wrap_background_dark_4 mb-4 wrap-transition"
											v-for="(groupItem, index) in group"
											:key="index+0">
											<div class="position-relative p-4">
												<button class="wrap-handle-position handle button-clr" type="button">
													<app-svg-icon class="color-grey-4" name="draggable" />
												</button>
												<div class="row">
													<div class="col-lg-8 mb-4">
														<div class="row row_indents_m pb-3">
															<div class="col-lg-6 form-group mb-3 pb-1">
																<label class="label font-weight-bold color-dark" :for="'quizQuestion'+index">Вопрос</label>
																<input class="form-control" type="text" :id="'quizQuestion'+index" v-model="groupItem.name" placeholder="Впишите ваш вопрос">
															</div>
															<div class="col-lg-6 form-group mb-3 pb-1">
																<label class="label font-weight-bold color-dark" :for="'operations'+index">Тип вопроса:</label>
																<multiselect
																	v-model="groupItem.operations.value"
																	:options="groupItem.operations.items"
																	:maxHeight="200"
																	track-by="name"
																	:placeholder="'Выберите тип опроса'"
																	:id="'operations'+index"
																	label="name">
																		<span 
																			class="arrow"
																			slot="caret" 
																			slot-scope="{ toggle }" 
																			@mousedown.prevent.stop="toggle">
																			<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
																		</span>
																</multiselect>
															</div>
														</div>
														<template v-if="groupItem.operations.value.type == 'radio'">
															<app-draggable
																tag="div"
																:list="groupItem.list.listItems"
																handle=".handle"
																v-bind="dragOptionsInside"
																@start="dragIn = true"
																@end="dragIn = false">
																<transition-group type="transition" :name="!dragIn ? 'flip-list' : null">
																	<div
																		class="create-quiz-item"
																		v-for="(element, idx) in groupItem.list.listItems"
																		:key="idx+0">
																			<div class="create-quiz-input row row_indents_s align-items-start flex-nowrap mb-3 pb-1">
																				<div class="column flex-shrink-0">
																					<button class="handle button-clr" type="button">
																						<app-svg-icon class="color-grey-4" name="draggable" />
																					</button>
																				</div>
																				<div class="column flex-shrink-0">
																					<app-checkbox 
																						class="checkbox-label-indents-0 checkbox-circle checkbox-circle_style_quiz"
																						:type="'radio'"
																						:name="'type'"
																						:id="'quizId'+element.id"
																						:checked="false"
																						:check="false" />
																					</div>
																				<div class="column flex-grow-1">
																					<div class="create-quiz-input-img-wrap" v-for="(image, key) in element.resultImgs" :key="key">
																						<img class="create-quiz-input-img" :src="element.resultImgs[0]" :data-id="element.id"/>
																					</div>
																					<input class="form-control form-control_quiz" type="text" v-model="element.text" />
																				</div>
																				<div class="column flex-shrink-0">
																					<div class="row row_indents_s color-gray-4 font-size-18">
																						<div class="column">
																							<label class="mb-0">
																								<input class="input-hidden" type="file" @change="onFileChange($event, element.id, index, idx)">
																								<app-svg-icon class="color-grey-4" name="media" />
																							</label>
																						</div>
																						<div class="column">
																							<button class="button-clr" type="button" @click="removeAt(idx, index)">
																								<app-svg-icon class="color-grey-4" name="close" />
																							</button>
																						</div>
																					</div>
																				</div>
																			</div>
																	</div>
																</transition-group>
															</app-draggable>
															<a class="button button-regular button-regular_blue_light" href="#" @click.prevent="add(index)">Добавить вариант ответа</a>
															<br><br>
														</template>
														<template v-if="groupItem.operations.value.type == 'checkbox-multiple'">
															<app-draggable
																tag="ul"
																:list="groupItem.list.listItems"
																class="list-unstyled mb-0"
																handle=".handle">
																<li
																	v-for="(element, idx) in groupItem.list.listItems"
																	:key="idx">
																		<div class="create-quiz-input row row_indents_s align-items-start flex-nowrap mb-3 pb-1">
																			<div class="column flex-shrink-0">
																				<button class="handle button-clr" type="button">
																					<app-svg-icon class="color-grey-4" name="draggable" />
																				</button>
																			</div>
																			<div class="column flex-shrink-0">
																				<app-checkbox 
																					class="checkbox-label-indents-0 checkbox-multiple-quiz"
																					:type="'checkbox'"
																					:name="'type'"
																					:id="'quizIdMultuple'+element.id"
																					:checked="false"
																					:check="false" />
																				</div>
																			<div class="column flex-grow-1">
																				<div class="create-quiz-input-img-wrap" v-for="(image, key) in element.resultImgs" :key="key">
																					<img class="create-quiz-input-img" :src="element.resultImgs[0]"/>
																				</div>
																				<input class="form-control form-control_quiz" type="text" v-model="element.text" />
																			</div>
																			<div class="column flex-shrink-0">
																				<div class="row row_indents_s color-gray-4 font-size-18">
																					<div class="column">
																						<label class="mb-0">
																							<input class="input-hidden" type="file" @change="onFileChange($event, element.id, index, idx)">
																							<app-svg-icon class="color-grey-4" name="media" />
																						</label>
																					</div>
																					<div class="column">
																						<button class="button-clr" type="button" @click="removeAt(idx, index)">
																							<app-svg-icon class="color-grey-4" name="close" />
																						</button>
																					</div>
																				</div>
																			</div>
																		</div>
																</li>
															</app-draggable>
															<a class="button button-regular button-regular_blue_light" href="#" @click.prevent="add(index)">Добавить вариант ответа</a>
															<br><br>
														</template>
													</div>
													<div class="col-lg-4 mb-4">
														<div class="form-group mb-3 pb-1">
															<label class="label font-weight-bold color-dark" for="">Главное фото</label>
															<app-file class="single large" :single="true"/>
														</div>
													</div>
												</div>
											</div>
										</div>
									</transition-group>
							</app-draggable>
							<a class="button button-regular button-regular_grey_light w-100" href="#" @click.prevent="addGroup">Добавить еще вопрос</a>
							<br><br>
						</form>
					</div>
				</div>
			</v-tab>
			<v-tab id="confirm-quiz" title="Подтверждение опросника">
				<div class="row">
					<div class="col-xl-10 ml-auto mr-auto pb-4">
						<form>
							<h4 class="mb-3">Подтверждение опросника</h4>
							<div class="pb-2">
								<div class="wrap wrap_border_style pt-4 pl-4 pr-4 pb-0 mb-4">
									<div class="pt-2 pl-2 pr-2">
										<div class="row">
											<div class="col-lg-4 mb-4">
												<app-card class="ads-card-box-poll ads-card-box-poll_border_none">
													<template v-slot:cardimg>
														<img src="../assets/images/ads-card-img.png" alt="">
													</template>
													<template v-slot:cardcontent>
														<h4 class="ads-card-price mb-1">Какой товар вам подходит больше? </h4>
														<div class="text-small color-blue mt-2 mb-2">Бонус 500 BNW</div>
													</template>
												</app-card>
											</div>
											<div class="col-lg-8 mb-4">
												<div class="pl-2 ml-1">
													<div class="mb-4">
														<strong class="font-weight-bold color-dark mb-3 d-block">Вопрос номер один</strong>
														<div
															class="mb-1"
															v-for="(checkbox, idx) in 4"
															:key="idx">
															<app-checkbox
																class="checkbox-label-indents-0 checkbox-multiple-quiz"
																:type="'checkbox'"
																:name="'question1'"
																:id="'questionID'+idx"
																:content="'Вариант ответа введённый'"
																:checked="false" />
														</div>
													</div>
													<div class="mb-4">
														<strong class="font-weight-bold color-dark mb-3 d-block">Вопрос номер два</strong>
														<div
															class="mb-1"
															v-for="(checkbox, idx) in 7"
															:key="idx">
															<app-checkbox
																class="checkbox-label-indents-0 checkbox-circle checkbox-circle_style_quiz"
																:type="'radio'"
																:name="'question2'"
																:id="'questionID2'+idx"
																:content="'Вариант ответа введённый'"
																:checked="false" />
														</div>
													</div>
													<div class="mb-4">
														<strong class="font-weight-bold color-dark mb-3 d-block">Вопрос номер один</strong>
														<div
															class="mb-1"
															v-for="(checkbox, idx) in 4"
															:key="idx">
															<app-checkbox
																class="checkbox-label-indents-0 checkbox-multiple-quiz"
																:type="'checkbox'"
																:name="'question3'"
																:id="'questionID3'+idx"
																:content="'Вариант ответа введённый'"
																:checked="false" />
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="text-center">
								<div class="mb-3">
									<input class="button button-blue button-clr" type="submit" value="Сохранить и опубликовать">
								</div>
								<div class="mb-3">
									<a class="font-weight-bold color-dark-50" href="#">Сохранить в черновики</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</v-tab>
		</vue-tabs>
	</div>
</template>

<script>
	// let id = 0;
	// let groupItemID = 0;
	// let result = [];
	import {VueTabs, VTab} from 'vue-nav-tabs/dist/vue-tabs.js'
	import Multiselect from 'vue-multiselect'
	import SvgIcon from '../components/SvgIcon.vue'
	import file from '../components/uploadFiles.vue'
	import checkbox from '../components/Checkbox.vue'
	// import createQuizInput from '../components/create-quiz-input.vue'
	import draggable from 'vuedraggable'
	import card from '../components/card-uni.vue'
	export default {
		display: "Transition",
		name: 'create-quiz',

		data () {
			return {
				group: [
					{
						name: '',
						groupItemID: 0,
						key: 0,
						operations: {
							value: {
								name: 'Один возможный ответ',
								type: 'radio'
							},
							items: [
								{
									name: 'Один возможный ответ',
									type: 'radio'
								},
								{
									name: 'Несколько ответов',
									type: 'checkbox-multiple'
								},
							]
						},
						list: {
							id: 0,
							listItems: [
								{
									text: "",
									id: 0,
									images: [],
									resultImgs: [] 
								},
							]
						}
					}
				],
				drag: false,
				dragIn: false,
			}
		},
		computed: {
			draggingInfo() {
				return this.dragging ? "under drag" : "";
			},
			dragOptions() {
				return {
					animation: 400,
					group: "mainQuizQuuestion",
					disabled: false,
					ghostClass: "ghost"
				};
			},
			dragOptionsInside () {
				return {
					animation: 400,
					group: "otherQuizQuuestion",
					disabled: false,
					ghostClass: "ghost"
				}
			}
		},
		methods: {
			removeAt(idx, index) {
				// this.group[index].list.id-
				this.group[index].list.listItems.splice(idx, 1);
			},
			add: function(index) {
				this.group[index].list.id++;
				this.group[index].list.listItems.push({ id: this.group[index].list.id, text: "", images: [], resultImgs: [] });
			},
			addGroup: function() {
				this.group.groupItemID++;
				this.group.push(
					{
						name: '',
						groupItemID: this.group.groupItemID,
						key: this.group.groupItemID,
						operations: {
							value: {
								name: 'Один возможный ответ',
								type: 'radio'
							},
							items: [
								{
									name: 'Один возможный ответ',
									type: 'radio'
								},
								{
									name: 'Несколько ответов',
									type: 'checkbox-multiple'
								},
							]
						},
						list: {
							id: 0,
							listItems: [
								{
									text: "",
									id: 0,
									images: [],
									resultImgs: [] 
								},
							]
						}
					}
				);
			},
			onFileChange (e, elemId, index, idx) {
				if ( this.group[index].list.listItems[idx].images.length != 0 ) {
					this.group[index].list.listItems[idx].images.splice(0)
				}
				var selectedFiles = e.target.files;
				for (let i = 0; i < selectedFiles.length; i++){
					this.group[index].list.listItems[idx].images.push(selectedFiles[i]);
				}
				for (let i = 0; i < this.group[index].list.listItems[idx].images.length; i++){
					let reader = new FileReader();
					reader.addEventListener('load', function(){
						if ( this.group[index].list.listItems[idx].resultImgs.length != 0 ) {
							this.group[index].list.listItems[idx].resultImgs.splice(0)
						}
						this.group[index].list.listItems[idx].resultImgs.push(reader.result)
					}.bind(this), false);

					reader.readAsDataURL(this.group[index].list.listItems[idx].images[i]);
				}
			},
		},
		components: {
			VueTabs,
			VTab,
			Multiselect,
			appSvgIcon: SvgIcon,
			appFile: file,
			appCheckbox: checkbox,
			// appCreateQuizInput: createQuizInput,
			appDraggable: draggable,
			appCard: card,
		}
	}
</script>

<style lang="css" scoped>
</style>