<template>
	<div class="wrap">
		<vue-tabs>
			<v-tab id="main-data" title="Основные данные">
				<div class="row">
					<div class="col-lg-11 ml-auto mr-auto">
						<form>
							<div class="tab-title">Создание лота</div>
							<div class="row justify-content-between">
								<div class="col-7 col-lg-7">
									<label class="label font-weight-bold" for="individual">Кто вы?</label>
									<div class="row row_indents_m">
										<div class="form-group column">
											<app-checkbox 
												:type="'radio'"
												:name="'type'"
												:id="'individual'"
												:checked="false"
												:content="'Физ. лицо'"/>
										</div>
										<div class="form-group column">
											<app-checkbox 
												:type="'radio'"
												:name="'type'"
												:id="'entity'"
												:checked="true"
												:content="'Юр. лицо'"/>
										</div>
										<div class="form-group column">
											<app-checkbox 
												:type="'radio'"
												:name="'type'"
												:id="'stateOrg'"
												:checked="false"
												:content="'Гос. организация'"/>
										</div>
									</div>
									<div class="form-group mb-3 pb-1">
										<label class="label font-weight-bold" for="nickName">Категория:</label>
										<multiselect
											v-model="optionsCategory.value"
											:options="optionsCategory.options"
											:multiple="true"
											:group-select="true"
											:taggable="true"
											:maxHeight="200"
											:limit="2"
											:limit-text="limitText"
											:close-on-select="false"
											:clear-on-select="false"
											:hide-selected="false"
											group-label="category"
											group-values="items"
											placeholder="Введите или выберите из списка"
											track-by="name"
											label="name">
											<span 
												class="arrow" 
												slot="caret" 
												slot-scope="{ toggle }" 
												@mousedown.prevent.stop="toggle">
												<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
											</span>
												<template slot="singleLabel">&nbsp;</template>
												<template slot="tag" slot-scope="props">
													<span class="multiselect__tag multiselect__tag_checkbox">
														<span>{{ props.option.name }}</span>
													</span>
												</template>
										</multiselect>
										<!-- <multiselect
											v-model="optionsSecond.value"
											:options="optionsSecond.options"
											:multiple="true"
											:maxHeight="200"
											:custom-label="customLabel"
											:close-on-select="false"
											:clear-on-select="false"
											:hide-selected="false"
											:limit="3"
											:limit-text="limitText"
											:preserve-search="true"
											:searchable="false"
											placeholder="Выберите из списка"
											track-by="name"
											label="name">
												<template slot="singleLabel">&nbsp;</template>
												<template slot="tag" slot-scope="props">
													<span class="multiselect__tag multiselect__tag_checkbox">
														<span>{{ props.option.name }}</span>
													</span>
												</template>
												<span class="checkbox" slot="option" slot-scope="scope" @click.self="select(scope.option)">
													<input class="checkbox-input input-hidden"
														type="checkbox"
														name=""
														value=""
														v-model="scope.option.selected"
														:key="scope.option.nameKey">
													<span class="checkbox-label d-flex align-items-center mb-0">
														<span class="checkbox-pseudo">
															<app-svg-icon name="check"/>
														</span>
														<span class="checkbox-txt ml-2">{{ scope.option.name }}</span>
													</span>
												</span>
										</multiselect> -->
									</div>
									<div class="form-group mb-3 pb-1">
										<app-textarea-counter 
											:maxCount="80"
											:labelName="'Название'"
											:input="true"
											:id="'mainName'" />
									</div>
									<div class="row row_indents_m align-items-end">
										<div class="form-group col-sm-9 mb-3 pb-1">
											<label class="label color-dark font-weight-bold" for="startPrice">Укажите стартовую цену:</label>
											<input class="form-control" id="startPrice" type="number">
										</div>
										<div class="form-group col-sm-3 mb-3 pb-1">
											<!-- <app-dropdown class="dropdown_form-control" :dropdown-data="currencyList" /> -->
											<multiselect
												v-model="startPrice.value"
												:options="startPrice.items"
												:maxHeight="200"
												track-by="name"
												:preselectFirst="true"
												:searchable="false"
												label="name">
													<span 
														class="arrow" 
														slot="caret" 
														slot-scope="{ toggle }" 
														@mousedown.prevent.stop="toggle">
														<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
													</span>
											</multiselect>
										</div>
									</div>
									<div class="row row_indents_m align-items-end">
										<div class="form-group col-sm-9 mb-3 pb-1">
											<label class="label color-dark font-weight-bold" for="finalPrice">Цена “Без торга”</label>
											<input class="form-control" id="finalPrice" type="number">
										</div>
										<div class="form-group col-sm-3 mb-3 pb-1">
											<!-- <app-dropdown class="dropdown_form-control" :dropdown-data="currencyList" /> -->
											<multiselect
												v-model="endPrice.value"
												:options="endPrice.items"
												:maxHeight="200"
												track-by="name"
												:preselectFirst="true"
												:searchable="false"
												label="name">
													<span 
														class="arrow" 
														slot="caret" 
														slot-scope="{ toggle }" 
														@mousedown.prevent.stop="toggle">
														<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
													</span>
											</multiselect>
										</div>
									</div>
									<div class="form-group mb-3 pb-1">
										<label class="label color-dark font-weight-bold" for="startBiddings">Дата начала торгов:</label>
										<datepicker
											:input-class="'form-control'"
											:wrapper-class="'datepicker'"
											:calendar-class="'datepicker-wrap'"
											:format="'dd.MM.yyyy'"
											:placeholder="'дд.мм.гггг'"
											ref="date1"
											:language="ru">
												<span
													slot="afterDateInput"
													class="datepicker-icon form-icon-position form-icon-position_inside color-grey-dark"
													@click="openPicker('date1')">
													<app-svg-icon name="calendar" />
												</span>
										</datepicker>
									</div>
									<div class="form-group mb-3 pb-1">
										<label class="label color-dark font-weight-bold" for="finalBiddings">Дата окончания торгов:</label>
										<datepicker
											:input-class="'form-control'"
											:wrapper-class="'datepicker'"
											:calendar-class="'datepicker-wrap'"
											:format="'dd.MM.yyyy'"
											:placeholder="'дд.мм.гггг'"
											ref="date2"
											:language="ru">
												<span
													slot="afterDateInput"
													class="datepicker-icon form-icon-position form-icon-position_inside color-grey-dark"
													@click="openPicker('date2')">
													<app-svg-icon name="calendar" />
												</span>
										</datepicker>
									</div>
									<div class="form-group mb-3 pb-1">
										<label class="label font-weight-bold" for="private">Кто вы?</label>
										<div>
											<app-checkbox 
												:type="'checkbox'"
												:name="'private'"
												:id="'private1'"
												:checked="false"
												:content="'Скрыть контакты'"/>
										</div>
									</div>
								</div>
								<div class="col-5 col-lg-4">
									<div class="form-group">
										<div class="color-dark font-weight-bold mb-1">Главное фото</div>
										<app-file class="single large" />
									</div>
									<div class="form-group">
										<div class="color-dark font-weight-bold mb-1">Главное фото</div>
										<div class="row row_indents_s">
											<div class="form-group column">
												<app-file class="single" />
											</div>
											<div class="form-group column">
												<app-file class="single" />
											</div>
										</div>
									</div>
									<div class="form-group">
										<app-textarea-counter
											:rows="5"
											:maxCount="120"
											:labelName="'Краткое описание:'"
											:id="'shortDescr'" />
									</div>
									<div class="form-group">
										<label class="label color-black font-weight-bold" for="videoLink">Ссылка на видео:</label>
										<input class="form-control" id="videoLink" type="text">
									</div>
								</div>
							</div>
							<div class="tabs-foot mt-5">
								<div class="row row_indents_m align-items-center justify-content-center">
									<div class="column">
										<button class="button button-blue button-clr" type="button">Сохранить</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</v-tab>
			<v-tab id="specifications" title="Характеристики">
				<div class="row">
					<div class="col-lg-11 ml-auto mr-auto">
						<form>
							<div class="tab-title">Создание лота</div>
							<div class="row justify-content-between">
								<div class="col-6 pr-4">
									<div class="form-group mb-3 pb-1">
										<label class="label font-weight-bold" for="country">Страна производитель:</label>
										<multiselect
											v-model="optionsThird.value"
											:options="optionsThird.items"
											:maxHeight="200"
											track-by="name"
											label="name"
											:placeholder="''"
											:custom-label="customLabelSingle">
												<span 
													class="arrow" 
													slot="caret" 
													slot-scope="{ toggle }" 
													@mousedown.prevent.stop="toggle">
													<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
												</span>
												<span
													class="d-flex flex-nowrap align-items-center"
													slot="singleLabel"
													slot-scope="props">
													<span class="flex-shrink-0 font-size-0">
														<img :src="props.option.src" alt="">
													</span>
													<span class="ml-2">{{props.option.name}}</span>
												</span>
												<span
													class="d-flex flex-nowrap align-items-center"
													slot="option"
													slot-scope="scope"
													@click.self="select(scope.option)">
													<span class="flex-shrink-0 font-size-0">
														<img :src="scope.option.src" alt="">
													</span>
													<span class="ml-2">{{scope.option.name}}</span>
												</span>
										</multiselect>
									</div>
									<div class="form-group mb-3 pb-1">
										<label class="label font-weight-bold" for="nickName">Имя производителя:</label>
										<multiselect
											v-model="manufacturer.value"
											:options="manufacturer.items"
											:maxHeight="200"
											track-by="name"
											label="name"
											:placeholder="'Введите или выберите '">
												<span 
													class="arrow" 
													slot="caret" 
													slot-scope="{ toggle }" 
													@mousedown.prevent.stop="toggle">
													<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
												</span>
										</multiselect>
									</div>
									<div class="row row_indents_m align-items-end">
										<div class="form-group col-sm-9 mb-3 pb-1">
											<label class="label color-dark font-weight-bold" for="weight">Вес:</label>
											<input class="form-control" id="weight" type="number">
										</div>
										<div class="form-group col-sm-3 mb-3 pb-1">
											<multiselect
												v-model="weightList.value"
												:options="weightList.items"
												:maxHeight="200"
												track-by="name"
												:preselectFirst="true"
												:searchable="false"
												label="name">
													<span 
														class="arrow" 
														slot="caret" 
														slot-scope="{ toggle }" 
														@mousedown.prevent.stop="toggle">
														<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
													</span>
											</multiselect>
										</div>
									</div>
									<div class="form-group mb-3 pb-1">
										<label class="label font-weight-bold" for="multiselectColors">Цвет:</label>
										<multiselect
											v-model="colors.value"
											:options="colors.items"
											id="multiselectColors"
											:multiple="true"
											:maxHeight="200"
											:custom-label="customLabelColor"
											:close-on-select="false"
											:clear-on-select="false"
											:hide-selected="false"
											:limit="3"
											:limit-text="limitText"
											:preserve-search="true"
											placeholder="Введите цвет"
											track-by="name"
											label="name"
											class="multiselect-colors"
											ref="colors"
											:class="{'itemsIsSelected': colors.value.length}">
												<span 
													class="arrow" 
													slot="caret" 
													slot-scope="{ toggle }" 
													@mousedown.prevent.stop="toggle">
													<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
												</span>
												<li class="multiselect__element d-block mb-3 flex-grow-1 w-100" slot="beforeList">
													<span class="d-block multiselect-title">Цвет</span>
												</li>
												<template slot="singleLabel">&nbsp;</template>
												<template slot="tag" slot-scope="props">
													<span class="multiselect__tag multiselect__tag_checkbox">
														<span>{{ props.option.name }}</span>
													</span>
												</template>
												<span class="checkbox checkbox_color" slot="option" slot-scope="scope" @click.self="select(scope.option)">
													<input class="checkbox-input input-hidden"
														type="checkbox"
														v-model="scope.option.selected"
														:key="scope.option.key">
													<span class="checkbox-label d-flex align-items-center mb-0">
														<span class="checkbox-pseudo" :style="{backgroundColor: scope.option.color}">
															<app-svg-icon name="check"/>
														</span>
													</span>
												</span>
												<span class="d-block mb-3" slot="noResult">Данный цвет отсутствует в базе</span>
												<li class="multiselect__element d-block mb-3 flex-grow-1 w-100" slot="afterList" v-if="colors.value.length">
													<a class="multiselect-title text-capitalize" href="#" @click.prevent="selectAllChanged">Очистить</a>
												</li>
										</multiselect>
									</div>
									<div class="form-group mb-3 pb-1">
										<label class="label font-weight-bold" for="materials">Материал:</label>
										<multiselect
											v-model="materials.value"
											:options="materials.items"
											:maxHeight="200"
											track-by="name"
											:placeholder="'Введите или выберите '"
											id="materials"
											label="name">
												<span 
													class="arrow" 
													slot="caret" 
													slot-scope="{ toggle }" 
													@mousedown.prevent.stop="toggle">
													<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
												</span>
										</multiselect>
									</div>
									<div
										v-for="(elem, index) in another.value"
										:key="index"
										class="form-group mb-3 pb-1">
										<label class="label font-weight-bold" :for="elem.id">{{ elem.name }}</label>
										<div class="row align-items-center">
											<div class="col">
												<template v-if="!elem.items">
													<input class="form-control" type="text" :placeholder="elem.placeholder" :id="elem.id">
												</template>
												<template v-if="elem.items">
													<multiselect
														v-model="elem.value"
														:options="elem.items"
														:maxHeight="200"
														track-by="name"
														:limit="2"
														:limit-text="limitText"
														:placeholder="'Введите или выберите '"
														label="name"
														:id="elem.id">
															<span 
																class="arrow" 
																slot="caret" 
																slot-scope="{ toggle }" 
																@mousedown.prevent.stop="toggle">
																<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
															</span>
													</multiselect>
												</template>
											</div>
											<div class="col flex-grow-0">
												<button
													class="font-size-10 color-grey-dark button-clr"
													type="button"
													@click="removeElement(another.value, index)">
													<app-svg-icon name="del" />
												</button>
											</div>
										</div>
									</div>
									<div class="form-group mb-3 pb-1">
										<label class="label font-weight-bold" for="another">Другой параметр:</label>
										<multiselect
											v-model="another.value"
											:options="another.items"
											:maxHeight="200"
											track-by="name"
											:multiple="true"
											:taggable="false"
											:close-on-select="false"
											:clear-on-select="false"
											:preserve-search="true"
											:hide-selected="true"
											:show-labels="false"
											:placeholder="'Введите или выберите '"
											id="another"
											label="name">
												<span 
													class="arrow" 
													slot="caret" 
													slot-scope="{ toggle }" 
													@mousedown.prevent.stop="toggle">
													<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
												</span>
												<template slot="selection" slot-scope="{ values }"><span class="multiselect__single d-none" v-if="values.length">{{ values.length }}</span></template>
										</multiselect>
									</div>
								</div>
								<div class="col-6 pl-4">
									<div class="form-group mb-3 pb-1">
										<app-textarea-counter
											:rows="23"
											:maxCount="1000"
											:labelName="'Подробное описание:'"
											:id="'moreDescr'" />
									</div>
									<div class="form-group mb-3 pb-1">
										<label class="label font-weight-bold" for="another">Метки:</label>
										<app-input-tags></app-input-tags>
										<!-- <app-input-tags @tagsData="getData"></app-input-tags> -->
									</div>
								</div>
							</div>
							<div class="tabs-foot mt-5">
								<div class="row row_indents_m align-items-center justify-content-center">
									<div class="column">
										<button class="button button-blue button-clr" type="button">Сохранить</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</v-tab>
			<v-tab id="documents" title="Документы">
				<div class="row">
					<div class="col-xl-11 ml-auto mr-auto">
						<div class="tab-title">Документы</div>
						<form>
							<div class="row">
								<div class="col-xl-6">
									<div class="form-group mb-3 pb-1">
										<label class="label font-weight-bold" for="docTitle">Заголовок:</label>
										<input type="text" class="form-control" id="docTitle">
									</div>
								</div>
							</div>
							<div class="tabs-foot mt-5">
								<div class="row row_indents_m align-items-center justify-content-center">
									<div class="column">
										<button class="button button-blue button-clr" type="button">Сохранить</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</v-tab>
		</vue-tabs>
	</div>
</template>

<script>
	import {VueTabs, VTab} from 'vue-nav-tabs/dist/vue-tabs.js'
	import SvgIcon from '../components/SvgIcon.vue'
	import File from '../components/uploadFiles.vue'
	import Checkbox from '../components/Checkbox.vue'
	import TextareaCounter from '../components/textareaCounter.vue'
	import InputTags from '../components/Input-taggable.vue'
	import Multiselect from 'vue-multiselect'
	import Datepicker from 'vuejs-datepicker';
	let Language = function Language (language, months, monthsAbbr, days) {
		this.language = language;
		this.months = months;
		this.monthsAbbr = monthsAbbr;
		this.days = days;
		this.rtl = false;
		this.ymd = false;
		this.yearSuffix = '';
	};
	let pt = new Language(
		'Russian', ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'], ['Янв.','Фев.','Мар.','Апр.','Май.','Июн.','Июл.','Авг.','Сен.','Окт.','Ноя.','Дек.'], ['Пн.','Вт.','Ср.','Чт.','Пт.','Сб.','Вс.']
		);
	export default {
		name: 'createLot',
		data () {
			return {
				ru: pt,
				startPrice: {
					value: [],
					items: [
						{
							name: 'UZS',
							url: '#'
						},
						{
							name: 'USD',
							url: '#'
						},
						{
							name: 'RUB',
							url: '#'
						},
					],
					placeholder: 'UZS',
					icon: 'arrow-down'
				},
				endPrice: {
					value: [],
					items: [
						{
							name: 'UZS',
							url: '#'
						},
						{
							name: 'USD',
							url: '#'
						},
						{
							name: 'RUB',
							url: '#'
						},
					],
					placeholder: 'UZS',
					icon: 'arrow-down'
				},
				weightList: {
					value: [],
					items: [
						{
							name: 'кг',
							url: '#'
						},
						{
							name: 'цт',
							url: '#'
						},
						{
							name: 'тн',
							url: '#'
						},
					],
					placeholder: 'кг',
					icon: 'arrow-down'
				},
				optionsCategory: {
					options: [
						{
							category: 'Бытовая техника',
							items: [
								{ name: 'Микроволновки' },
								{ name: 'Фены' }
							]
						},
						{
							category: 'Электроника',
							items: [
								{ name: 'Мобильные телефоны' },
								{ name: 'Игровые приставки' },
								{ name: 'Телевизоры и аудиосистемы' }
							]
						},
						{
							category: 'Дом и Быт',
							items: [
								{ name: 'Кухонная утварь', }
							]
						},
					],
					value: []
				},
				optionsSecond: {
					options: [
						{ name: 'Микроволновки', selected: false, nameKey: 'micro' },
						{ name: 'Фены', selected: false, nameKey: 'hair-dryer' },
						{ name: 'Мобильные телефоны', selected: false, nameKey: 'phones' },
						{ name: 'Игровые приставки', selected: false, nameKey: 'playstations' },
						{ name: 'Телевизоры и аудиосистемы', selected: false, nameKey: 'TV' },
						{ name: 'Кухонная утварь', selected: false, nameKey: 'kitchens' }
					],
					value: []
				},
				optionsThird: {
					value: [
						{ name: 'Китай', src: require('../assets/images/china.svg') },
					],
					items: [
						{ name: 'Китай', src: require('../assets/images/china.svg') },
						{ name: 'Россия', src: require('../assets/images/china.svg') },
						{ name: 'США', src: require('../assets/images/china.svg') }
					]
				},
				manufacturer: {
					value: [],
					items: [
						{ name: 'Производитель 1'},
						{ name: 'Производитель 2'},
						{ name: 'Производитель 3'}
					]
				},
				materials: {
					value: [],
					items: [
						{ name: 'материал 1'},
						{ name: 'материал 2'},
						{ name: 'материал 3'}
					]
				},
				another: {
					value: [],
					items: [
						{
							name: 'Cтиль',
							id: 'style',
							value: [],
							items: [
								{ name: 'Стиль 1'},
								{ name: 'Стиль 2'},
								{ name: 'Стиль 3'},
							]
						},
						{
							name: 'Гарабариты',
							id: 'weight2',
							placeholder: 'ШхВхД'
						},
						{
							name: 'Размер экрана',
							id: 'size',
							value: [],
							items: [
								{ name: 'Размер экрана 1'},
								{ name: 'Размер экрана 2'},
								{ name: 'Размер экрана 3'},
							]
						},
						{
							name: 'Объем памяти',
							id: 'memory',
							value: [],
							items: [
								{ name: 'Обьём памяти 1'},
								{ name: 'Обьём памяти 2'},
								{ name: 'Обьём памяти 3'},
							]
						},
						{
							name: 'Частота процессора',
							id: 'frequency',
							value: [],
							items: [
								{ name: 'Частота процессора 1'},
								{ name: 'Частота процессора 2'},
								{ name: 'Частота процессора 3'},
							]
						}
					]
				},
				colors: {
					notEmpty: false,
					value: [],
					items: [
						{ name: 'зелёный', selected: false, color: 'green', key: 'green' },
						{ name: 'синий', selected: false, color: 'blue', key: 'blue' },
						{ name: 'красный', selected: false, color: 'red', key: 'red' },
						{ name: 'желтый', selected: false, color: 'yellow', key: 'yellow' },
					]
				},
			}
		},
		methods: {
			customLabelSingle ({name, src}) {
				return `${name} - ${src}`
			},
			customLabelColor ({name}) {
				return `${name}`
			},
			select (option) {
				option.selected = !option.selected
			},
			limitText (count) {
				if (count === 0) {
					return ''
				}
				else { return  count }
			},
			openPicker (picker) {
				this.$refs[picker].showCalendar()
			},
			selectAllChanged() {
				this.colors.value = []
			},
			removeElement: function (array, index) {
				array.splice(index, 1);
			},
		},
		components: {
			VueTabs,
			VTab,
			// appDropdown: Dropdown,
			appSvgIcon: SvgIcon,
			appCheckbox: Checkbox,
			appFile: File,
			appTextareaCounter: TextareaCounter,
			Multiselect,
			Datepicker,
			appInputTags: InputTags
		}
	}
</script>

<style lang="scss" scoped>
</style>