<template>
	<div class="wrap">
		<vue-tabs v-model="tabName">
			<v-tab id="main-data" title="Основные данные">
				<div class="row">
					<div class="col-lg-11 ml-auto mr-auto">
						<form>
							<div class="row">
								<div class="col-xl-5 offset-2">
									<div class="tab-title">Объявление на покупку</div>
								</div>
							</div>
							<div class="row justify-content-between">
								<div class="col-7 col-lg-5 offset-lg-2">
									<div class="form-group mb-3 pb-1">
										<label class="label font-weight-bold" for="nickName">Категория:</label>
										<treeselect
											:multiple="true"
											:options="optionsCategory.options"
											placeholder="Выберите категорию..."
											:value-consists-of="optionsCategory.valueConsistsOf"
											:limit="3"
											:limitText="limitTextFunc"
											:default-expand-level="2"
											:disable-branch-nodes="true"
											:normalizer="normalizer"
											v-model="optionsCategory.value">
										</treeselect>
									</div>
									<div class="form-group mb-3 pb-1">
										<app-textarea-counter 
											:maxCount="80"
											:labelName="'Имя произовдителя'"
											:input="true"
											:id="'mainName'" />
									</div>
									<div class="row row_indents_m align-items-end">
										<div class="form-group col-sm-9 mb-3 pb-1">
											<label class="label color-dark font-weight-bold" for="startPrice">Укажите цену:</label>
											<input class="form-control" id="startPrice" type="number">
										</div>
										<div class="form-group col-sm-3 mb-3 pb-1">
											<multiselect
												v-model="startPrice.value"
												:options="startPrice.items"
												:maxHeight="200"
												track-by="name"
												:preselectFirst="true"
												:searchable="false"
												label="name">
													<span 
														class="arrow" 
														slot="caret" 
														slot-scope="{ toggle }" 
														@mousedown.prevent.stop="toggle">
														<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
													</span>
											</multiselect>
										</div>
									</div>
									<div class="row row_indents_m align-items-end">
										<div class="form-group mb-3 pb-1 col-lg-9">
											<app-textarea-counter
												:rows="5"
												:maxCount="120"
												:labelName="'Краткое описание:'"
												:id="'shortDescr'" />
										</div>
									</div>
								</div>
								<div class="col-5 col-lg-4">
									<div class="form-group">
										<div class="color-dark font-weight-bold mb-1">Загрузите фото</div>
										<app-file class="single large" />
									</div>
									<div class="form-group">
										<div class="color-dark font-weight-bold mb-1">Дополнительные фото</div>
										<div class="row row_indents_s">
											<div class="form-group column">
												<app-file class="single" />
											</div>
											<div class="form-group column">
												<app-file class="single" />
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tabs-foot mt-5">
								<div class="row row_indents_m align-items-center justify-content-center">
									<div class="column">
										<!-- <router-link :to="{name: 'ad-inside'}" class="button button-blue button-clr"><span>Создать</span><app-svg-icon class="svg-icon_reverse ml-3 font-size-16 text-white" name="arrow-left"/></router-link> -->
										<a href="#" class="button button-blue button-clr" @click.prevent="showModal('adCreated')"><span>Создать</span><app-svg-icon class="svg-icon_reverse ml-3 font-size-16 text-white" name="arrow-left"/></a>
									</div>
									<div class="column">
										<router-link class="color-dark-50 font-weight-bold" :to="{name: 'shop-inside'}">Отмена</router-link>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</v-tab>
		</vue-tabs>
		<modal name="adCreated" :adaptive="true" :minWidth="280" :maxWidth="680" :height="'auto'" :scrollable="true">
			<div class="modal-in">
				<div class="modal-body">
					<button class="modal-close button-clr" type="button" @click="hideModal('adCreated')">
						<app-svg-icon name="close" />
					</button>
					<div class="row">
						<div class="col-xl-12 ml-auto mr-auto">
							<div class="pt-5 pb-5">
								<div class="text-center">
									<h2 class="mb-3">Объявление создано!</h2>
									<div class="color-gray-2 mb-5 pb-3">Модерация не займет много времени</div>
									<div class="mb-4">
										<router-link :to="{name: 'my-ads'}" class="button button-blue button-clr font-weight-bold" @click.prevent.native="hideModal('adCreated')">Объявления</router-link>
									</div>
									<div>
										<router-link :to="{name: 'create-ad-buy'}" class="font-weight-bold color-gray-2" href="#" @click.prevent.native="hideModal('adCreated')">Добавить еще</router-link>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</modal>
	</div>
</template>

<script>
	import {VueTabs, VTab} from 'vue-nav-tabs/dist/vue-tabs.js'
	import SvgIcon from '../components/SvgIcon.vue'
	import File from '../components/uploadFiles.vue'
	import TextareaCounter from '../components/textareaCounter.vue'
	import Multiselect from 'vue-multiselect'
	import Treeselect from '@riophae/vue-treeselect'
	import '@riophae/vue-treeselect/dist/vue-treeselect.css'
	export default {
		name: 'creade-ad-buy',
		data () {
			return {
				tabName: '',
				startPrice: {
					value: [],
					items: [
						{
							name: 'UZS',
							url: '#'
						},
						{
							name: 'USD',
							url: '#'
						},
						{
							name: 'RUB',
							url: '#'
						},
					],
					placeholder: 'UZS',
					icon: 'arrow-down'
				},
				optionsCategory: {
					value: [],
					valueConsistsOf: 'LEAF_PRIORITY',
					options: [
						{
							id: 'Appliances',
							title: 'Бытовая техника',
							children: [
								{
									id: 'microwave',
									title: 'Микроволновки',
									children: [
										{
											id: 'microwave-1',
											title: 'Микроволновка 1',
										},
										{
											id: 'microwave-2',
											title: 'Микроволновка 2',
										}
									],
								},
								{
									id: 'phens',
									title: 'Фены',
									children: [
										{
											id: 'phen-1',
											title: 'Фен 1',
										},
										{
											id: 'phen-2',
											title: 'Фен 2',
										}
									],
								},
							],
						},
						{
							id: 'Electronics',
							title: 'Электроника',
							children: [
								{
									id: 'phones',
									title: 'Мобильные телефоны',
									children: [
										{
											id: 'samsungPhone',
											title: 'Samsung',
										},
										{
											id: 'lgPhone',
											title: 'LG',
										}
									],
								},
								{
									id: 'TV',
									title: 'Телевизоры',
									children: [
										{
											id: 'samsungTV',
											title: 'Samsung',
										},
										{
											id: 'lgTV',
											title: 'LG',
										}
									],
								},
							],
						}
					],
				},
				manufacturer: {
					value: [],
					items: [
						{ name: 'Производитель 1'},
						{ name: 'Производитель 2'},
						{ name: 'Производитель 3'}
					]
				},
			}
		},
		methods: {
			limitText (count) {
				if (count === 0) {
					return ''
				}
				else { return  count }
			},
			limitTextFunc (count) {
				return `${count}`
			},
			changeTab (name) {
				this.tabName = name
			},
			normalizer(node) {
				return {
					label: node.title,
				}
			},
			showModal (modal) {
				this.$modal.show(modal);
			},
			hideModal (modal) {
				this.$modal.hide(modal);
			},
		},
		computed: {
		},
		components: {
			VueTabs,
			VTab,
			appSvgIcon: SvgIcon,
			appFile: File,
			appTextareaCounter: TextareaCounter,
			Multiselect,
			Treeselect
		}
	}
</script>

<style lang="css" scoped>
</style>