<template>
	<div class="wrap">
		<vue-tabs v-model="tabName">
			<v-tab id="main-data" title="Основные данные">
				<div class="row">
					<div class="col-xl-11 ml-auto mr-auto">
						<form>
							<div class="row">
								<div class="col-6 col-lg-5 offset-lg-2">
									<div class="tab-title">Добавление товара</div>
								</div>
							</div>
							<div class="row justify-content-between">
								<div class="col-6 col-lg-5 offset-lg-2">
									<div class="form-group mb-3 pb-1">
										<label class="label font-weight-bold" for="nickName">Категория:</label>
										<treeselect
											:multiple="true"
											:options="optionsCategory.options"
											placeholder="Выберите категорию..."
											:value-consists-of="optionsCategory.valueConsistsOf"
											:limit="3"
											:limitText="limitTextFunc"
											:default-expand-level="2"
											:disable-branch-nodes="true"
											:normalizer="normalizer"
											v-model="optionsCategory.value">
										</treeselect>
									</div>
									<div class="form-group mb-3 pb-1">
										<app-textarea-counter 
											:maxCount="80"
											:labelName="'Название'"
											:input="true"
											:id="'mainName'" />
									</div>
									<div class="row row_indents_m align-items-end">
										<div class="form-group col-sm-9 mb-3 pb-1">
											<label class="label color-dark font-weight-bold" for="startPrice">Укажите стартовую цену:</label>
											<input class="form-control" id="startPrice" type="number">
										</div>
										<div class="form-group col-sm-3 mb-3 pb-1">
											<!-- <app-dropdown class="dropdown_form-control" :dropdown-data="currencyList" /> -->
											<multiselect
												v-model="startPrice.value"
												:options="startPrice.items"
												:maxHeight="200"
												track-by="name"
												:preselectFirst="true"
												:searchable="false"
												label="name">
													<span 
														class="arrow" 
														slot="caret" 
														slot-scope="{ toggle }" 
														@mousedown.prevent.stop="toggle">
														<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
													</span>
											</multiselect>
										</div>
									</div>
									<div class="row row_indents_m align-items-end">
										<div class="form-group col-sm-7 mb-3 pb-1">
											<label class="label color-dark font-weight-bold" for="quantity">Количество:</label>
											<input class="form-control" id="quantity" type="number" placeholder="введите количество">
										</div>
										<div class="form-group col-sm-5 mb-3 pb-1">
											<multiselect
												v-model="quantity.value"
												:options="quantity.items"
												:maxHeight="200"
												track-by="name"
												:preselectFirst="true"
												:searchable="false"
												class="multiselect_quantity"
												label="name">
													<span 
														class="arrow" 
														slot="caret" 
														slot-scope="{ toggle }" 
														@mousedown.prevent.stop="toggle">
														<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
													</span>
											</multiselect>
										</div>
									</div>
									<!-- <div class="form-group mb-3 pb-1">
										<label class="label color-dark font-weight-bold" for="startBiddings">Дата начала торгов:</label>
										<datepicker
											:input-class="'form-control'"
											:wrapper-class="'datepicker'"
											:calendar-class="'datepicker-wrap'"
											:format="'dd.MM.yyyy'"
											:placeholder="'дд.мм.гггг'"
											ref="date1"
											:language="ru">
												<span
													slot="afterDateInput"
													class="datepicker-icon form-icon-position form-icon-position_inside color-grey-dark"
													@click="openPicker('date1')">
													<app-svg-icon name="calendar" />
												</span>
										</datepicker>
									</div>
									<div class="form-group mb-3 pb-1">
										<label class="label color-dark font-weight-bold" for="finalBiddings">Дата окончания торгов:</label>
										<datepicker
											:input-class="'form-control'"
											:wrapper-class="'datepicker'"
											:calendar-class="'datepicker-wrap'"
											:format="'dd.MM.yyyy'"
											:placeholder="'дд.мм.гггг'"
											ref="date2"
											:language="ru">
												<span
													slot="afterDateInput"
													class="datepicker-icon form-icon-position form-icon-position_inside color-grey-dark"
													@click="openPicker('date2')">
													<app-svg-icon name="calendar" />
												</span>
										</datepicker>
									</div> -->
									<div class="row no-gutters">
										<div class="col-8 form-group mb-3 pb-1">
											<label class="label font-weight-bold" for="typePayment">Вид оплаты:</label>
											<multiselect
												v-model="paymentType.value"
												:options="paymentType.options"
												:multiple="true"
												:maxHeight="200"
												:custom-label="customLabel"
												:close-on-select="false"
												:clear-on-select="false"
												:hide-selected="false"
												:limit="2"
												:limit-text="limitText"
												:preserve-search="true"
												:searchable="true"
												placeholder="Введите или выберите.."
												track-by="name"
												id="typePayment"
												label="name">
													<span 
														class="arrow" 
														slot="caret" 
														slot-scope="{ toggle }" 
														@mousedown.prevent.stop="toggle">
														<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
													</span>
													<template slot="singleLabel">&nbsp;</template>
													<template slot="tag" slot-scope="props">
														<span class="multiselect__tag multiselect__tag_checkbox">
															<span>{{ props.option.name }}</span>
														</span>
													</template>
													<span class="checkbox" slot="option" slot-scope="scope" @click.self="select(scope.option)">
														<input class="checkbox-input input-hidden"
															type="checkbox"
															name=""
															value=""
															v-model="scope.option.selected"
															:key="scope.option.nameKey">
														<span class="checkbox-label d-flex align-items-center mb-0">
															<span class="checkbox-pseudo">
																<app-svg-icon name="check"/>
															</span>
															<span class="checkbox-txt ml-2">{{ scope.option.name }}</span>
														</span>
													</span>
											</multiselect>
										</div>
									</div>
									<div class="row no-gutters">
										<div class="col-8 form-group mb-3 pb-1">
											<label class="label font-weight-bold" for="typeDelivery">Вид доставки:</label>
											<multiselect
												v-model="delivery.value"
												:options="delivery.options"
												:multiple="true"
												:maxHeight="200"
												:custom-label="customLabel"
												:close-on-select="false"
												:clear-on-select="false"
												:hide-selected="false"
												:limit="2"
												:limit-text="limitText"
												:preserve-search="true"
												:searchable="true"
												placeholder="Введите или выберите.."
												track-by="name"
												id="typeDelivery"
												label="name">
													<span 
														class="arrow" 
														slot="caret" 
														slot-scope="{ toggle }" 
														@mousedown.prevent.stop="toggle">
														<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
													</span>
													<template slot="singleLabel">&nbsp;</template>
													<template slot="tag" slot-scope="props">
														<span class="multiselect__tag multiselect__tag_checkbox">
															<span>{{ props.option.name }}</span>
														</span>
													</template>
													<span class="checkbox" slot="option" slot-scope="scope" @click.self="select(scope.option)">
														<input class="checkbox-input input-hidden"
															type="checkbox"
															name=""
															value=""
															v-model="scope.option.selected"
															:key="scope.option.nameKey">
														<span class="checkbox-label d-flex align-items-center mb-0">
															<span class="checkbox-pseudo">
																<app-svg-icon name="check"/>
															</span>
															<span class="checkbox-txt ml-2">{{ scope.option.name }}</span>
														</span>
													</span>
											</multiselect>
										</div>
									</div>
								</div>
								<div class="col-6 col-lg-4">
									<div class="form-group">
										<div class="color-dark font-weight-bold mb-1">Главное фото</div>
										<app-file class="single large" />
									</div>
									<div class="form-group">
										<div class="color-dark font-weight-bold mb-1">Главное фото</div>
										<div class="row row_indents_s">
											<div class="form-group column">
												<app-file class="single" />
											</div>
											<div class="form-group column">
												<app-file class="single" />
											</div>
										</div>
									</div>
									<div class="form-group">
										<app-textarea-counter
											:rows="5"
											:maxCount="120"
											:labelName="'Краткое описание:'"
											:id="'shortDescr'" />
									</div>
									<div class="form-group">
										<label class="label color-black font-weight-bold" for="videoLink">Ссылка на видео:</label>
										<input class="form-control" id="videoLink" type="text">
									</div>
								</div>
							</div>
							<div class="tabs-foot mt-5">
								<div class="row row_indents_m align-items-center justify-content-center">
									<div class="column">
										<button class="button button-blue button-clr" @click="changeTab('Характеристики')" type="button"><span>Далее</span><app-svg-icon class="svg-icon_reverse ml-3 font-size-16 text-white" name="arrow-left"/></button>
									</div>
									<div class="column">
										<router-link class="color-dark-50 font-weight-bold" :to="{name: 'shop-inside'}">Отмена</router-link>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</v-tab>
			<v-tab id="specifications" title="Характеристики">
				<div class="row">
					<div class="col-xl-11 ml-auto mr-auto">
						<form>
							<div class="tab-title offset-lg-1">Создание лота</div>
							<div class="row">
								<div class="col-6 col-lg-5 offset-lg-1">
									<div class="form-group mb-3 pb-1">
										<label class="label font-weight-bold" for="country">Страна производитель:</label>
										<multiselect
											v-model="optionsThird.value"
											:options="optionsThird.items"
											:maxHeight="200"
											track-by="name"
											label="name"
											:placeholder="''"
											:custom-label="customLabelSingle">
												<span 
													class="arrow" 
													slot="caret" 
													slot-scope="{ toggle }" 
													@mousedown.prevent.stop="toggle">
													<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
												</span>
												<span
													class="d-flex flex-nowrap align-items-center"
													slot="singleLabel"
													slot-scope="props">
													<span class="flex-shrink-0 font-size-0">
														<img :src="props.option.src" alt="">
													</span>
													<span class="ml-2">{{props.option.name}}</span>
												</span>
												<span
													class="d-flex flex-nowrap align-items-center"
													slot="option"
													slot-scope="scope"
													@click.self="select(scope.option)">
													<span class="flex-shrink-0 font-size-0">
														<img :src="scope.option.src" alt="">
													</span>
													<span class="ml-2">{{scope.option.name}}</span>
												</span>
										</multiselect>
									</div>
									<div class="form-group mb-3 pb-1">
										<label class="label font-weight-bold" for="nickName">Имя производителя:</label>
										<multiselect
											v-model="manufacturer.value"
											:options="manufacturer.items"
											:maxHeight="200"
											track-by="name"
											label="name"
											:placeholder="'Введите или выберите '">
												<span 
													class="arrow" 
													slot="caret" 
													slot-scope="{ toggle }" 
													@mousedown.prevent.stop="toggle">
													<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
												</span>
										</multiselect>
									</div>
									<div class="row row_indents_m align-items-end">
										<div class="form-group col-sm-9 mb-3 pb-1">
											<label class="label color-dark font-weight-bold" for="weight">Вес:</label>
											<input class="form-control" id="weight" type="number">
										</div>
										<div class="form-group col-sm-3 mb-3 pb-1">
											<multiselect
												v-model="weightList.value"
												:options="weightList.items"
												:maxHeight="200"
												track-by="name"
												:preselectFirst="true"
												:searchable="false"
												label="name">
													<span 
														class="arrow" 
														slot="caret" 
														slot-scope="{ toggle }" 
														@mousedown.prevent.stop="toggle">
														<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
													</span>
											</multiselect>
										</div>
									</div>
									<div class="form-group mb-3 pb-1">
										<label class="label font-weight-bold" for="multiselectColors">Цвет:</label>
										<multiselect
											v-model="colors.value"
											:options="colors.items"
											id="multiselectColors"
											:multiple="true"
											:maxHeight="200"
											:custom-label="customLabelColor"
											:close-on-select="false"
											:clear-on-select="false"
											:hide-selected="false"
											:limit="3"
											:limit-text="limitText"
											:preserve-search="true"
											placeholder="Введите цвет"
											track-by="name"
											label="name"
											class="multiselect-colors"
											ref="colors"
											:class="{'itemsIsSelected': colors.value.length}">
												<span 
													class="arrow" 
													slot="caret" 
													slot-scope="{ toggle }" 
													@mousedown.prevent.stop="toggle">
													<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
												</span>
												<li class="multiselect__element d-block mb-3 flex-grow-1 w-100" slot="beforeList">
													<span class="d-block multiselect-title">Цвет</span>
												</li>
												<template slot="singleLabel">&nbsp;</template>
												<template slot="tag" slot-scope="props">
													<span class="multiselect__tag multiselect__tag_checkbox">
														<span>{{ props.option.name }}</span>
													</span>
												</template>
												<span class="checkbox checkbox_color" slot="option" slot-scope="scope" @click.self="select(scope.option)">
													<input class="checkbox-input input-hidden"
														type="checkbox"
														v-model="scope.option.selected"
														:key="scope.option.key">
													<span class="checkbox-label d-flex align-items-center mb-0">
														<span class="checkbox-pseudo" :style="{backgroundColor: scope.option.color}">
															<app-svg-icon name="check"/>
														</span>
													</span>
												</span>
												<span class="d-block mb-3" slot="noResult">Данный цвет отсутствует в базе</span>
												<li class="multiselect__element d-block mb-3 flex-grow-1 w-100" slot="afterList" v-if="colors.value.length">
													<a class="multiselect-title text-capitalize" href="#" @click.prevent="selectAllChanged">Очистить</a>
												</li>
										</multiselect>
									</div>
									<div class="form-group mb-3 pb-1">
										<label class="label font-weight-bold" for="materials">Материал:</label>
										<multiselect
											v-model="materials.value"
											:options="materials.items"
											:maxHeight="200"
											track-by="name"
											:placeholder="'Введите или выберите '"
											id="materials"
											label="name">
												<span 
													class="arrow" 
													slot="caret" 
													slot-scope="{ toggle }" 
													@mousedown.prevent.stop="toggle">
													<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
												</span>
										</multiselect>
									</div>
									<div
										v-for="(elem, index) in another.value"
										:key="index"
										class="form-group mb-3 pb-1">
										<label class="label font-weight-bold" :for="elem.id">{{ elem.name }}</label>
										<div class="row align-items-center">
											<div class="col">
												<template v-if="!elem.items">
													<input class="form-control" type="text" :placeholder="elem.placeholder" :id="elem.id">
												</template>
												<template v-if="elem.items">
													<multiselect
														v-model="elem.value"
														:options="elem.items"
														:maxHeight="200"
														track-by="name"
														:limit="2"
														:limit-text="limitText"
														:placeholder="'Введите или выберите '"
														label="name"
														:id="elem.id">
															<span 
																class="arrow" 
																slot="caret" 
																slot-scope="{ toggle }" 
																@mousedown.prevent.stop="toggle">
																<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
															</span>
													</multiselect>
												</template>
											</div>
											<div class="col flex-grow-0">
												<button
													class="font-size-10 color-grey-dark button-clr"
													type="button"
													@click="removeElement(another.value, index)">
													<app-svg-icon name="del" />
												</button>
											</div>
										</div>
									</div>
									<div class="form-group mb-3 pb-1">
										<label class="label font-weight-bold" for="another">Другой параметр:</label>
										<multiselect
											v-model="another.value"
											:options="another.items"
											:maxHeight="200"
											track-by="name"
											:multiple="true"
											:taggable="false"
											:close-on-select="false"
											:clear-on-select="false"
											:preserve-search="true"
											:hide-selected="true"
											:show-labels="false"
											:placeholder="'Введите или выберите '"
											id="another"
											label="name">
												<span 
													class="arrow" 
													slot="caret" 
													slot-scope="{ toggle }" 
													@mousedown.prevent.stop="toggle">
													<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
												</span>
												<template slot="selection" slot-scope="{ values }"><span class="multiselect__single d-none" v-if="values.length">{{ values.length }}</span></template>
										</multiselect>
									</div>
								</div>
								<div class="col-6 col-lg-5">
									<div class="form-group mb-3 pb-1">
										<app-textarea-counter
											:rows="23"
											:maxCount="1000"
											:labelName="'Подробное описание:'"
											:id="'moreDescr'" />
									</div>
									<div class="form-group mb-3 pb-1">
										<label class="label font-weight-bold" for="another">Метки:</label>
										<app-input-tags></app-input-tags>
									</div>
								</div>
							</div>
							<div class="tabs-foot mt-5">
								<div class="row row_indents_m align-items-center justify-content-center">
									<div class="column">
										<button class="button button-blue button-clr" @click="changeTab('Документы')" type="button"><span>Далее</span><app-svg-icon class="svg-icon_reverse ml-3 font-size-16 text-white" name="arrow-left"/></button>
									</div>
									<div class="column">
										<router-link class="color-dark-50 font-weight-bold" :to="{name: 'shop-inside'}">Отмена</router-link>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</v-tab>
			<v-tab id="documents" title="Документы">
				<div class="row">
					<div class="col-xl-11 ml-auto mr-auto">
						<div class="tab-title">Документы</div>
						<form>
							<div class="row">
								<div class="col-xl-6">
									<div class="form-group mb-3 pb-1">
										<label class="label font-weight-bold" for="docTitle">Заголовок:</label>
										<input type="text" class="form-control" id="docTitle">
									</div>
								</div>
							</div>
							<div class="tabs-foot mt-5">
								<div class="row row_indents_m align-items-center justify-content-center">
									<div class="column">
										<button class="button button-blue button-clr" @click="changeTab('Реклама')" type="button"><span>Далее</span><app-svg-icon class="svg-icon_reverse ml-3 font-size-16 text-white" name="arrow-left"/></button>
									</div>
									<div class="column">
										<router-link class="color-dark-50 font-weight-bold" :to="{name: 'shop-inside'}">Отмена</router-link>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</v-tab>
			<v-tab id="advert" title="Реклама">
				<div class="row">
					<div class="col-xl-6 ml-auto mr-auto">
						<form>
							<div class="text-center color-gray-2">
								<div class="mb-5">
									<img src="../assets/images/advert-img.svg" alt="">
								</div>
								<h3>Как на счет рекламы?</h3>
								<div class="mt-3 mb-5">Воспользуйтесь эффективным инструментом продвижения</div>
							</div>
							<vue-tabs class="vue-tabs_advert">
								<v-tab id="top" title="ТОП">
									<div class="pl-lg-5 pr-lg-5">
										<div class="row justify-content-between">
											<div class="column">
												<label class="color-dark font-weight-bold" for="endDate">Дата окончания:</label>
												<datepicker
													:input-class="'form-control'"
													:wrapper-class="'datepicker'"
													:calendar-class="'datepicker-wrap'"
													:format="'dd.MM.yyyy'"
													:placeholder="'дд.мм.гггг'"
													ref="endDate"
													:language="ru">
														<span
															slot="afterDateInput"
															class="datepicker-icon form-icon-position form-icon-position_inside color-grey-dark"
															@click="openPicker('date1')">
															<app-svg-icon name="calendar" />
														</span>
												</datepicker>
											</div>
											<div class="column">
												<div class="color-dark font-weight-bold mb-3">Цена:</div>
												<div class="color-dark font-weight-bold font-size-16">4 555 506 UZS</div>
											</div>
										</div>
									</div>
								</v-tab>
								<v-tab id="target" title="Таргет">
									<div class="pl-lg-5 pr-lg-5">
										<div class="row justify-content-between">
											<div class="column">
												<label class="color-dark font-weight-bold" for="endDate1">Дата окончания:</label>
												<input class="form-control" id="endDate1" type="text">
											</div>
											<div class="column">
												<div class="color-dark font-weight-bold mb-3">Цена:</div>
												<div class="color-dark font-weight-bold font-size-16">4 555 506 UZS</div>
											</div>
										</div>
									</div>
								</v-tab>
							</vue-tabs>
							<div class="text-center pt-3">
								<div class="font-weight-bold color-dark">Итого:</div>
								<div class="font-weight-bold color-dark font-size-16">4 555 506 UZS</div>
								<div class="color-grey-dark mt-4 pt-2">Где отображается реклама?</div>
							</div>
							<div class="tabs-foot mt-5">
								<div class="row row_indents_m align-items-center justify-content-center">
									<div class="column">
										<router-link class="button button-blue" :to="{name: 'advert-payment'}">Оплатить</router-link>
										<!-- <button class="button button-blue button-clr" type="button"><span>Оплатить</span></button> -->
									</div>
									<div class="column">
										<router-link class="color-dark-50 font-weight-bold" :to="{name: 'shop-inside'}">Не рекламировать</router-link>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</v-tab>
		</vue-tabs>
	</div>
</template>

<script>
	import {VueTabs, VTab} from 'vue-nav-tabs/dist/vue-tabs.js'
	import SvgIcon from '../components/SvgIcon.vue'
	import File from '../components/uploadFiles.vue'
	// import Checkbox from '../components/Checkbox.vue'
	import TextareaCounter from '../components/textareaCounter.vue'
	import InputTags from '../components/Input-taggable.vue'
	import Multiselect from 'vue-multiselect'
	import Datepicker from 'vuejs-datepicker';
	import Treeselect from '@riophae/vue-treeselect'
	import '@riophae/vue-treeselect/dist/vue-treeselect.css'
	let Language = function Language (language, months, monthsAbbr, days) {
		this.language = language;
		this.months = months;
		this.monthsAbbr = monthsAbbr;
		this.days = days;
		this.rtl = false;
		this.ymd = false;
		this.yearSuffix = '';
	};
	let pt = new Language(
		'Russian', ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'], ['Янв.','Фев.','Мар.','Апр.','Май.','Июн.','Июл.','Авг.','Сен.','Окт.','Ноя.','Дек.'], ['Пн.','Вт.','Ср.','Чт.','Пт.','Сб.','Вс.']
	);
	export default {
		name: 'createGood',
		data () {
			return {
				ru: pt,
				tabName: '',
				delivery: {
					value: [],
					options: [
						{ name: 'По району', selected: false, nameKey: 'direct' },
						{ name: 'По городу', selected: false, nameKey: 'city' },
						{ name: 'По стране', selected: false, nameKey: 'country' },
						{ name: 'По миру', selected: false, nameKey: 'world' },
					],
				},
				paymentType: {
					value: [],
					options: [
						{ name: 'онлайн', selected: false, nameKey: 'online' },
						{ name: 'UzCard', selected: false, nameKey: 'uzcard' },
						{ name: 'Payme', selected: false, nameKey: 'payme' },
						{ name: 'Paynet', selected: false, nameKey: 'paynet' },
					],
				},
				startPrice: {
					value: [],
					items: [
						{
							name: 'UZS',
							url: '#'
						},
						{
							name: 'USD',
							url: '#'
						},
						{
							name: 'RUB',
							url: '#'
						},
					],
					placeholder: 'UZS',
					icon: 'arrow-down'
				},
				quantity: {
					value: [],
					items: [
						{
							name: 'комплектов',
						},
						{
							name: 'шт',
						}
					],
					placeholder: 'UZS',
					icon: 'arrow-down'
				},
				weightList: {
					value: [],
					items: [
						{
							name: 'кг',
							url: '#'
						},
						{
							name: 'цт',
							url: '#'
						},
						{
							name: 'тн',
							url: '#'
						},
					],
					placeholder: 'кг',
					icon: 'arrow-down'
				},
				optionsCategory: {
					value: [],
					valueConsistsOf: 'LEAF_PRIORITY',
					options: [
						{
							id: 'Appliances',
							title: 'Бытовая техника',
							children: [
								{
									id: 'microwave',
									title: 'Микроволновки',
									children: [
										{
											id: 'microwave-1',
											title: 'Микроволновка 1',
										},
										{
											id: 'microwave-2',
											title: 'Микроволновка 2',
										}
									],
								},
								{
									id: 'phens',
									title: 'Фены',
									children: [
										{
											id: 'phen-1',
											title: 'Фен 1',
										},
										{
											id: 'phen-2',
											title: 'Фен 2',
										}
									],
								},
							],
						},
						{
							id: 'Electronics',
							title: 'Электроника',
							children: [
								{
									id: 'phones',
									title: 'Мобильные телефоны',
									children: [
										{
											id: 'samsungPhone',
											title: 'Samsung',
										},
										{
											id: 'lgPhone',
											title: 'LG',
										}
									],
								},
								{
									id: 'TV',
									title: 'Телевизоры',
									children: [
										{
											id: 'samsungTV',
											title: 'Samsung',
										},
										{
											id: 'lgTV',
											title: 'LG',
										}
									],
								},
							],
						}
					],
				},
				optionsSecond: {
					options: [
						{ name: 'Микроволновки', selected: false, nameKey: 'micro' },
						{ name: 'Фены', selected: false, nameKey: 'hair-dryer' },
						{ name: 'Мобильные телефоны', selected: false, nameKey: 'phones' },
						{ name: 'Игровые приставки', selected: false, nameKey: 'playstations' },
						{ name: 'Телевизоры и аудиосистемы', selected: false, nameKey: 'TV' },
						{ name: 'Кухонная утварь', selected: false, nameKey: 'kitchens' }
					],
					value: []
				},
				optionsThird: {
					value: [
						{ name: 'Китай', src: require('../assets/images/china.svg') },
					],
					items: [
						{ name: 'Китай', src: require('../assets/images/china.svg') },
						{ name: 'Россия', src: require('../assets/images/china.svg') },
						{ name: 'США', src: require('../assets/images/china.svg') }
					]
				},
				manufacturer: {
					value: [],
					items: [
						{ name: 'Производитель 1'},
						{ name: 'Производитель 2'},
						{ name: 'Производитель 3'}
					]
				},
				materials: {
					value: [],
					items: [
						{ name: 'материал 1'},
						{ name: 'материал 2'},
						{ name: 'материал 3'}
					]
				},
				another: {
					value: [],
					items: [
						{
							name: 'Cтиль',
							id: 'style',
							value: [],
							items: [
								{ name: 'Стиль 1'},
								{ name: 'Стиль 2'},
								{ name: 'Стиль 3'},
							]
						},
						{
							name: 'Гарабариты',
							id: 'weight2',
							placeholder: 'ШхВхД'
						},
						{
							name: 'Размер экрана',
							id: 'size',
							value: [],
							items: [
								{ name: 'Размер экрана 1'},
								{ name: 'Размер экрана 2'},
								{ name: 'Размер экрана 3'},
							]
						},
						{
							name: 'Объем памяти',
							id: 'memory',
							value: [],
							items: [
								{ name: 'Обьём памяти 1'},
								{ name: 'Обьём памяти 2'},
								{ name: 'Обьём памяти 3'},
							]
						},
						{
							name: 'Частота процессора',
							id: 'frequency',
							value: [],
							items: [
								{ name: 'Частота процессора 1'},
								{ name: 'Частота процессора 2'},
								{ name: 'Частота процессора 3'},
							]
						}
					]
				},
				colors: {
					notEmpty: false,
					value: [],
					items: [
						{ name: 'зелёный', selected: false, color: 'green', key: 'green' },
						{ name: 'синий', selected: false, color: 'blue', key: 'blue' },
						{ name: 'красный', selected: false, color: 'red', key: 'red' },
						{ name: 'желтый', selected: false, color: 'yellow', key: 'yellow' },
					]
				},
			}
		},
		methods: {
			customLabelSingle ({name, src}) {
				return `${name} - ${src}`
			},
			customLabelColor ({name}) {
				return `${name}`
			},
			select (option) {
				option.selected = !option.selected
			},
			limitText (count) {
				if (count === 0) {
					return ''
				}
				else { return  count }
			},
			limitTextFunc (count) {
				return `${count}`
			},
			customLabel ({name}) {
				return `${name}`
			},
			openPicker (picker) {
				this.$refs[picker].showCalendar()
			},
			selectAllChanged() {
				this.colors.value = []
			},
			removeElement: function (array, index) {
				array.splice(index, 1);
			},
			changeTab (name) {
				this.tabName = name
			},
			normalizer(node) {
				return {
					label: node.title,
				}
			},
		},
		computed: {
		},
		components: {
			VueTabs,
			VTab,
			// appDropdown: Dropdown,
			appSvgIcon: SvgIcon,
			// appCheckbox: Checkbox,
			appFile: File,
			appTextareaCounter: TextareaCounter,
			Multiselect,
			Datepicker,
			appInputTags: InputTags,
			Treeselect
		}
	}
</script>

<style lang="scss" scoped>
</style>