<template>
	<div>
		<div v-if="this.$router.currentRoute.name == 'electronics'">
			<div>
				<div class="row">
					<div class="col-3 mb-4 pb-1 d-flex flex-column"
						v-for="(item, index) in categoryMain.items"
						:key="index">
							<router-link class="add-preview add-preview_good flex-grow-1 d-flex flex-column p-4"
								:to="{name: item.href}">
									<div class="add-preview__img text-center p-0 mb-4">
										<app-svg-icon class="font-size-40" :name="item.icon" />
									</div>
									<div class="add-preview__body p-0 text-center">
										<div class="add-preview__price font-weight-bold">{{ item.text }}</div>
									</div>
							</router-link>
					</div>
				</div>
			</div>
		</div>
		<router-view />
	</div>
</template>

<script>
	import SvgIcon from '../components/SvgIcon.vue'
	export default {
		name: 'electronics',
		data () {
			return {
				viewToggle: false,
				categoryMain: {
					items: [
						{
							icon: 'clock',
							text: 'Часы',
							href: 'clocks',
						},
						{
							icon: 'camera',
							text: 'Фотоаппараты',
							href: 'clocks',
						},
						{
							icon: 'refridgerator',
							text: 'Холодильники',
							href: 'clocks',
						},
						{
							icon: 'imac',
							text: 'Компьютеры',
							href: 'clocks',
						},
						{
							icon: 'signal',
							text: 'Модемы',
							href: 'clocks',
						},
					]
				},
				filterLinks: [
					{
						main: true,
						linkName: 'По порядку',
						url: ''
					},
					{
						linkName: 'По цене',
						url: ''
					},
					{
						linkName: 'По популярности',
						url: '',
					},
					{
						linkName: 'По новизне',
						url: '',
					},
				],
			}
		},
		components: {
			appSvgIcon: SvgIcon
		}
	}
</script>

<style lang="scss" scoped>
</style>