<template>
	<div class="pt-5 pb-5">
		<div class="container-fluid">
			<div class="row">
				<div class="col-3">
					<div class="wrap">
						<!-- <app-svg-icon name="close"/> -->
						<app-toggle :title="'Цвет'" :toggle="true">
							<div class="row row_indents_s">
								<div class="column">
									<app-tooltip>
										<template v-slot:tooltiphead>
											<app-checkbox 
												class="checkbox_color checkbox_color_violet d-block pb-1"
												:type="'checkbox'"
												:name="'colors'"
												:id="'violet'"
												:checked="false"/>
										</template>
										<template v-slot:tooltippopup><div class="text-nowrap font-size-14 font-weight-bold pt-1 pb-1">Фиолетовый</div></template>
									</app-tooltip>
								</div>
								<div class="column">
									<app-tooltip>
										<template v-slot:tooltiphead>
											<app-checkbox 
												class="checkbox_color checkbox_color_red d-block pb-1"
												:type="'checkbox'"
												:name="'colors'"
												:id="'red'"
												:checked="false"/>
										</template>
										<template v-slot:tooltippopup><div class="text-nowrap font-size-14 font-weight-bold pt-1 pb-1">Красный</div></template>
									</app-tooltip>
								</div>
								<div class="column">
									<app-tooltip>
										<template v-slot:tooltiphead>
											<app-checkbox 
												class="checkbox_color checkbox_color_pink d-block pb-1"
												:type="'checkbox'"
												:name="'colors'"
												:id="'pink'"
												:checked="false"/>
										</template>
										<template v-slot:tooltippopup><div class="text-nowrap font-size-14 font-weight-bold pt-1 pb-1">Розовый</div></template>
									</app-tooltip>
								</div>
								<div class="column">
									<app-tooltip>
										<template v-slot:tooltiphead>
											<app-checkbox 
												class="checkbox_color checkbox_color_orange d-block pb-1"
												:type="'checkbox'"
												:name="'colors'"
												:id="'orange'"
												:checked="false"/>
										</template>
										<template v-slot:tooltippopup><div class="text-nowrap font-size-14 font-weight-bold pt-1 pb-1">Оранжевый</div></template>
									</app-tooltip>
								</div>
								<div class="column">
									<app-tooltip>
										<template v-slot:tooltiphead>
											<app-checkbox 
												class="checkbox_color checkbox_color_yellow d-block pb-1"
												:type="'checkbox'"
												:name="'colors'"
												:id="'yellow'"
												:checked="false"/>
										</template>
										<template v-slot:tooltippopup><div class="text-nowrap font-size-14 font-weight-bold pt-1 pb-1">Жёлтый</div></template>
									</app-tooltip>
								</div>
								<div class="column">
									<app-tooltip>
										<template v-slot:tooltiphead>
											<app-checkbox 
												class="checkbox_color checkbox_color_blue d-block pb-1"
												:type="'checkbox'"
												:name="'colors'"
												:id="'blue'"
												:checked="false"/>
										</template>
										<template v-slot:tooltippopup><div class="text-nowrap font-size-14 font-weight-bold pt-1 pb-1">Синий</div></template>
									</app-tooltip>
								</div>
								<div class="column">
									<app-tooltip>
										<template v-slot:tooltiphead>
											<app-checkbox 
												class="checkbox_color checkbox_color_light-blue d-block pb-1"
												:type="'checkbox'"
												:name="'colors'"
												:id="'light-blue'"
												:checked="false"/>
										</template>
										<template v-slot:tooltippopup><div class="text-nowrap font-size-14 font-weight-bold pt-1 pb-1">Светло-голубой</div></template>
									</app-tooltip>
								</div>
								<div class="column">
									<app-tooltip>
										<template v-slot:tooltiphead>
											<app-checkbox 
												class="checkbox_color checkbox_color_green d-block pb-1"
												:type="'checkbox'"
												:name="'colors'"
												:id="'green'"
												:checked="false"/>
										</template>
										<template v-slot:tooltippopup><div class="text-nowrap font-size-14 font-weight-bold pt-1 pb-1">Зелёный</div></template>
									</app-tooltip>
								</div>
								<div class="column">
									<app-tooltip>
										<template v-slot:tooltiphead>
											<app-checkbox 
												class="checkbox_color checkbox_color_brown d-block pb-1"
												:type="'checkbox'"
												:name="'colors'"
												:id="'brown'"
												:checked="false"/>
										</template>
										<template v-slot:tooltippopup><div class="text-nowrap font-size-14 font-weight-bold pt-1 pb-1">Коричневый</div></template>
									</app-tooltip>
								</div>
								<div class="column">
									<app-tooltip>
										<template v-slot:tooltiphead>
											<app-checkbox 
												class="checkbox_color checkbox_color_black d-block pb-1"
												:type="'checkbox'"
												:name="'colors'"
												:id="'black'"
												:checked="false"/>
										</template>
										<template v-slot:tooltippopup><div class="text-nowrap font-size-14 font-weight-bold pt-1 pb-1">Чёрный</div></template>
									</app-tooltip>
								</div>
								<div class="column">
									<app-tooltip>
										<template v-slot:tooltiphead>
											<app-checkbox 
												class="checkbox_color checkbox_color_gray d-block pb-1"
												:type="'checkbox'"
												:name="'colors'"
												:id="'gray'"
												:checked="false"/>
										</template>
										<template v-slot:tooltippopup><div class="text-nowrap font-size-14 font-weight-bold pt-1 pb-1">Серый</div></template>
									</app-tooltip>
								</div>
								<div class="column">
									<app-tooltip>
										<template v-slot:tooltiphead>
											<app-checkbox 
												class="checkbox_color checkbox_color_white d-block pb-1"
												:type="'checkbox'"
												:name="'colors'"
												:id="'white'"
												:checked="true"/>
										</template>
										<template v-slot:tooltippopup><div class="text-nowrap font-size-14 font-weight-bold pt-1 pb-1">Белый</div></template>
									</app-tooltip>
								</div>
							</div>
						</app-toggle>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	// import SvgIcon from '../components/SvgIcon.vue'
	import tooltip from '../components/tooltip.vue'
	import toggleBox from '../components/toggle-box.vue'
	import Checkbox from '../components/Checkbox.vue'
	export default {

		name: 'filters',

		data () {
			return {

			}
		},
		components: {
			// appSvgIcon: SvgIcon,
			appToggle: toggleBox,
			appTooltip: tooltip,
			appCheckbox: Checkbox,

		}
	}
</script>

<style lang="css" scoped>
</style>