<template>
	<div>
		<div class="mb-4 pb-2">
			<div class="wrap">
				<div class="row no-gutters">
					<div class="col-lg-6 d-flex flex-column">
						<app-synced-vert-carousel :data-carousel="syncedCarouselData" :group-name="'goodCarousel'" />
					</div>
					<div class="col-lg-6 d-flex flex-column">
						<div class="pl-5 pr-5 pt-4 pb-3 d-flex flex-column flex-grow-1">
							<a class="add-preview-favour add-preview-favour_position_new active" href="#">
								<app-svg-icon name="heart-fill"/>
							</a>
							<div class="mb-3">
								<div class="tag tag_red d-inline-block font-weight-normal">-20%</div>
							</div>
							<h3>Текстурная туника</h3>
							<div class="row row_indents_m align-items-center pb-2">
								<div class="column mb-2">
									<del class="color-dark-80 font-size-18">1 089 000</del>
								</div>
								<div class="column mb-2">
									<div class="font-size-16 color-dark-main font-size-16 font-weight-bold">880 890 000 UZS</div>
								</div>
								<div class="column mb-2">
									<a class="color-blue font-weight-bold" href="#">Предложить цену</a>
								</div>
							</div>
							<div class="row flex-nowrap row_indents_m mb-2 align-items-center">
								<div class="col-3 col-xl-2 mb-2"><div class="color-dark-80">Цвет</div></div>
								<div class="col">
									<div class="row row_indents_s">
										<div class="column">
											<app-checkbox 
												class="d-block checkbox-circle checkbox-circle_color checkbox-circle_color_green pb-1"
												:type="'radio'"
												:name="'colors'"
												:id="'colorGreen'"
												:checked="true"></app-checkbox>
										</div>
										<div class="column">
											<app-checkbox 
												class="d-block checkbox-circle checkbox-circle_color checkbox-circle_color_blue pb-1"
												:type="'radio'"
												:name="'colors'"
												:id="'colorBlue'"
												:checked="false"></app-checkbox>
										</div>
										<div class="column">
											<app-checkbox 
												class="d-block checkbox-circle checkbox-circle_color checkbox-circle_color_yellow pb-1"
												:type="'radio'"
												:name="'colors'"
												:id="'colorYellow'"
												:checked="false"></app-checkbox>
										</div>
									</div>
								</div>
							</div>
							<div class="row flex-nowrap row_indents_m align-items-center">
								<div class="col-3 col-xl-2 mb-2"><div class="color-dark-80">Размер</div></div>
								<div class="col">
									<div class="row row_indents_s">
										<div class="column">
											<app-checkbox 
												class="d-block checkbox-frame text-uppercase"
												:type="'radio'"
												:name="'size'"
												:id="'xs'"
												:checked="true"
												:content="'xs'"/>
										</div>
										<div class="column">
											<app-checkbox 
												class="d-block checkbox-frame text-uppercase"
												:type="'radio'"
												:name="'size'"
												:id="'s'"
												:checked="false"
												:content="'s'"/>
										</div>
										<div class="column">
											<app-checkbox 
												class="d-block checkbox-frame text-uppercase"
												:type="'radio'"
												:name="'size'"
												:id="'m'"
												:checked="false"
												:content="'m'"/>
										</div>
										<div class="column">
											<app-checkbox 
												class="d-block checkbox-frame text-uppercase"
												:type="'radio'"
												:name="'size'"
												:id="'l'"
												:checked="false"
												:content="'l'"/>
										</div>
										<div class="column">
											<app-checkbox 
												class="d-block checkbox-frame text-uppercase"
												:type="'radio'"
												:name="'size'"
												:id="'xl'"
												:checked="false"
												:content="'xl'"/>
										</div>
									</div>
									
								</div>
							</div>
							<hr class="devider mt-5 mb-3">
							<div class="row pt-1 pb-1">
								<div class="column mb-3">
									<a class="button button-blue font-weight-bold" href="#">Заказать</a>
								</div>
								<div class="column mb-3">
									<a class="button button_basket font-weight-bold" href="#">
										<div class="d-flex flex-nowrap align-items-center justify-content-center">
											<app-svg-icon class="font-size-18 mr-2 flex-shrink-0" name="basket-icon" />
											<span>В корзину</span>
										</div>
									</a>
								</div>
							</div>
							<hr class="devider mt-0 mb-4">
							<vue-tabs class="small-tabs pb-4">
								<v-tab id="short-descr" title="Краткое описание">
									<div class="color-dark-80">Long-sleeved sweater in a soft, textured-knit cotton blend with ribbing at neckline, cuffs, and hem. Long-sleeved sweater in a soft, textured-knit cotton blend.</div>
								</v-tab>
								<v-tab id="contacts" title="Контакты">
									<div class="row justify-content-between align-items-center">
										<div class="column mb-3">
											<div class="user user_small d-flex flex-nowrap align-items-center font-size-0">
												<div class="user-avatar flex-shrink-0">
													<img src="../assets/images/user-avatar-small.png" alt="">
												</div>
												<div class="ml-3">
													<div class="user-name">CoverStore</div>
													<a class="user-hash-link color-dark-50 text-small" href="#">@coverstore</a>
												</div>
											</div>
										</div>
										<div class="column mb-3">
											<app-phone-toggle>
												<a class="d-block color-dark mb-1" href="tel:+998908912121">+99890 891 21 21</a>
												<a class="d-block color-dark mb-1" href="tel:+998908912322">+99890 891 23 22</a>
												<a class="d-block color-dark mb-1" href="tel:+99890 8915555">+99890 891 55 55</a>
											</app-phone-toggle>
										</div>
									</div>
								</v-tab>
							</vue-tabs>
							<div class="row justify-content-between mt-auto">
								<div class="column">
									<div class="row">
										<div class="column mb-2">
											<a class="share-link color-dark text-decoration-none" href="#">
												<span class="d-flex flex-nowrap">
													<app-svg-icon class="font-size-18 color-dark-30 flex-shrink-0" name="fb" />
													<span class="font-weight-bold ml-1 mr-1">Share</span>
													<span class="color-dark-30">82</span>
												</span>
											</a>
										</div>
										<div class="column mb-2">
											<a class="share-link color-dark text-decoration-none" href="#">
												<span class="d-flex flex-nowrap">
													<app-svg-icon class="font-size-18 color-dark-30 flex-shrink-0" name="tw" />
													<span class="font-weight-bold ml-1 mr-1">Tweet</span>
													<span class="color-dark-30">33</span>
												</span>
											</a>
										</div>
										<div class="column mb-2">
											<app-dropdown-multi class="dropdown-simple">
												<template v-slot:togglecontent>
													<span class="font-size-14 font-weight-bold color-dark-main">More</span>
													<app-svg-icon class="font-size-8 color-dark-50 ml-2" name="arrow-down" />
												</template>
												<ul class="shop-card-features-list list-unstyled mb-0">
													<li class="mb-2">
														<a class="share-link color-dark text-decoration-none font-size-14" href="#">
															<span class="d-flex flex-nowrap align-items-center">
																<app-svg-icon class="font-size-18 color-dark-30 flex-shrink-0" name="tw" />
																<span class="font-weight-bold ml-1 mr-1">Tweet</span>
																<span class="color-dark-50">82</span>
															</span>
														</a>
													</li>
													<li class="mb-2">
														<a class="share-link color-dark text-decoration-none font-size-14" href="#">
															<span class="d-flex flex-nowrap align-items-center">
																<app-svg-icon class="font-size-18 color-dark-30 flex-shrink-0" name="tw" />
																<span class="font-weight-bold ml-1 mr-1">Tweet</span>
																<span class="color-dark-50">33</span>
															</span>
														</a>
													</li>
													<li class="mb-2">
														<a class="share-link color-dark text-decoration-none font-size-14" href="#">
															<span class="d-flex flex-nowrap align-items-center">
																<app-svg-icon class="font-size-18 color-dark-30 flex-shrink-0" name="tw" />
																<span class="font-weight-bold ml-1 mr-1">Tweet</span>
																<span class="color-dark-50">82</span>
															</span>
														</a>
													</li>
												</ul>
											</app-dropdown-multi>
										</div>
									</div>
								</div>
								<div class="column mb-2">
									<app-dropdown-multi class="dropdown-simple dropdown-simple_center">
										<template v-slot:togglecontent>
											<app-svg-icon class="font-size-20 color-grey svg-icon_reverse_90" name="dots" />
										</template>
										<ul class="shop-card-features-list list-unstyled mb-0">
											<li><a href="#">Редактировать</a></li>
											<li><a href="#">Удалить</a></li>
										</ul>
									</app-dropdown-multi>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mb-4 pb-2">
			<div class="wrap">
				<vue-tabs class="tabs-style">
					<v-tab id="description" title="Описание">
						<div class="row">
							<div class="col-lg-8 ml-auto mr-auto">
								<div class="row">
									<div class="col-8">
										<app-content-toggle>
											<template>
												<div class="mb-4 pb-2">
													<h4>Описание</h4>
												</div>
												<div class="mb-5 color-dark-80">Introduced on September 12, 2017, the iPhone X and the iPhone X Plus represent a "huge step forward for the iPhone," according to Apple CEO Tim Cook. The two devices "improve on everything we love about iPhone" with overhauled internals and a tweaked design, but the changes introduced are not as dramatic as the changes brought to the iPhone X, Apple's new high-end flagship device being sold alongside the iPhone 8 and iPhone 8 Plus.</div>
											</template>
											<template v-slot:collapse>
												<div class="mb-5 color-dark-80">Introduced on September 12, 2017, the iPhone X and the iPhone X Plus represent a "huge step forward for the iPhone," according to Apple CEO Tim Cook. The two devices "improve on everything we love about iPhone" with overhauled internals and a tweaked design, but the changes introduced are not as dramatic as the changes brought to the iPhone X, Apple's new high-end flagship device being sold alongside the iPhone 8 and iPhone 8 Plus.</div>
											</template>
										</app-content-toggle>
									</div>
									<div class="col-4">
										<div class="row row_indents_s pt-5">
											<div class="column mb-3 pb-1">
												<app-tooltip>
													<template v-slot:tooltiphead>
														<div class="circle">
															<app-svg-icon name="eac"/>
														</div>
													</template>
													<template v-slot:tooltippopup><div class="text-nowrap font-size-14 font-weight-bold pt-1 pb-1">Voice Control</div></template>
												</app-tooltip>
											</div>
											<div class="column mb-3 pb-1">
												<app-tooltip>
													<template v-slot:tooltiphead>
														<div class="circle">
															<app-svg-icon name="imprint"/>
														</div>
													</template>
													<template v-slot:tooltippopup><div class="text-nowrap font-size-14 font-weight-bold pt-1 pb-1">Voice Control</div></template>
												</app-tooltip>
											</div>
											<div class="column mb-3 pb-1">
												<app-tooltip>
													<template v-slot:tooltiphead>
														<div class="circle">
															<app-svg-icon name="microphone"/>
														</div>
													</template>
													<template v-slot:tooltippopup><div class="text-nowrap font-size-14 font-weight-bold pt-1 pb-1">Voice Control</div></template>
												</app-tooltip>
											</div>
											<div class="column mb-3 pb-1">
												<app-tooltip>
													<template v-slot:tooltiphead>
														<div class="circle">
															<app-svg-icon name="battary"/>
														</div>
													</template>
													<template v-slot:tooltippopup><div class="text-nowrap font-size-14 font-weight-bold pt-1 pb-1">Voice Control</div></template>
												</app-tooltip>
											</div>
											<div class="column mb-3 pb-1">
												<app-tooltip>
													<template v-slot:tooltiphead>
														<div class="circle">
															<app-svg-icon name="floppy"/>
														</div>
													</template>
													<template v-slot:tooltippopup><div class="text-nowrap font-size-14 font-weight-bold pt-1 pb-1">Voice Control</div></template>
												</app-tooltip>
											</div>
										</div>
									</div>
								</div>
								<div class="pb-3 pt-2">
									<hr class="devider mt-5 mb-4">
								</div>
								<div class="row">
									<div class="col-8">
										<app-content-toggle :btn-wrap-class="'pt-4 mt-2'">
											<template>
												<div class="pb-3">
													<h4>Характеристики</h4>
												</div>
												<div>
													<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
														<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Brand Name</div></div>
														<div class="dotted-txt__dash-wrap column flex-grow-1">
															<div class="dotted-txt__dash">&nbsp;</div>
														</div>
														<div class="dotted-txt__right col-6"><div class="color-dark-80">Apple</div></div>
													</div>
													<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
														<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Model</div></div>
														<div class="dotted-txt__dash-wrap column flex-grow-1">
															<div class="dotted-txt__dash">&nbsp;</div>
														</div>
														<div class="dotted-txt__right col-6"><div class="color-dark-80">iPhone 6s</div></div>
													</div>
													<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
														<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">ROM</div></div>
														<div class="dotted-txt__dash-wrap column flex-grow-1">
															<div class="dotted-txt__dash">&nbsp;</div>
														</div>
														<div class="dotted-txt__right col-6"><div class="color-dark-80">16</div></div>
													</div>
													<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
														<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">CPU</div></div>
														<div class="dotted-txt__dash-wrap column flex-grow-1">
															<div class="dotted-txt__dash">&nbsp;</div>
														</div>
														<div class="dotted-txt__right col-6"><div class="color-dark-80">Dual Core</div></div>
													</div>
													<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
														<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Design</div></div>
														<div class="dotted-txt__dash-wrap column flex-grow-1">
															<div class="dotted-txt__dash">&nbsp;</div>
														</div>
														<div class="dotted-txt__right col-6"><div class="color-dark-80">BarItem</div></div>
													</div>
													<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
														<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Condition</div></div>
														<div class="dotted-txt__dash-wrap column flex-grow-1">
															<div class="dotted-txt__dash">&nbsp;</div>
														</div>
														<div class="dotted-txt__right col-6"><div class="color-dark-80">Used</div></div>
													</div>
													<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
														<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Operation System</div></div>
														<div class="dotted-txt__dash-wrap column flex-grow-1">
															<div class="dotted-txt__dash">&nbsp;</div>
														</div>
														<div class="dotted-txt__right col-6"><div class="color-dark-80">iOS</div></div>
													</div>
													<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
														<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Cellular</div></div>
														<div class="dotted-txt__dash-wrap column flex-grow-1">
															<div class="dotted-txt__dash">&nbsp;</div>
														</div>
														<div class="dotted-txt__right col-6"><div class="color-dark-80">GSM/WCDMA/LTE</div></div>
													</div>
													<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
														<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Feature</div></div>
														<div class="dotted-txt__dash-wrap column flex-grow-1">
															<div class="dotted-txt__dash">&nbsp;</div>
														</div>
														<div class="dotted-txt__right col-6"><div class="color-dark-80">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, consequuntur.</div></div>
													</div>
													<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
														<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Display Size</div></div>
														<div class="dotted-txt__dash-wrap column flex-grow-1">
															<div class="dotted-txt__dash">&nbsp;</div>
														</div>
														<div class="dotted-txt__right col-6"><div class="color-dark-80">4.7 Display</div></div>
													</div>
													<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
														<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Color</div></div>
														<div class="dotted-txt__dash-wrap column flex-grow-1">
															<div class="dotted-txt__dash">&nbsp;</div>
														</div>
														<div class="dotted-txt__right col-6"><div class="color-dark-80">Gray</div></div>
													</div>
												</div>
											</template>
											<template v-slot:collapse>
												<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
													<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Brand Name</div></div>
													<div class="dotted-txt__dash-wrap column flex-grow-1">
														<div class="dotted-txt__dash">&nbsp;</div>
													</div>
													<div class="dotted-txt__right col-6"><div class="color-dark-80">Apple</div></div>
												</div>
												<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
													<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Model</div></div>
													<div class="dotted-txt__dash-wrap column flex-grow-1">
														<div class="dotted-txt__dash">&nbsp;</div>
													</div>
													<div class="dotted-txt__right col-6"><div class="color-dark-80">iPhone 6s</div></div>
												</div>
												<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
													<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">ROM</div></div>
													<div class="dotted-txt__dash-wrap column flex-grow-1">
														<div class="dotted-txt__dash">&nbsp;</div>
													</div>
													<div class="dotted-txt__right col-6"><div class="color-dark-80">16</div></div>
												</div>
												<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
													<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">CPU</div></div>
													<div class="dotted-txt__dash-wrap column flex-grow-1">
														<div class="dotted-txt__dash">&nbsp;</div>
													</div>
													<div class="dotted-txt__right col-6"><div class="color-dark-80">Dual Core</div></div>
												</div>
												<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
													<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Brand Name</div></div>
													<div class="dotted-txt__dash-wrap column flex-grow-1">
														<div class="dotted-txt__dash">&nbsp;</div>
													</div>
													<div class="dotted-txt__right col-6"><div class="color-dark-80">Apple</div></div>
												</div>
												<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
													<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Model</div></div>
													<div class="dotted-txt__dash-wrap column flex-grow-1">
														<div class="dotted-txt__dash">&nbsp;</div>
													</div>
													<div class="dotted-txt__right col-6"><div class="color-dark-80">iPhone 6s</div></div>
												</div>
												<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
													<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">ROM</div></div>
													<div class="dotted-txt__dash-wrap column flex-grow-1">
														<div class="dotted-txt__dash">&nbsp;</div>
													</div>
													<div class="dotted-txt__right col-6"><div class="color-dark-80">16</div></div>
												</div>
												<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
													<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">CPU</div></div>
													<div class="dotted-txt__dash-wrap column flex-grow-1">
														<div class="dotted-txt__dash">&nbsp;</div>
													</div>
													<div class="dotted-txt__right col-6"><div class="color-dark-80">Dual Core</div></div>
												</div>
											</template>
										</app-content-toggle>
									</div>
									<div class="col-4">
										<div class="pb-3">
											<h4>Инструкции</h4>
										</div>
										<div class="pb-1 mb-4">
											<div class="color-dark-80 mb-1">Cushion cover</div>
											<div class="color-dark-80 mb-1">Do not wash</div>
											<div class="color-dark-80 mb-1">Do not bleach</div>
											<div class="color-dark-80 mb-1">Do not tumble dry</div>
										</div>
										<a class="text-decoration-none color-dark-80 icon-zoom-hover d-block mb-3 pb-1" href="#">
											<span class="d-flex flex-nowrap align-items-center">
												<app-svg-icon class="font-size-30 color-grey flex-shrink-0" name="note"/>
												<span class="ml-2 line-height-1">
													<span class="color-dark-80">The iPhone 8 specification</span>
													<br>
													<span class="color-dark-50">PDF, 12 Mb</span>
												</span>
											</span>
										</a>
										<a class="text-decoration-none color-dark-80 icon-zoom-hover d-block mb-3 pb-1" href="#">
											<span class="d-flex flex-nowrap align-items-center">
												<app-svg-icon class="font-size-30 color-grey flex-shrink-0" name="note"/>
												<span class="ml-2 line-height-1">
													<span class="color-dark-80">The iPhone 8 specification</span>
													<br>
													<span class="color-dark-50">PDF, 4 Mb </span>
												</span>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</v-tab>
					<v-tab id="reviews" title="Отзывы (754)">
						<div class="row">
							<div class="col-lg-8 ml-auto mr-auto">
								<div class="row mb-5">
									<div class="col-xl-6">
										<div class="rate-line row row_indents_m flex-nowrap align-items-center mb-2">
											<div class="column">
												<div class="rate-line-rate rate rate_max">5.0</div>
											</div>
											<div class="column flex-grow-1">
												<div class="line"><div class="line-progress" style="width: 9%;">&nbsp;</div></div>
											</div>
											<div class="column">
												<div class="rate-line-txt color-dark-80">9%</div>
											</div>
										</div>
										<div class="rate-line row row_indents_m flex-nowrap align-items-center mb-2">
											<div class="column">
												<div class="rate-line-rate rate rate_good">4.0</div>
											</div>
											<div class="column flex-grow-1">
												<div class="line"><div class="line-progress" style="width: 70%;">&nbsp;</div></div>
											</div>
											<div class="column">
												<div class="rate-line-txt color-dark-80">70%</div>
											</div>
										</div>
										<div class="rate-line row row_indents_m flex-nowrap align-items-center mb-2">
											<div class="column">
												<div class="rate-line-rate rate rate_allright">3.0</div>
											</div>
											<div class="column flex-grow-1">
												<div class="line"><div class="line-progress" style="width: 15%;">&nbsp;</div></div>
											</div>
											<div class="column">
												<div class="rate-line-txt color-dark-80">15%</div>
											</div>
										</div>
										<div class="rate-line row row_indents_m flex-nowrap align-items-center mb-2">
											<div class="column">
												<div class="rate-line-rate rate rate_not-good">2.0</div>
											</div>
											<div class="column flex-grow-1">
												<div class="line"><div class="line-progress" style="width: 2%;">&nbsp;</div></div>
											</div>
											<div class="column">
												<div class="rate-line-txt color-dark-80">2%</div>
											</div>
										</div>
										<div class="rate-line row row_indents_m flex-nowrap align-items-center mb-2">
											<div class="column">
												<div class="rate-line-rate rate rate_bad">1</div>
											</div>
											<div class="column flex-grow-1">
												<div class="line"><div class="line-progress" style="width: 4%;">&nbsp;</div></div>
											</div>
											<div class="column">
												<div class="rate-line-txt color-dark-80">4%</div>
											</div>
										</div>
									</div>
									<div class="col-xl-6">
										<div class="rate-line-rate rate rate_max">4.8</div>
										<div class="font-size-18 color-dark-80 mt-2">Средний рейтинг : 4.8 из 5 (40 оценок)</div>
									</div>
								</div>
							</div>
							<div class="col-xl-11 ml-auto mr-auto">
								<div class="review pt-4 pb-4 pl-3 pr-5">
									<div class="pl-1 pt-3">
										<div class="row row_indents_m flex-nowrap mb-4">
											<div class="column">
												<div class="review-col text-right color-dark-50">
													<div class="rate rate_max">5.0</div>
												</div>
											</div>
											<div class="column flex-grow-1">
												<div class="color-dark mb-1">This is a great phone and is worth the investment</div>
												<div class="color-dark-50">By <a class="color-dark" href="#">Doug Horneron</a> Sept 27, 2017</div>
											</div>
											<div class="column">
												<div class="arrows rating-button">
													<button type="button" class="arrows__arrow arrows__arrow_prev">
														<app-svg-icon name="like" />
														<span class="ml-1 text-small font-weight-bold">10</span>
													</button>
													<button type="button" class="arrows__arrow arrows__arrow_next">
														<app-svg-icon name="like" />
														<span class="ml-1 text-small font-weight-bold">6</span>
													</button>
												</div>
											</div>
										</div>
										<div class="row row_indents_m flex-nowrap mb-4">
											<div class="column">
												<div class="review-col text-right color-dark-50">Advantages</div>
											</div>
											<div class="column flex-grow-1">
												<div class="color-dark-80">Display, camera, speaker</div>
											</div>
										</div>
										<div class="row row_indents_m flex-nowrap mb-4">
											<div class="column">
												<div class="review-col text-right color-dark-50">Disadvantages</div>
											</div>
											<div class="column flex-grow-1">
												<div class="color-dark-80">Battery</div>
											</div>
										</div>
										<div class="row row_indents_m flex-nowrap mb-4">
											<div class="column">
												<div class="review-col text-right color-dark-50">Review</div>
											</div>
											<div class="column flex-grow-1">
												<div class="color-dark-80">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque vero quas debitis cumque repudiandae facilis illo maiores quam ad consequuntur explicabo, libero non commodi voluptatum. Vero sequi quae repellendus dolorem, sit inventore ipsa facere blanditiis ipsum qui fuga, ea illo.</div>
											</div>
										</div>
										<div class="row row_indents_m flex-nowrap mb-4">
											<div class="column">
												<div class="review-col text-right color-dark-50">&nbsp;</div>
											</div>
											<div class="column flex-grow-1">
												<div class="uploaded-review-imgs row row_indents_s">
													<div class="column mb-2">
														<div class="upload-preview position-relative">
															<img class="preview" src="../assets/images/preview-img1.png">
														</div>
													</div>
													<div class="column mb-2">
														<div class="upload-preview position-relative">
															<img class="preview" src="../assets/images/preview-img2.png">
														</div>
													</div>
													<div class="column mb-2">
														<div class="upload-preview position-relative">
															<img class="preview" src="../assets/images/preview-img3.png">
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row row_indents_m flex-nowrap mb-4">
											<div class="column">
												<div class="review-col text-right color-dark-50">&nbsp;</div>
											</div>
											<div class="column flex-grow-1">
												<div class="row row_indents_m">
													<div class="column">
														<a class="color-blue font-weight-bold" href="#">23 комментария</a>
													</div>
													<div class="column">
														<a class="color-grey-dark font-weight-bold" href="#">Ответить</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="review pt-4 pb-4 pl-3 pr-5">
									<div class="pl-1 pt-3">
										<div class="row row_indents_m flex-nowrap mb-4">
											<div class="column">
												<div class="review-col text-right color-dark-50">
													<div class="rate rate_allright">3.0</div>
												</div>
											</div>
											<div class="column flex-grow-1">
												<div class="color-dark mb-1">This is a great phone and is worth the investment</div>
												<div class="color-dark-50">By <a class="color-dark" href="#">Doug Horneron</a> Sept 27, 2017</div>
											</div>
											<div class="column">
												<div class="arrows rating-button">
													<button type="button" class="arrows__arrow arrows__arrow_prev">
														<app-svg-icon name="like" />
														<span class="ml-1 text-small font-weight-bold">4</span>
													</button>
													<button type="button" class="arrows__arrow arrows__arrow_next">
														<app-svg-icon name="like" />
														<span class="ml-1 text-small font-weight-bold">0</span>
													</button>
												</div>
											</div>
										</div>
										<div class="row row_indents_m flex-nowrap mb-4">
											<div class="column">
												<div class="review-col text-right color-dark-50">Advantages</div>
											</div>
											<div class="column flex-grow-1">
												<div class="color-dark-80">Display, camera, speaker</div>
											</div>
										</div>
										<div class="row row_indents_m flex-nowrap mb-4">
											<div class="column">
												<div class="review-col text-right color-dark-50">Disadvantages</div>
											</div>
											<div class="column flex-grow-1">
												<div class="color-dark-80">Battery</div>
											</div>
										</div>
										<div class="row row_indents_m flex-nowrap mb-4">
											<div class="column">
												<div class="review-col text-right color-dark-50">Review</div>
											</div>
											<div class="column flex-grow-1">
												<div class="color-dark-80">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque vero quas debitis cumque repudiandae facilis illo maiores quam ad consequuntur explicabo, libero non commodi voluptatum. Vero sequi quae repellendus dolorem, sit inventore ipsa facere blanditiis ipsum qui fuga, ea illo.</div>
											</div>
										</div>
										<div class="row row_indents_m flex-nowrap mb-4">
											<div class="column">
												<div class="review-col text-right color-dark-50">&nbsp;</div>
											</div>
											<div class="column flex-grow-1">
												<div class="uploaded-review-imgs row row_indents_s">
													<div class="column mb-2">
														<div class="upload-preview position-relative">
															<img class="preview" src="../assets/images/preview-img1.png">
														</div>
													</div>
													<div class="column mb-2">
														<div class="upload-preview position-relative">
															<img class="preview" src="../assets/images/preview-img2.png">
														</div>
													</div>
													<div class="column mb-2">
														<div class="upload-preview position-relative">
															<img class="preview" src="../assets/images/preview-img3.png">
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row row_indents_m flex-nowrap mb-4">
											<div class="column">
												<div class="review-col text-right color-dark-50">&nbsp;</div>
											</div>
											<div class="column flex-grow-1">
												<div class="row row_indents_m">
													<div class="column">
														<a class="color-blue font-weight-bold" href="#">23 комментария</a>
													</div>
													<div class="column">
														<a class="color-grey-dark font-weight-bold" href="#">Ответить</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="p-5">
									<div class="row">
										<div class="col-10 ml-auto mr-auto">
											<a class="button-large" href="#">
												<app-svg-icon name="load-more" />
												<span class="ml-2">Загрузить еще</span>
											</a>
										</div>
									</div>
								</div>
								<div class="wrap wrap_background_dark_4 p-4">
									<div class="pt-3 pb-3 pl-2 pr-2">
										<form>
											<div class="row mb-4 pb-1">
												<div class="col-xl-6 offset-xl-2">
													<h4>Отзыв для Apple iPhone X, 256 Gb, Gray</h4>
												</div>
											</div>
											<div class="row row_indents_m align-items-start mb-3 pb-1">
												<div class="col-xl-2">
													<div class="color-dark-80 text-right">Рейтинг</div>
												</div>
												<div class="col-xl-6">
													<div class="row row_indents_xs flex-nowrap d-inline-flex">
														<div class="column"><app-svg-icon name="star2" class="color-orange" /></div>
														<div class="column"><app-svg-icon name="star2" class="color-orange" /></div>
														<div class="column"><app-svg-icon name="star2" class="color-orange" /></div>
														<div class="column"><app-svg-icon name="star2" class="color-dark-30" /></div>
														<div class="column"><app-svg-icon name="star2" class="color-dark-30" /></div>
													</div>
													<span class="text-small color-dark-main font-weight-bold ml-2">3</span>
												</div>
											</div>
											<div class="row row_indents_m align-items-start mb-3 pb-1">
												<div class="col-xl-2 text-right pt-xl-2">
													<label class="color-dark-80 font-weight-normal m-0" for="formAdvantages">Преимущества</label>
												</div>
												<div class="col-xl-6">
													<input class="form-control" id="formAdvantages" type="text">
												</div>
											</div>
											<div class="row row_indents_m align-items-start mb-3 pb-1">
												<div class="col-xl-2 text-right pt-xl-2">
													<label class="color-dark-80 font-weight-normal m-0" for="formLimitations">Недостатки</label>
												</div>
												<div class="col-xl-6">
													<input class="form-control" id="formLimitations" type="text">
												</div>
											</div>
											<div class="row row_indents_m align-items-start mb-3 pb-1">
												<div class="col-xl-2 text-right pt-xl-2">
													<label class="color-dark-80 font-weight-normal m-0" for="formReview">Отзыв</label>
												</div>
												<div class="col-xl-6">
													<textarea class="form-control" id="formReview" type="text" rows="5"></textarea>
												</div>
												<div class="col-xl"><div class="pr-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad laboriosam enim sunt eaque velit ipsam mollitia exercitationem, dignissimos earum aliquam!</div></div>
											</div>
											<div class="row row_indents_m align-items-start mb-3 pb-1">
												<div class="col-xl-2 text-right pt-xl-2">
													<label class="color-dark-80 font-weight-normal m-0" for="formPhoto">Фото</label>
												</div>
												<div class="col-xl-6">
													<app-file />
												</div>
											</div>
											<div class="row row_indents_m align-items-start mb-3 pb-1 mt-4">
												<div class="col-xl-6 offset-xl-2">
													<div class="row row_indents_m align-items-center">
														<div class="column mb-3">
															<button class="button button-blue button-clr" type="button">Отправить</button>
														</div>
														<div class="column mb-3">
															<a class="font-weight-bold color-dark-50" href="#">Отмена</a>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</v-tab>
					<v-tab id="delivery" title="Доставка & Оплата">
						<div class="row">
							<div class="col-lg-8 ml-auto mr-auto">
								<div class="mb-5">
									<h4>Информация о доставке</h4>
									<div class="color-dark-80">Доступен самовывоз по адресу  Мукимий 25, г Ташкент</div>
								</div>
								<div class="table-responsive mb-5">
									<table class="table table-regular color-dark-80">
										<thead>
											<tr>
												<th>Сервисы - доставки</th>
												<th>Стоимость</th>
												<th>Время доставки</th>
												<th>Трэкинг</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<div class="row row_indents_s align-items-center">
														<div class="column">
															<img src="../assets/images/deliveryLogo1.png" alt="">
														</div>
														<div class="column">
															<span>DHL</span>
														</div>
													</div>
												</td>
												<td>
													<div class="row row_indents_s align-items-center">
														<div class="column">
															<del class="font-size-8">$15</del>
														</div>
														<div class="column">
															<div class="color-dark-main font-weight-bold">(г. Ташкент)</div>
														</div>
													</div>
												</td>
												<td>14–17 days</td>
												<td>Доступно</td>
											</tr>
											<tr>
												<td>
													<div class="row row_indents_s align-items-center">
														<div class="column">
															<img src="../assets/images/deliveryLogo2.png" alt="">
														</div>
														<div class="column">
															<span>FedEx</span>
														</div>
													</div>
												</td>
												<td>
													<div class="row row_indents_s align-items-center">
														<div class="column">
															<del class="font-size-8">$125</del>
														</div>
														<div class="column">
															<div class="color-dark-main font-weight-bold">$75</div>
														</div>
													</div>
												</td>
												<td>14–17 days</td>
												<td>Доступно</td>
											</tr>
											<tr>
												<td>
													<div class="row row_indents_s align-items-center">
														<div class="column">
															<img src="../assets/images/deliveryLogo3.png" alt="">
														</div>
														<div class="column">
															<span>Palletways</span>
														</div>
													</div>
												</td>
												<td>
													<div class="color-dark-main font-weight-bold">$65</div>
												</td>
												<td>10–18 days</td>
												<td>Не доступен</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="mb-5">
									<h4>Информация об упаковке</h4>
									<div class="row">
										<div class="col-lg-9">
											<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
												<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Unit Type</div></div>
												<div class="dotted-txt__dash-wrap column flex-grow-1">
													<div class="dotted-txt__dash">&nbsp;</div>
												</div>
												<div class="dotted-txt__right col-7"><div class="color-dark-80">Пакет</div></div>
											</div>
											<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
												<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Package Size</div></div>
												<div class="dotted-txt__dash-wrap column flex-grow-1">
													<div class="dotted-txt__dash">&nbsp;</div>
												</div>
												<div class="dotted-txt__right col-7"><div class="color-dark-80">20cm x 18cm x 15cm (7.87in x 7.09in x 5.91in)</div></div>
											</div>
											<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
												<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Package Weight</div></div>
												<div class="dotted-txt__dash-wrap column flex-grow-1">
													<div class="dotted-txt__dash">&nbsp;</div>
												</div>
												<div class="dotted-txt__right col-7"><div class="color-dark-80">0.5kg (1.10lb.)</div></div>
											</div>
										</div>
									</div>
								</div>
								<div>
									<h4>Форма оплаты</h4>
									<div class="color-dark-80 mb-4">Мы поддерживаем любую форму оплаты</div>
									<div class="row align-items-center">
										<div class="column">
											<img src="../assets/images/paymentService1.png" alt="">
										</div>
										<div class="column">
											<img src="../assets/images/paymentService2.png" alt="">
										</div>
										<div class="column">
											<img src="../assets/images/paymentService3.png" alt="">
										</div>
										<div class="column">
											<img src="../assets/images/paymentService4.png" alt="">
										</div>
										<div class="column">
											<img src="../assets/images/paymentService5.png" alt="">
										</div>
										<div class="column">
											<img src="../assets/images/paymentService6.png" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</v-tab>
					<v-tab id="questions" title="Вопросы о товаре">
						<div class="row">
							<div class="col-lg-8 ml-auto mr-auto">
								<div class="row">
									<div class="col-lg-6">
										<h4>Есть вопрос о товаре?</h4>
										<div class="mt-3 pt-1">
											<form>
												<div class="form-group mb-3 pb-1">
													<input class="form-control" type="text" placeholder="Задайте свой вопрос">
												</div>
												<div class="form-group">
													<button class="button button-blue button-clr">Спросить</button>
												</div>
											</form>
										</div>
									</div>
								</div>
								<hr class="devider mt-5 mb-5">
								<div class="mb-4 pb-3">
									<h4>7 вопросов</h4>
								</div>
								<div class="user user_small mb-4 pb-3">
									<div class="row row_indents_m">
										<div class="column">
											<div class="user-avatar">
												<img src="../assets/images/user-avatar-small.png" alt="">
											</div>
										</div>
										<div class="column">
											<div class="row row_indents_m align-items-center">
												<div class="column">
													<a class="color-grey-dark" href="#">Väinö ylitalo</a>
												</div>
												<div class="column">
													<span class="color-dark-50 text-small">Минуту назад</span>
												</div>
											</div>
											<div class="color-dark-main mt-1 mb-1">Водонепроницаемый или защищенный от влаги?</div>
											<div class="row row_indents_m align-items-center list-unstyled text-small mb-0">
												<div class="column"><div class="color-grey-dark">Нет ответов</div></div>
												<div class="column">
													<a href="#">Ответить</a>
												</div>
												<div class="column">
													<a class="d-flex flex-nowrap color-grey-dark text-decoration-none" href="#">
														<app-svg-icon class="flex-shrink-0 font-size-14" name="like"/>
														<span class="ml-2">1</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="user user_small mb-4 pb-3">
									<div class="row row_indents_m">
										<div class="column">
											<div class="user-avatar">
												<img src="../assets/images/user-avatar-small.png" alt="">
											</div>
										</div>
										<div class="column">
											<div class="row row_indents_m align-items-center">
												<div class="column">
													<a class="color-grey-dark" href="#">Javier vargas</a>
												</div>
												<div class="column">
													<span class="color-dark-50 text-small">Вчера</span>
												</div>
											</div>
											<div class="color-dark-main mt-1 mb-1">Сколько кг удара выдерживает?</div>
											<div class="row row_indents_m align-items-center list-unstyled text-small mb-0">
												<div class="column">
													<a href="#">1 ответ</a>
												</div>
												<div class="column">
													<a href="#">Ответить</a>
												</div>
												<div class="column">
													<a class="d-flex flex-nowrap color-grey-dark text-decoration-none" href="#">
														<app-svg-icon class="flex-shrink-0 font-size-14" name="like"/>
														<span class="ml-2">1</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</v-tab>
				</vue-tabs>
			</div>
		</div>
	</div>
</template>

<script>
	import SvgIcon from '../components/SvgIcon.vue'
	import phoneToggle from '../components/phoneToggle.vue'
	import contentToggle from '../components/contentToggle.vue'
	import Checkbox from '../components/Checkbox.vue'
	import {VueTabs, VTab} from 'vue-nav-tabs/dist/vue-tabs.js'
	import DropdownMulti from '../components/dropdownMulti.vue'
	import File from '../components/uploadFiles.vue'
	import tooltip from '../components/tooltip.vue'
	import syncedVertCarousel from '../components/synced-vertical-carousel.vue'
	export default {
		name: 'good-page',
		data () {
			return {
				syncedCarouselData: [
					{
						thumbs: require('../assets/images/carousel-thumb1.png'),
						carouselImg: require('../assets/images/carousel-img.png')
					},
					{
						thumbs: require('../assets/images/carousel-thumb2.png'),
						carouselImg: require('../assets/images/carousel-img.png')
					},
					{
						thumbs: require('../assets/images/carousel-thumb3.png'),
						carouselImg: require('../assets/images/carousel-img.png')
						// carouselImg: require('../assets/images/carousel-thumb3.png')
					},
					{
						thumbs: require('../assets/images/carousel-thumb4.png'),
						carouselImg: require('../assets/images/carousel-img.png')
						// carouselImg: require('../assets/images/carousel-thumb4.png')
					},
					{
						thumbs: require('../assets/images/carousel-thumb1.png'),
						carouselImg: require('../assets/images/carousel-img.png')
						// carouselImg: require('../assets/images/carousel-thumb1.png')
					},
					{
						thumbs: require('../assets/images/carousel-thumb2.png'),
						carouselImg: require('../assets/images/carousel-img.png')
						// carouselImg: require('../assets/images/carousel-thumb2.png')
					},
					{
						thumbs: require('../assets/images/carousel-thumb1.png'),
						carouselImg: require('../assets/images/carousel-img.png')
						// carouselImg: require('../assets/images/carousel-thumb1.png')
					},
					{
						thumbs: require('../assets/images/carousel-thumb2.png'),
						carouselImg: require('../assets/images/carousel-img.png')
						// carouselImg: require('../assets/images/carousel-thumb2.png')
					}
				]
			}
		},
		components: {
			appDropdownMulti: DropdownMulti,
			appSvgIcon: SvgIcon,
			appCheckbox: Checkbox,
			VueTabs,
			VTab,
			appContentToggle: contentToggle,
			appFile: File,
			appTooltip: tooltip,
			appPhoneToggle: phoneToggle,
			appSyncedVertCarousel: syncedVertCarousel
		}
	}
</script>

<style lang="scss" scoped>
</style>