<template>
	<div>
		<div class="section pt-4 pb-4">
			<div class="container-fluid">
				<div class="wrap p-4">
					<div class="pt-5 mt-5 mb-5 pb-5">
						<div class="text-center mb-5 pb-5">
							<img src="../assets/images/good-added.svg" alt="">
						</div>
						<div class="text-center color-gray-2">
							<h2>Вы добавили товар!</h2>
							<div class="mb-5">Модерация не займет много времени</div>
							<div class="mb-3">
								<router-link class="button button-blue" :to="{name: 'shop-inside'}">В магазин</router-link>
							</div>
							<div>
								<router-link class="color-gray-2" :to="{name: 'shop-create-good'}">Добавить еще</router-link>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	export default {
		name: 'good-added',

		data () {
			return {

			}
		}
	}
</script>

<style lang="scss" scoped>
</style>