<template>
	<div>
		<div class="container-fluid">
			<app-svg-icon name="menu" />
		</div>
	</div>
</template>
<script>
	import SvgIcon from '../components/SvgIcon.vue'
	export default {
		components: {
			appSvgIcon: SvgIcon
		}
	}
</script>
<style></style>