<template>
	<div>
		<template v-if="this.$router.currentRoute.name == 'home'">
			<app-section-products class="section-products" v-for="(section, index) in productSections" :key="index" :productObject="section" />
			<app-section-advantages :advantagesObject="advantagesList"/>
			<app-section-products :productObject="watchedList" class="section-watched" @goToNextSlide="nextSlide" @goToPrevSlide="prevSlide">
				<app-carousel :perPage="4" ref="watchedCarousel" :perPageCustom="[[320, 3], [992, 4]]" :scrollPerPage="false" :mouseDrag="false" :paginationEnabled="false" class="pt-4 pb-4">
					<app-slide v-for="(card, index) in watchedList.items" :key="index">
						<app-card-watched :watchedObj="card"></app-card-watched>
					</app-slide>
				</app-carousel>
			</app-section-products>
			<app-subscribe :subscribeObj="subscribe" />
		</template>
		<router-view />
	</div>
</template>


<script>
	// import Categorys from '../components/Categorys.vue'
	import SectionProducts from '../components/SectionProducts.vue'
	import SectionAdvantages from '../components/SectionAdvantages.vue'
	import CardWatched from '../components/CardWatched.vue'
	import Subscribe from '../components/Subscribe.vue'
	import { Carousel, Slide} from 'vue-carousel';
	export default {
		name: 'home',
		data () {
			return {
				productSections: [
					{
						title: 'Самое интересное',
						products: [
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img1.png'),
								price: '10 490 990 000',
								currency: 'UZS',
								title: 'Подставка для мошини силикон самоклека тарпедка',
								category: 'телефоны и аксессуары'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img2.png'),
								price: '2 000 000',
								currency: 'UZS',
								title: 'Сумка кожанная BLACK QUAIL',
								category: 'Сумки'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img3.png'),
								price: '500 000',
								currency: 'UZS',
								title: 'Chocolate Slim (Шоколад Слим) . Худеть вкусно',
								category: 'Спортивные добавки'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img4.png'),
								price: '300 000',
								currency: 'UZS',
								title: 'Наручные Smart часы кастомные ремешки',
								category: 'телефоны и аксессуары'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img5.png'),
								price: '105 000 000',
								currency: 'UZS',
								title: 'Beats by Dre Solo2 Bluetooth Беспроводные наушники',
								category: 'телефоны и аксессуары'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img4.png'),
								price: '300 000',
								currency: 'UZS',
								title: 'Наручные Smart часы кастомные ремешки',
								category: 'телефоны и аксессуары'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img5.png'),
								price: '105 000 000',
								currency: 'UZS',
								title: 'Beats by Dre Solo2 Bluetooth Беспроводные наушники',
								category: 'телефоны и аксессуары'
							},
						]
					},
					{
						title: 'Самое новое',
						products: [
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img2.png'),
								price: '2 000 000',
								currency: 'UZS',
								title: 'Сумка кожанная BLACK QUAIL',
								category: 'Сумки'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img4.png'),
								price: '300 000',
								currency: 'UZS',
								title: 'Наручные Smart часы кастомные ремешки',
								category: 'телефоны и аксессуары'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img1.png'),
								price: '10 490 990 000',
								currency: 'UZS',
								title: 'Подставка для мошини силикон самоклека тарпедка',
								category: 'телефоны и аксессуары'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img3.png'),
								price: '500 000',
								currency: 'UZS',
								title: 'Chocolate Slim (Шоколад Слим) . Худеть вкусно',
								category: 'Спортивные добавки'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img5.png'),
								price: '105 000 000',
								currency: 'UZS',
								title: 'Beats by Dre Solo2 Bluetooth Беспроводные наушники',
								category: 'телефоны и аксессуары'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img2.png'),
								price: '2 000 000',
								currency: 'UZS',
								title: 'Сумка кожанная BLACK QUAIL',
								category: 'Сумки'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img4.png'),
								price: '300 000',
								currency: 'UZS',
								title: 'Наручные Smart часы кастомные ремешки',
								category: 'телефоны и аксессуары'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img1.png'),
								price: '10 490 990 000',
								currency: 'UZS',
								title: 'Подставка для мошини силикон самоклека тарпедка',
								category: 'телефоны и аксессуары'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img3.png'),
								price: '500 000',
								currency: 'UZS',
								title: 'Chocolate Slim (Шоколад Слим) . Худеть вкусно',
								category: 'Спортивные добавки'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img5.png'),
								price: '105 000 000',
								currency: 'UZS',
								title: 'Beats by Dre Solo2 Bluetooth Беспроводные наушники',
								category: 'телефоны и аксессуары'
							},
						]
					},
					{
						title: 'Лучшее для тебя',
						products: [
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img5.png'),
								price: '105 000 000',
								currency: 'UZS',
								title: 'Beats by Dre Solo2 Bluetooth Беспроводные наушники',
								category: 'телефоны и аксессуары'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img1.png'),
								price: '10 490 990 000',
								currency: 'UZS',
								title: 'Подставка для мошини силикон самоклека тарпедка',
								category: 'телефоны и аксессуары'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img5.png'),
								price: '105 000 000',
								currency: 'UZS',
								title: 'Beats by Dre Solo2 Bluetooth Беспроводные наушники',
								category: 'телефоны и аксессуары'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img1.png'),
								price: '10 490 990 000',
								currency: 'UZS',
								title: 'Подставка для мошини силикон самоклека тарпедка',
								category: 'телефоны и аксессуары'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img4.png'),
								price: '300 000',
								currency: 'UZS',
								title: 'Наручные Smart часы кастомные ремешки',
								category: 'телефоны и аксессуары'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img3.png'),
								price: '500 000',
								currency: 'UZS',
								title: 'Chocolate Slim (Шоколад Слим) . Худеть вкусно',
								category: 'Спортивные добавки'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img2.png'),
								price: '2 000 000',
								currency: 'UZS',
								title: 'Сумка кожанная BLACK QUAIL',
								category: 'Сумки'
							},
						]
					},
					{
						title: 'Магазины',
						products: [
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img4.png'),
								price: '300 000',
								currency: 'UZS',
								title: 'Наручные Smart часы кастомные ремешки',
								category: 'телефоны и аксессуары'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img2.png'),
								price: '2 000 000',
								currency: 'UZS',
								title: 'Сумка кожанная BLACK QUAIL',
								category: 'Сумки'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img3.png'),
								price: '500 000',
								currency: 'UZS',
								title: 'Chocolate Slim (Шоколад Слим) . Худеть вкусно',
								category: 'Спортивные добавки'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img5.png'),
								price: '105 000 000',
								currency: 'UZS',
								title: 'Beats by Dre Solo2 Bluetooth Беспроводные наушники',
								category: 'телефоны и аксессуары'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img1.png'),
								price: '10 490 990 000',
								currency: 'UZS',
								title: 'Подставка для мошини силикон самоклека тарпедка',
								category: 'телефоны и аксессуары'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img3.png'),
								price: '500 000',
								currency: 'UZS',
								title: 'Chocolate Slim (Шоколад Слим) . Худеть вкусно',
								category: 'Спортивные добавки'
							},
						]
					}
				],
				advantagesList: [
					{
						icon: 'pocket',
						text: 'Лёгкая система оплаты'
					},
					{
						icon: 'clock',
						text: '24 часовая поддержка'
					},
					{
						icon: 'compas',
						text: 'персональная страница магазинов'
					},
					{
						icon: 'star',
						text: 'проверка продавцов'
					}
				],
				subscribe: {
					backgroundImg: require('@/assets/images/subscribe-bg.jpg'),
					title: 'Узнавай обо всем первым!',
					text: 'Подпишись на наши новости и мы дадим тебе знать о всех скидках и акциях моментально!'
				},
				watchedList: {
					title: 'Вы смотрели',
					index: 0,
					items: [
						{
							cardImg: require('@/assets/images/good1.png'),
							cardName: 'Beats Solo2 Wireless On-Ear Headphone',
							cardPrice: '119',
							cardCurrency: '$',
							url: '#'
						},
						{
							cardImg: require('@/assets/images/good2.png'),
							cardName: 'Samsung Galaxy S8+ 64Gb Midnight Black',
							cardPrice: '889',
							cardCurrency: '$',
							url: '#'
						},
						{
							cardImg: require('@/assets/images/good3.png'),
							cardName: 'Sony Alpha A6000 Kit 16-50/55-210 Silver',
							cardPrice: '359',
							cardCurrency: '$',
							url: '#'
						},
						{
							cardImg: require('@/assets/images/good4.png'),
							cardName: 'Apple iPhone X 64GB Space Gray',
							cardPrice: '999',
							cardCurrency: '$',
							url: '#'
						},
						{
							cardImg: require('@/assets/images/good3.png'),
							cardName: 'Sony Alpha A6000 Kit 16-50/55-210 Silver',
							cardPrice: '359',
							cardCurrency: '$',
							url: '#'
						},
						{
							cardImg: require('@/assets/images/good4.png'),
							cardName: 'Apple iPhone X 64GB Space Gray',
							cardPrice: '999',
							cardCurrency: '$',
							url: '#'
						}
					]
				}
			}
		},
		methods: {
			nextSlide() {
				this.$refs.watchedCarousel.goToPage(this.$refs.watchedCarousel.getNextPage());
			},
			prevSlide() {
				this.$refs.watchedCarousel.goToPage(this.$refs.watchedCarousel.getPreviousPage());
			}
		},
		components: {
			// appCategorys: Categorys,
			appSectionProducts: SectionProducts,
			appSectionAdvantages: SectionAdvantages,
			appCardWatched: CardWatched,
			appSubscribe: Subscribe,
			appCarousel: Carousel,
			appSlide: Slide
		}
	}
</script>
