<template>
	<div>
		<div class="mb-4 pb-2">
			<div class="wrap">
				<div class="row no-gutters">
					<div class="col-6 d-flex flex-column">
						<app-synced-vert-carousel :data-carousel="syncedCarouselData" :group-name="'goodCarousel'" />
					</div>
					<div class="col-6 d-flex flex-column">
						<div class="pl-5 pr-5 pt-4 pb-3 d-flex flex-column flex-grow-1">
							<a class="add-preview-favour add-preview-favour_position_new active" href="#">
								<app-svg-icon name="heart-fill"/>
							</a>
							<div class="color-blue font-weight-bold text-uppercase mb-3 mt-3">Аукционы</div>
							<h3 class="mb-3">Антикварные часы Patek Phillipe 1699 года</h3>
							<div class="row row_indents_m pb-2">
								<div class="column color-dark-80 mb-2">Cтартовая цена:</div>
								<div class="column color-dark font-weight-bold mb-2 font-size-16">880 890 000 <span class="font-weight-normal text-small">UZS</span></div>
							</div>
							<div class="row row_indents_m pb-2">
								<div class="column color-dark-80 mb-2">Цена “Без торга”:</div>
								<div class="column color-dark font-weight-bold mb-2 font-size-16">880 800 00 090 000 <span class="font-weight-normal text-small">UZS</span></div>
							</div>
							<div class="d-flex flex-nowrap align-items-center color-blue">
								<app-svg-icon class="flex-shrink-0" name="time" />
								<span class="ml-2 text-small">23.04.19 - 02.05.19</span>
							</div>
							<hr class="devider mt-4 mb-3">
							<div class="row row_indents_m pt-1 pb-1">
								<div class="column mb-3">
									<a class="button button-blue font-weight-bold" href="#" @click.prevent="showModal('offerPrice')">Предложить</a>
								</div>
								<div class="column mb-3">
									<a class="button button_basket font-weight-bold" href="#">
										<div class="button-in d-flex flex-nowrap align-items-center justify-content-center">
											<span>Без торга</span>
										</div>
									</a>
								</div>
							</div>
							<hr class="devider mt-0 mb-4">
							<vue-tabs class="small-tabs pb-4">
								<v-tab id="short-descr" title="Краткое описание">
									<div class="color-dark-80">Антикварные часы Patek Phillipe  1699 года украденные во время мародерства во время ВОВII Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. </div>
								</v-tab>
								<v-tab id="contacts" title="Контакты">
									<div class="row row_indents_s">
										<div class="column">
											<app-svg-icon class="color-grey-dark font-size-30" name="user" />
										</div>
										<div class="column d-flex flex-column justify-content-center text-small color-grey-dark">Пользователь предпочел скрыть данные</div>
									</div>
								</v-tab>
							</vue-tabs>
							<div class="row justify-content-between mt-auto">
								<div class="column">
									<div class="row">
										<div class="column">
											<a class="share-link color-dark text-decoration-none" href="#">
												<span class="d-flex flex-nowrap">
													<app-svg-icon class="font-size-18 color-dark-30 flex-shrink-0" name="fb" />
													<span class="font-weight-bold ml-1 mr-1">Share</span>
													<span class="color-dark-30">82</span>
												</span>
											</a>
										</div>
										<div class="column">
											<a class="share-link color-dark text-decoration-none" href="#">
												<span class="d-flex flex-nowrap">
													<app-svg-icon class="font-size-18 color-dark-30 flex-shrink-0" name="tw" />
													<span class="font-weight-bold ml-1 mr-1">Tweet</span>
													<span class="color-dark-30">33</span>
												</span>
											</a>
										</div>
										<div class="column">
											<app-dropdown-multi class="dropdown-simple">
												<template v-slot:togglecontent>
													<span class="font-size-14 font-weight-bold color-dark-main">More</span>
													<app-svg-icon class="font-size-8 color-dark-50 ml-2" name="arrow-down" />
												</template>
												<ul class="shop-card-features-list list-unstyled mb-0">
													<li class="mb-2">
														<a class="share-link color-dark text-decoration-none font-size-14" href="#">
															<span class="d-flex flex-nowrap align-items-center">
																<app-svg-icon class="font-size-18 color-dark-30 flex-shrink-0" name="tw" />
																<span class="font-weight-bold ml-1 mr-1">Tweet</span>
																<span class="color-dark-50">82</span>
															</span>
														</a>
													</li>
													<li class="mb-2">
														<a class="share-link color-dark text-decoration-none font-size-14" href="#">
															<span class="d-flex flex-nowrap align-items-center">
																<app-svg-icon class="font-size-18 color-dark-30 flex-shrink-0" name="tw" />
																<span class="font-weight-bold ml-1 mr-1">Tweet</span>
																<span class="color-dark-50">33</span>
															</span>
														</a>
													</li>
													<li class="mb-2">
														<a class="share-link color-dark text-decoration-none font-size-14" href="#">
															<span class="d-flex flex-nowrap align-items-center">
																<app-svg-icon class="font-size-18 color-dark-30 flex-shrink-0" name="tw" />
																<span class="font-weight-bold ml-1 mr-1">Tweet</span>
																<span class="color-dark-50">82</span>
															</span>
														</a>
													</li>
												</ul>
											</app-dropdown-multi>
										</div>
									</div>
								</div>
								<div class="column">
									<app-dropdown-multi class="dropdown-simple dropdown-simple_center">
										<template v-slot:togglecontent>
											<app-svg-icon class="font-size-20 color-grey svg-icon_reverse_90" name="dots" />
										</template>
										<ul class="shop-card-features-list list-unstyled mb-0">
											<li><a href="#">Редактировать</a></li>
											<li><a href="#">Удалить</a></li>
										</ul>
									</app-dropdown-multi>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mb-4 pb-2">
			<div class="wrap">
				<vue-tabs class="tabs-style">
					<v-tab id="description" title="Описание">
						<div class="row">
							<div class="col-lg-8 ml-auto mr-auto">
								<div class="row">
									<div class="col-8">
										<app-content-toggle>
											<template>
												<div class="mb-4 pb-2">
													<h4>Описание</h4>
												</div>
												<div class="mb-5 color-dark-80">Introduced on September 12, 2017, the iPhone X and the iPhone X Plus represent a "huge step forward for the iPhone," according to Apple CEO Tim Cook. The two devices "improve on everything we love about iPhone" with overhauled internals and a tweaked design, but the changes introduced are not as dramatic as the changes brought to the iPhone X, Apple's new high-end flagship device being sold alongside the iPhone 8 and iPhone 8 Plus.</div>
											</template>
											<template v-slot:collapse>
												<div class="mb-5 color-dark-80">Introduced on September 12, 2017, the iPhone X and the iPhone X Plus represent a "huge step forward for the iPhone," according to Apple CEO Tim Cook. The two devices "improve on everything we love about iPhone" with overhauled internals and a tweaked design, but the changes introduced are not as dramatic as the changes brought to the iPhone X, Apple's new high-end flagship device being sold alongside the iPhone 8 and iPhone 8 Plus.</div>
											</template>
										</app-content-toggle>
									</div>
									<div class="col-4">
										<div class="row row_indents_s pt-5">
											<div class="column mb-3 pb-1">
												<app-tooltip>
													<template v-slot:tooltiphead>
														<div class="circle">
															<app-svg-icon name="eac"/>
														</div>
													</template>
													<template v-slot:tooltippopup><div class="text-nowrap font-size-14 font-weight-bold pt-1 pb-1">Voice Control</div></template>
												</app-tooltip>
											</div>
											<div class="column mb-3 pb-1">
												<app-tooltip>
													<template v-slot:tooltiphead>
														<div class="circle">
															<app-svg-icon name="imprint"/>
														</div>
													</template>
													<template v-slot:tooltippopup><div class="text-nowrap font-size-14 font-weight-bold pt-1 pb-1">Voice Control</div></template>
												</app-tooltip>
											</div>
											<div class="column mb-3 pb-1">
												<app-tooltip>
													<template v-slot:tooltiphead>
														<div class="circle">
															<app-svg-icon name="microphone"/>
														</div>
													</template>
													<template v-slot:tooltippopup><div class="text-nowrap font-size-14 font-weight-bold pt-1 pb-1">Voice Control</div></template>
												</app-tooltip>
											</div>
											<div class="column mb-3 pb-1">
												<app-tooltip>
													<template v-slot:tooltiphead>
														<div class="circle">
															<app-svg-icon name="battary"/>
														</div>
													</template>
													<template v-slot:tooltippopup><div class="text-nowrap font-size-14 font-weight-bold pt-1 pb-1">Voice Control</div></template>
												</app-tooltip>
											</div>
											<div class="column mb-3 pb-1">
												<app-tooltip>
													<template v-slot:tooltiphead>
														<div class="circle">
															<app-svg-icon name="floppy"/>
														</div>
													</template>
													<template v-slot:tooltippopup><div class="text-nowrap font-size-14 font-weight-bold pt-1 pb-1">Voice Control</div></template>
												</app-tooltip>
											</div>
										</div>
									</div>
								</div>
								<div class="pb-3 pt-2">
									<hr class="devider mt-5 mb-4">
								</div>
								<div class="row">
									<div class="col-8">
										<app-content-toggle :btn-wrap-class="'pt-4 mt-2'">
											<template>
												<div class="pb-3">
													<h4>Характеристики</h4>
												</div>
												<div>
													<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
														<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Brand Name</div></div>
														<div class="dotted-txt__dash-wrap column flex-grow-1">
															<div class="dotted-txt__dash">&nbsp;</div>
														</div>
														<div class="dotted-txt__right col-6"><div class="color-dark-80">Apple</div></div>
													</div>
													<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
														<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Model</div></div>
														<div class="dotted-txt__dash-wrap column flex-grow-1">
															<div class="dotted-txt__dash">&nbsp;</div>
														</div>
														<div class="dotted-txt__right col-6"><div class="color-dark-80">iPhone 6s</div></div>
													</div>
													<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
														<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">ROM</div></div>
														<div class="dotted-txt__dash-wrap column flex-grow-1">
															<div class="dotted-txt__dash">&nbsp;</div>
														</div>
														<div class="dotted-txt__right col-6"><div class="color-dark-80">16</div></div>
													</div>
													<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
														<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">CPU</div></div>
														<div class="dotted-txt__dash-wrap column flex-grow-1">
															<div class="dotted-txt__dash">&nbsp;</div>
														</div>
														<div class="dotted-txt__right col-6"><div class="color-dark-80">Dual Core</div></div>
													</div>
													<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
														<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Design</div></div>
														<div class="dotted-txt__dash-wrap column flex-grow-1">
															<div class="dotted-txt__dash">&nbsp;</div>
														</div>
														<div class="dotted-txt__right col-6"><div class="color-dark-80">BarItem</div></div>
													</div>
													<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
														<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Condition</div></div>
														<div class="dotted-txt__dash-wrap column flex-grow-1">
															<div class="dotted-txt__dash">&nbsp;</div>
														</div>
														<div class="dotted-txt__right col-6"><div class="color-dark-80">Used</div></div>
													</div>
													<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
														<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Operation System</div></div>
														<div class="dotted-txt__dash-wrap column flex-grow-1">
															<div class="dotted-txt__dash">&nbsp;</div>
														</div>
														<div class="dotted-txt__right col-6"><div class="color-dark-80">iOS</div></div>
													</div>
													<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
														<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Cellular</div></div>
														<div class="dotted-txt__dash-wrap column flex-grow-1">
															<div class="dotted-txt__dash">&nbsp;</div>
														</div>
														<div class="dotted-txt__right col-6"><div class="color-dark-80">GSM/WCDMA/LTE</div></div>
													</div>
													<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
														<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Feature</div></div>
														<div class="dotted-txt__dash-wrap column flex-grow-1">
															<div class="dotted-txt__dash">&nbsp;</div>
														</div>
														<div class="dotted-txt__right col-6"><div class="color-dark-80">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, consequuntur.</div></div>
													</div>
													<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
														<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Display Size</div></div>
														<div class="dotted-txt__dash-wrap column flex-grow-1">
															<div class="dotted-txt__dash">&nbsp;</div>
														</div>
														<div class="dotted-txt__right col-6"><div class="color-dark-80">4.7 Display</div></div>
													</div>
													<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
														<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Color</div></div>
														<div class="dotted-txt__dash-wrap column flex-grow-1">
															<div class="dotted-txt__dash">&nbsp;</div>
														</div>
														<div class="dotted-txt__right col-6"><div class="color-dark-80">Gray</div></div>
													</div>
												</div>
											</template>
											<template v-slot:collapse>
												<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
													<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Brand Name</div></div>
													<div class="dotted-txt__dash-wrap column flex-grow-1">
														<div class="dotted-txt__dash">&nbsp;</div>
													</div>
													<div class="dotted-txt__right col-6"><div class="color-dark-80">Apple</div></div>
												</div>
												<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
													<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Model</div></div>
													<div class="dotted-txt__dash-wrap column flex-grow-1">
														<div class="dotted-txt__dash">&nbsp;</div>
													</div>
													<div class="dotted-txt__right col-6"><div class="color-dark-80">iPhone 6s</div></div>
												</div>
												<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
													<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">ROM</div></div>
													<div class="dotted-txt__dash-wrap column flex-grow-1">
														<div class="dotted-txt__dash">&nbsp;</div>
													</div>
													<div class="dotted-txt__right col-6"><div class="color-dark-80">16</div></div>
												</div>
												<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
													<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">CPU</div></div>
													<div class="dotted-txt__dash-wrap column flex-grow-1">
														<div class="dotted-txt__dash">&nbsp;</div>
													</div>
													<div class="dotted-txt__right col-6"><div class="color-dark-80">Dual Core</div></div>
												</div>
												<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
													<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Brand Name</div></div>
													<div class="dotted-txt__dash-wrap column flex-grow-1">
														<div class="dotted-txt__dash">&nbsp;</div>
													</div>
													<div class="dotted-txt__right col-6"><div class="color-dark-80">Apple</div></div>
												</div>
												<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
													<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Model</div></div>
													<div class="dotted-txt__dash-wrap column flex-grow-1">
														<div class="dotted-txt__dash">&nbsp;</div>
													</div>
													<div class="dotted-txt__right col-6"><div class="color-dark-80">iPhone 6s</div></div>
												</div>
												<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
													<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">ROM</div></div>
													<div class="dotted-txt__dash-wrap column flex-grow-1">
														<div class="dotted-txt__dash">&nbsp;</div>
													</div>
													<div class="dotted-txt__right col-6"><div class="color-dark-80">16</div></div>
												</div>
												<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
													<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">CPU</div></div>
													<div class="dotted-txt__dash-wrap column flex-grow-1">
														<div class="dotted-txt__dash">&nbsp;</div>
													</div>
													<div class="dotted-txt__right col-6"><div class="color-dark-80">Dual Core</div></div>
												</div>
											</template>
										</app-content-toggle>
									</div>
									<div class="col-4">
										<div class="pb-3">
											<h4>Инструкции</h4>
										</div>
										<div class="pb-1 mb-4">
											<div class="color-dark-80 mb-1">Cushion cover</div>
											<div class="color-dark-80 mb-1">Do not wash</div>
											<div class="color-dark-80 mb-1">Do not bleach</div>
											<div class="color-dark-80 mb-1">Do not tumble dry</div>
										</div>
										<a class="text-decoration-none color-dark-80 icon-zoom-hover d-block mb-3 pb-1" href="#">
											<span class="d-flex flex-nowrap align-items-center">
												<app-svg-icon class="font-size-30 color-grey flex-shrink-0" name="note"/>
												<span class="ml-2 line-height-1">
													<span class="color-dark-80">The iPhone 8 specification</span>
													<br>
													<span class="color-dark-50">PDF, 12 Mb</span>
												</span>
											</span>
										</a>
										<a class="text-decoration-none color-dark-80 icon-zoom-hover d-block mb-3 pb-1" href="#">
											<span class="d-flex flex-nowrap align-items-center">
												<app-svg-icon class="font-size-30 color-grey flex-shrink-0" name="note"/>
												<span class="ml-2 line-height-1">
													<span class="color-dark-80">The iPhone 8 specification</span>
													<br>
													<span class="color-dark-50">PDF, 4 Mb </span>
												</span>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</v-tab>
					<v-tab id="offers" title="Предложения">
						<div class="row">
							<div class="col-lg-8 ml-auto mr-auto">
								<div class="row row_indents_m align-items-start">
									<div class="column mb-2 pt-1"><h5 class="mb-0 color-gray-2 text-uppercase">Максимальное предложение</h5></div>
									<div class="column mb-2"><img src="../assets/images/Chart-orange.svg" alt=""></div>
								</div>
								<div class="color-green font-size-30 font-weight-bold mt-4 mb-5">$150,967.64</div>
								<a class="button button-blue pl-5 pr-5" href="#">Продать</a>
								<hr class="devider mt-5 mb-5">
								<div class="mb-4 pb-2">
									<h4>Предложения</h4>
								</div>
								<div class="user user_small d-flex flex-nowrap align-items-center mb-5">
									<div class="user-avatar flex-shrink-0">
										<img src="../assets/images/avatar1.png" alt="">
									</div>
									<div class="ml-3">
										<div class="color-gray-2 mb-1">Väinö ylitalo <span class="color-dark-50 text-small">Минуту назад</span></div>
										<div class="color-blue">2 000 000</div>
									</div>
								</div>
								<div class="user user_small d-flex flex-nowrap align-items-center mb-5">
									<div class="user-avatar flex-shrink-0">
										<img src="../assets/images/avatar2.png" alt="">
									</div>
									<div class="ml-3">
										<div class="color-gray-2 mb-1">Javier vargas <span class="color-dark-50 text-small">Вчера</span></div>
										<div class="color-blue">1 500 000</div>
									</div>
								</div>
								<div class="user user_small d-flex flex-nowrap align-items-center mb-5">
									<div class="user-avatar flex-shrink-0">
										<img src="../assets/images/avatar3.png" alt="">
									</div>
									<div class="ml-3">
										<div class="color-gray-2 mb-1">Vito dufour <span class="color-dark-50 text-small">20.03.19</span></div>
										<div class="color-blue">450 000</div>
									</div>
								</div>
								<a class="button button-blue pl-5 pr-5" href="#">Предложить</a>
							</div>
						</div>
					</v-tab>
				</vue-tabs>
			</div>
		</div>
		<modal name="offerPrice" :adaptive="true" :minWidth="280" :maxWidth="390" :height="'auto'" :scrollable="true">
			<div class="modal-in">
				<div class="modal-body">
					<button class="modal-close button-clr" type="button" @click="hideModal('offerPrice')">
						<app-svg-icon name="close" />
					</button>
					<div class="pt-4">
						<form>
							<div class="modal-title">Предложить цену</div>
							<div class="form-group mb-3 pb-1">
								<input class="form-control" type="text" placeholder="введите  сумму">
							</div>
							<div class="form-group mb-3 pb-1">
								<label class="font-weight-bold color-gray-2" for="offerPrice">Сообщение:</label>
								<textarea class="form-control" id="offerPrice" rows="5"></textarea>
							</div>
							<div class="form-group">
								<div class="text-center">
									<input class="button button-blue button-clr" type="submit" value="Отправить">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</modal>
	</div>
</template>

<script>
	import SvgIcon from '../components/SvgIcon.vue'
	import contentToggle from '../components/contentToggle.vue'
	import {VueTabs, VTab} from 'vue-nav-tabs/dist/vue-tabs.js'
	import DropdownMulti from '../components/dropdownMulti.vue'
	import tooltip from '../components/tooltip.vue'
	import syncedVertCarousel from '../components/synced-vertical-carousel.vue'
	export default {
		name: 'lot-inside',
		data () {
			return {
				syncedCarouselData: [
					{
						thumbs: require('../assets/images/carousel-thumb1.png'),
						carouselImg: require('../assets/images/carousel-img.png')
					},
					{
						thumbs: require('../assets/images/carousel-thumb2.png'),
						carouselImg: require('../assets/images/carousel-img.png')
					},
					{
						thumbs: require('../assets/images/carousel-thumb3.png'),
						carouselImg: require('../assets/images/carousel-img.png')
						// carouselImg: require('../assets/images/carousel-thumb3.png')
					},
					{
						thumbs: require('../assets/images/carousel-thumb4.png'),
						carouselImg: require('../assets/images/carousel-img.png')
						// carouselImg: require('../assets/images/carousel-thumb4.png')
					},
					{
						thumbs: require('../assets/images/carousel-thumb1.png'),
						carouselImg: require('../assets/images/carousel-img.png')
						// carouselImg: require('../assets/images/carousel-thumb1.png')
					},
					{
						thumbs: require('../assets/images/carousel-thumb2.png'),
						carouselImg: require('../assets/images/carousel-img.png')
						// carouselImg: require('../assets/images/carousel-thumb2.png')
					},
					{
						thumbs: require('../assets/images/carousel-thumb1.png'),
						carouselImg: require('../assets/images/carousel-img.png')
						// carouselImg: require('../assets/images/carousel-thumb1.png')
					},
					{
						thumbs: require('../assets/images/carousel-thumb2.png'),
						carouselImg: require('../assets/images/carousel-img.png')
						// carouselImg: require('../assets/images/carousel-thumb2.png')
					}
				]
			}
		},
		methods: {
			showModal (modal) {
				this.$modal.show(modal);
			},
			hideModal (modal) {
				this.$modal.hide(modal);
			}
		},
		components: {
			appDropdownMulti: DropdownMulti,
			appSvgIcon: SvgIcon,
			VueTabs,
			VTab,
			appContentToggle: contentToggle,
			appTooltip: tooltip,
			appSyncedVertCarousel: syncedVertCarousel
		}
	}
</script>

<style lang="scss" scoped>
</style>