<template>
	<div class="row">
		<div class="col w-100">
			<div class="wrap wrap-messeges position-relative overflow-hidden" :class="{'d-none': chatInside}">
				<button class="messeges-search color-grey-4 hover-color-blue font-size-22 button-clr" type="button" @click="[searchToggle = !searchToggle, setFocus('searchInput')]">
					<app-svg-icon name="zoom" />
				</button>
				<div class="messeges-search-form pl-4 pr-4" :class="{'visible': searchToggle}">
					<div class="row row_indents_m align-items-center flex-nowrap">
						<div class="column">
							<button class="color-grey-4 hover-color-blue button-clr" type="button" @click="searchToggle = !searchToggle">
								<app-svg-icon name="arrow-left" />
							</button>
						</div>
						<div class="column flex-grow-1">
							<input class="messeges-input" ref="searchInput" type="text" placeholder="Поиск">
						</div>
						<div class="column ml-auto">
							<button class="color-grey button-clr" type="button" @click="clearInput('searchInput')">
								<app-svg-icon name="close" />
							</button>
						</div>
					</div>
				</div>
				<vue-tabs class="tabs-messeges">
					<v-tab id="all" title="Все сообщения">
						<a class="user-contact-box user-contact-box_active" href="#" @click.prevent="chatInside = !chatInside">
							<div class="row row_indents_m justify-content-between flex-nowrap">
								<div class="column col-lg">
									<div class="user user_small d-flex flex-nowrap">
										<div class="user-avatar flex-shrink-0">
											<img src="../assets/images/user.png" alt="">
										</div>
										<div class="ml-3 d-flex flex-column justify-content-center">
											<div class="color-dark-80 mb-1">Polvonbek Uzakov</div>
											<div class="text-small color-dark-50">Salom alekom. Shu narsa ne4pul ekan?</div>
										</div>
									</div>
								</div>
								<div class="column text-right">
									<div class="color-dark-50 text-small mb-2">12:04</div>
									<div class="notification notification_blue ml-auto"><span>1</span></div>
								</div>
							</div>
						</a>
						<a class="user-contact-box user-contact-box" href="#" @click.prevent="chatInside = !chatInside">
							<div class="row row_indents_m justify-content-between flex-nowrap">
								<div class="column col-lg">
									<div class="user user_small d-flex flex-nowrap">
										<div class="user-avatar flex-shrink-0">
											<img src="../assets/images/user-avatar3.png" alt="">
										</div>
										<div class="ml-3 d-flex flex-column justify-content-center">
											<div class="color-dark-80 mb-1">Марина Веселова</div>
											<div class="text-small color-dark-50">Если вы готовы продать за 450 000 сум, подъеду сразу!</div>
										</div>
									</div>
								</div>
								<div class="column text-right">
									<div class="color-dark-50 text-small mb-2">30 марта</div>
								</div>
							</div>
						</a>
					</v-tab>
					<v-tab id="notRead" title="Не прочитанные">
						<a class="user-contact-box user-contact-box_active" href="#" @click.prevent="chatInside = !chatInside">
							<div class="row row_indents_m justify-content-between flex-nowrap">
								<div class="column col-lg">
									<div class="user user_small d-flex flex-nowrap">
										<div class="user-avatar flex-shrink-0">
											<img src="../assets/images/user-avatar3.png" alt="">
										</div>
										<div class="ml-3 d-flex flex-column justify-content-center">
											<div class="color-dark-80 mb-1">Марина Веселова</div>
											<div class="text-small color-dark-50">Если вы готовы продать за 450 000 сум, подъеду сразу!</div>
										</div>
									</div>
								</div>
								<div class="column text-right">
									<div class="color-dark-50 text-small mb-2">30 марта</div>
									<div class="notification notification_blue ml-auto"><span>4</span></div>
								</div>
							</div>
						</a>
						<a class="user-contact-box user-contact-box_active" href="#" @click.prevent="chatInside = !chatInside">
							<div class="row row_indents_m justify-content-between flex-nowrap">
								<div class="column col-lg">
									<div class="user user_small d-flex flex-nowrap">
										<div class="user-avatar flex-shrink-0">
											<img src="../assets/images/user.png" alt="">
										</div>
										<div class="ml-3 d-flex flex-column justify-content-center">
											<div class="color-dark-80 mb-1">Polvonbek Uzakov</div>
											<div class="text-small color-dark-50">Salom alekom. Shu narsa ne4pul ekan?</div>
										</div>
									</div>
								</div>
								<div class="column text-right">
									<div class="color-dark-50 text-small mb-2">12:04</div>
									<div class="notification notification_blue ml-auto"><span>1</span></div>
								</div>
							</div>
						</a>
					</v-tab>
				</vue-tabs>
			</div>
			<div class="user-contact-box-inside wrap position-relative" :class="{'d-none': !chatInside}">
				<div class="messeges-search-head pl-4 pr-4">
					<div class="row row_indents_m align-items-center flex-nowrap justify-content-between">
						<div class="column">
							<button class="color-grey-4 hover-color-blue button-clr" type="button" @click="chatInside = !chatInside">
								<app-svg-icon name="arrow-left" />
								<span class="ml-2">Назад</span>
							</button>
						</div>
						<div class="column">
							<span>Марина Веселова</span>
						</div>
						<div class="column">
							<div class="row row_indents_m align-items-center">
								<div class="column">
									<button class="color-grey-4 hover-color-blue font-size-22 button-clr" type="button" @click="[searchUserChat = !searchUserChat, setFocus('searchInChatInput')]">
										<app-svg-icon name="zoom" />
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="messeges-search-form pl-4 pr-4" :class="{'visible': searchUserChat}">
					<div class="pl-2 pr-2">
						<div class="row row_indents_s align-items-center flex-nowrap">
							<div class="column">
								<app-svg-icon class="font-size-22 color-grey-4" name="zoom" />
							</div>
							<div class="column flex-grow-1">
								<input class="messeges-input" ref="searchInChatInput" type="text" placeholder="Поиск">
							</div>
							<div class="column ml-auto">
								<button class="font-weight-bold color-dark-50 hover-color-blue button-clr" type="button" @click="searchUserChat = !searchUserChat">Отмена</button>
							</div>
						</div>
					</div>
				</div>
				<div class="user-contact-box-messeges p-4">
					<div class="font-weight-bold color-dark-50 text-center mb-4">Cегодня</div>
					<div class="user-messege mb-4 pl-3 pr-3">
						<div class="d-flex flex-nowrap pr-5">
							<div class="pr-5">
								<div class="user user_small d-flex flex-nowrap mb-2">
									<div class="user-avatar flex-shrink-0">
										<img src="../assets/images/user-avatar3.png" alt="">
									</div>
									<div class="ml-3 d-flex flex-column justify-content-center">
										<div class="color-dark font-weight-bold mb-1">Марина Веселова</div>
										<div class="text-small color-dark">Если вы готовы продать за 450 000 сум, подъеду сразу!</div>
									</div>
								</div>
								<div class="text-right">
									<a class="color-dark-50" href="#">Ответить</a>
								</div>
							</div>
						</div>
					</div>
					<div class="user-messege mb-4 pl-3 pr-3">
						<div class="d-flex flex-nowrap justify-content-end pl-5">
							<div class="pl-5">
								<div class="checkbox-wrap p-3">
									<div class="p-1">
										<div class="row row_indents_m align-items-center">
											<div class="column">
												<div class="row row_indents_m align-items-center flex-nowrap">
													<div class="column flex-shrink-0">
														<div class="basket-table-img">
															<img src="../assets/images/basket-img2.png" alt="">
														</div>
													</div>
													<div class="column">
														<div class="font-weight-bold color-dark-main">Wood Toy Teether - Baby Toy</div>
														<div>Color: Brown</div>
														<div>Material: Wood</div>
													</div>
												</div>
											</div>
											<div class="column">
												<div class="color-dark-80">$33.9</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="user-messege mb-4 pl-3 pr-3">
						<div class="d-flex flex-nowrap pr-5">
							<div class="pr-5">
								<div class="user user_small d-flex flex-nowrap mb-2">
									<div class="user-avatar flex-shrink-0">
										<img src="../assets/images/user-avatar3.png" alt="">
									</div>
									<div class="ml-3 d-flex flex-column justify-content-center">
										<div class="color-dark font-weight-bold mb-1">Марина Веселова</div>
										<div class="text-small color-dark">Если вы готовы продать за 450 000 сум, подъеду сразу!</div>
									</div>
								</div>
								<div class="text-right">
									<a class="color-dark-50" href="#">Ответить</a>
								</div>
							</div>
						</div>
					</div>
					<div class="user-messege mb-4 pl-3 pr-3">
						<div class="d-flex flex-nowrap justify-content-end pl-5">
							<div class="pl-5">
								<div class="checkbox-wrap p-3">
									<div class="p-1">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore nostrum molestiae provident exercitationem, neque voluptatum consequuntur dicta accusantium qui veritatis.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="user-contact-box-foot d-flex flex-column justify-content-center pl-4 pr-4">
					<div class="row row_indents_m align-items-center">
						<div class="column">
							<app-dropdown-multi class="dropdown-simple dropdown-simple_top_center">
									<template v-slot:togglecontent>
										<app-svg-icon class="font-size-22 color-grey-4 hover-color-blue button-clr" name="clip" />
									</template>
									<ul class="list-unstyled mb-0">
										<li class="mb-2">
											<a class="color-gray-2 text-decoration-none hover-color-blue" href="#">
												<span class="d-flex flex-nowrap">
													<app-svg-icon class="flex-shrink-0 font-size-20" name="camera" />
													<span class="text-small ml-2 d-flex flex-column justify-content-center pt-1">Фото</span>
												</span>
											</a>
										</li>
										<li class="mb-2">
											<a class="color-gray-2 text-decoration-none hover-color-blue" href="#">
												<span class="d-flex flex-nowrap">
													<app-svg-icon class="flex-shrink-0 font-size-20" name="note" />
													<span class="text-small ml-2 d-flex flex-column justify-content-center pt-1">Документ</span>
												</span>
											</a>
										</li>
										<li class="mb-2">
											<a class="color-gray-2 text-decoration-none hover-color-blue" href="#">
												<span class="d-flex flex-nowrap">
													<app-svg-icon class="flex-shrink-0 font-size-20" name="loc" />
													<span class="text-small ml-2 d-flex flex-column justify-content-center pt-1">Геолокация</span>
												</span>
											</a>
										</li>
									</ul>
								</app-dropdown-multi>
						</div>
						<div class="column flex-grow-1">
							<input class="form-control" type="text">
						</div>
						<div class="column">
							<button class="font-size-22 color-grey-4 hover-color-blue button-clr" type="button">
								<app-svg-icon class="svg-icon_reverse_45" name="send" />
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import {VueTabs, VTab} from 'vue-nav-tabs/dist/vue-tabs.js'
	import SvgIcon from '../components/SvgIcon.vue'
	import DropdownMulti from '../components/dropdownMulti.vue'
	export default {
		name: 'Messages',
		data () {
			return {
				searchToggle: false,
				chatInside: false,
				searchUserChat: false
			}
		},
		components: {
			VueTabs,
			VTab,
			appSvgIcon: SvgIcon,
			appDropdownMulti: DropdownMulti,
		},
		methods: {
			setFocus (refElem) {
				let _this = this
				setTimeout(function(){
					_this.$refs[refElem].focus()
				}, 10)
			},
			clearInput (input) {
				this.$refs[input].value = ''
				this.$refs[input].focus()
			}
		}
	}
</script>

<style lang="css" scoped>
</style>