<template>
	<div class="my-lots">
		<div class="section mb-4 pb-1">
			<div v-if="this.$route.name != 'create-ad-buy' && this.$route.name != 'create-ad-sell' && this.$route.name != 'ad-inside' ">
				<div class="row">
					<div class="col-4 col-lg-3">
						<div class="wrap p-4">
							<h4>Мои объявления</h4>
							<ul class="messeges-nav list-unstyled mt-4 pt-2 mb-5 pb-4">
								<router-link
									v-for="(link, keyLink) in list.links"
									:key="keyLink"
									:exact="link.main"
									active-class="active"
									tag="li"
									:class="{ disabled: link.disabled }"
									:event="link.disabled ? 'click' : ''"
									:to="{name: link.url}">
										<a>
											<span class="row row_indents_m justify-content-between align-items-center">
												<span class="column color-dark-80">{{link.linkName}}</span>
												<span class="column color-dark-50 text-small">{{link.linkValue}}</span>
											</span>
										</a>
								</router-link>
							</ul>
							<!-- <router-link class="button button-regular w-100" :to="{name: 'create-ad'}">Создать объявление</router-link> -->
							<a class="button button-regular w-100" href="#" @click.prevent="showModal('chooseTypeAd')">Создать объявление</a>
						</div>
					</div>
					<div class="col-8 col-lg-9">
						<div class="row">
							<div class="col-6 col-lg-4 mb-4">
								<app-card class="color-dark">
									<template v-slot:cardimg>
										<img src="../assets/images/ads-card-img.png" alt="">
									</template>
									<template v-slot:cardcontent>
										<div class="font-size-8 letter-spacing-1 text-uppercase color-bluegreen-75 mb-1">Продам</div>
										<h4>Б/У электронные <br class="d-none d-lg-block"> часы</h4>
										<div class="text-small color-grey-dark mb-2">Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют </div>
									</template>
									<template v-slot:cardfooter>
										<div class="row row_indents_m justify-content-end">
											<div class="column">
												<button class="font-size-20 color-gray-2 button-clr" type="button">
													<app-svg-icon name="pencil" />
												</button>
											</div>
											<div class="column">
												<button class="font-size-20 color-gray-2 button-clr" type="button">
													<app-svg-icon name="garbage" />
												</button>
											</div>
											<div class="column">
												<app-dropdown-multi class="dropdown_shop-card-features pt-0 pb-0">
													<template v-slot:togglecontent>
														<app-svg-icon class="font-size-20 color-grey svg-icon_reverse_90" name="dots" />
													</template>
													<ul class="shop-card-features-list list-unstyled mb-0">
														<li><router-link :to="{name: 'ad-inside'}" href="#">Открыть</router-link></li>
														<li><a href="#">Редактировать</a></li>
														<li><a href="#">Продвигать</a></li>
														<li><a href="#">Создать купон</a></li>
														<li><a href="#">Создать акцию</a></li>
														<li><a href="#">Удалить</a></li>
													</ul>
												</app-dropdown-multi>
											</div>
										</div>
									</template>
								</app-card>
							</div>
							<div class="col-6 col-lg-4 mb-4">
								<app-card class="color-dark">
									<template v-slot:cardimg>
										<img src="../assets/images/ads-card-img.png" alt="">
									</template>
									<template v-slot:cardcontent>
										<div class="font-size-8 letter-spacing-1 text-uppercase color-orange mb-1">Продам</div>
										<h4>Б/У электронные <br class="d-none d-lg-block"> часы</h4>
										<div class="text-small color-grey-dark mb-2">Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют </div>
									</template>
									<template v-slot:cardfooter>
										<div class="row row_indents_m justify-content-end">
											<div class="column">
												<button class="font-size-20 color-gray-2 button-clr" type="button">
													<app-svg-icon name="pencil" />
												</button>
											</div>
											<div class="column">
												<button class="font-size-20 color-gray-2 button-clr" type="button">
													<app-svg-icon name="garbage" />
												</button>
											</div>
											<div class="column">
												<app-dropdown-multi class="dropdown_shop-card-features pt-0 pb-0">
													<template v-slot:togglecontent>
														<app-svg-icon class="font-size-20 color-grey svg-icon_reverse_90" name="dots" />
													</template>
													<ul class="shop-card-features-list list-unstyled mb-0">
														<li><router-link :to="{name: 'ad-inside'}" href="#">Открыть</router-link></li>
														<li><a href="#">Редактировать</a></li>
														<li><a href="#">Продвигать</a></li>
														<li><a href="#">Создать купон</a></li>
														<li><a href="#">Создать акцию</a></li>
														<li><a href="#">Удалить</a></li>
													</ul>
												</app-dropdown-multi>
											</div>
										</div>
									</template>
								</app-card>
							</div>
							<div class="col-6 col-lg-4 mb-4">
								<app-card class="color-dark">
									<template v-slot:cardimg>
										<img src="../assets/images/ads-card-img.png" alt="">
									</template>
									<template v-slot:cardcontent>
										<div class="font-size-8 letter-spacing-1 text-uppercase color-orange mb-1">Продам</div>
										<h4>Б/У электронные <br class="d-none d-lg-block"> часы</h4>
										<div class="text-small color-grey-dark mb-2">Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют </div>
									</template>
									<template v-slot:cardfooter>
										<div class="row row_indents_m justify-content-end">
											<div class="column">
												<button class="font-size-20 color-gray-2 button-clr" type="button">
													<app-svg-icon name="pencil" />
												</button>
											</div>
											<div class="column">
												<button class="font-size-20 color-gray-2 button-clr" type="button">
													<app-svg-icon name="garbage" />
												</button>
											</div>
											<div class="column">
												<app-dropdown-multi class="dropdown_shop-card-features pt-0 pb-0">
													<template v-slot:togglecontent>
														<app-svg-icon class="font-size-20 color-grey svg-icon_reverse_90" name="dots" />
													</template>
													<ul class="shop-card-features-list list-unstyled mb-0">
														<li><router-link :to="{name: 'ad-inside'}" href="#">Открыть</router-link></li>
														<li><a href="#">Редактировать</a></li>
														<li><a href="#">Продвигать</a></li>
														<li><a href="#">Создать купон</a></li>
														<li><a href="#">Создать акцию</a></li>
														<li><a href="#">Удалить</a></li>
													</ul>
												</app-dropdown-multi>
											</div>
										</div>
									</template>
								</app-card>
							</div>
						</div>
					</div>
				</div>
			</div>
			<router-view />
			<modal name="chooseTypeAd" :adaptive="true" :minWidth="280" :maxWidth="555" :height="'auto'" :scrollable="true">
				<div class="modal-in">
					<div class="modal-body">
						<button class="modal-close button-clr" type="button" @click="hideModal('chooseTypeAd')">
							<app-svg-icon name="close" />
						</button>
						<div class="row">
							<div class="col-xl-10 ml-auto mr-auto">
								<div class="pt-5 pb-5">
									<div class="text-center">
										<div class="modal-title mb-4 pb-3">Выберите тип объявления</div>
										<div class="mb-4 pb-3">
											<label class="button button-checkbox w-100 m-0" href="#">
												<input class="button-checkbox-input input-hidden" type="radio" name="typeEvent" @change="$event.target.checked ? nextPageName = 'create-ad-sell' : ''">
												<div class="button-checkbox-pseudo">
													<span>На продажу</span>
												</div>
											</label>
										</div>
										<div class="mb-4 pb-3">
											<label class="button button-checkbox w-100 m-0" href="#">
												<input class="button-checkbox-input input-hidden" type="radio" name="typeEvent" @change="$event.target.checked ? nextPageName = 'create-ad-buy' : ''">
												<div class="button-checkbox-pseudo">
													<span>На покупку</span>
												</div>
											</label>
										</div>
									</div>
									<div class="pb-0 pl-0 pr-0 pt-4">
										<div class="row row_indents_m align-items-center justify-content-center">
											<div class="column">
												<router-link :to="{name: nextPageName}" class="button-blue button-clr font-weight-bold" @click.prevent.native="[hideModal('chooseTypeAd'), nextPageName = '']">Создать</router-link>
											</div>
											<div class="column">
												<a class="font-weight-bold color-dark-50" href="#" @click.prevent="hideModal('chooseTypeAd')">Отменить</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</modal>
		</div>
	</div>
</template>

<script>
	import card from '../components/card-uni.vue'
	import SvgIcon from '../components/SvgIcon'
	import Dropdown from "../components/dropdownMulti.vue"
	export default {

		name: 'my-ads',

		data () {
			return {
				// lots: [
				// 	{
				// 		category: 'сумки',
				// 		largeTitle: 'Антикварные часы Patek Phillipe 1699 года ',
				// 		titleDescr: 'Антикварные часаы Patek Phillipe 1699 года украденные во время мародерства во время ВОВII',
				// 		lotDate: '23.04.19 - 02.05.19',
				// 		goodImg: require('../assets/images/ads-card-img.png'),
				// 		subMenu: [
				// 			{
				// 				text: 'Открыть',
				// 				url: 'ad-inside'
				// 			},
				// 			{
				// 				text: 'Настройки',
				// 				url: '#'
				// 			},
				// 			{
				// 				text: 'Удалить',
				// 				url: '#'
				// 			}
				// 		]
				// 	},
				// 	{
				// 		category: 'сумки',
				// 		largeTitle: 'Антикварные часы Patek Phillipe 1699 года ',
				// 		titleDescr: 'Антикварные часаы Patek Phillipe 1699 года украденные во время мародерства во время ВОВII',
				// 		lotDate: '23.04.19 - 02.05.19',
				// 		goodImg: require('../assets/images/ads-card-img.png'),
				// 		subMenu: [
				// 			{
				// 				text: 'Открыть',
				// 				url: 'ad-inside'
				// 			},
				// 			{
				// 				text: 'Настройки',
				// 				url: '#'
				// 			},
				// 			{
				// 				text: 'Удалить',
				// 				url: '#'
				// 			}
				// 		]
				// 	},
				// 	{
				// 		category: 'сумки',
				// 		largeTitle: 'Антикварные часы Patek Phillipe 1699 года ',
				// 		titleDescr: 'Антикварные часаы Patek Phillipe 1699 года украденные во время мародерства во время ВОВII',
				// 		lotDate: '23.04.19 - 02.05.19',
				// 		goodImg: require('../assets/images/ads-card-img.png'),
				// 		subMenu: [
				// 			{
				// 				text: 'Открыть',
				// 				url: 'ad-inside'
				// 			},
				// 			{
				// 				text: 'Настройки',
				// 				url: '#'
				// 			},
				// 			{
				// 				text: 'Удалить',
				// 				url: '#'
				// 			}
				// 		]
				// 	},
				// ],
				nextPageName: '',
				list: {
					links: [
						{
							main: true,
							linkName: 'Все объявления',
							linkValue: '1 580',
							url: 'my-ads'
						},
						{
							linkName: 'Куплю',
							linkValue: '893',
							url: 'buy-ads'
						},
						{
							linkName: 'На продажу',
							linkValue: '1082',
							url: 'sell-ads'
						},
					]
				}
			}
		},
		methods: {
			checkRouteOnCreateLotName (routeName) {
				return this.$router.currentRoute.name == routeName ? true : false
			},
			showModal (modal) {
				this.$modal.show(modal);
			},
			hideModal (modal) {
				this.$modal.hide(modal);
			},
		},
		components: {
			appCard: card,
			appSvgIcon: SvgIcon,
			appDropdownMulti: Dropdown
		}
	}
</script>

<style lang="css" scoped>
</style>