<template>
	<div class="my-buynow pt-4" :class="{'article-card-section': this.$route.name == 'article-card'}">
		<div class="section mb-4 pb-1" v-if="!(this.$route.name == 'article-card')">
			<div class="container-fluid">
				<div class="wrap pl-4 pr-4 pt-4 pb-3">
					<app-breadcrumbs :list="crumbs"></app-breadcrumbs>
				</div>
			</div>
		</div>
		<div class="section mb-4 pb-1">
			<div class="container-fluid">
				<div class="row">
					<div class="sidebar col-4 col-lg-3 bg-none mb-4" v-if="!testRouter('shop-inside') && !testRouter('my-lots') && !testRouter('article-category') && !testRouter('my-ads') && !(this.$route.name == 'my-orders')">
						<div class="sidebar-in wrap">
							<ul
								class="sidebar-list sidebar-list_my-buynow list-unstyled mb-0"
								v-for="(list, keyList) in listLinks"
								:key="keyList">
								<router-link
									v-for="(link, keyLink) in list.links"
									:key="keyLink"
									:exact="link.main"
									active-class="active"
									tag="li"
									:class="{ disabled: link.disabled }"
									:event="link.disabled ? 'click' : ''"
									:to="{name:link.url}">
										<a>
											<app-svg-icon :name="link.linkIcon" />
											<span>{{ link.linkName }}</span>
										</a>
								</router-link>
							</ul>
						</div>
					</div>
					<div class="main-content mb-4 col" :class="{'col-lg-9': !testRouter('shop-inside') && !testRouter('messeges') && !testRouter('my-lots') && !testRouter('article-category') && !testRouter('my-ads') && !(this.$route.name == 'my-orders')}">
						<template v-if="(this.$router.currentRoute.name == 'my-buynow')">
							<div class="row">
								<div class="col-lg-4 mb-4">
									<div class="wrap p-4 mb-4">
										<div class="text-center">
											<div class="my-buynow-avatar p-1 mb-3">
												<img src="../assets/images/my-buynow-avatar.png" alt="">
											</div>
											<div class="font-weight-bold">Василиса Иванова</div>
											<a class="text-small color-grey-dark" href="#">@petrova2323</a>
											<div class="row row_indents_m mt-4 font-size-18 justify-content-center">
												<div class="column mb-2">
													<app-svg-icon class="color-green" name="verifyed" />
												</div>
												<div class="column mb-2">
													<app-svg-icon class="color-purple" name="puzzle" />
												</div>
											</div>
										</div>
									</div>
									<div class="wrap">
										<div class="border-bottom-grey pt-3 pb-3 pl-4 pr-4">
											<div class="pt-1 pb-1">
												<h6 class="mb-0 font-weight-bold">Бонусы</h6>
											</div>
										</div>
										<div class="pt-1 pl-4 scroll-style my-buynow-bonus mr-1 mt-2">
											<div class="font-weight-bold pt-2 pb-2 mr-3 border-bottom-grey">Назначение</div>
											<div class="pt-2 pb-2 mr-3 border-bottom-grey">
												<div class="row row_indents_m justify-content-between flex-nowrap">
													<div class="column color-dark-80">Опрос menfashion</div>
													<div class="column color-green">+0.00224</div>
												</div>
											</div>
											<div class="pt-2 pb-2 mr-3 border-bottom-grey">
												<div class="row row_indents_m justify-content-between flex-nowrap">
													<div class="column color-dark-80">Опрос menfashion</div>
													<div class="column color-green">+0.616</div>
												</div>
											</div>
											<div class="pt-2 pb-2 mr-3 border-bottom-grey">
												<div class="row row_indents_m justify-content-between flex-nowrap">
													<div class="column color-dark-80">Опрос</div>
													<div class="column color-green">+0.01868</div>
												</div>
											</div>
											<div class="pt-2 pb-2 mr-3 border-bottom-grey">
												<div class="row row_indents_m justify-content-between flex-nowrap">
													<div class="column color-dark-80">Опрос</div>
													<div class="column color-green">+0.01868</div>
												</div>
											</div>
											<div class="pt-2 pb-2 mr-3 border-bottom-grey">
												<div class="row row_indents_m justify-content-between flex-nowrap">
													<div class="column color-dark-80">Опрос</div>
													<div class="column color-green">+0.01868</div>
												</div>
											</div>
											<div class="pt-2 pb-2 mr-3 border-bottom-grey">
												<div class="row row_indents_m justify-content-between flex-nowrap">
													<div class="column color-dark-80">Опрос</div>
													<div class="column color-green">+0.01868</div>
												</div>
											</div>
											<div class="pt-2 pb-2 mr-3 border-bottom-grey">
												<div class="row row_indents_m justify-content-between flex-nowrap">
													<div class="column color-dark-80">Опрос</div>
													<div class="column color-green">+0.01868</div>
												</div>
											</div>
											<div class="pt-2 pb-2 mr-3 border-bottom-grey">
												<div class="row row_indents_m justify-content-between flex-nowrap">
													<div class="column color-dark-80">Опрос</div>
													<div class="column color-green">+0.01868</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-8 mb-4">
									<div class="wrap mb-4">
										<div class="p-4">
											<h5 class="text-uppercase color-blue mb-4">Мой баланс</h5>
											<div class="row justify-content-between">
												<div class="col-lg-6 mb-3">
													<h2 class="m-0">0,00 <span class="color-green font-weight-normal font-size-14 text-uppercase">UZS</span></h2>
													<a class="text-small color-blue" href="#">Пополнить</a>
												</div>
												<div class="col-lg-6 mb-3">
													<h2 class="m-0">500 <span class="color-green font-weight-normal font-size-14 text-uppercase">BNW</span></h2>
													<a class="text-small color-blue" href="#">Как получить больше?</a>
												</div>
											</div>
										</div>
										<div class="pl-4 pr-4 pt-3 pb-3 border-top-grey">
											<div class="row">
												<div class="column">
													<a class="color-dark-2" href="#">
														<app-svg-icon class="color-gray-2 font-size-16" name="file" />
														<span class="ml-2">Создать приглашение</span>
													</a>
												</div>
												<div class="column">
													<a class="color-dark-2" href="#">
														<app-svg-icon class="color-gray-2 font-size-20" name="voucher" />
														<span class="ml-2">Мои купоны</span>
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="wrap">
										<div class="border-bottom-grey pt-3 pb-3 pl-4 pr-4">
											<div class="pt-1 pb-1">
												<div class="row row_indents_m align-items-center">
													<div class="column">
														<h6 class="mb-0 font-weight-bold">Транзакции</h6>
													</div>
													<div class="column">
														<multiselect
															class="multiselect_width-160"
															v-model="operations.value"
															:options="operations.items"
															:maxHeight="200"
															track-by="name"
															:placeholder="'Все операции'"
															id="operations"
															label="name">
																<span 
																	class="arrow" 
																	slot="caret" 
																	slot-scope="{ toggle }" 
																	@mousedown.prevent.stop="toggle">
																	<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
																</span>
														</multiselect>
													</div>
													<div class="column ml-auto"><a class="color-blue text-small" href="#">Вся история</a></div>
												</div>
											</div>
										</div>
										<div class="scroll-style my-buynow-bonus">
											<div class="pt-3 pb-3 pl-4 pr-4 border-bottom-grey">
												<div class="row row_indents_m justify-content-between flex-nowrap color-dark flex-nowrap">
													<div class="column">29 апр</div>
													<div class="column font-weight-bold color-dark">Пополнение Payme</div>
													<div class="column ml-auto color-green">+ 9 900 UZS</div>
												</div>
											</div>
											<div class="pt-3 pb-3 pl-4 pr-4 border-bottom-grey">
												<div class="row row_indents_m justify-content-between flex-nowrap color-dark flex-nowrap">
													<div class="column">20 апр</div>
													<div class="column font-weight-bold color-dark">Оплата за таргетинговую рекламу</div>
													<div class="column ml-auto">- 3 900 UZS</div>
												</div>
											</div>
											<div class="pt-3 pb-3 pl-4 pr-4 border-bottom-grey">
												<div class="row row_indents_m justify-content-between flex-nowrap color-dark flex-nowrap">
													<div class="column">3 мар</div>
													<div class="column font-weight-bold color-dark">Пополнение Payme</div>
													<div class="column ml-auto color-green">+ 9 900 UZS</div>
												</div>
											</div>
											<div class="pt-3 pb-3 pl-4 pr-4 border-bottom-grey">
												<div class="row row_indents_m justify-content-between flex-nowrap color-dark flex-nowrap">
													<div class="column">2 фев</div>
													<div class="column font-weight-bold color-dark">Оплата за рекламу</div>
													<div class="column ml-auto">- 19 900 UZS</div>
												</div>
											</div>
											<div class="pt-3 pb-3 pl-4 pr-4 border-bottom-grey">
												<div class="row row_indents_m justify-content-between flex-nowrap color-dark flex-nowrap">
													<div class="column">12 янв</div>
													<div class="column font-weight-bold color-dark">Ежемесячная абонентская плата</div>
													<div class="column ml-auto color-green">+ 9 900 UZS</div>
												</div>
											</div>
										</div>
										<a class="button button-blue button-blue_my-buynow w-100" href="#">Показать больше операций</a>
									</div>
								</div>
							</div>
							<div class="wrap background-green-3 my-buynow-invite pt-4 pl-5 pr-5 pb-3">
								<div class="row align-items-center justify-content-between">
									<div class="column mb-2 font-weight-bold">Пригласи друга, получи бонусы!</div>
									<div class="column mb-2">
										<a class="button button-blue font-weight-bold mb-1" href="#" @click.prevent="showModal('inviteFriend')">Пригласить</a>
									</div>
								</div>
							</div>
						</template>
						<router-view />
					</div>
				</div>
			</div>
		</div>
		<modal name="inviteFriend" :adaptive="true" :minWidth="280" :maxWidth="390" :height="'auto'" :scrollable="true">
			<div class="modal-in">
				<div class="modal-body">
					<button class="modal-close button-clr" type="button" @click="hideModal('inviteFriend')">
						<app-svg-icon name="close" />
					</button>
					<form>
						<div class="pt-4 pb-3">
							<div class="modal-title">Пригласите друга!</div>
							<div class="color-gray-2 mb-3">Введите email на который будет <br> отправлено приглашение на сайт</div>
							<div class="form-group mb-4">
								<input class="form-control" type="text" placeholder="Email друга">
							</div>
							<a class="row row_indents_s color-blue mb-4 pb-3" href="#">
								<div class="column">
									<app-svg-icon class="color-grey-dark" name="clip-2" />
								</div>
								<div class="column">Скопировать ссылку</div>
							</a>
							<button class="button button-blue button-clr" @click="hideModal('inviteFriend')" type="button">Далее</button>
						</div>
					</form>
				</div>
			</div>
		</modal>
	</div>
</template>

<script>
	import BreadCrumbs from '../components/Breadcrumbs.vue'
	import SvgIcon from '../components/SvgIcon.vue'
	import Multiselect from 'vue-multiselect'
	export default {

		name: 'my-buynow',

		data () {
			return {
				breadcrumbsList: [
					{
						main: true,
						url: '/',
						linkName: 'Главная'
					},
					{
						url: '/my-buynow',
						linkName: 'Мой buynow'
					}
				],
				listLinks: [
					{
						links: [
							{
								main: true,
								linkName: 'Мой Buynow',
								linkIcon: 'bar-chart',
								url: 'my-buynow'
							},
							{
								linkName: 'Мой профиль',
								linkIcon: 'news-paper',
								url: 'personal'
							},
							{
								linkName: 'Центр сообщений',
								linkIcon: 'chat',
								url: 'messeges'
							},
							{
								linkName: 'Корзина',
								linkIcon: 'bag',
								url: 'my-basket',
							},
							{
								linkName: 'Мои желания',
								linkIcon: 'heart',
								url: 'my-wish',
							},
							{
								linkName: 'История просмотров',
								linkIcon: 'eye-2',
								url: 'browsing-history',
							},
							{
								linkName: 'Мои заказы',
								linkIcon: 'shopping-bag',
								url: 'my-orders',
							},
							{
								linkName: 'disabled link',
								linkIcon: 'bag',
								url: '#',
								disabled: true
							},
						]
					},
					{
						links: [
							{
								linkName: 'Мой магазин',
								linkIcon: 'shop',
								url: 'my-shop',
							},
							{
								linkName: 'Мои объявления',
								linkIcon: 'ads',
								url: 'my-ads',
							},
							{
								linkName: 'Мои лоты',
								linkIcon: 'lots',
								url: 'my-lots',
							},
							{
								linkName: 'Мои купоны',
								linkIcon: 'gift',
								url: 'my-coupons',
							},
							{
								linkName: 'Опросы',
								linkIcon: 'question',
								url: 'my-polls',
							},
						]
					},
					{
						links: [
							{
								linkName: 'Центр поддержки',
								linkIcon: 'support',
								url: 'support',
							},
							{
								linkName: 'База знаний',
								linkIcon: 'book',
								url: 'article-category',
							},
							{
								linkName: 'Рефералы',
								linkIcon: 'book',
								url: 'referals',
							},
						]
					},
				],
				operations: {
					value: [],
					items: [
						{ name: 'Операция 1'},
						{ name: 'Операция 2'},
						{ name: 'Операция 3'}
					]
				},
			}
		},
		methods: {
			testRouter (name) {
				let routerArr = this.$route.path.split('/');
				let result;
				for( let i = 0; i < routerArr.length; i++ ) {
					if ( routerArr[i] == name ) {
						result = true
						break
					} else {
						result = false
					}
				}
				return result
			},
			showModal (modal) {
				this.$modal.show(modal);
			},
			hideModal (modal) {
				this.$modal.hide(modal);
			}
		},
		computed: {
			crumbs: function() {
				let pathArray = this.$route.path.split("/")
				let breadcrumbs = pathArray.reduce((breadcrumbArray, path, idx) => {
					breadcrumbArray.push({
						path: path,
						to: breadcrumbArray[idx - 1] ? ( breadcrumbArray[idx - 1].to == '/' ? breadcrumbArray[idx - 1].to + path : breadcrumbArray[idx - 1].to + '/' + path ) : '/',
						text: this.$route.matched[idx].meta.breadcrumb || path,
					});
					return breadcrumbArray;
				}, [])
				return breadcrumbs;
			}
		},
		components: {
			appBreadcrumbs: BreadCrumbs,
			appSvgIcon: SvgIcon,
			Multiselect,
		}
	}
</script>

<style lang="scss" scoped>
</style>