<template>
	<div>
		<div class="row">
			<div class="col-6 col-lg-4 mb-4" v-for="(index, keyID) in 3" :key="keyID">
				<app-card>
					<template v-slot:cardimg>
						<img src="../assets/images/ads-card-img.png" alt="">
					</template>
					<template v-slot:cardcontent>
						<h4 class="ads-card-price mb-2">- 20% на сумки!</h4>
						<div class="color-dark-80 mb-2 pb-1">-20% при покупки сумок Lorem Ipsum Standard</div>
						<div class="row row_indents_s justify-content-between pb-2 mb-1">
							<div class="column">
								<a class="user user_smallest row row_indents_s flex-nowrap align-items-center color-dark-80 text-decoration-none" href="#">
									<div class="column"><div class="color-dark-50 font-size-10">от</div></div>
									<div class="user-avatar flex-shrink-0 column">
										<img src="../assets/images/user-avatar-small.png" alt="">
									</div>
									<div class="column">
										<div class="font-size-9">@menfashion</div>
									</div>
								</a>
							</div>
							<div class="column"><div class="font-size-10 color-grey-dark">Продано 34 из 50</div></div>
						</div>
						<div class="d-flex flex-nowrap align-items-center color-blue">
							<app-svg-icon class="flex-shrink-0 font-size-18" name="time" />
							<span class="ml-2 text-small">23.04.19 - 02.05.19</span>
						</div>
					</template>
					<template v-slot:cardfooter>
						<div class="row row_indents_m">
							<div class="column mr-auto">
								<a class="color-gray-2 font-size-20 hover-color-blue" href="#" @click.prevent="showModal('giveAgift')">
									<app-svg-icon name="gift" />
								</a>
							</div>
							<div class="column">
								<a class="color-gray-2 font-size-20 hover-color-blue" href="#">
									<app-svg-icon name="eye-2" />
								</a>
							</div>
							<div class="column">
								<a class="color-gray-2 font-size-20 hover-color-blue" href="#">
									<app-svg-icon name="garbage" />
								</a>
							</div>
						</div>
					</template>
				</app-card>
			</div>
		</div>
		<modal name="giveAgift" :adaptive="true" :minWidth="280" :maxWidth="390" :height="'auto'" :scrollable="true">
			<div class="modal-in">
				<div class="modal-body">
					<button class="modal-close button-clr" type="button" @click="hideModal('giveAgift')">
						<app-svg-icon name="close" />
					</button>
					<form>
						<div class="pt-4 pb-3">
							<div class="modal-title">Подарить купон</div>
							<div class="color-gray-2 mb-3">Введите @имя пользователя или Email на который будет отправлен купон</div>
							<div class="form-group mb-4">
								<input class="form-control" type="text" placeholder="Email друга">
							</div>
							<a class="row row_indents_s color-blue mb-4 pb-3" href="#">
								<div class="column">
									<app-svg-icon class="color-grey-dark" name="clip-2" />
								</div>
								<div class="column">Скопировать ссылку</div>
							</a>
							<button class="button button-blue button-clr" @click="hideModal('giveAgift')" type="button">Далее</button>
						</div>
					</form>
				</div>
			</div>
		</modal>
	</div>
</template>

<script>
	import card from '../components/card-uni.vue'
	import SvgIcon from '../components/SvgIcon'
	export default {

		name: 'my-coupons',

		data () {
			return {
			}
		},
		methods: {
			showModal (modal) {
				this.$modal.show(modal);
			},
			hideModal (modal) {
				this.$modal.hide(modal);
			}
		},
		components: {
			appCard: card,
			appSvgIcon: SvgIcon,
		}
	}
</script>

<style lang="css" scoped>
</style>