<template>
	<div class="my-orders">
		<div class="section mb-4 pb-1">
			<div v-if="!checkRouteOnCreateLotName('create-lot') && this.$route.name != 'lot-inside' ">
				<div class="row">
					<div class="col-4 col-lg-3">
						<div class="wrap p-4">
							<h4>Мои покупки</h4>
							<ul class="messeges-nav list-unstyled mt-4 pt-2 mb-5 pb-4">
								<router-link
									v-for="(link, keyLink) in list.links"
									:key="keyLink"
									:exact="link.main"
									active-class="active"
									tag="li"
									:class="{ disabled: link.disabled }"
									:event="link.disabled ? 'click' : ''"
									:to="{name: link.url}">
										<a>
											<span class="row row_indents_m justify-content-between align-items-center">
												<span class="column color-dark-80">{{link.linkName}}</span>
												<span class="column color-dark-50 text-small">{{link.linkValue}}</span>
											</span>
										</a>
								</router-link>
							</ul>
						</div>
					</div>
					<div class="col-8 col-lg-9">
						<div class="wrap p-4">
							<div class="mb-5">
								<div class="table-responsive mb-3">
									<div class="basket-wrap">
										<div class="column">
											<div class="basket-collapse-title row align-items-center justify-content-between">
												<div class="column">
													<div class="row align-items-center">
														<div class="column flex-grow-0">
															<button class="basket-order-delete color-dark-30 button-clr" type="button">
																<app-svg-icon name="garbage-2" />
															</button>
														</div>
														<div class="column">
															<div class="d-flex flex-nowrap color-dark-80">
																<span class="color-dark-30">Заказ №:</span>
																<div>8009241696077048</div>
															</div>
															<div class="d-flex flex-nowrap color-dark-80">
																<span class="color-dark-30">Время заказа:</span>
																<div>12.12.2020 12:32</div>
															</div>
														</div>
													</div>
												</div>
												<div class="column">
													<div class="row row_indents_m flex-nowrap align-items-center justify-content-end">
														<div class="column">
															<div class="color-dark-30">Проблема с заказом?</div>
															<div>
																<a href="#">
																	<app-svg-icon class="font-size-16 mr-1" name="mail" />
																	<span>Напишите нам</span>
																</a>
															</div>
														</div>
														<div class="column">
															<button class="basket-collapse-toggle color-dark-30 button-clr" type="button" data-target="first" @click.stop="collapse($event)">
																<app-svg-icon name="arrow-down" />
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="basket-collapse-content" data-id="first">
											<table class="table basket-table mb-0">
												<tbody>
													<tr>
														<td class="w-50">
															<div class="basket-table-item">
																<div class="row row_indents_m align-items-center flex-lg-nowrap">
																	<div class="column flex-shrink-0 mb-3 mb-lg-0">
																		<div class="basket-table-img">
																			<img src="../assets/images/bestSeller1.png" alt="">
																		</div>
																	</div>
																	<div class="column">
																		<div class="font-weight-bold color-dark-main">Leather Book Terra in Buffalo</div>
																		<div class="color-dark-80"><span class="color-dark-30">Характеристики:</span> Brown Lether</div>
																		<div class="color-dark-80">$33.9 Х2</div>
																	</div>
																</div>
															</div>
														</td>
														<td class="w-50 pl-5">
															<div class="pl-5">
																<div class="d-flex flex-nowrap color-dark-80">
																	<span class="color-dark-30">Магазин:</span>
																	<a class="color-blue" href="#">Название магазина</a>
																</div>
																<div class="d-flex flex-nowrap color-dark-80">
																	<span class="color-dark-30">Метод доставки:</span>
																	<div>DHL</div>
																</div>
															</div>
														</td>
														
													</tr>
													<tr>
														<td class="w-50">
															<div class="basket-table-item">
																<div class="row row_indents_m align-items-center flex-lg-nowrap">
																	<div class="column flex-shrink-0 mb-3 mb-lg-0">
																		<div class="basket-table-img">
																			<img src="../assets/images/bestSeller1.png" alt="">
																		</div>
																	</div>
																	<div class="column">
																		<div class="font-weight-bold color-dark-main">Leather Book Terra in Buffalo</div>
																		<div class="color-dark-80"><span class="color-dark-30">Характеристики:</span> Brown Lether</div>
																		<div class="color-dark-80">$33.9 Х2</div>
																	</div>
																</div>
															</div>
														</td>
														<td class="w-50 pl-5">
															<div class="pl-5">
																<div class="d-flex flex-nowrap color-dark-80">
																	<span class="color-dark-30">Магазин:</span>
																	<a class="color-blue" href="#">Название магазина</a>
																</div>
																<div class="d-flex flex-nowrap color-dark-80">
																	<span class="color-dark-30">Метод доставки:</span>
																	<div>DHL</div>
																</div>
															</div>
														</td>
														
													</tr>
													<tr>
														<td class="w-50">
															<div class="basket-table-item">
																<div class="row row_indents_m align-items-center flex-lg-nowrap">
																	<div class="column flex-shrink-0 mb-3 mb-lg-0">
																		<div class="basket-table-img">
																			<img src="../assets/images/bestSeller1.png" alt="">
																		</div>
																	</div>
																	<div class="column">
																		<div class="font-weight-bold color-dark-main">Leather Book Terra in Buffalo</div>
																		<div class="color-dark-80"><span class="color-dark-30">Характеристики:</span> Brown Lether</div>
																		<div class="color-dark-80">$33.9 Х2</div>
																	</div>
																</div>
															</div>
														</td>
														<td class="w-50 pl-5">
															<div class="pl-5">
																<div class="d-flex flex-nowrap color-dark-80">
																	<span class="color-dark-30">Магазин:</span>
																	<a class="color-blue" href="#">Название магазина</a>
																</div>
																<div class="d-flex flex-nowrap color-dark-80">
																	<span class="color-dark-30">Метод доставки:</span>
																	<div>DHL</div>
																</div>
															</div>
														</td>
														
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="my-orders-column col-6 col-lg-3 mb-4 d-flex flex-column align-items-center">
										<div class="my-orders-box d-inline-flex flex-column justify-content-center flex-grow-1">
											<div class="color-dark-30">Стоимость</div>
											<div class="font-weight-bold">123 434 сум</div>
										</div>
									</div>
									<div class="my-orders-column col-6 col-lg-3 mb-4 d-flex flex-column align-items-center">
										<div class="my-orders-box d-inline-flex flex-column justify-content-center flex-grow-1">
											<div class="color-dark-30">Скидка</div>
											<div class="font-weight-bold">32 232 сум</div>
										</div>
									</div>
									<div class="my-orders-column col-6 col-lg-3 mb-4 d-flex flex-column align-items-center">
										<div class="my-orders-box d-inline-flex flex-column justify-content-center flex-grow-1">
											<div class="color-dark-30">Упаковка</div>
											<div class="font-weight-bold">32 323 сум</div>
										</div>
									</div>
									<div class="my-orders-column col-6 col-lg-3 mb-4 d-flex flex-column align-items-center">
										<div class="my-orders-box d-inline-flex flex-column justify-content-center flex-grow-1">
											<div class="color-dark-30">Сумма заказа</div>
											<div class="font-weight-bold">123 434 сум</div>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-5">
								<div class="table-responsive mb-3">
									<div class="basket-wrap">
										<div class="column">
											<div class="basket-collapse-title row align-items-center justify-content-between">
												<div class="column">
													<div class="row align-items-center">
														<div class="column flex-grow-0">
															<button class="basket-order-delete color-dark-30 button-clr" type="button">
																<app-svg-icon name="garbage-2" />
															</button>
														</div>
														<div class="column">
															<div class="d-flex flex-nowrap color-dark-80">
																<span class="color-dark-30">Заказ №:</span>
																<div>8009241696077048</div>
															</div>
															<div class="d-flex flex-nowrap color-dark-80">
																<span class="color-dark-30">Время заказа:</span>
																<div>12.12.2020 12:32</div>
															</div>
														</div>
													</div>
												</div>
												<div class="column">
													<div class="row row_indents_m flex-nowrap align-items-center justify-content-end">
														<div class="column">
															<div class="color-dark-30">Проблема с заказом?</div>
															<div>
																<a href="#">
																	<app-svg-icon class="font-size-16 mr-1" name="mail" />
																	<span>Напишите нам</span>
																</a>
															</div>
														</div>
														<div class="column">
															<button class="basket-collapse-toggle color-dark-30 button-clr" type="button" data-target="second" @click.stop="collapse($event)">
																<app-svg-icon name="arrow-down" />
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="basket-collapse-content" data-id="second">
											<table class="table basket-table mb-0">
												<tbody>
													<tr>
														<td class="w-50">
															<div class="basket-table-item">
																<div class="row row_indents_m align-items-center flex-lg-nowrap">
																	<div class="column flex-shrink-0 mb-3 mb-lg-0">
																		<div class="basket-table-img">
																			<img src="../assets/images/bestSeller1.png" alt="">
																		</div>
																	</div>
																	<div class="column">
																		<div class="font-weight-bold color-dark-main">Leather Book Terra in Buffalo</div>
																		<div class="color-dark-80"><span class="color-dark-30">Характеристики:</span> Brown Lether</div>
																		<div class="color-dark-80">$33.9 Х2</div>
																	</div>
																</div>
															</div>
														</td>
														<td class="w-50 pl-5">
															<div class="pl-5">
																<div class="d-flex flex-nowrap color-dark-80">
																	<span class="color-dark-30">Магазин:</span>
																	<a class="color-blue" href="#">Название магазина</a>
																</div>
																<div class="d-flex flex-nowrap color-dark-80">
																	<span class="color-dark-30">Метод доставки:</span>
																	<div>DHL</div>
																</div>
															</div>
														</td>
														
													</tr>
													<tr>
														<td class="w-50">
															<div class="basket-table-item">
																<div class="row row_indents_m align-items-center flex-lg-nowrap">
																	<div class="column flex-shrink-0 mb-3 mb-lg-0">
																		<div class="basket-table-img">
																			<img src="../assets/images/bestSeller1.png" alt="">
																		</div>
																	</div>
																	<div class="column">
																		<div class="font-weight-bold color-dark-main">Leather Book Terra in Buffalo</div>
																		<div class="color-dark-80"><span class="color-dark-30">Характеристики:</span> Brown Lether</div>
																		<div class="color-dark-80">$33.9 Х2</div>
																	</div>
																</div>
															</div>
														</td>
														<td class="w-50 pl-5">
															<div class="pl-5">
																<div class="d-flex flex-nowrap color-dark-80">
																	<span class="color-dark-30">Магазин:</span>
																	<a class="color-blue" href="#">Название магазина</a>
																</div>
																<div class="d-flex flex-nowrap color-dark-80">
																	<span class="color-dark-30">Метод доставки:</span>
																	<div>DHL</div>
																</div>
															</div>
														</td>
														
													</tr>
													<tr>
														<td class="w-50">
															<div class="basket-table-item">
																<div class="row row_indents_m align-items-center flex-lg-nowrap">
																	<div class="column flex-shrink-0 mb-3 mb-lg-0">
																		<div class="basket-table-img">
																			<img src="../assets/images/bestSeller1.png" alt="">
																		</div>
																	</div>
																	<div class="column">
																		<div class="font-weight-bold color-dark-main">Leather Book Terra in Buffalo</div>
																		<div class="color-dark-80"><span class="color-dark-30">Характеристики:</span> Brown Lether</div>
																		<div class="color-dark-80">$33.9 Х2</div>
																	</div>
																</div>
															</div>
														</td>
														<td class="w-50 pl-5">
															<div class="pl-5">
																<div class="d-flex flex-nowrap color-dark-80">
																	<span class="color-dark-30">Магазин:</span>
																	<a class="color-blue" href="#">Название магазина</a>
																</div>
																<div class="d-flex flex-nowrap color-dark-80">
																	<span class="color-dark-30">Метод доставки:</span>
																	<div>DHL</div>
																</div>
															</div>
														</td>
														
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="my-orders-column col-6 col-lg-3 mb-4 d-flex flex-column align-items-center">
										<div class="my-orders-box d-inline-flex flex-column justify-content-center flex-grow-1">
											<div class="color-dark-30">Стоимость</div>
											<div class="font-weight-bold">123 434 сум</div>
										</div>
									</div>
									<div class="my-orders-column col-6 col-lg-3 mb-4 d-flex flex-column align-items-center">
										<div class="my-orders-box d-inline-flex flex-column justify-content-center flex-grow-1">
											<div class="color-dark-30">Скидка</div>
											<div class="font-weight-bold">32 232 сум</div>
										</div>
									</div>
									<div class="my-orders-column col-6 col-lg-3 mb-4 d-flex flex-column align-items-center">
										<div class="my-orders-box d-inline-flex flex-column justify-content-center flex-grow-1">
											<div class="color-dark-30">Упаковка</div>
											<div class="font-weight-bold">32 323 сум</div>
										</div>
									</div>
									<div class="my-orders-column col-6 col-lg-3 mb-4 d-flex flex-column align-items-center">
										<div class="my-orders-box d-inline-flex flex-column justify-content-center flex-grow-1">
											<div class="color-dark-30">Сумма заказа</div>
											<div class="font-weight-bold">123 434 сум</div>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-5">
								<div class="table-responsive mb-3">
									<div class="basket-wrap">
										<div class="column">
											<div class="basket-collapse-title row align-items-center justify-content-between">
												<div class="column">
													<div class="row align-items-center">
														<div class="column flex-grow-0">
															<button class="basket-order-delete color-dark-30 button-clr" type="button">
																<app-svg-icon name="garbage-2" />
															</button>
														</div>
														<div class="column">
															<div class="d-flex flex-nowrap color-dark-80">
																<span class="color-dark-30">Заказ №:</span>
																<div>8009241696077048</div>
															</div>
															<div class="d-flex flex-nowrap color-dark-80">
																<span class="color-dark-30">Время заказа:</span>
																<div>12.12.2020 12:32</div>
															</div>
														</div>
													</div>
												</div>
												<div class="column">
													<div class="row row_indents_m flex-nowrap align-items-center justify-content-end">
														<div class="column">
															<div class="color-dark-30">Проблема с заказом?</div>
															<div>
																<a href="#">
																	<app-svg-icon class="font-size-16 mr-1" name="mail" />
																	<span>Напишите нам</span>
																</a>
															</div>
														</div>
														<div class="column">
															<button class="basket-collapse-toggle color-dark-30 button-clr" type="button" data-target="third" @click.stop="collapse($event)">
																<app-svg-icon name="arrow-down" />
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="basket-collapse-content" data-id="third">
											<table class="table basket-table mb-0">
												<tbody>
													<tr>
														<td class="w-50">
															<div class="basket-table-item">
																<div class="row row_indents_m align-items-center flex-lg-nowrap">
																	<div class="column flex-shrink-0 mb-3 mb-lg-0">
																		<div class="basket-table-img">
																			<img src="../assets/images/bestSeller1.png" alt="">
																		</div>
																	</div>
																	<div class="column">
																		<div class="font-weight-bold color-dark-main">Leather Book Terra in Buffalo</div>
																		<div class="color-dark-80"><span class="color-dark-30">Характеристики:</span> Brown Lether</div>
																		<div class="color-dark-80">$33.9 Х2</div>
																	</div>
																</div>
															</div>
														</td>
														<td class="w-50 pl-5">
															<div class="pl-5">
																<div class="d-flex flex-nowrap color-dark-80">
																	<span class="color-dark-30">Магазин:</span>
																	<a class="color-blue" href="#">Название магазина</a>
																</div>
																<div class="d-flex flex-nowrap color-dark-80">
																	<span class="color-dark-30">Метод доставки:</span>
																	<div>DHL</div>
																</div>
															</div>
														</td>
														
													</tr>
													<tr>
														<td class="w-50">
															<div class="basket-table-item">
																<div class="row row_indents_m align-items-center flex-lg-nowrap">
																	<div class="column flex-shrink-0 mb-3 mb-lg-0">
																		<div class="basket-table-img">
																			<img src="../assets/images/bestSeller1.png" alt="">
																		</div>
																	</div>
																	<div class="column">
																		<div class="font-weight-bold color-dark-main">Leather Book Terra in Buffalo</div>
																		<div class="color-dark-80"><span class="color-dark-30">Характеристики:</span> Brown Lether</div>
																		<div class="color-dark-80">$33.9 Х2</div>
																	</div>
																</div>
															</div>
														</td>
														<td class="w-50 pl-5">
															<div class="pl-5">
																<div class="d-flex flex-nowrap color-dark-80">
																	<span class="color-dark-30">Магазин:</span>
																	<a class="color-blue" href="#">Название магазина</a>
																</div>
																<div class="d-flex flex-nowrap color-dark-80">
																	<span class="color-dark-30">Метод доставки:</span>
																	<div>DHL</div>
																</div>
															</div>
														</td>
														
													</tr>
													<tr>
														<td class="w-50">
															<div class="basket-table-item">
																<div class="row row_indents_m align-items-center flex-lg-nowrap">
																	<div class="column flex-shrink-0 mb-3 mb-lg-0">
																		<div class="basket-table-img">
																			<img src="../assets/images/bestSeller1.png" alt="">
																		</div>
																	</div>
																	<div class="column">
																		<div class="font-weight-bold color-dark-main">Leather Book Terra in Buffalo</div>
																		<div class="color-dark-80"><span class="color-dark-30">Характеристики:</span> Brown Lether</div>
																		<div class="color-dark-80">$33.9 Х2</div>
																	</div>
																</div>
															</div>
														</td>
														<td class="w-50 pl-5">
															<div class="pl-5">
																<div class="d-flex flex-nowrap color-dark-80">
																	<span class="color-dark-30">Магазин:</span>
																	<a class="color-blue" href="#">Название магазина</a>
																</div>
																<div class="d-flex flex-nowrap color-dark-80">
																	<span class="color-dark-30">Метод доставки:</span>
																	<div>DHL</div>
																</div>
															</div>
														</td>
														
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="my-orders-column col-6 col-lg-3 mb-4 d-flex flex-column align-items-center">
										<div class="my-orders-box d-inline-flex flex-column justify-content-center flex-grow-1">
											<div class="color-dark-30">Стоимость</div>
											<div class="font-weight-bold">123 434 сум</div>
										</div>
									</div>
									<div class="my-orders-column col-6 col-lg-3 mb-4 d-flex flex-column align-items-center">
										<div class="my-orders-box d-inline-flex flex-column justify-content-center flex-grow-1">
											<div class="color-dark-30">Скидка</div>
											<div class="font-weight-bold">32 232 сум</div>
										</div>
									</div>
									<div class="my-orders-column col-6 col-lg-3 mb-4 d-flex flex-column align-items-center">
										<div class="my-orders-box d-inline-flex flex-column justify-content-center flex-grow-1">
											<div class="color-dark-30">Упаковка</div>
											<div class="font-weight-bold">32 323 сум</div>
										</div>
									</div>
									<div class="my-orders-column col-6 col-lg-3 mb-4 d-flex flex-column align-items-center">
										<div class="my-orders-box d-inline-flex flex-column justify-content-center flex-grow-1">
											<div class="color-dark-30">Сумма заказа</div>
											<div class="font-weight-bold">123 434 сум</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<router-view />
		</div>
	</div>
</template>

<script>
	import SvgIcon from '../components/SvgIcon.vue'
	// import toggleEl from '../components/toggle-el.vue'
	export default {
		name: 'my-orders',
		data () {
			return {
				list: {
					links: [
						{
							main: true,
							linkName: 'Все покупки',
							linkValue: '1 580',
							url: 'all-lots'
						},
						{
							linkName: 'Ожидают доставки',
							linkValue: '893',
							url: 'my-lots'
						},
					]
				}
			}
		},
		methods: {
			checkRouteOnCreateLotName (routeName) {
				return this.$router.currentRoute.name == routeName ? true : false
			},
			collapse (event) {
				let btn = event.currentTarget;
				let btnTarget = btn.getAttribute('data-target');
				let collapseItems = document.querySelectorAll('.basket-collapse-content');
				let collapseBox = document.querySelector('[data-id="'+btnTarget+'"]')
				collapseItems.forEach(function(elem) {
					if ( elem.getAttribute('data-id') == btnTarget ) {
						elem.classList.toggle('expanded')
						elem.parentElement.querySelector('.basket-collapse-toggle').classList.add('active')
						elem.style.maxHeight = elem.scrollHeight + "px";
					} else {
						elem.classList.remove('expanded')
						elem.style.maxHeight = null;
						elem.parentElement.querySelector('.basket-collapse-toggle').classList.remove('active')
					}
				})
				if ( !(collapseBox.classList.contains('expanded')) ) {
					collapseBox.style.maxHeight = null;
					collapseBox.parentElement.querySelector('.basket-collapse-toggle').classList.remove('active')
				}
			}
		},
		components: {
			appSvgIcon: SvgIcon,
			// appToggleEl: toggleEl,
		}
	}
</script>
<style lang="scss" scoped>
	.basket-order-delete {
		border-radius: 50%;
		width: 34px;
		height: 34px;
		background-color: #fff;
		&:hover {
			color: #000 !important;
			.svg-icon {
				color: #000 !important;
			}
		}
	}
</style>