<template>
	<div>
		<div class="row">
			<div class="col-6 col-lg-4 mb-4">
				<app-card class="ads-card-box-poll">
					<template v-slot:cardimg>
						<img src="../assets/images/ads-card-img.png" alt="">
						<a class="user user_card-absolute user_smallest row row_indents_s flex-nowrap align-items-center color-dark-80 text-decoration-none" href="#">
							<div class="column"><div class="color-dark-50 font-size-10">от</div></div>
							<div class="user-avatar flex-shrink-0 column">
								<img src="../assets/images/user-avatar-small.png" alt="">
							</div>
							<div class="column">
								<div class="font-size-9">@menfashion</div>
							</div>
						</a>
					</template>
					<template v-slot:cardcontent>
						<h4 class="ads-card-price mb-1">Какой товар вам подходит больше? </h4>
						<div class="text-small color-grey-dark mb-2">5 вопросов</div>
						<div class="text-small color-blue mt-2 mb-2">Бонус 500 BNW</div>
						<div class="font-size-10 mt-3 mb-3">12 000 участников проголосовало</div>
						<a class="button button-regular button-regular_grey poll-done w-100" href="#">Пройден</a>
					</template>
				</app-card>
			</div>
			<div class="col-6 col-lg-4 mb-4">
				<app-card class="ads-card-box-poll">
					<template v-slot:cardimg>
						<img src="../assets/images/ads-card-img.png" alt="">
						<a class="user user_card-absolute user_smallest row row_indents_s flex-nowrap align-items-center color-dark-80 text-decoration-none" href="#">
							<div class="column"><div class="color-dark-50 font-size-10">от</div></div>
							<div class="user-avatar flex-shrink-0 column">
								<img src="../assets/images/user-avatar-small.png" alt="">
							</div>
							<div class="column">
								<div class="font-size-9">@menfashion</div>
							</div>
						</a>
					</template>
					<template v-slot:cardcontent>
						<h4 class="ads-card-price mb-1">Какой товар вам подходит больше? </h4>
						<div class="text-small color-grey-dark mb-2">5 вопросов</div>
						<div class="text-small color-blue mt-2 mb-2">Бонус 500 BNW</div>
						<div class="font-size-10 mt-3 mb-3">12 000 участников проголосовало</div>
						<a class="button button-regular button-regular_grey w-100" href="#" @click.prevent="showModal('startPoll')">Участвовать</a>
					</template>
				</app-card>
			</div>
			<div class="col-6 col-lg-4 mb-4">
				<app-card class="ads-card-box-poll">
					<template v-slot:cardimg>
						<img src="../assets/images/ads-card-img.png" alt="">
						<a class="user user_card-absolute user_smallest row row_indents_s flex-nowrap align-items-center color-dark-80 text-decoration-none" href="#">
							<div class="column"><div class="color-dark-50 font-size-10">от</div></div>
							<div class="user-avatar flex-shrink-0 column">
								<img src="../assets/images/user-avatar-small.png" alt="">
							</div>
							<div class="column">
								<div class="font-size-9">@menfashion</div>
							</div>
						</a>
					</template>
					<template v-slot:cardcontent>
						<h4 class="ads-card-price mb-1">Какой товар вам подходит больше? </h4>
						<div class="text-small color-grey-dark mb-2">5 вопросов</div>
						<div class="text-small color-blue mt-2 mb-2">Бонус 500 BNW</div>
						<div class="font-size-10 mt-3 mb-3">12 000 участников проголосовало</div>
						<a class="button button-regular button-regular_grey w-100" href="#" @click.prevent="showModal('startPoll')">Участвовать</a>
					</template>
				</app-card>
			</div>
		</div>
		<modal name="startPoll" :adaptive="true" :minWidth="280" :maxWidth="580" :height="'auto'" :scrollable="true">
			<div class="modal-in">
				<div class="modal-body">
					<button class="modal-close button-clr" type="button" @click="hideModal('startPoll')">
						<app-svg-icon name="close" />
					</button>
					<div class="pt-4 pb-3 text-center">
						<div class="pb-5">
							<img class="mt-4 mb-5" src="../assets/images/poll-content-modal.png" alt="">
						</div>
						<div class="modal-title mb-4">Получайте бонусы, отвечая на вопросы</div>
						<div class="color-gray-2 mb-5 pb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, eligendi quis ducimus ea assumenda voluptatem velit molestiae culpa labore possimus.</div>
						<button class="button button-blue button-clr" @click="hideModal('startPoll')" type="button">Пройти опрос</button>
					</div>
				</div>
			</div>
		</modal>
	</div>
</template>

<script>
	import card from '../components/card-uni.vue'
	import SvgIcon from '../components/SvgIcon'
	export default {

		name: 'my-polls',

		data () {
			return {
			}
		},
		methods: {
			showModal (modal) {
				this.$modal.show(modal);
			},
			hideModal (modal) {
				this.$modal.hide(modal);
			}
		},
		components: {
			appCard: card,
			appSvgIcon: SvgIcon,
		}
	}
</script>

<style lang="css" scoped>
</style>