<template>
	<div class="wrap">
		<vue-tabs class="tabs-style" v-model="tabName">
			<v-tab id="basket" title="Корзина">
				<div class="pl-4 pr-4">
					<h4>Корзина <span class="font-size-18 color-dark-50 font-weight-normal">3</span></h4>
					<div class="table-responsive">
						<div class="basket-wrap">
							<table class="table basket-table">
								<thead>
									<tr>
										<th>Наименование</th>
										<th>Цена</th>
										<th>Количество</th>
										<th >Стоимость</th>
										<th>&nbsp;</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div class="basket-table-item">
												<div class="row row_indents_m align-items-center flex-lg-nowrap">
													<div class="column flex-shrink-0 mb-3 mb-lg-0">
														<div class="basket-table-img">
															<img src="../assets/images/bestSeller1.png" alt="">
														</div>
													</div>
													<div class="column">
														<div class="row row_indents_s align-items-center">
															<div class="font-weight-bold color-dark-main column">Leather Book Terra in Buffalo</div>
															<div class="column">
																<appFavourite class="color-dark-30 font-size-16" />
															</div>
														</div>
														<div class="color-dark-80"><span class="color-dark-30">Характеристики:</span> Brown Lether</div>
														<div class="color-dark-80"><span class="color-dark-30">Магазин:</span> Название магазина</div>
														<div class="row row_indents_s flex-nowrap align-items-center mt-1">
															<div class="column color-blue">Метод доставки:</div>
															<div class="column">
																<multiselect
																	class="multiselect-smaller"
																	:placeholder="'Выберите'"
																	v-model="delivery.value"
																	:options="delivery.items"
																	:maxHeight="200"
																	track-by="name"
																	:searchable="false"
																	label="name">
																		<span 
																			class="arrow" 
																			slot="caret" 
																			slot-scope="{ toggle }" 
																			@mousedown.prevent.stop="toggle">
																			<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
																		</span>
																</multiselect>
															</div>
														</div>
													</div>
												</div>
											</div>
										</td>
										<td><div>$33.9</div></td>
										<td>
											<app-count />
										</td>
										<td><div>$33.9</div></td>
										<td>
											<div class="row row_indents_m flex-nowrap align-items-center">
												<div class="column">
													<button class="font-size-20 color-dark-30 button-clr" type="button">
														<app-svg-icon name="garbage-2" />
													</button>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="basket-table-item">
												<div class="row row_indents_m align-items-center flex-lg-nowrap">
													<div class="column flex-shrink-0 mb-3 mb-lg-0">
														<div class="basket-table-img">
															<img src="../assets/images/basket-img.png" alt="">
														</div>
													</div>
													<div class="column">
														<div class="row row_indents_s align-items-center">
															<div class="font-weight-bold color-dark-main column">Leather Book Terra in Buffalo</div>
															<div class="column">
																<appFavourite class="color-dark-30 font-size-16" />
															</div>
														</div>
														<div class="color-dark-80"><span class="color-dark-30">Характеристики:</span> Brown Lether</div>
														<div class="color-dark-80"><span class="color-dark-30">Магазин:</span> Название магазина</div>
														<div class="row row_indents_s flex-nowrap align-items-center mt-1">
															<div class="column color-blue">Метод доставки:</div>
															<div class="column">
																<multiselect
																	class="multiselect-smaller"
																	:placeholder="'Выберите'"
																	v-model="delivery2.value"
																	:options="delivery2.items"
																	:maxHeight="200"
																	track-by="name"
																	:searchable="false"
																	label="name">
																		<span 
																			class="arrow" 
																			slot="caret" 
																			slot-scope="{ toggle }" 
																			@mousedown.prevent.stop="toggle">
																			<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
																		</span>
																</multiselect>
															</div>
														</div>
													</div>
												</div>
											</div>
										</td>
										<td><div>$14.9</div></td>
										<td>
											<app-count />
										</td>
										<td><div>$14.9</div></td>
										<td>
											<div class="row row_indents_m flex-nowrap align-items-center">
												<div class="column">
													<button class="font-size-20 color-dark-30 button-clr" type="button">
														<app-svg-icon name="garbage-2" />
													</button>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="basket-table-item">
												<div class="row row_indents_m align-items-center flex-lg-nowrap">
													<div class="column flex-shrink-0 mb-3 mb-lg-0">
														<div class="basket-table-img">
															<img src="../assets/images/basket-img2.png" alt="">
														</div>
													</div>
													<div class="column">
														<div class="row row_indents_s align-items-center">
															<div class="font-weight-bold color-dark-main column">Leather Book Terra in Buffalo</div>
															<div class="column">
																<appFavourite class="color-dark-30 font-size-16" />
															</div>
														</div>
														<div class="color-dark-80"><span class="color-dark-30">Характеристики:</span> Brown Lether</div>
														<div class="color-dark-80"><span class="color-dark-30">Магазин:</span> Название магазина</div>
														<div class="row row_indents_s flex-nowrap align-items-center mt-1">
															<div class="column color-blue">Метод доставки:</div>
															<div class="column">
																<multiselect
																	class="multiselect-smaller"
																	:placeholder="'Выберите'"
																	v-model="delivery3.value"
																	:options="delivery3.items"
																	:maxHeight="200"
																	track-by="name"
																	:searchable="false"
																	label="name">
																		<span 
																			class="arrow" 
																			slot="caret" 
																			slot-scope="{ toggle }" 
																			@mousedown.prevent.stop="toggle">
																			<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
																		</span>
																</multiselect>
															</div>
														</div>
													</div>
												</div>
											</div>
										</td>
										<td><div>$14.9</div></td>
										<td>
											<app-count />
										</td>
										<td><div>$14.9</div></td>
										<td>
											<div class="row row_indents_m flex-nowrap align-items-center">
												<div class="column">
													<button class="font-size-20 color-dark-30 button-clr" type="button">
														<app-svg-icon name="garbage-2" />
													</button>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="3">
											<div class="basket-table-foor-td">
												<app-checkbox
													:type="'checkbox'"
													:name="'wrap'"
													:id="'wrap'"
													:checked="true"
													:content="'Упаковать'"/>
											</div>
										</td>
										<td colspan="2"><div class="basket-table-foor-td">$10.9</div></td>
									</tr>
									<tr>
										<td colspan="3">
											<div class="basket-table-foor-td pl-0 pr-0">
												<div class="row row_indents_s align-items-center color-dark-80">
													<div class="column mb-2">Промокод</div>
													<div class="column mb-2">
														<div class="form-group succes mb-0">
															<input class="form-control" type="text" value="1204-0294">
															<app-svg-icon class="font-size-10 svg-icon_check_style-2 color-green hidden" name="check"/>
														</div>
													</div>
													<div class="column mb-2">Поздравляем! У вас 10% скидка</div>
													<!-- <div class="column ml-3">Скидка:</div> -->
												</div>
											</div>
										</td>
										<td colspan="2"><div class="basket-table-foor-td pl-0 mb-2">Скидка: <strong class="color-dark-main ml-3">$7.66</strong></div></td>
									</tr>
									<tr>
										<td colspan="3">
											<div class="basket-table-foor-td pl-0 pr-0">
												<router-link class="color-dark-50 font-weight-normal" :to="{name: 'shop-inside'}">
													<div class="d-flex flex-nowrap align-items-center">
														<app-svg-icon class="mr-2" name="arrow-left" />
														<span>Назад в магазин</span>
													</div>
												</router-link>
											</div>
										</td>
										<td colspan="2">
											<div class="basket-table-foor-td pl-0 pr-0">
												<div class="row row_indents_s flex-nowrap align-items-center">
													<div class="column text-nowrap">
														Сумма: <strong class="color-dark-main ml-2">$68.94</strong>
													</div>
													<div class="column">
														<button class="button button-blue button-clr" @click="changeTab('Доставка & Оплата')" type="button">
															<span>Далее</span>
															<app-svg-icon class="svg-icon_reverse ml-3 font-size-16 text-white" name="arrow-left"/>
														</button>
													</div>
												</div>
											</div>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</v-tab>
			<v-tab id="delivery" title="Доставка & Оплата">
				<div class="row">
					<div class="pl-4 pr-4">
						<h4>Доставка</h4>
						<div class="color-dark-80 mb-3">Пожалуйста выберите спсоб доставки</div>
						<div class="row">
							<div class="col-lg-8">
								<div class="pb-4 mb-2">
									<div class="checkbox-wrap pl-3 pr-3 pt-3 pb-2 mb-3">
										<div class="p-1">
											<app-checkbox 
												:type="'radio'"
												:name="'delSystem'"
												:id="'dhl'"
												class="checkbox-circle w-100"
												:checked="true">
													<span class="row row_indents_m flex-nowrap justify-content-between">
														<span class="col-lg-9">
															<span class="font-weight-bold color-dark-main d-block mb-2">Ташкент, Ашаханский район, 23 квартал, дом 32/а, кв. 34, 100013</span>
															<span class="d-block color-dark-80">Ольга Петрова</span>
															<span class="d-block color-dark-80">+998 98 123 4567</span>
														</span>
													</span>
											</app-checkbox>
										</div>
									</div>
									<div class="checkbox-wrap pl-3 pr-3 pt-3 pb-2 mb-3">
										<div class="p-1">
											<app-checkbox 
												:type="'radio'"
												:name="'delSystem'"
												:id="'fedex'"
												class="checkbox-circle w-100"
												:checked="false">
													<span class="row row_indents_m flex-nowrap justify-content-between">
														<span class="col-lg-9">
															<span class="font-weight-bold color-dark-main d-block mb-2">Ташкент,  Чиланзарский район, 11 квартал, дом 1/б, кв. 23, 100023</span>
															<span class="d-block color-dark-80">Ольга Петрова</span>
															<span class="d-block color-dark-80">+998 98 123 4567</span>
														</span>
													</span>
											</app-checkbox>
										</div>
									</div>
									<div class="checkbox-wrap pl-3 pr-3 pt-3 pb-2 mb-3">
										<div class="p-1">
											<app-checkbox 
												:type="'radio'"
												:name="'delSystem'"
												:id="'selfdel'"
												class="checkbox-circle w-100"
												:checked="false">
													<span class="row row_indents_m flex-nowrap justify-content-between">
														<span class="col-lg-9">
															<span class="font-weight-bold color-dark-main d-block mb-2">Ташкент,  Мирабадский район, 1 квартал, дом 1/а, кв. 311, 100011</span>
															<span class="d-block color-dark-80">Ольга Петрова</span>
															<span class="d-block color-dark-80">+998 98 123 4567</span>
														</span>
													</span>
											</app-checkbox>
										</div>
									</div>
								</div>
								<div class="pb-4 mb-2">
									<h4>Оплата</h4>
									<div class="color-dark-80 mb-3">Выберите вариант оплаты</div>
									<div class="checkbox-wrap pl-3 pr-3 pt-3 pb-2 mb-3">
										<div class="p-1">
											<app-checkbox 
												:type="'radio'"
												:name="'paySystem'"
												:id="'visa'"
												class="checkbox-circle"
												:checked="true">
													<span class="row flex-nowrap">
														<span class="column">
															<span class="font-weight-bold d-block mb-3">Credit Card</span>
															<span class="d-block color-dark-80">Safe money transfer using your bank account.  Safe payment metod. Visa, MasterCard, Maestro, Discover, American Express.</span>
														</span>
														<span class="column flex-shrink-0">
															<img src="../assets/images/visa-logo.png" alt="">
														</span>
													</span>
											</app-checkbox>
										</div>
									</div>
									<div class="checkbox-wrap pl-3 pr-3 pt-3 pb-2 mb-3">
										<div class="p-1">
											<app-checkbox 
												:type="'radio'"
												:name="'paySystem'"
												:id="'paypal'"
												class="checkbox-circle"
												:checked="false">
													<span class="row flex-nowrap">
														<span class="column">
															<span class="font-weight-bold d-block mb-3">PayPal</span>
															<span class="d-block color-dark-80">Safe payment online. Credit card needed. PayPal account is not necessary.</span>
														</span>
														<span class="column flex-shrink-0">
															<img src="../assets/images/paypal-logo.png" alt="">
														</span>
													</span>
											</app-checkbox>
										</div>
									</div>
								</div>
								<div class="pb-4 mb-2">
									<div class="font-size-16 font-weight-bold mb-3 pb-1">Credit Card Information</div>
										<div class="form-wrap mb-4">
											<div class="form-group">
												<label class="label label_color_dark font-weight-bold" for="cardNumber">Номер карты</label>
												<div class="form-group succes mb-0">
													<input class="form-control" type="text" value="4542 5687 6548 2340">
													<app-svg-icon class="font-size-10 svg-icon_check_style-2 color-green hidden" name="check"/>
												</div>
											</div>
											<div class="row row_indents_m align-items-end">
												<div class="form-group column">
													<label class="label label_color_dark font-weight-bold" for="cardDay">Месяц</label>
													<multiselect
														class="multiselect-short"
														v-model="month.value"
														:options="month.items"
														:maxHeight="200"
														track-by="name"
														:preselectFirst="true"
														:searchable="false"
														label="name">
															<span 
																class="arrow" 
																slot="caret" 
																slot-scope="{ toggle }" 
																@mousedown.prevent.stop="toggle">
																<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
															</span>
													</multiselect>
												</div>
												<div class="form-group column">
													<label class="label label_color_dark font-weight-bold" for="cardMonth">Год</label>
													<multiselect
														class="multiselect-short"
														v-model="years.value"
														:options="years.items"
														:maxHeight="200"
														track-by="name"
														:preselectFirst="true"
														:searchable="false"
														label="name">
															<span 
																class="arrow" 
																slot="caret" 
																slot-scope="{ toggle }" 
																@mousedown.prevent.stop="toggle">
																<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
															</span>
													</multiselect>
												</div>
												<div class="form-group col-3">
													<label class="label label_color_dark font-weight-bold" for="CVV">CVV Code</label>
													<input class="form-control" type="text" id="CVV">
												</div>
											</div>
										</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="checkbox-wrap pl-3 pr-3 pt-3 pb-2">
									<div class="mb-3">Информация о заказе</div>
									<div class="row row_indents_s justify-content-between">
										<div class="column color-dark-50 mb-1">Цена</div>
										<div class="column color-dark-80 mb-1">$76.60</div>
									</div>
									<div class="row row_indents_s justify-content-between">
										<div class="column color-dark-50 mb-1">Доставка</div>
										<div class="column color-dark-80 mb-1">0</div>
									</div>
									<div class="row row_indents_s justify-content-between">
										<div class="column color-dark-50 mb-1">НДС</div>
										<div class="column color-dark-80 mb-1">$0</div>
									</div>
									<div class="row row_indents_s justify-content-between">
										<div class="column color-dark-50 mb-1">Кэшбек</div>
										<div class="column color-dark-80 mb-1">$7.66</div>
									</div>
									<hr class="devider devider_dark-8 mt-2 mb-2">
									<div class="row row_indents_s justify-content-between flex-column">
										<div class="column color-dark-50 mb-1">Промокод:</div>
										<div class="column color-dark-80 mb-1">Нет</div>
									</div>
									<hr class="devider devider_dark-8 mt-2 mb-2">
									<div class="row row_indents_s justify-content-between">
										<div class="column color-dark-main font-weight-bold mb-1">Сумма</div>
										<div class="column color-dark-main font-weight-bold mb-1">$68.94</div>
									</div>
								</div>
							</div>
						</div>
						<hr class="deiver deiver_dark-15 mt-0 mb-4">
						<div class="row">
							<div class="col-lg-8">
								<div class="row align-items-center justify-content-between">
									<div class="column">
										<button class="color-dark-50 font-weight-bold button-clr" @click="changeTab('Корзина')" type="button">
											<div class="d-flex flex-nowrap align-items-center">
												<app-svg-icon class="mr-2" name="arrow-left" />
												<span>Назад в  Данные о Покупателе</span>
											</div>
										</button>
									</div>
									<div class="column">
										<button class="button button-blue button-clr" @click="changeTab('Подтверждение')" type="button">
											<span>Далее</span>
											<app-svg-icon class="svg-icon_reverse ml-3 font-size-16 text-white" name="arrow-left"/>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</v-tab>
			<v-tab id="accept" title="Подтверждение">
				<div class="row">
					<div class="pl-4 pr-4">
						<div class="pb-4 mb-2">
							<h4>Подтверждение</h4>
							<div class="color-dark-80 mb-3">Информация о доставке</div>
							<div class="row">
								<div class="col-lg-8 mb-4">
									<div class="checkbox-wrap pl-3 pr-3 pt-3 pb-2 mb-3">
										<div class="p-1">
											<div class="row">
												<div class="col-lg-11">
													<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
														<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Имя</div></div>
														<div class="dotted-txt__dash-wrap column flex-grow-1">
															<div class="dotted-txt__dash">&nbsp;</div>
														</div>
														<div class="dotted-txt__right col-6"><div class="color-dark-80">Theodore Lowe</div></div>
													</div>
													<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
														<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Адрес</div></div>
														<div class="dotted-txt__dash-wrap column flex-grow-1">
															<div class="dotted-txt__dash">&nbsp;</div>
														</div>
														<div class="dotted-txt__right col-6"><div class="color-dark-80">Ташкент, Чиланзарский район, 11 квартал, дом 1/б, кв. 23, 100023</div></div>
													</div>
													<div class="dotted-txt row row_indents_m flex-nowrap align-items-start mb-1">
														<div class="dotted-txt__left flex-grow-0 flex-shrink-0 column"><div class="color-dark-50">Phone</div></div>
														<div class="dotted-txt__dash-wrap column flex-grow-1">
															<div class="dotted-txt__dash">&nbsp;</div>
														</div>
														<div class="dotted-txt__right col-6"><div class="color-dark-80">(793) 151-6230</div></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="color-dark-80 mb-3">Информация об оплате</div>
									<div class="checkbox-wrap pl-3 pr-3 pt-3 pb-2 mb-3">
										<div class="p-1">
											<div class="row flex-nowrap justify-content-between">
												<div class="column">
													<div class="font-weight-bold color-dark-main">Visa</div>
													<div class="color-dark-80">8743 - Exp 6/2020</div>
												</div>
												<div class="column">
													<span class="checkbox-img-wrap d-inline-block">
														<img src="../assets/images/visa-logo.png" alt="">
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 mb-4">
									<div class="checkbox-wrap pl-3 pr-3 pt-3 pb-2">
										<div class="p-1">
											<div class="mb-3">Информация о заказе</div>
											<div class="row row_indents_s justify-content-between">
												<div class="column color-dark-50 mb-1">Цена</div>
												<div class="column color-dark-80 mb-1">$76.60</div>
											</div>
											<div class="row row_indents_s justify-content-between">
												<div class="column color-dark-50 mb-1">Доставка</div>
												<div class="column color-dark-80 mb-1">0</div>
											</div>
											<div class="row row_indents_s justify-content-between">
												<div class="column color-dark-50 mb-1">НДС</div>
												<div class="column color-dark-80 mb-1">$0</div>
											</div>
											<div class="row row_indents_s justify-content-between">
												<div class="column color-dark-50 mb-1">Кэшбек</div>
												<div class="column color-dark-80 mb-1">$7.66</div>
											</div>
											<hr class="devider devider_dark-8 mt-2 mb-2">
											<div class="row row_indents_s justify-content-between flex-column">
												<div class="column color-dark-50 mb-1">Промокод:</div>
												<div class="column color-dark-80 mb-1">Нет</div>
											</div>
											<hr class="devider devider_dark-8 mt-2 mb-2">
											<div class="row row_indents_s justify-content-between">
												<div class="column color-dark-main font-weight-bold mb-1">Сумма</div>
												<div class="column color-dark-main font-weight-bold mb-1">$68.94</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<hr class="deiver deiver_dark-15 mt-0 mb-4">
								<div class="row">
									<div class="col-lg-8">
										<div class="row align-items-center justify-content-between">
											<div class="column">
												<button class="color-dark-50 font-weight-bold button-clr" @click="changeTab('Доставка & Оплата')" type="button">
													<div class="d-flex flex-nowrap align-items-center">
														<app-svg-icon class="mr-2" name="arrow-left" />
														<span>Назад в Доставка & Оплата</span>
													</div>
												</button>
											</div>
											<div class="column">
												<button class="button button-blue button-clr" @click="changeTab('Подтверждение')" type="button">
													<span>Подтвердить</span>
												</button>
											</div>
										</div>
									</div>
								</div>
						</div>
					</div>
				</div>
			</v-tab>
		</vue-tabs>
	</div>
</template>

<script>
	import {VueTabs, VTab} from 'vue-nav-tabs/dist/vue-tabs.js'
	import SvgIcon from '../components/SvgIcon.vue'
	import countInput from '../components/countInput.vue'
	import favourite from '../components/favourite.vue'
	import Checkbox from '../components/Checkbox.vue'
	import Multiselect from 'vue-multiselect'
	export default {

		name: 'myBasket',

		data () {
			return {
				tabName: '',
				years: {
					value: [],
					items: [
						{
							name: '21',
							url: '#'
						},
						{
							name: '20',
							url: '#'
						},
						{
							name: '19',
							url: '#'
						},
						{
							name: '18',
							url: '#'
						},
						{
							name: '17',
							url: '#'
						},
					],
					placeholder: 'UZS',
					icon: 'arrow-down'
				},
				month: {
					value: [],
					items: [
						{
							name: '01',
							url: '#'
						},
						{
							name: '02',
							url: '#'
						},
						{
							name: '03',
							url: '#'
						},
						{
							name: '04',
							url: '#'
						},
						{
							name: '05',
							url: '#'
						},
					],
					placeholder: 'UZS',
					icon: 'arrow-down'
				},
				delivery: {
					value: [],
					items: [
						{name: 'Самовывоз'},
						{name: 'Самовывоз 2'},
						{name: 'Самовывоз 3'}
					]
				},
				delivery2: {
					value: [],
					items: [
						{name: 'Самовывоз'},
						{name: 'Самовывоз 2'},
						{name: 'Самовывоз 3'}
					]
				},
				delivery3: {
					value: [],
					items: [
						{name: 'Самовывоз'},
						{name: 'Самовывоз 2'},
						{name: 'Самовывоз 3'}
					]
				}
			}
		},
		methods: {
			changeTab (name) {
				this.tabName = name
			}
		},
		components: {
			VueTabs,
			VTab,
			appSvgIcon: SvgIcon,
			appCount: countInput,
			appFavourite: favourite,
			appCheckbox: Checkbox,
			Multiselect,
		}
	}
</script>

<style lang="css" scoped>
</style>