<template>
	<div class="my-lots">
		<div class="section mb-4 pb-1">
			<div v-if="!checkRouteOnCreateLotName('create-lot') && this.$route.name != 'lot-inside' ">
				<div class="row">
					<div class="col-4 col-lg-3">
						<div class="wrap p-4">
							<h4>Аукционы</h4>
							<ul class="messeges-nav list-unstyled mt-4 pt-2 mb-5 pb-4">
								<router-link
									v-for="(link, keyLink) in list.links"
									:key="keyLink"
									:exact="link.main"
									active-class="active"
									tag="li"
									:class="{ disabled: link.disabled }"
									:event="link.disabled ? 'click' : ''"
									:to="{name: link.url}">
										<a>
											<span class="row row_indents_m justify-content-between align-items-center">
												<span class="column color-dark-80">{{link.linkName}}</span>
												<span class="column color-dark-50 text-small">{{link.linkValue}}</span>
											</span>
										</a>
								</router-link>
							</ul>
							<router-link class="button button-regular w-100" :to="{name: 'create-lot'}">Добавить лот</router-link>
						</div>
					</div>
					<div class="col-8 col-lg-9">
						<div class="row">
							<div class="col-6 col-lg-4 mb-4"
								v-for="(item, index) in lots" 
								:key="index">
								<app-good-card-lots
									:dataObject="item">
								</app-good-card-lots>
							</div>
						</div>
					</div>
				</div>
			</div>
			<router-view />
		</div>
	</div>
</template>

<script>
	import goodCardLots from '../components/goodCardLots.vue'
	export default {

		name: 'myLots',

		data () {
			return {
				lots: [
					{
						category: 'сумки',
						largeTitle: 'Антикварные часы Patek Phillipe 1699 года ',
						titleDescr: 'Антикварные часаы Patek Phillipe 1699 года украденные во время мародерства во время ВОВII',
						lotDate: '23.04.19 - 02.05.19',
						goodImg: require('../assets/images/ads-card-img.png'),
						subMenu: [
							{
								text: 'Открыть',
								url: 'lot-inside'
							},
							{
								text: 'Настройки',
								url: '#'
							},
							{
								text: 'Удалить',
								url: '#'
							}
						]
					},
					{
						category: 'сумки',
						largeTitle: 'Антикварные часы Patek Phillipe 1699 года ',
						titleDescr: 'Антикварные часаы Patek Phillipe 1699 года украденные во время мародерства во время ВОВII',
						lotDate: '23.04.19 - 02.05.19',
						goodImg: require('../assets/images/ads-card-img.png'),
						subMenu: [
							{
								text: 'Открыть',
								url: 'lot-inside'
							},
							{
								text: 'Настройки',
								url: '#'
							},
							{
								text: 'Удалить',
								url: '#'
							}
						]
					},
					{
						category: 'сумки',
						largeTitle: 'Антикварные часы Patek Phillipe 1699 года ',
						titleDescr: 'Антикварные часаы Patek Phillipe 1699 года украденные во время мародерства во время ВОВII',
						lotDate: '23.04.19 - 02.05.19',
						goodImg: require('../assets/images/ads-card-img.png'),
						subMenu: [
							{
								text: 'Открыть',
								url: 'lot-inside'
							},
							{
								text: 'Настройки',
								url: '#'
							},
							{
								text: 'Удалить',
								url: '#'
							}
						]
					},
				],
				list: {
					links: [
						{
							main: true,
							linkName: 'Все лоты',
							linkValue: '1 580',
							url: 'all-lots'
						},
						{
							linkName: 'Мои лоты',
							linkValue: '893',
							url: 'my-lots'
						},
						{
							linkName: 'Все предложения',
							linkValue: '1082',
							url: 'all-offers'
						},
					]
				}
			}
		},
		methods: {
			checkRouteOnCreateLotName (routeName) {
				return this.$router.currentRoute.name == routeName ? true : false
			}
		},
		components: {
			appGoodCardLots: goodCardLots,
		}
	}
</script>

<style lang="scss" scoped>
</style>