<template>
	<div class="my-shop">
		<div class="shops" v-if="this.$router.currentRoute.name == 'my-shop' ? true : false">
			<div class="section mb-4 pb-1">
				<div class="row">
					<div class="col-6 col-lg-4 d-flex flex-column mb-4 pb-1">
						<div class="shop-card wrap flex-grow-1 d-flex flex-column justify-content-center align-items-center">
							<div class="shop-card-img">
								<img src="../assets/images/shop-card-img1.png" alt="">
							</div>
							<div class="shop-card-body pt-2 pb-2 pl-3 pr-3 w-100">
								<div class="row row_indents_s justify-content-between align-items-center">
									<div class="column">
										<div class="shop-card-name">Cover Store </div>
										<div class="shop-card-goods-sum">23 товара</div>
									</div>
									<div class="column">
										<app-dropdown-multi class="dropdown_shop-card-features">
											<template v-slot:togglecontent>
												<app-svg-icon class="shop-card-icon color-grey" name="dots" />
											</template>
											<ul class="shop-card-features-list list-unstyled mb-0">
												<router-link
													tag="li"
													:to="{name: 'shop-inside'}">
													<a>Открыть</a>
												</router-link>
												<router-link
													tag="li"
													:to="{name: 'shop-settings'}">
														<a>Настройки</a>
												</router-link>
												<li>
													<a href="#">Удалить</a>
												</li>
											</ul>
										</app-dropdown-multi>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 col-lg-4 d-flex flex-column mb-4 pb-1">
						<a class="shop-card-add wrap flex-grow-1 d-flex flex-column justify-content-center align-items-center" href="#" @click.prevent="showModal('shopCreat', $event), paginationFlag = true, lastStep = false, formSlide = false">
							<div class="tooltip-wrap position-relative" @mouseover="tooltipShow = true" @mouseleave="tooltipShow = false">
								<div class="add-form-item font-weight-bold">
									<app-svg-icon name="plus" />
									<span class="ml-2">Добавить адрес</span>
								</div>
								<div class="tooltip-box w-auto" :class="{visible: tooltipShow}">
									<div class="tooltip-box-inner">Скоро!</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<modal name="shopCreat" :adaptive="true" :minWidth="280" :maxWidth="555" :height="'auto'" :scrollable="true">
				<div class="wrap p-3 p-sm-5">
					<div class="pt-xl-5 pb-xl-5">
						<button class="modal-close modal-close_right_25 button-clr" type="button" @click="hideModal('shopCreat')">
							<app-svg-icon name="close" />
						</button>
						<app-carousel
							class="shop-creation-carousel"
							:perPage="1"
							:adjustableHeight="false"
							:mouseDrag="false"
							:touchDrag="false"
							:paginationEnabled="paginationFlag"
							:navigationEnabled="false"
							@pageChange="pageChange"
							ref="StepCarousel">
							<app-slide>
								<div class="text-center color-gray-2">
									<div class="mb-xl-5 pb-5">
										<img src="../assets/images/creation-shop-step1.svg" alt="">
									</div>
									<h4>Добро пожаловать в Магазин</h4>
									<br>
									<div>Продавайте легко на торговой площадке Buynow. <br> Попробуйте новый способ продавать, онлайн!</div>
								</div>
							</app-slide>
							<app-slide>
								<div class="text-center color-gray-2">
									<div class="mb-xl-5 pb-5">
										<img src="../assets/images/creation-shop-step2.svg" alt="">
									</div>
									<h4>Создайте собственный магазин</h4>
									<br>
									<div>Добавьте товары, расскажите обо всех <br> подробностях, меняйте настройки себя.</div>
								</div>
							</app-slide>
							<app-slide>
								<div class="text-center color-gray-2">
									<div class="mb-xl-5 pb-5">
										<img src="../assets/images/creation-shop-step3.svg" alt="">
									</div>
									<h4>Привлекайте новых покупателей</h4>
									<br>
									<div>Настройте таргетинговую рекламу, создайте акцию или другие <br> специальные предложения, которые помогут вам продавать лучше.</div>
								</div>
							</app-slide>
							<app-slide>
								<div class="pl-4 pr-4">
									<form>
										<div class="form-group mb-2">
											<label class="label font-weight-bold" for="userName">Логотип <span class="color-grey">(необязательно)</span></label>
											<div>
												<label class="file-button">
													<input class="file-button-input input-hidden" id="userName" type="file">
													<span class="file-button-pseudo">
														<app-svg-icon class="file-button-icon color-grey-dark" name="add-photo" />
														<span class="ml-2 color-gray-2 font-weight-bold">Загрузить</span>
													</span>
												</label>
											</div>
										</div>
										<div class="form-group mb-2">
											<label class="label font-weight-bold" for="shopName">Название магазина:</label>
											<input class="form-control" type="text" id="shopName">
										</div>
										<div class="form-group mb-2">
											<label class="label font-weight-bold" for="shopDescr">Описание: <span class="color-grey">(необязательно)</span></label>
											<textarea class="form-control" rows="3" id="shopDescr"></textarea>
										</div>
										<div class="form-group mb-2">
											<label class="label font-weight-bold">Тип магазина:</label>
											<div class="row row_indents_m">
												<div class="column">
													<div class="checkbox">
														<input class="checkbox-input input-hidden" type="radio" name="shopType" id="type1" @change="checkboxFlag = !checkboxFlag">
														<label class="checkbox-label" for="type1">
															<span class="checkbox-pseudo">
																<app-svg-icon name="check"/>
															</span>
															<span class="checkbox-txt ml-2">Со складом</span>
														</label>
													</div>
												</div>
												<div class="column">
													<div class="checkbox">
														<input class="checkbox-input input-hidden" type="radio" name="shopType" id="type2" @change="checkboxFlag = !checkboxFlag">
														<label class="checkbox-label" for="type2">
															<span class="checkbox-pseudo">
																<app-svg-icon name="check"/>
															</span>
															<span class="checkbox-txt ml-2">Виртуальный</span>
														</label>
													</div>
												</div>
											</div>
										</div>
										<template v-if="checkboxFlag">
											<div class="form-group mb-2">
												<label class="label font-weight-bold" for="shopAddres">Адрес магазина <span class="color-grey">(основной)</span></label>
												<input class="form-control" type="text" id="shopAddres">
											</div>
										</template>
										<div class="mt-auto">
											<div class="warning row row_indents_m justify-content-center align-items-center mt-4" :class="{'mt-lg-5 pt-5': !checkboxFlag}">
												<div class="column">
													<app-svg-icon name="warning" />
												</div>
												<div class="column"><div class="text-small">Чем больше информации вы предоставите, <br> тем выше уровень доверия от покупателя</div></div>
											</div>
										</div>
									</form>
								</div>
							</app-slide>
							<app-slide>
								<div class="text-center color-gray-2">
									<div class="mb-xl-5 pb-5">
										<img src="../assets/images/creation-shop-step5.svg" alt="">
									</div>
									<h4>Поздравляем, вы почти у цели!</h4>
									<br>
									<div>Впереди только самое интересное!</div>
									<div class="warning row row_indents_m justify-content-center align-items-center mt-5 pt-5">
										<div class="column">
											<app-svg-icon name="warning" />
										</div>
										<div class="column"><div class="text-small">Чем больше информации вы предоставите, <br> тем выше уровень доверия от покупателя</div></div>
									</div>
								</div>
							</app-slide>
						</app-carousel>
						<div class="text-center mt-3 pt-1">
							<a class="button button-oval-blue" href="#" @click.prevent="nextSlide()">{{ formValidated ? 'Сохранить' : carouselBtnTxt }}</a>
						</div>
						<template v-if="formSlide">
							<div class="text-center mt-3 pt-1">
								<a class="color-dark-50 font-weight-bold" href="#" @click.prevent="hideModal('shopCreat')">Отменить создание магазина</a>
							</div>
						</template>
						<template v-if="lastStep">
							<div class="text-center mt-3 pt-1">
								<div class="checkbox">
									<input class="checkbox-input input-hidden" type="checkbox" name="shopType" id="condition">
									<label class="checkbox-label" for="condition">
										<span class="checkbox-pseudo">
											<app-svg-icon name="check"/>
										</span>
										<span class="checkbox-txt ml-2">Согласен с условиями <a href="#">оферты</a></span>
									</label>
								</div>
							</div>
						</template>
					</div>
				</div>
			</modal>
		</div>
		<router-view />
	</div>
</template>

<script>
	import { Carousel, Slide } from 'vue-carousel';
	import SvgIcon from '../components/SvgIcon.vue'
	import DropdownMulti from '../components/dropdownMulti.vue'
	export default {
		name: 'my-shop',
		data () {
			return {
				checkboxFlag: false,
				formValidated: false,
				formSlide: false,
				lastStep: false,
				paginationFlag: true,
				carouselBtnTxt: 'Продолжить',
				shopCardObj: {
					icon: 'dots'
				},
				tooltipShow: false
			}
		},
		methods: {
			showModal (modal, event) {
				if ( event.target.closest('.dropdown-drop') ) {
					event.target.closest('.dropdown-drop').classList.remove('isOpen')
				}
				this.$modal.show(modal);
			},
			hideModal (modal) {
				this.$modal.hide(modal);
			},
			checkObj (obj) {
				for(var key in obj) {
					if(obj.hasOwnProperty(key))
						return false;
				}
				return true;
			},
			nextSlide() {
				
				if ( !this.checkObj(this.$refs) ) {
					this.$refs.StepCarousel.goToPage(this.$refs.StepCarousel.getNextPage());
				} else {
					this.$emit('goToNextSlide')
				}
			},
			pageChange (i) {
				this.formSlide = false
				if ( i == '3' ) {
					this.formSlide = true
					this.lastStep = false
				}
				if ( i == '4' ) {
					this.carouselBtnTxt = 'В магазин'
					this.lastStep = true
					this.paginationFlag = false
					this.formSlide = false
				} 
			},
		},
		components: {
			appDropdownMulti: DropdownMulti,
			appSvgIcon: SvgIcon,
			appCarousel: Carousel,
			appSlide: Slide
		}
	}
</script>

<style lang="scss" scoped>
</style>