<template>
	<div class="personal">
		<div class="section mb-4 pb-1">
			<div class="wrap">
				<vue-tabs>
					<v-tab id="main-data" title="Основные данные">
						<div class="row">
							<div class="col-md-10 col-lg-7 ml-auto mr-auto">
								<form>
									<div class="user d-flex flex-nowrap align-items-center mb-4">
										<div class="user-avatar flex-shrink-0">
											<img src="../assets/images/user-avatar.png" alt="">
										</div>
										<div class="ml-3">
											<div class="user-name mb-2">Ольга Петрова</div>
											<a class="user-change-avatar" href="#">Сменить фото</a>
										</div>
									</div>
									<div class="row row_indents_m pb-3">
										<div class="form-group col-xl-6 mb-2">
											<label class="label font-weight-bold" for="userName">Имя:</label>
											<input class="form-control" id="userName" type="text">
										</div>
										<div class="form-group col-xl-6 mb-2">
											<label class="label font-weight-bold" for="userSurName">Фамилия:</label>
											<input class="form-control" id="userSurName" type="text">
										</div>
										<div class="form-group col-xl-12 mb-2">
											<label class="label font-weight-bold" for="nickName">Имя пользователя:</label>
											<input class="form-control" id="nickName" type="text">
										</div>
									</div>
									<div class="row row_indents_m align-items-end pb-3 position-relative">
										<div class="form-group col-xl-4 mb-2">
											<label class="label font-weight-bold" for="birthDate">Дата рождения:</label>
											<input class="form-control" id="birthDate" type="text">
										</div>
										<div class="form-group col-xl-4 mb-2">
											<select class="form-control">
												<option value="0">Январь</option>
												<option value="1">Февраль</option>
												<option value="2">Март</option>
												<option value="3">Апрель</option>
												<option value="4">Май</option>
												<option value="5">Июнь</option>
												<option value="6">Июль</option>
												<option value="7">Август</option>
												<option value="8">Сентябрь</option>
												<option value="9">Октябрь</option>
												<option value="10">Ноябрь</option>
												<option value="11">Декабрь</option>
											</select>
										</div>
										<div class="form-group col-xl-4 mb-2">
											<input class="form-control" type="text">
										</div>
									</div>
									<div class="row row_indents_m align-items-end pb-3">
										<div class="form-group col-xl-12 mb-2">
											<label class="label font-weight-bold" for="mailInput">Email:</label>
											<input class="form-control" id="mailInput" type="email">
										</div>
									</div>
									<div class="row row_indents_m align-items-end pb-3">
										<div class="form-group col-xl-12 mb-2">
											<label class="label font-weight-bold" for="phoneInput">Мобильный телефон:</label>
											<input class="form-control" id="phoneInput" type="text">
										</div>
									</div>
									<div class="row row_indents_m align-items-end pb-3">
										<div class="form-group col-xl-12 mb-2">
											<label class="label font-weight-bold" for="passInput">Пароль:</label>
											<input class="form-control" id="passInput" type="password">
										</div>
									</div>
									<div class="row row_indents_m align-items-end pb-3">
										<div class="form-group col-xl-12 mb-2">
											<label class="label font-weight-bold">Пол:</label>
											<div class="row row_indents_m">
												<div class="column">
													<div class="checkbox">
														<input class="checkbox-input input-hidden" type="radio" name="male" id="man">
														<label class="checkbox-label" for="man">
															<span class="checkbox-pseudo">
																<app-svg-icon name="check"/>
															</span>
															<span class="checkbox-txt ml-2">Мужской</span>
														</label>
													</div>
												</div>
												<div class="column">
													<div class="checkbox">
														<input class="checkbox-input input-hidden" type="radio" name="male" id="woman">
														<label class="checkbox-label" for="woman">
															<span class="checkbox-pseudo">
																<app-svg-icon name="check"/>
															</span>
															<span class="checkbox-txt ml-2">Женский</span>
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row row_indents_m align-items-end pb-3">
										<div class="form-group col-xl-12 mb-2">
											<div class="modal-socials row row_indents_m align-items-center pb-3">
												<div class="column mb-2">Войти с помощью</div>
												<div class="column">
													<ul class="list-unstyled row row_indents_s mb-0">
														<li class="column mb-2" v-for="(social, index) in this.$store.state.modalSocials" :key="index">
															<a :href="social.url">
																<img :src="social.srcImg" alt="">
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="tabs-foot mt-5">
										<div class="row row_indents_m align-items-center justify-content-center">
											<div class="column">
												<button class="button button-blue button-clr" type="button">Сохранить</button>
											</div>
											<div class="column">
												<div class="link link_color_grey font-weight-bold">Изменения сохранены</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</v-tab>
					<v-tab id="documents" title="Документы">
						<div class="row">
							<div class="col-md-10 col-lg-7 ml-auto mr-auto">
								<form>
									<div class="tab-title">Документы</div>
									<div class="form-group mb-3 pb-1">
										<div class="color-dark-2 font-weight-bold mb-2">Скан паспорта с пропиской</div>
										<div class="row row_indents_s">
											<div class="column">
												<app-file :single:="false" />
											</div>
										</div>
									</div>
									<div class="form-group mb-3 pb-1">
										<div class="color-dark-2 font-weight-bold mb-2">ИНН</div>
										<div class="row row_indents_s">
											<div class="column">
												<app-file :single:="false" />
											</div>
										</div>
									</div>
									<div class="tabs-foot mt-5">
										<div class="row row_indents_m align-items-center justify-content-center">
											<div class="column">
												<button class="button button-blue button-clr" type="button">Сохранить</button>
											</div>
											<div class="column">
												<div class="link link_color_grey font-weight-bold">Изменения сохранены</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</v-tab>
					<v-tab id="payments" title="Оплата & Доставка">
						<div class="row">
							<div class="col-md-10 col-lg-7 ml-auto mr-auto">
								<div class="tab-title">Оплата & доставка</div>
								<form>
									<div class="form-wrap mb-4">
										<div class="form-group">
											<label class="label label_color_dark font-weight-bold" for="cardNumber">Номер карты</label>
											<div class="position-relative">
												<input class="form-control" id="cardNumber" type="text">
												<app-svg-icon class="form-icon-position form-icon-position_inside" name="check" />
											</div>
										</div>
										<div class="row row_indents_m align-items-end">
											<div class="form-group column">
												<label class="label label_color_dark font-weight-bold" for="cardDay">Месяц</label>
												<select class="form-control" id="cardDay">
													<option value="1">01</option>
													<option value="1">02</option>
													<option value="1">03</option>
													<option value="1">04</option>
													<option value="1">05</option>
													<option value="1">06</option>
													<option value="1">07</option>
													<option value="1">08</option>
													<option value="1">09</option>
													<option value="1">10</option>
													<option value="1">11</option>
													<option value="1">12</option>
												</select>
											</div>
											<div class="form-group column">
												<label class="label label_color_dark font-weight-bold" for="cardMonth">Год</label>
												<select class="form-control" id="cardMonth">
													<option value="1">2021</option>
													<option value="1">2022</option>
													<option value="1">2023</option>
												</select>
											</div>
											<div class="form-group column ml-auto">
												<img src="../assets/images/cardImg.png" alt="">
											</div>
										</div>
									</div>
									<app-addres-form
										v-for="(addresItem, index) in addresList"
										:addres="addresItem"
										:key="index"
										@delItem="delAddresForm(index)"/>
									<a class="add-form-item" href="#" @click.prevent="addAddressForm">
										<app-svg-icon name="plus" />
										<span class="ml-2">Добавить адрес</span>
									</a>
									<div class="tabs-foot mt-5">
										<div class="row row_indents_m align-items-center justify-content-center">
											<div class="column">
												<button class="button button-blue button-clr" type="button">Сохранить</button>
											</div>
											<div class="column">
												<div class="link link_color_grey font-weight-bold">Изменения сохранены</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</v-tab>
				</vue-tabs>
			</div>
		</div>
	</div>
</template>

<script>
	import addresForm from '../components/addresForm.vue'
	import {VueTabs, VTab} from 'vue-nav-tabs/dist/vue-tabs.js'
	import SvgIcon from '../components/SvgIcon.vue'
	import File from '../components/uploadFiles.vue'
	export default {

		name: 'personal',

		data () {
			return {
				tabName: '',
				myFiles: [],
				addresListCount: 1,
				addresList: [
					{
						title: 'Основной адрес',
						locationText: 'Текущее местоположение',
						id: 0
					}
				]
			}
		},
		methods: {
			addAddressForm () {
				if ( this.addresList.length < 1 ) {
					this.addresListCount = 0
					this.addresList.push({title: 'Основной адрес', id: this.addresListCount, locationText: 'Текущее местоположение'})
					this.addresListCount++
				} else {
					this.addresList.push({title: 'Дополнительный адрес', id: this.addresListCount, locationText: 'Дополнительное местоположение'})
					this.addresListCount++
				}
			},
			delAddresForm (index) {
				this.addresList.splice(index, 1);
				this.addresListCount--
			}
		},
		components: {
			VueTabs,
			VTab,
			appAddresForm: addresForm,
			appSvgIcon: SvgIcon,
			appFile: File,
		}
	}
</script>

<style lang="scss" scoped>
</style>