<template>
	<div>
		<a class="button button-blue mb-4" href="#" @click.prevent="showModal('inviteFriend')">Пригласить друга</a>
		<div class="wrap overflow-hidden pt-5 pb-4 pl-lg-5 pr-lg-5">
			<div class="pl-4 pr-4">
				<div class="table-responsive">
					<table class="table basket-table basket-table_referals">
						<thead>
							<tr>
								<th>#</th>
								<th>Пользователи</th>
								<th>Бонусы</th>
								<th >Дата</th>
								<th>Рейтинг</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>heavytiger112</td>
								<td>$45 000</td>
								<td>21/06/2019</td>
								<td><div class="referals-rate-line green" style="width: 97%;">&nbsp;</div></td>
							</tr>
							<tr>
								<td>2</td>
								<td>sadelephant485</td>
								<td>$35 000</td>
								<td>17/06/2019</td>
								<td><div class="referals-rate-line red" style="width: 90%;">&nbsp;</div></td>
							</tr>
							<tr>
								<td>3</td>
								<td>brownsnake520</td>
								<td>$18 000</td>
								<td>08/06/2019</td>
								<td><div class="referals-rate-line purple" style="width: 70%;">&nbsp;</div></td>
							</tr>
							<tr>
								<td>4</td>
								<td>redwolf229</td>
								<td>$9 700</td>
								<td>13/05/2019</td>
								<td><div class="referals-rate-line green" style="width: 45%;">&nbsp;</div></td>
							</tr>
							<tr>
								<td>5</td>
								<td>orangepanda716</td>
								<td>$5 450</td>
								<td>07/05/2019</td>
								<td><div class="referals-rate-line black" style="width: 45%;">&nbsp;</div></td>
							</tr>
							<tr>
								<td>6</td>
								<td>bigleopard125</td>
								<td>$300</td>
								<td>22/04/2019</td>
								<td><div class="referals-rate-line grey" style="width: 20%;">&nbsp;</div></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<modal name="inviteFriend" :adaptive="true" :minWidth="280" :maxWidth="390" :height="'auto'" :scrollable="true">
			<div class="modal-in">
				<div class="modal-body">
					<button class="modal-close button-clr" type="button" @click="hideModal('inviteFriend')">
						<app-svg-icon name="close" />
					</button>
					<form>
						<div class="pt-4 pb-3">
							<div class="modal-title">Пригласите друга!</div>
							<div class="color-gray-2 mb-3">Введите email на который будет <br> отправлено приглашение на сайт</div>
							<div class="form-group mb-4">
								<input class="form-control" type="text" placeholder="Email друга">
							</div>
							<a class="row row_indents_s color-blue mb-4 pb-3" href="#">
								<div class="column">
									<app-svg-icon class="color-grey-dark" name="clip-2" />
								</div>
								<div class="column">Скопировать ссылку</div>
							</a>
							<button class="button button-blue button-clr" @click="hideModal('inviteFriend')" type="button">Далее</button>
						</div>
					</form>
				</div>
			</div>
		</modal>
	</div>
</template>

<script>
	import SvgIcon from '../components/SvgIcon.vue'
	export default {

		name: 'referals',

		data () {
			return {

			}
		},
		methods: {
			showModal (modal) {
				this.$modal.show(modal);
			},
			hideModal (modal) {
				this.$modal.hide(modal);
			}
		},
		components: {
			appSvgIcon: SvgIcon,
		}
	}
</script>

<style lang="css" scoped>
</style>