<template>
	<div class="shop-inside">
		<div v-if="!(this.$router.currentRoute.name == 'shop-create-good') && !(this.$router.currentRoute.name == 'shop-create-quiz')">
			<div class="row">
				<div class="col-4 col-lg-3 d-flex flex-column mb-4 pb-1">
					<div class="pb-1">
						<div class="shop-info wrap mb-4">
							<div class="shop-info-body">
								<div class="pt-3 pb-3 pl-4 pr-4">
									<div class="shop-info-head row row_indents_s flex-nowrap align-items-center mb-3">
										<div class="column">
											<div class="shop-info-logo">C</div>
										</div>
										<div class="column pt-1">
											<h4 class="mb-0">
												<span>Cover store</span>
												<app-svg-icon class="ml-1 ml-lg-2 color-green" name="verifyed" />
											</h4>
											<a class="shop-info-link text-extra-small font-weight-bold color-grey-dark" href="#">@coverstore</a>
										</div>
									</div>
									<div class="shop-info-content">Магазин шерстянных ковров из Дубая. Ручная работа! Оригинал! Доставка по Ташкенту Бесплатная!</div>
								</div>
							</div>
							<div class="shop-info-foot pt-3 pb-3 pl-4 pr-4">
								<strong>245</strong>
								<span class="color-gray-2 ml-1">товаров</span>
							</div>
						</div>
					</div>
					<div class="shop-info wrap">
						<div class="shop-info-body">
							<div class="shop-info-head border-bottom pt-2 pb-2 pl-4 pr-4">
								<div class="row row_indents_s flex-nowrap align-items-center justify-content-between">
									<div class="column">
										<div class="text-small font-weight-bold">Рейтинг магазина</div>
									</div>
									<div class="column flex-shrink-0">
										<div class="text-small">3,5 из 5</div>
									</div>
									<div class="column"><div class="rate">3.5</div></div>
								</div>
							</div>
							<div class="pt-3 pb-3 pl-4 pr-4">
								<div class="d-flex-flex-nowrap align-items-center mb-2">
									<app-svg-icon class="color-grey-dark flex-shrink-0 font-size-18" name="tel" />
									<span class="ml-2 color-dark text-small">90 923 49 59</span>
								</div>
								<div class="d-flex-flex-nowrap align-items-center mb-2">
									<app-svg-icon class="color-grey-dark flex-shrink-0 font-size-18" name="loc2" />
									<span class="ml-2 color-dark text-small">ТЦ Compas,  ТЦ Next</span>
								</div>
								<div class="d-flex-flex-nowrap align-items-center mb-2">
									<app-svg-icon class="color-grey-dark flex-shrink-0 font-size-18" name="self-export" />
									<span class="ml-2 color-dark text-small">Самовывоз</span>
								</div>
								<a class="text-extra-small color-blue" href="#">Редактировать информацию</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-8 col-lg-9 d-flex flex-column mb-4 pb-1">
					<div class="wrap flex-grow-1 d-flex flex-column">
						<div class="d-flex flex-column flex-grow-1 justify-content-center align-items-center p-3">
							<app-file class="single extra-large" />
						</div>
						<div class="shop-info-foot p-3">
							<div class="pl-3 pr-3">
								<div class="row align-items-center">
									<div class="column mr-auto">
										<div class="d-flex flex-nowrap align-items-center color-grey-dark">
											<app-svg-icon class="font-size-22 flex-grow-0" name="eye-2"/>
											<span class="ml-2 font-weight-bold font-size-14">54,764</span>
										</div>
									</div>
									<ul class="d-flex flex-wrap list-unstyled m-0">
										<li class="column">
											<a class="color-blue font-weight-bold" href="#">Реклама</a>
										</li>
										<li class="column">
											<a class="color-blue font-weight-bold" href="#">Настройки магазина</a>
										</li>
									</ul>
									<div class="column">
										<a class="color-grey-dark d-inline-block zoom-hover-effect" href="#">
											<app-svg-icon class="font-size-22 flex-grow-0" name="repost"/>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-4 col-lg-3 mb-4 pb-1">
					<router-link
						class="button-medium button-blue w-100"
						:to="{name: 'shop-create-good'}">Добавить товар</router-link>
					<!-- <a class="button-medium button-blue w-100" href="#">Добавить товар</a> -->
				</div>
				<div class="col-8 col-lg-9 mb-4 pb-1">
					<div class="wrap pl-3 pr-3">
						<div class="pl-2 pr-2 pl-lg-3 pr-lg-3">
							<div class="row align-items-center justify-content-between justify-content-xl-start">
								<div class="column">
									<ul class="shop-nav row row_indents_m list-unstyled m-0">
										<router-link
											v-for="(link, keyLink) in shopLinks"
											:key="keyLink"
											:exact="link.main"
											active-class="active"
											class="column"
											tag="li"
											:to="{name: link.url}">
												<a class="font-weight-bold color-grey-dark">
													{{ link.linkName }}
												</a>
										</router-link>
									</ul>
								</div>
								<div class="column pt-2 pb-2 ml-lg-5">
									<div class="shop-search">
										<form>
											<div class="position-relative">
												<app-svg-icon class="form-icon-position form-icon-position_inside-left" name="zoom-2" />
												<input class="form-control" type="search" placeholder="Поиск по товарам">
											</div>
										</form>
									</div>
								</div>
								<div class="column pt-2 pb-2 ml-auto" v-if="this.$router.currentRoute.name == 'shop-inside'">
									<div class="row align-items-center">
										<div class="column">
											<div class="font-weight-bold">Вид</div>
										</div>
										<div class="column">
											<div class="row row_indents_s align-items-center">
												<div class="column">
													<a class="button-view-sort color-grey d-block" :class="{'active color-blue': !viewToggle}" @click.prevent="viewToggle = !viewToggle" href="#">
														<app-svg-icon class="font-size-14" name="ceils" />
													</a>
												</div>
												<div class="column">
													<a class="button-view-sort color-grey d-block" :class="{'active color-blue': viewToggle}" @click.prevent="viewToggle = !viewToggle" href="#">
														<app-svg-icon class="font-size-14" name="list-2" />
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-4 col-lg-3 mb-4 pb-1" v-if="!(this.$router.currentRoute.name == 'shop-create-good') && !(this.$router.currentRoute.name == 'shop-create-quiz')">
				<div class="shop-info wrap">
					<div class="shop-info-body pb-2">
						<div class="shop-info-head border-bottom row row_indents_s flex-nowrap align-items-center pt-3 pb-3 pl-4 pr-4 mb-3">
							<div class="column pt-1">
								<h4 class="mb-0">
									<span>Топ продажи</span>
								</h4>
							</div>
						</div>
						<div class="pt-3 pb-3 pl-3 pl-lg-4 pr-3">
							<div class="basket-item position-relative">
								<a class="basket-link d-block" href="#">
									<div class="basket-item__row row flex-nowrap align-items-center">
										<div class="basket-item__column basket-item__column_img column">
											<div class="basket-item__img-wrap text-center">
												<div>
													<img src="../assets/images/bestSeller1.png" alt="">
												</div>
											</div>
										</div>
										<div class="basket-item__column column">
											<div class="basket-item__title">Кожанная книга Terra in Buffalo</div>
											<div class="basket-item__price">$119</div>
										</div>
									</div>
								</a>
							</div>
							<div class="basket-item position-relative">
								<a class="basket-link d-block" href="#">
									<div class="basket-item__row row flex-nowrap align-items-center">
										<div class="basket-item__column basket-item__column_img column">
											<div class="basket-item__img-wrap text-center">
												<div>
													<img src="../assets/images/basket-img.png" alt="">
												</div>
											</div>
										</div>
										<div class="basket-item__column column">
											<div class="basket-item__title">Кружка Rick Morty  – Pickle Rick</div>
											<div class="basket-item__price">$119</div>
										</div>
									</div>
								</a>
							</div>
							<div class="basket-item position-relative">
								<a class="basket-link d-block" href="#">
									<div class="basket-item__row row flex-nowrap align-items-center">
										<div class="basket-item__column basket-item__column_img column">
											<div class="basket-item__img-wrap text-center">
												<div>
													<img src="../assets/images/basket-img2.png" alt="">
												</div>
											</div>
										</div>
										<div class="basket-item__column column">
											<div class="basket-item__title">Игрушка из дерева Teether - Baby Toy</div>
											<div class="basket-item__price">$119</div>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col mb-4 pb-1" :class="{'col-lg-9': !(this.$router.currentRoute.name == 'shop-create-good') && !(this.$router.currentRoute.name == 'shop-create-quiz')}">
				<div class="row" v-if="this.$router.currentRoute.name == 'shop-inside'">
					<div class="col-6 col-lg-4 mb-4 pb-1 d-flex flex-column flex-grow-1"
						:class="{'col-12': viewToggle}"
						v-for="(good, idx) in goods"
						:key="idx">
						<app-good-card :class="{'ads-card_row': viewToggle}" :dataObject="good"></app-good-card>
					</div>
				</div>
				<router-view />
			</div>
		</div>
	</div>
</template>

<script>
	import SvgIcon from '../components/SvgIcon.vue'
	import File from '../components/uploadFiles.vue'
	import goodCard from '../components/goodCard.vue'
	export default {
		name: 'ShopInside',
		data () {
			return {
				viewToggle: false,
				shopLinks: [
					{
						main: true,
						linkName: 'Товары',
						url: 'shop-inside'
					},
					{
						linkName: 'Акции',
						url: 'shop-events'
					},
					{
						linkName: 'Отзывы',
						url: 'shop-reviews',
					},
					{
						linkName: 'Опросы',
						url: 'shop-quiz',
					},
					{
						linkName: 'Купоны',
						url: 'shop-coupons',
					},
				],
				goods: [
					{
						category: 'сумки',
						largeTitle: '149 990 UZS',
						titleDescr: 'Сумка “Индиана Джонс” с кожанными ручками ',
						soldGoods: '125',
						totalGoods: '370',
						views: '54,764',
						rate: '5.0',
						reviewsSummary: '10',
						goodImg: require('../assets/images/ads-card-img.png')
					},
					{
						category: 'сумки',
						largeTitle: '149 990 UZS',
						titleDescr: 'Сумка “Индиана Джонс” с кожанными ручками ',
						soldGoods: '125',
						totalGoods: '370',
						views: '54,764',
						rate: '5.0',
						reviewsSummary: '10',
						goodImg: require('../assets/images/ads-card-img.png')
					},
					{
						category: 'сумки',
						largeTitle: '149 990 UZS',
						titleDescr: 'Сумка “Индиана Джонс” с кожанными ручками ',
						soldGoods: '125',
						totalGoods: '370',
						views: '54,764',
						rate: '5.0',
						reviewsSummary: '10',
						goodImg: require('../assets/images/ads-card-img.png')
					},
				]
			}
		},
		methods: {
		},
		components: {
			appSvgIcon: SvgIcon,
			appFile: File,
			appGoodCard: goodCard,
		}
	}
</script>

<style lang="scss" scoped>
</style>