<template>
	<div class="shop-settings">
		<div class="section mb-4 pb-1 wrap">
			<vue-tabs>
				<v-tab id="shop-data" title="Данные магазина">
					<div class="row">
						<div class="col-xl-6 ml-auto mr-auto">
							<form>
								<div class="row align-items-center pb-1">
									<div class="column mb-3">
										<div class="user d-flex flex-nowrap align-items-center">
											<div class="user-avatar flex-shrink-0">
												<img src="../assets/images/user-avatar2.png" alt="">
											</div>
											<div class="ml-3">
												<div class="user-name mb-1">Coverstore</div>
												<a class="user-change-avatar" href="#">Сменить фото</a>
											</div>
										</div>
									</div>
									<div class="column mb-3">
										<multiselect
											v-model="colors.value"
											:options="colors.items"
											id="multiselectColorsShopBg"
											:taggable="false"
											:maxHeight="200"
											:clear-on-select="false"
											:hide-selected="true"
											:custom-label="customLabelColor"
											:preserve-search="true"
											track-by="name"
											label="name"
											:placeholder="'Введите или выберите..'"
											class="multiselect-colors multiselect-shop-background"
											ref="colors">
												<span 
													class="arrow d-none" 
													slot="caret" 
													slot-scope="{ toggle }" 
													@mousedown.prevent.stop="toggle">
												</span>
												<span class="checkbox checkbox_color" slot="singleLabel" slot-scope="props">
													<span class="checkbox-label d-flex align-items-center mb-0">
														<span class="checkbox-pseudo" :class="props.option.key" :style="{backgroundColor: props.option.color}">
														</span>
														<span class="ml-2">{{ props.option.name }}</span>
													</span>
												</span>
												<li class="multiselect__element d-block mb-3 flex-grow-1 w-100" slot="beforeList">
													<span class="d-block multiselect-title">Цвет</span>
												</li>
												<span class="checkbox checkbox_color" slot="option" slot-scope="scope" @click.self="select(scope.option)">
													<input class="checkbox-input input-hidden"
														type="checkbox"
														v-model="scope.option.selected"
														:key="scope.option.key">
													<span class="checkbox-label d-flex align-items-center mb-0">
														<span class="checkbox-pseudo" :class="scope.option.key" :style="{backgroundColor: scope.option.color}">
															<app-svg-icon name="check"/>
														</span>
													</span>
												</span>
												<span class="d-block mb-3" slot="noResult">Данный цвет отсутствует в базе</span>
												<li class="multiselect__element d-block mb-3 flex-grow-1 w-100" slot="afterList" v-if="!colors.value.disabled">
													<a class="multiselect-title text-capitalize" href="#" @click.prevent="selectAllChanged">Очистить</a>
												</li>
										</multiselect>
									</div>
								</div>
								<div class="form-group mb-3 pb-1">
									<label class="label font-weight-bold" for="shopName">Название магазина:</label>
									<input class="form-control" type="text" id="shopName">
								</div>
								<div class="form-group mb-3 pb-1">
									<label class="label font-weight-bold" for="subDomenShop">Субдомен магазина:</label>
									<input class="form-control" type="text" id="subDomenShop" placeholder="yourname/bunow.uz">
								</div>
								<div class="form-group mb-3 pb-1">
									<label class="label font-weight-bold" for="shopdescr">Описание: <span class="color-grey">Необязательно</span></label>
									<textarea class="form-control" type="text" id="shopdescr" rows="2"></textarea>
								</div>
								<div class="form-group mb-3 pb-1">
									<label class="label font-weight-bold" for="shopdescr">Тип магазина:</label>
									<div class="row row_indents_m">
										<div class="column">
											<app-checkbox 
												:type="'checkbox'"
												:name="'private'"
												:id="'storage'"
												:checked="true"
												:content="'Со складом'"/>
										</div>
										<div class="column">
											<app-checkbox 
												:type="'checkbox'"
												:name="'private'"
												:id="'Internet'"
												:checked="false"
												:content="'Виртуальный'"/>
										</div>
										<div class="column">
											<app-checkbox 
												:type="'checkbox'"
												:name="'private'"
												:id="'catalog'"
												:checked="false"
												:content="'Режим каталога'"/>
										</div>
									</div>
								</div>
								<div class="form-group mb-3 pb-1">
									<label class="label font-weight-bold" for="typeDelivery">Вид доставки:</label>
									<multiselect
										v-model="delivery.value"
										:options="delivery.options"
										:multiple="true"
										:maxHeight="200"
										:custom-label="customLabel"
										:close-on-select="false"
										:clear-on-select="false"
										:hide-selected="false"
										:limit="2"
										:limit-text="limitText"
										:preserve-search="true"
										:searchable="true"
										placeholder="Введите или выберите.."
										track-by="name"
										id="typeDelivery"
										label="name">
											<span 
												class="arrow" 
												slot="caret" 
												slot-scope="{ toggle }" 
												@mousedown.prevent.stop="toggle">
												<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
											</span>
											<template slot="singleLabel">&nbsp;</template>
											<template slot="tag" slot-scope="props">
												<span class="multiselect__tag multiselect__tag_checkbox">
													<span>{{ props.option.name }}</span>
												</span>
											</template>
											<span class="checkbox" slot="option" slot-scope="scope" @click.self="select(scope.option)">
												<input class="checkbox-input input-hidden"
													type="checkbox"
													name=""
													value=""
													v-model="scope.option.selected"
													:key="scope.option.nameKey">
												<span class="checkbox-label d-flex align-items-center mb-0">
													<span class="checkbox-pseudo">
														<app-svg-icon name="check"/>
													</span>
													<span class="checkbox-txt ml-2">{{ scope.option.name }}</span>
												</span>
											</span>
									</multiselect>
								</div>
								<div class="form-group mb-3 pb-1">
									<label class="label font-weight-bold" for="addresMain">Адрес магазина: <span class="color-grey">(основной)</span></label>
									<input class="form-control" type="text" id="addresMain">
								</div>
								<div
									v-for="(elem, index) in another.resultValue"
									:key="index"
									class="form-group mb-3 pb-1">
									<label class="label font-weight-bold" :for="elem.id+index">{{ elem.name }}: <span class="color-grey" v-if="elem.subName">({{ elem.subName }})</span></label>
									<div class="row align-items-center">
										<div class="col">
											<div class="position-relative">
												<input class="form-control" type="text" :placeholder="elem.placeholder" :id="elem.id+index">
												<app-svg-icon class="form-icon-position form-icon-position_inside" v-if="elem.icon" :name="elem.icon" />
											</div>
										</div>
										<div class="col flex-grow-0">
											<button
												class="font-size-10 color-grey-dark button-clr"
												type="button"
												@click="removeElement(another.resultValue, index)">
												<app-svg-icon name="del" />
											</button>
										</div>
									</div>
								</div>
								<div class="form-group mb-3 pb-1">
									<label class="label font-weight-bold" for="another">Добавить данные:</label>
									<multiselect
										v-model="another.value"
										:options="another.items"
										:maxHeight="200"
										track-by="name"
										:multiple="true"
										:taggable="false"
										:close-on-select="false"
										:clear-on-select="false"
										:preserve-search="false"
										:placeholder="'Введите или выберите '"
										id="another"
										label="name">
											<span 
												class="arrow" 
												slot="caret" 
												slot-scope="{ toggle }" 
												@mousedown.prevent.stop="toggle">
												<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
											</span>
											<span class="multiselect-option-in" slot="option" slot-scope="scope" @click.self="select(scope.option)">{{ scope.option.name }}</span>
											<template slot="selection" slot-scope="{ values }"><span class="multiselect__single d-none" v-if="values.length">{{ values.length }}</span></template>
									</multiselect>
								</div>
								<div class="tabs-foot mt-5">
									<div class="row row_indents_m align-items-center justify-content-center">
										<div class="column">
											<button class="button button-blue button-clr" type="button" @click="formValidated = !formValidated">Сохранить</button>
										</div>
										<div class="column" v-if="formValidated">
											<div class="link link_color_grey font-weight-bold">Изменения сохранены</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</v-tab>
			</vue-tabs>
		</div>
	</div>
</template>

<script>
	import {VueTabs, VTab} from 'vue-nav-tabs/dist/vue-tabs.js'
	import Multiselect from 'vue-multiselect'
	import SvgIcon from '../components/SvgIcon.vue'
	import Checkbox from '../components/Checkbox.vue'
	export default {
		name: 'ShopSettings',
		data () {
			return {
				formValidated: false,
				colors: {
					value: { name: 'Цвет фона', selected: false, color: '#4f4f4f', key: 'saddleBrown', disabled: true },
					items: [
						{ name: 'зелёный', selected: false, color: 'green', key: 'green', disabled: false },
						{ name: 'синий', selected: false, color: 'blue', key: 'blue', disabled: false },
						{ name: 'красный', selected: false, color: 'red', key: 'red', disabled: false },
						{ name: 'желтый', selected: false, color: 'yellow', key: 'yellow', disabled: false },
						{ name: 'белый', selected: false, color: 'white', key: 'white', disabled: false },
					]
				},
				delivery: {
					value: [],
					options: [
						{ name: 'По району', selected: false, nameKey: 'direct' },
						{ name: 'По городу', selected: false, nameKey: 'city' },
						{ name: 'По стране', selected: false, nameKey: 'country' },
						{ name: 'По миру', selected: false, nameKey: 'world' },
					],
				},
				another: {
					value: [],
					clickValue: [],
					resultValue: [],
					items: [
						{
							name: 'Адрес магазина',
							subName: 'дополнительный',
							id: 'addres2',
							icon: 'loc'
						},
						{
							name: 'Номер телефона',
							subName: '',
							id: 'phone',
							placeholder: '+998'
						},
					]
				},
			}
		},
		methods: {
			customLabelColor ({name, color, key}) {
				return `${name} - ${color}- ${key}`
			},
			selectAllChanged() {
				this.colors.value = {}
				this.colors.value = { name: 'Цвет фона', selected: false, color: '#4f4f4f', key: 'saddleBrown', disabled: true }
			},
			limitText (count) {
				if (count === 0) {
					return ''
				}
				else { return  count }
			},
			customLabel ({name}) {
				return `${name}`
			},
			removeElement: function (array, index) {
				array.splice(index, 1);
			},
			select (option) {
				this.another.resultValue.push(option)
			}
		},
		components: {
			VueTabs,
			VTab,
			Multiselect,
			appSvgIcon: SvgIcon,
			appCheckbox: Checkbox,
		}
	}
</script>
<style lang="scss" scoped>
</style>