<template>
	<div class="wrap">
		<div class="p-4 p-lg-5">
			<div class="pl-lg-4 pr-lg-4">
				<div class="row">
					<div class="col-xl-6">
						<div class="rate-line row row_indents_m flex-nowrap align-items-center mb-2">
							<div class="column">
								<div class="rate-line-rate rate rate_max">5.0</div>
							</div>
							<div class="column flex-grow-1">
								<div class="line"><div class="line-progress" style="width: 9%;">&nbsp;</div></div>
							</div>
							<div class="column">
								<div class="rate-line-txt color-dark-80">9%</div>
							</div>
						</div>
						<div class="rate-line row row_indents_m flex-nowrap align-items-center mb-2">
							<div class="column">
								<div class="rate-line-rate rate rate_good">4.0</div>
							</div>
							<div class="column flex-grow-1">
								<div class="line"><div class="line-progress" style="width: 70%;">&nbsp;</div></div>
							</div>
							<div class="column">
								<div class="rate-line-txt color-dark-80">70%</div>
							</div>
						</div>
						<div class="rate-line row row_indents_m flex-nowrap align-items-center mb-2">
							<div class="column">
								<div class="rate-line-rate rate rate_allright">3.0</div>
							</div>
							<div class="column flex-grow-1">
								<div class="line"><div class="line-progress" style="width: 15%;">&nbsp;</div></div>
							</div>
							<div class="column">
								<div class="rate-line-txt color-dark-80">15%</div>
							</div>
						</div>
						<div class="rate-line row row_indents_m flex-nowrap align-items-center mb-2">
							<div class="column">
								<div class="rate-line-rate rate rate_not-good">2.0</div>
							</div>
							<div class="column flex-grow-1">
								<div class="line"><div class="line-progress" style="width: 2%;">&nbsp;</div></div>
							</div>
							<div class="column">
								<div class="rate-line-txt color-dark-80">2%</div>
							</div>
						</div>
						<div class="rate-line row row_indents_m flex-nowrap align-items-center mb-2">
							<div class="column">
								<div class="rate-line-rate rate rate_bad">1</div>
							</div>
							<div class="column flex-grow-1">
								<div class="line"><div class="line-progress" style="width: 4%;">&nbsp;</div></div>
							</div>
							<div class="column">
								<div class="rate-line-txt color-dark-80">4%</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6">
						<div class="rate-line-rate rate rate_max">4.8</div>
						<div class="font-size-18 color-dark-80 mt-2">Средний рейтинг : 4.8 из 5 (40 оценок)</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <hr class="devider m-0"> -->
		<div class="review pt-4 pb-4 pl-3 pr-3 pr-lg-5">
			<div class="pl-lg-1 pt-3">
				<div class="row row_indents_m flex-nowrap mb-4">
					<div class="column">
						<div class="review-col text-right color-dark-50">
							<div class="rate rate_max">5.0</div>
						</div>
					</div>
					<div class="column flex-grow-1">
						<div class="color-dark mb-1">This is a great phone and is worth the investment</div>
						<div class="color-dark-50">By <a class="color-dark" href="#">Doug Horneron</a> Sept 27, 2017</div>
					</div>
					<div class="column">
						<div class="arrows rating-button">
							<button type="button" class="arrows__arrow arrows__arrow_prev">
								<app-svg-icon name="like" />
								<span class="ml-1 text-small font-weight-bold">10</span>
							</button>
							<button type="button" class="arrows__arrow arrows__arrow_next">
								<app-svg-icon name="like" />
								<span class="ml-1 text-small font-weight-bold">6</span>
							</button>
						</div>
					</div>
				</div>
				<div class="row row_indents_m flex-nowrap mb-4">
					<div class="column">
						<div class="review-col text-right color-dark-50">Advantages</div>
					</div>
					<div class="column flex-grow-1">
						<div class="color-dark-80">Display, camera, speaker</div>
					</div>
				</div>
				<div class="row row_indents_m flex-nowrap mb-4">
					<div class="column">
						<div class="review-col text-right color-dark-50">Disadvantages</div>
					</div>
					<div class="column flex-grow-1">
						<div class="color-dark-80">Battery</div>
					</div>
				</div>
				<div class="row row_indents_m flex-nowrap mb-4">
					<div class="column">
						<div class="review-col text-right color-dark-50">Review</div>
					</div>
					<div class="column flex-grow-1">
						<div class="color-dark-80">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque vero quas debitis cumque repudiandae facilis illo maiores quam ad consequuntur explicabo, libero non commodi voluptatum. Vero sequi quae repellendus dolorem, sit inventore ipsa facere blanditiis ipsum qui fuga, ea illo.</div>
					</div>
				</div>
				<div class="row row_indents_m flex-nowrap mb-4">
					<div class="column">
						<div class="review-col text-right color-dark-50">&nbsp;</div>
					</div>
					<div class="column flex-grow-1">
						<div class="uploaded-review-imgs row row_indents_s">
							<div class="column mb-2">
								<div class="upload-preview position-relative">
									<img class="preview" src="../assets/images/preview-img1.png">
								</div>
							</div>
							<div class="column mb-2">
								<div class="upload-preview position-relative">
									<img class="preview" src="../assets/images/preview-img2.png">
								</div>
							</div>
							<div class="column mb-2">
								<div class="upload-preview position-relative">
									<img class="preview" src="../assets/images/preview-img3.png">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row row_indents_m flex-nowrap mb-4">
					<div class="column">
						<div class="review-col text-right color-dark-50">&nbsp;</div>
					</div>
					<div class="column flex-grow-1">
						<div class="row row_indents_m">
							<div class="column">
								<a class="color-blue font-weight-bold" href="#">23 комментария</a>
							</div>
							<div class="column">
								<a class="color-grey-dark font-weight-bold" href="#">Ответить</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="p-4 p-lg-5">
			<a class="button-large" href="#">
				<app-svg-icon name="load-more" />
				<span class="ml-2">Загрузить еще</span>
			</a>
		</div>
	</div>
</template>

<script>
	import SvgIcon from '../components/SvgIcon.vue'
	export default {
		name: 'shopReviews',
		data () {
			return {
				
			}
		},
		components: {
			appSvgIcon: SvgIcon
		}
	}
</script>

<style lang="scss" scoped>
</style>