<template>
	<div>
		<div class="row align-items-center pb-3">
			<div class="column mb-2">
				<div class="text-extra-large">Действующие акции</div>
			</div>
			<div class="column mb-2 ml-auto">
				<a class="color-gray-2" href="#">Архив акций</a>
			</div>
			<div class="column mb-2">
				<a class="button-regular pl-5 pr-5" href="#" @click.prevent="showModal('chooseEventType')">Создать акцию</a>
			</div>
		</div>
		<div class="row">
			<div class="col-6 col-lg-4 mb-4 pb-1 d-flex flex-column"
				v-for="(good, idx) in eventsGoods"
				:key="idx">
				<app-good-card-events :type="'event'" :dataObject="good"></app-good-card-events>
			</div>
		</div>
		<a href="#" @click.prevent="showModal('event1')">Акция 1</a>
		<br>
		<a href="#" @click.prevent="showModal('event2')">Акция 2</a>
		<modal name="createSeasonEvent" :adaptive="true" :minWidth="280" :maxWidth="555" :height="'auto'" :scrollable="true">
			<div class="modal-in">
				<div class="modal-body">
					<button class="modal-close button-clr" type="button" @click="hideModal('createSeasonEvent')">
						<app-svg-icon name="close" />
					</button>
					<form>
						<div class="row">
							<div class="col-10">
								<div class="modal-title">Создание сезонной акции</div>
								<div class="row">
									<div class="col-9">
										<div class="form-group mb-3 pb-1">
											<label class="label font-weight-bold color-dark" for="goods">Один или несколько товаров:</label>
											<multiselect
												v-model="optionsThird.value"
												:options="optionsThird.items"
												:maxHeight="200"
												:multiple="true"
												:limit="1"
												:searchable="false"
												:limit-text="limitText"
												class="multiselect_goods"
												track-by="name"
												label="name"
												:id="'goods'"
												:placeholder="'Выбрать товар'"
												:custom-label="customLabelSingle">
													<span 
														class="arrow" 
														slot="caret" 
														slot-scope="{ toggle }" 
														@mousedown.prevent.stop="toggle">
														<app-svg-icon class="multiselect-toggle multiselect-toggle_apps" name="apps"/>
													</span>
													<template slot="tag" slot-scope="props">
														<span class="multiselect__tag d-inline-flex flex-nowrap align-items-center">
															<span class="flex-shrink-0 font-size-0">
																<img :src="props.option.src" alt="">
															</span>
															<span class="ml-2">{{props.option.name}}</span>
														</span>
													</template>
													<span
														class="d-flex flex-nowrap align-items-center"
														slot="option"
														slot-scope="scope"
														@click.self="select(scope.option)">
														<span class="flex-shrink-0 font-size-0">
															<img :src="scope.option.src" alt="">
														</span>
														<span class="ml-2">{{scope.option.name}}</span>
													</span>
											</multiselect>
										</div>
									</div>
									<div class="col-5">
										<div class="form-group mb-3 pb-1">
											<label class="label font-weight-bold color-dark" for="discount">Размер скидки %:</label>
											<input class="form-control" type="text" id="discount">
										</div>
									</div>
									<div class="col-12">
										<div class="form-group mb-3 pb-1">
											<label class="label font-weight-bold color-dark" for="discountName">Название акции:</label>
											<input class="form-control" type="text" id="discountName">
										</div>
									</div>
									<div class="col-12">
										<div class="form-group mb-3 pb-1">
											<label class="label font-weight-bold color-dark" for="discountDescr">Описание акции:</label>
											<textarea class="form-control" type="text" id="discountDescr" rows="3"></textarea>
										</div>
									</div>
									<div class="col-12">
										<div class="row">
											<div class="col-5 form-group mb-3 pb-1">
												<label class="label font-weight-bold color-dark" for="startDiscount">Дата начала</label>
												<datepicker
													:input-class="'form-control'"
													:wrapper-class="'datepicker'"
													:calendar-class="'datepicker-wrap'"
													:format="'dd.MM.yyyy'"
													:placeholder="'дд.мм.гггг'"
													ref="startDiscount"
													id="startDiscount"
													:language="ru">
														<span
															slot="afterDateInput"
															class="datepicker-icon form-icon-position form-icon-position_inside color-grey-dark"
															@click="openPicker('startDiscount')">
															<app-svg-icon name="calendar" />
														</span>
												</datepicker>
											</div>
											<div class="col-5 form-group mb-3 pb-1">
												<label class="label font-weight-bold color-dark" for="endDiscount">Дата конца</label>
												<datepicker
													:input-class="'form-control'"
													:wrapper-class="'datepicker'"
													:calendar-class="'datepicker-wrap'"
													:format="'dd.MM.yyyy'"
													:placeholder="'дд.мм.гггг'"
													ref="endDiscount"
													id="endDiscount"
													:language="ru">
														<span
															slot="afterDateInput"
															class="datepicker-icon form-icon-position form-icon-position_inside color-grey-dark"
															@click="openPicker('endDiscount')">
															<app-svg-icon name="calendar" />
														</span>
												</datepicker>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
					<div class="modal-foot pb-0 pl-0 pr-0 pt-4">
						<div class="row row_indents_m align-items-center">
							<div class="column">
								<button class="button-blue button-clr font-weight-bold" type="submit">Создать</button>
							</div>
							<div class="column">
								<a class="font-weight-bold color-dark-50" href="#" @click.prevent="hideModal('createSeasonEvent')">Отменить</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</modal>
		<modal name="createBuyEvent" :adaptive="true" :minWidth="280" :maxWidth="555" :height="'auto'" :scrollable="true">
			<div class="modal-in">
				<div class="modal-body">
					<button class="modal-close button-clr" type="button" @click="hideModal('createBuyEvent')">
						<app-svg-icon name="close" />
					</button>
					<form>
						<div class="row">
							<div class="col-10">
								<div class="modal-title">Создание акции на покупку</div>
								<div class="row">
									<div class="col-9">
										<div class="form-group mb-3 pb-1">
											<label class="label font-weight-bold color-dark" for="goodsBuy">Товар для покупки</label>
											<multiselect
												v-model="optionsThirdElse.value"
												:options="optionsThirdElse.items"
												:maxHeight="200"
												:multiple="true"
												:limit="1"
												:searchable="false"
												:limit-text="limitText"
												class="multiselect_goods"
												track-by="name"
												label="name"
												:id="'goodsBuy'"
												:placeholder="'Выбрать товар'"
												:custom-label="customLabelSingle">
													<span 
														class="arrow" 
														slot="caret" 
														slot-scope="{ toggle }" 
														@mousedown.prevent.stop="toggle">
														<app-svg-icon class="multiselect-toggle multiselect-toggle_apps" name="apps"/>
													</span>
													<template slot="tag" slot-scope="props">
														<span class="multiselect__tag d-inline-flex flex-nowrap align-items-center">
															<span class="flex-shrink-0 font-size-0">
																<img :src="props.option.src" alt="">
															</span>
															<span class="ml-2">{{props.option.name}}</span>
														</span>
													</template>
													<span
														class="d-flex flex-nowrap align-items-center"
														slot="option"
														slot-scope="scope"
														@click.self="select(scope.option)">
														<span class="flex-shrink-0 font-size-0">
															<img :src="scope.option.src" alt="">
														</span>
														<span class="ml-2">{{scope.option.name}}</span>
													</span>
											</multiselect>
										</div>
									</div>
									<div class="col-9">
										<div class="form-group mb-3 pb-1">
											<label class="label font-weight-bold color-dark" for="quantityBuy">Количество для покупки</label>
											<input class="form-control" type="number" id="quantityBuy">
										</div>
									</div>
									<div class="col-9">
										<div class="form-group mb-3 pb-1">
											<label class="label font-weight-bold color-dark" for="goodsBuy">Товар на скидку</label>
											<multiselect
												v-model="optionsThird.value"
												:options="optionsThird.items"
												:maxHeight="200"
												:multiple="true"
												:limit="1"
												:searchable="false"
												:limit-text="limitText"
												class="multiselect_goods"
												track-by="name"
												label="name"
												:id="'goodsBuy'"
												:placeholder="'Выбрать товар'"
												:custom-label="customLabelSingle">
													<span 
														class="arrow" 
														slot="caret" 
														slot-scope="{ toggle }" 
														@mousedown.prevent.stop="toggle">
														<app-svg-icon class="multiselect-toggle multiselect-toggle_apps" name="apps"/>
													</span>
													<template slot="tag" slot-scope="props">
														<span class="multiselect__tag d-inline-flex flex-nowrap align-items-center">
															<span class="flex-shrink-0 font-size-0">
																<img :src="props.option.src" alt="">
															</span>
															<span class="ml-2">{{props.option.name}}</span>
														</span>
													</template>
													<span
														class="d-flex flex-nowrap align-items-center"
														slot="option"
														slot-scope="scope"
														@click.self="select(scope.option)">
														<span class="flex-shrink-0 font-size-0">
															<img :src="scope.option.src" alt="">
														</span>
														<span class="ml-2">{{scope.option.name}}</span>
													</span>
											</multiselect>
										</div>
									</div>
									<div class="col-12">
										<div class="form-group mb-3 pb-1">
											<label class="label font-weight-bold color-dark" for="discountName">Название акции:</label>
											<input class="form-control" type="text" id="discountName">
										</div>
									</div>
									<div class="col-12">
										<div class="form-group mb-3 pb-1">
											<label class="label font-weight-bold color-dark" for="discountDescr">Описание акции:</label>
											<textarea class="form-control" type="text" id="discountDescr" rows="3"></textarea>
										</div>
									</div>
									<div class="col-12">
										<div class="row">
											<div class="col-5 form-group mb-3 pb-1">
												<label class="label font-weight-bold color-dark" for="startDiscount">Дата начала</label>
												<datepicker
													:input-class="'form-control'"
													:wrapper-class="'datepicker'"
													:calendar-class="'datepicker-wrap'"
													:format="'dd.MM.yyyy'"
													:placeholder="'дд.мм.гггг'"
													ref="startDiscount"
													id="startDiscount"
													:language="ru">
														<span
															slot="afterDateInput"
															class="datepicker-icon form-icon-position form-icon-position_inside color-grey-dark"
															@click="openPicker('startDiscount')">
															<app-svg-icon name="calendar" />
														</span>
												</datepicker>
											</div>
											<div class="col-5 form-group mb-3 pb-1">
												<label class="label font-weight-bold color-dark" for="endDiscount">Дата конца</label>
												<datepicker
													:input-class="'form-control'"
													:wrapper-class="'datepicker'"
													:calendar-class="'datepicker-wrap'"
													:format="'dd.MM.yyyy'"
													:placeholder="'дд.мм.гггг'"
													ref="endDiscount"
													id="endDiscount"
													:language="ru">
														<span
															slot="afterDateInput"
															class="datepicker-icon form-icon-position form-icon-position_inside color-grey-dark"
															@click="openPicker('endDiscount')">
															<app-svg-icon name="calendar" />
														</span>
												</datepicker>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
					<div class="modal-foot pb-0 pl-0 pr-0 pt-4">
						<div class="row row_indents_m align-items-center">
							<div class="column">
								<button class="button-blue button-clr font-weight-bold" type="submit">Сохранить</button>
							</div>
							<div class="column">
								<a class="font-weight-bold color-dark-50" href="#" @click.prevent="hideModal('createBuyEvent')">Отменить</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</modal>
		<modal name="chooseEventType" :adaptive="true" :minWidth="280" :maxWidth="555" :height="'auto'" :scrollable="true">
			<div class="modal-in">
				<div class="modal-body">
					<button class="modal-close button-clr" type="button" @click="hideModal('chooseEventType')">
						<app-svg-icon name="close" />
					</button>
					<div class="row">
						<div class="col-xl-10 ml-auto mr-auto">
							<div class="pt-5 pb-5">
								<div class="text-center">
									<div class="modal-title mb-4 pb-3">Вы берите тип акции</div>
									<div class="mb-4 pb-3">
										<label class="button button-checkbox w-100 m-0" href="#">
											<input class="button-checkbox-input input-hidden" type="radio" name="typeEvent" @change="$event.target.checked ? modalName = 'createBuyEvent' : ''">
											<div class="button-checkbox-pseudo">
												<span>Акция на покупку</span>
											</div>
										</label>
									</div>
									<div class="mb-4 pb-3">
										<label class="button button-checkbox w-100 m-0" href="#">
											<input class="button-checkbox-input input-hidden" type="radio" name="typeEvent" @change="$event.target.checked ? modalName = 'createSeasonEvent' : ''">
											<div class="button-checkbox-pseudo">
												<span>Сезонная акция</span>
											</div>
										</label>
									</div>
								</div>
								<div class="pb-0 pl-0 pr-0 pt-4">
									<div class="row row_indents_m align-items-center justify-content-center">
										<div class="column">
											<button class="button-blue button-clr font-weight-bold" type="submit" @click="showModal(modalName), hideModal('chooseEventType')">Сохранить</button>
										</div>
										<div class="column">
											<a class="font-weight-bold color-dark-50" href="#" @click.prevent="hideModal('chooseEventType')">Отменить</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</modal>
		<modal name="event1" :adaptive="true" :minWidth="280" :maxWidth="555" :height="'auto'" :scrollable="true">
			<div class="modal-in">
				<div class="modal-body modal-body_background_orange p-0">
					<button class="modal-close color-gray-6 button-clr" type="button" @click="hideModal('event1')">
						<app-svg-icon name="close" />
					</button>
					<div class="event-img text-center pt-5 pb-5 pl-4 pr-4">
						<img src="../assets/images/ads-card-img.png" alt="" width="270">
					</div>
					<div class="event-title text-center">АКЦИЯ</div>
					<div class="pt-5 pb-5 pl-4 pr-4 text-center">
						<div class="event-title-descr">Осеняя распродажа!</div>
						<div class="event-title-sub mb-4">-50% на всю осенюю колецию</div>
						<div class="d-flex flex-nowrap align-items-center mt-3 justify-content-center color-gray-6">
							<app-svg-icon class="flex-shrink-0 font-size-18" name="time" />
							<span class="ml-2 text-small">23.04.19 - 02.05.19</span>
						</div>
					</div>
					<div class="row row_indents_m justify-content-center pb-5">
						<div class="column">
							<a class="button-white button-width-160" href="#">В магазин</a>
						</div>
						<div class="column">
							<a class="button-white button-width-160" href="#">Поделиться</a>
						</div>
					</div>
				</div>
			</div>
		</modal>
		<modal name="event2" :adaptive="true" :minWidth="280" :maxWidth="555" :height="'auto'" :scrollable="true">
			<div class="modal-in">
				<div class="modal-body modal-body_background_green p-0">
					<button class="modal-close color-white button-clr" type="button" @click="hideModal('event2')">
						<app-svg-icon name="close" />
					</button>
					<div class="event-img text-center pt-5 pb-5 pl-4 pr-4">
						<img class="align-bottom" src="../assets/images/ads-card-img.png" alt="" width="240">
						<img class="align-bottom" src="../assets/images/add-img2.png" alt="" width="170">
					</div>
					<div class="event-title text-center">АКЦИЯ</div>
					<div class="pt-5 pb-5 pl-4 pr-4 text-center">
						<div class="event-title-descr">1+1=3</div>
						<div class="event-title-sub mb-4 color-yellow">-50% при покупке сумок Lorem <br> Ipsum Standard портфель в подарок!</div>
						<div class="d-flex flex-nowrap align-items-center mt-3 justify-content-center color-gray-6">
							<app-svg-icon class="flex-shrink-0 font-size-18" name="time" />
							<span class="ml-2 text-small">23.04.19 - 02.05.19</span>
						</div>
					</div>
					<div class="row row_indents_m justify-content-center pb-5">
						<div class="column">
							<a class="button-white button-width-160" href="#">В магазин</a>
						</div>
						<div class="column">
							<a class="button-white button-width-160" href="#">Поделиться</a>
						</div>
					</div>
				</div>
			</div>
		</modal>
	</div>
</template>

<script>
	import goodCardEvents from '../components/goodCardEvents.vue'
	import SvgIcon from '../components/SvgIcon.vue'
	import Multiselect from 'vue-multiselect'
	import Datepicker from 'vuejs-datepicker'
	let Language = function Language (language, months, monthsAbbr, days) {
		this.language = language;
		this.months = months;
		this.monthsAbbr = monthsAbbr;
		this.days = days;
		this.rtl = false;
		this.ymd = false;
		this.yearSuffix = '';
	};
	let pt = new Language(
		'Russian', ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'], ['Январь','Февраль.','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'], ['Пн.','Вт.','Ср.','Чт.','Пт.','Сб.','Вс.']
		);
	export default {
		name: 'shopGoods',
		data () {
			return {
				ru: pt,
				modalName: '',
				eventsGoods: [
					{
						largeTitle: '1+1 = 3',
						titleDescr: 'При покупке 2 вещей получи еще 1 в подарок',
						eventDate: '23.04.19 - 02.05.19',
						goodImg: require('../assets/images/ads-card-img.png')
					},
					{
						largeTitle: 'Купи кружку - получи подарок!',
						titleDescr: 'При покупке 2 вещей получи еще 1 в подарок',
						eventDate: '23.04.19 - 02.05.19',
						goodImg: require('../assets/images/ads-card-img.png')
					},
					{
						largeTitle: '-20% на термо - держалки',
						titleDescr: 'Осенняя распродажа!',
						eventDate: '23.04.19 - 02.05.19',
						goodImg: require('../assets/images/ads-card-img.png')
					},
				],
				optionsThird: {
					value: [
						
					],
					items: [
						{ name: 'Сумка Хаки 1', src: require('../assets/images/ads-card-img-small.png') },
						{ name: 'Сумка Хаки 2', src: require('../assets/images/ads-card-img-small.png') },
						{ name: 'Сумка Хаки 3', src: require('../assets/images/ads-card-img-small.png') }
					]
				},
				optionsThirdElse: {
					value: [
						
					],
					items: [
						{ name: 'Сумка Хаки 1', src: require('../assets/images/ads-card-img-small.png') },
						{ name: 'Сумка Хаки 2', src: require('../assets/images/ads-card-img-small.png') },
						{ name: 'Сумка Хаки 3', src: require('../assets/images/ads-card-img-small.png') }
					]
				},
			}
		},
		methods: {
			showModal (modal) {
				this.$modal.show(modal);
			},
			hideModal (modal) {
				this.$modal.hide(modal);
			},
			customLabelSingle ({name, src}) {
				return `${name} - ${src}`
			},
			select (option) {
				option.selected = !option.selected
			},
			limitText (count) {
				if (count === 0) {
					return ''
				}
				else { return  count }
			},
			openPicker (picker) {
				this.$refs[picker].showCalendar()
			},
		},
		components: {
			appGoodCardEvents: goodCardEvents,
			appSvgIcon: SvgIcon,
			Multiselect,
			Datepicker,
		}
	}
</script>

<style lang="scss" scoped>
</style>