<template>
	<div>
		<div class="row align-items-center pb-3">
			<div class="column mb-2">
				<div class="text-extra-large">Купоны магазина</div>
			</div>
			<div class="column mb-2 ml-auto">
				<a class="color-gray-2" href="#">Архив купонов</a>
			</div>
			<div class="column mb-2">
				<a class="button-regular pl-5 pr-5" href="#" @click.prevent="showModal('createCoupon')">Создать купон</a>
			</div>
		</div>
		<div class="row">
			<div class="col-6 col-lg-4 mb-4 pb-1 d-flex flex-column"
				v-for="(good, idx) in couponsGoods"
				:key="idx">
				<app-good-card :type="'coupons'" :dataObject="good"></app-good-card>
			</div>
		</div>
		<a href="#" @click.prevent="showModal('coupon')">Купон</a>
		<modal name="createCoupon" :adaptive="true" :minWidth="280" :maxWidth="555" :height="'auto'" :scrollable="true">
			<div class="modal-in">
				<div class="modal-body">
					<button class="modal-close button-clr" type="button" @click="hideModal('createCoupon')">
						<app-svg-icon name="close" />
					</button>
					<form>
						<div class="row">
							<div class="col-lg-10">
								<div class="modal-title">Создание купона</div>
								<div class="row">
									<div class="col-lg-9">
										<div class="form-group mb-3 pb-1">
											<label class="label font-weight-bold color-dark" for="goodsBuy">Товар на скидку</label>
											<multiselect
												v-model="optionsThird.value"
												:options="optionsThird.items"
												:maxHeight="200"
												:multiple="true"
												:limit="1"
												:searchable="false"
												:limit-text="limitText"
												class="multiselect_goods"
												track-by="name"
												label="name"
												:id="'goods'"
												:placeholder="'Выбрать товар'"
												:custom-label="customLabelSingle">
													<span 
														class="arrow" 
														slot="caret" 
														slot-scope="{ toggle }" 
														@mousedown.prevent.stop="toggle">
														<app-svg-icon class="multiselect-toggle multiselect-toggle_apps" name="apps"/>
													</span>
													<template slot="tag" slot-scope="props">
														<span class="multiselect__tag d-inline-flex flex-nowrap align-items-center">
															<span class="flex-shrink-0 font-size-0">
																<img :src="props.option.src" alt="">
															</span>
															<span class="ml-2">{{props.option.name}}</span>
														</span>
													</template>
													<span
														class="d-flex flex-nowrap align-items-center"
														slot="option"
														slot-scope="scope"
														@click.self="select(scope.option)">
														<span class="flex-shrink-0 font-size-0">
															<img :src="scope.option.src" alt="">
														</span>
														<span class="ml-2">{{scope.option.name}}</span>
													</span>
											</multiselect>
										</div>
										<div class="form-group mb-3 pb-1">
											<label class="label font-weight-bold color-dark" for="discountSize">Размер скидки %</label>
											<input class="form-control" type="text" id="discountSize">
										</div>
										<div class="form-group mb-3 pb-1">
											<label class="label font-weight-bold color-dark" for="couponsLength">Количество купонов</label>
											<input class="form-control" type="text" id="couponsLength">
										</div>
										<div class="form-group mb-3 pb-1">
											<label class="label font-weight-bold color-dark" for="couponsLength">Количество купонов</label>
											<input class="form-control" type="text" id="couponsLength">
										</div>
									</div>
									<div class="col-12">
										<div class="row justify-content-between">
											<div class="col-lg-6 form-group mb-3 pb-1">
												<label class="label font-weight-bold color-dark" for="startCoupon">Дата начала</label>
												<datepicker
													:input-class="'form-control'"
													:wrapper-class="'datepicker'"
													:calendar-class="'datepicker-wrap'"
													:format="'dd.MM.yyyy'"
													:placeholder="'Выбрать'"
													ref="startCoupon"
													id="startCoupon"
													:language="ru">
														<span
															slot="afterDateInput"
															class="datepicker-icon form-icon-position form-icon-position_inside color-grey-dark"
															@click="openPicker('startCoupon')">
															<app-svg-icon name="calendar" />
														</span>
												</datepicker>
											</div>
											<div class="col-lg-6 form-group mb-3 pb-1">
												<label class="label font-weight-bold color-dark" for="endCoupon">Дата окончания</label>
												<datepicker
													:input-class="'form-control'"
													:wrapper-class="'datepicker'"
													:calendar-class="'datepicker-wrap'"
													:format="'dd.MM.yyyy'"
													:placeholder="'Выбрать'"
													ref="endCoupon"
													id="endCoupon"
													:language="ru">
														<span
															slot="afterDateInput"
															class="datepicker-icon form-icon-position form-icon-position_inside color-grey-dark"
															@click="openPicker('endCoupon')">
															<app-svg-icon name="calendar" />
														</span>
												</datepicker>
											</div>
										</div>
									</div>
									<div class="col-lg-9">
										<div class="form-group mb-3 pb-1">
											<label class="label font-weight-bold color-dark" for="mailingType">Тип рассылки</label>
											<multiselect
												v-model="mailing.value"
												:options="mailing.items"
												:maxHeight="200"
												:id="'mailingType'"
												placeholder="Выберите тип"
												track-by="name"
												label="name">
												<span 
													class="arrow" 
													slot="caret" 
													slot-scope="{ toggle }" 
													@mousedown.prevent.stop="toggle">
													<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
												</span>
													<template slot="singleLabel">&nbsp;</template>
													<template slot="tag" slot-scope="props">
														<span class="multiselect__tag multiselect__tag_checkbox">
															<span>{{ props.option.name }}</span>
														</span>
													</template>
											</multiselect>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-foot pl-0 pr-0 mt-4">
							<div class="row row_indents_m align-items-center">
								<div class="column">
									<button class="button-blue button-clr font-weight-bold" type="submit">Сохранить</button>
								</div>
								<div class="column">
									<a class="font-weight-bold color-dark-50" href="#" @click.prevent="hideModal('createCoupon')">Отменить</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</modal>
		<modal name="coupon" :adaptive="true" :minWidth="280" :maxWidth="555" :height="'auto'" :scrollable="true">
			<div class="modal-in">
				<div class="modal-body">
					<button class="modal-close button-clr" type="button" @click="hideModal('coupon')">
						<app-svg-icon name="close" />
					</button>
					<div class="pt-5">
						<div class="event-img text-center pt-5 pb-4 pl-4 pr-4">
							<img src="../assets/images/coupon.png" alt="" width="460">
						</div>
						<div class="d-flex flex-nowrap align-items-center mt-3 justify-content-center color-blue mb-5 pb-4">
							<app-svg-icon class="flex-shrink-0 font-size-18" name="time" />
							<span class="ml-2 text-small">23.04.19 - 02.05.19</span>
						</div>
						<div class="row row_indents_m justify-content-center pb-5">
							<div class="column">
								<a class="button button-blue" href="#">Забрать купон</a>
							</div>
							<div class="column">
								<a class="button button-blue" href="#">Поделиться</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</modal>
	</div>
</template>

<script>
	import goodCard from '../components/goodCard.vue'
	import SvgIcon from '../components/SvgIcon.vue'
	import Multiselect from 'vue-multiselect'
	import Datepicker from 'vuejs-datepicker'
	let Language = function Language (language, months, monthsAbbr, days) {
		this.language = language;
		this.months = months;
		this.monthsAbbr = monthsAbbr;
		this.days = days;
		this.rtl = false;
		this.ymd = false;
		this.yearSuffix = '';
	};
	let pt = new Language(
		'Russian', ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'], ['Январь','Февраль.','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'], ['Пн.','Вт.','Ср.','Чт.','Пт.','Сб.','Вс.']
		);
	export default {
		name: 'shopCoupons',
		data () {
			return {
				ru: pt,
				optionsThird: {
					value: [
						
					],
					items: [
						{ name: 'Сумка Хаки 1', src: require('../assets/images/ads-card-img-small.png') },
						{ name: 'Сумка Хаки 2', src: require('../assets/images/ads-card-img-small.png') },
						{ name: 'Сумка Хаки 3', src: require('../assets/images/ads-card-img-small.png') }
					]
				},
				mailing: {
					value: [
						
					],
					items: [
						{ name: 'Случайная'},
						{ name: 'Таргет'},
						{ name: 'Тип рассылки 3'},
						{ name: 'Тип рассылки 4'},
					]
				},
				couponsGoods: [
					{
						largeTitle: '- 20% на сумки!',
						titleDescr: '-20% при покупки сумок Lorem Ipsum Standard',
						startEventDate: '23.04.19',
						eventDate: '23.04.19 - 02.05.19',
						goodImg: require('../assets/images/ads-card-img.png'),
						coupons: 34,
						couponsTotal: 50
					},
					{
						largeTitle: '- 20% на сумки!',
						titleDescr: '-20% при покупки сумок Lorem Ipsum Standard',
						startEventDate: '23.04.19',
						eventDate: '23.04.19 - 02.05.19',
						goodImg: require('../assets/images/ads-card-img.png'),
						coupons: 34,
						couponsTotal: 50
					},
					{
						largeTitle: '- 20% на сумки!',
						titleDescr: '-20% при покупки сумок Lorem Ipsum Standard',
						startEventDate: '23.04.19',
						eventDate: '23.04.19 - 02.05.19',
						goodImg: require('../assets/images/ads-card-img.png'),
						coupons: 34,
						couponsTotal: 50
					},
				]
			}
		},
		methods: {
			showModal (modal) {
				this.$modal.show(modal);
			},
			hideModal (modal) {
				this.$modal.hide(modal);
			},
			customLabelSingle ({name, src}) {
				return `${name} - ${src}`
			},
			select (option) {
				option.selected = !option.selected
			},
			limitText (count) {
				if (count === 0) {
					return ''
				}
				else { return  count }
			},
			openPicker (picker) {
				this.$refs[picker].showCalendar()
			},
		},
		components: {
			appGoodCard: goodCard,
			appSvgIcon: SvgIcon,
			Multiselect,
			Datepicker,
		}
	}
</script>

<style lang="scss" scoped>
</style>