<template>
	<div>
		<div class="row align-items-center pb-3">
			<div class="column mb-2">
				<div class="text-extra-large">Опросы магазина</div>
			</div>
			<div class="column mb-2 ml-auto">
				<a class="color-gray-2" href="#">Архив опросов</a>
			</div>
			<div class="column mb-2">
				<a class="button-regular pl-5 pr-5" href="#" @click.prevent="showModal('createQuiz')">Создать опрос</a>
			</div>
		</div>
		<div class="row">
			<div class="col-6 col-lg-4 mb-4 pb-1 d-flex flex-column"
				v-for="(good, idx) in quizGoods"
				:key="idx">
				<app-good-card-quiz :dataObject="good"></app-good-card-quiz>
			</div>
		</div>
		<a href="#" @click.prevent="tooltipShow = true, showModal('quiz1')">Опрос 1</a>
		<modal name="createQuiz" :adaptive="true" :minWidth="280" :maxWidth="575" :height="'auto'" :scrollable="true">
			<div class="modal-in">
				<div class="modal-body p-0">
					<button class="modal-close button-clr" type="button" @click="hideModal('createQuiz')">
						<app-svg-icon name="close" />
					</button>
					<form>
						<div class="pt-4 pb-4 pl-4 pr-4 pl-lg-5 pr-lg-5">
							<div class="p-2">
								<div class="text-center">
									<div class="pt-5 pb-5">
										<img src="../assets/images/createQuizImg.svg" alt="">
									</div>
									<div class="modal-title mb-4">Совершенствуйте свой сервис, <br> создавая интересные опросники</div>
								</div>
								<div class="row row_indents_m pb-3">
									<div class="form-group column mb-3 pb-1">
										<label class="label font-weight-bold color-dark" for="">Фото</label>
										<app-file />
									</div>
									<div class="form-group column mb-3 pb-1 flex-grow-1">
										<label class="label font-weight-bold color-dark" for="">Заголовок опросника</label>
										<textarea class="quiz-textarea form-control"></textarea>
									</div>
									<div class="form-group column mb-3 pb-1">
										<label class="label font-weight-bold color-dark" for="">Баллы</label>
										<app-count-points :count-val="15000" />
									</div>
								</div>
								<div class="row row_indents_m justify-content-center align-items-center">
									<div class="column">
										<router-link class="button button-blue button-clr font-weight-bold" :to="{name: 'shop-create-quiz'}">
											<span>Далее</span>
											<app-svg-icon class="svg-icon_reverse ml-2" name="arrow-left" />
										</router-link>
									</div>
									<div class="column">
										<a class="font-weight-bold color-dark-50" href="#" @click.prevent="hideModal('createQuiz')">Отменить</a>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</modal>
		<modal name="quiz1" :adaptive="true" :minWidth="280" :maxWidth="555" :height="'auto'" :scrollable="true">
			<div class="wrap pt-5 pb-5 pl-4 pr-4">
				<div class="pt-xl-5">
					<button class="modal-close modal-close_right_25 button-clr" type="button" @click="hideModal('quiz1')">
						<app-svg-icon name="close" />
					</button>
					<app-carousel
						class="shop-creation-carousel"
						:perPage="1"
						:adjustableHeight="false"
						:mouseDrag="false"
						:touchDrag="false"
						:paginationEnabled="true"
						:navigationEnabled="false"
						@pageChange="pageChange"
						ref="quizCarousel">
						<app-slide>
							<div class="row">
								<div class="col-xl-10 ml-auto mr-auto">
									<form>
										<div class="text-center color-gray-2">
											<h4 class="mb-5">Купили бы вы этот товар?</h4>
											<div class="mb-5">
												<img src="../assets/images/add-img6-large.png" alt="">
											</div>
											<div class="mb-4 pb-3">
												<label class="button button-checkbox button-checkbox_quiz active w-100 m-0" href="#">
													<input class="button-checkbox-input input-hidden" type="radio" name="answer1">
													<div class="button-checkbox-pseudo d-flex flex-nowrap align-items-center justify-content-between">
														<div class="button-checkbox-line" style="right: 26%;">&nbsp;</div>
														<span>Да</span>
														<span>84%</span>
													</div>
												</label>
											</div>
											<div class="mb-4 pb-3">
												<label class="button button-checkbox button-checkbox_quiz active w-100 m-0" href="#">
													<input class="button-checkbox-input input-hidden" type="radio" name="answer1">
													<div class="button-checkbox-pseudo d-flex flex-nowrap align-items-center justify-content-between">
														<span class="button-checkbox-line" style="right: 84%;">&nbsp;</span>
														<span>Нет</span>
														<span>26%</span>
													</div>
												</label>
											</div>
											<div class="mb-4">
												<a class="button button-blue" href="#" @click.prevent="formValidated = !formValidated, formValidated ? nextSlide() : null">Следующий</a>
											</div>
											<div class="font-weight-bold color-dark-50">1444 проголосовали</div>
											<!-- вместо formValidated проверка формы -->
										</div>
									</form>
								</div>
							</div>
						</app-slide>
						<app-slide>
							<div class="row">
								<div class="col-xl-10 ml-auto mr-auto">
									<form>
										<div class="text-center color-gray-2">
											<h4 class="mb-5">Купили бы вы этот товар?</h4>
											<div class="mb-5">
												<img src="../assets/images/add-img6-large.png" alt="">
											</div>
											<div class="mb-4 pb-3">
												<label class="button button-checkbox button-checkbox_quiz w-100 m-0" href="#">
													<input class="button-checkbox-input input-hidden" type="radio" name="answer2">
													<div class="button-checkbox-pseudo d-flex flex-nowrap align-items-center justify-content-between">
														<div class="button-checkbox-line">&nbsp;</div>
														<span>Да</span>
													</div>
												</label>
											</div>
											<div class="mb-4 pb-3">
												<label class="button button-checkbox button-checkbox_quiz w-100 m-0" href="#">
													<input class="button-checkbox-input input-hidden" type="radio" name="answer2">
													<div class="button-checkbox-pseudo d-flex flex-nowrap align-items-center justify-content-between">
														<div class="button-checkbox-line">&nbsp;</div>
														<span>Нет</span>
													</div>
												</label>
											</div>
											<div class="mb-4">
												<a class="button button-blue" href="#" @click.prevent="formValidated = !formValidated, formValidated ? nextSlide() : null">Следующий</a>
											</div>
											<div class="font-weight-bold color-dark-50">1444 проголосовали</div>
											<!-- вместо formValidated проверка формы -->
										</div>
									</form>
								</div>
							</div>
						</app-slide>
						<app-slide>
							<div class="row">
								<div class="col-xl-10 ml-auto mr-auto">
									<form>
										<div class="text-center color-gray-2">
											<h4 class="mb-5">Купили бы вы этот товар?</h4>
											<div class="mb-5">
												<img src="../assets/images/add-img6-large.png" alt="">
											</div>
											<div class="mb-4 pb-3">
												<label class="button button-checkbox button-checkbox_quiz w-100 m-0" href="#">
													<input class="button-checkbox-input input-hidden" type="radio" name="answer3">
													<div class="button-checkbox-pseudo d-flex flex-nowrap align-items-center justify-content-between">
														<div class="button-checkbox-line">&nbsp;</div>
														<span>Да</span>
													</div>
												</label>
											</div>
											<div class="mb-4 pb-3">
												<label class="button button-checkbox button-checkbox_quiz w-100 m-0" href="#">
													<input class="button-checkbox-input input-hidden" type="radio" name="answer3">
													<div class="button-checkbox-pseudo d-flex flex-nowrap align-items-center justify-content-between">
														<div class="button-checkbox-line">&nbsp;</div>
														<span>Нет</span>
													</div>
												</label>
											</div>
											<div class="mb-4">
												<a class="button button-blue" href="#" @click.prevent="formValidated = !formValidated, formValidated ? nextSlide() : null">Следующий</a>
											</div>
											<div class="font-weight-bold color-dark-50">1444 проголосовали</div>
											<!-- вместо formValidated проверка формы -->
										</div>
									</form>
								</div>
							</div>
						</app-slide>
					</app-carousel>
				</div>
			</div>
		</modal>
	</div>
</template>

<script>
	import { Carousel, Slide } from 'vue-carousel';
	import goodCardQuiz from '../components/goodCardQuiz.vue'
	import SvgIcon from '../components/SvgIcon.vue'
	import file from '../components/uploadFiles.vue'
	import countPoints from '../components/count-points.vue'
	// import Multiselect from 'vue-multiselect'
	// import Checkbox from '../components/Checkbox.vue'
	export default {
		name: 'shopQuiz',
		data () {
			return {
				formValidated: false,
				questions: [],
				quizGoods: [
					{
						largeTitle: 'Какой товар вам подходит больше? ',
						titleDescr: 'Бонус 500 BNW',
						eventDate: '23.04.19 - 02.05.19',
						goodImg: require('../assets/images/ads-card-img.png'),
						questions: 5,
						questionsDate: '23.04.19',
						members: 12000,
						membersTotal: 20000
					},
					{
						largeTitle: 'Какой товар вам подходит больше? ',
						titleDescr: 'Бонус 500 BNW',
						eventDate: '23.04.19 - 02.05.19',
						goodImg: require('../assets/images/ads-card-img.png'),
						questions: 5,
						questionsDate: '23.04.19',
						members: 12000,
						membersTotal: 20000
					},
					{
						largeTitle: 'Какой товар вам подходит больше? ',
						titleDescr: 'Бонус 500 BNW',
						eventDate: '23.04.19 - 02.05.19',
						goodImg: require('../assets/images/ads-card-img.png'),
						questions: 5,
						questionsDate: '23.04.19',
						members: 12000,
						membersTotal: 20000
					},
				],
				optionsThird: {
					value: [
						
					],
					items: [
						{ name: 'Бытовая техника',},
						{ name: 'Электроника',},
						{ name: 'Дом и Быт',},
						{ name: 'Бытовая техника',},
						{ name: 'Электроника',},
						{ name: 'Дом и Быт',}
					]
				},
			}
		},
		methods: {
			showModal (modal) {
				this.$modal.show(modal);
			},
			hideModal (modal) {
				this.$modal.hide(modal);
			},
			customLabelSingle ({name, src}) {
				return `${name} - ${src}`
			},
			select (option) {
				option.selected = !option.selected
			},
			limitText (count) {
				if (count === 0) {
					return ''
				}
				else { return  count }
			},
			pushQuestion () {
				this.questions.push({})
			},
			delQuestion (index) {
				
				
				this.questions.splice(index, 1)
			},
			checkObj (obj) {
				for(var key in obj) {
					if(obj.hasOwnProperty(key))
						return false;
				}
				return true;
			},
			nextSlide() {
				if ( !this.checkObj(this.$refs) ) {
					
					this.$refs.quizCarousel.goToPage(this.$refs.quizCarousel.getNextPage());
				} else {
					this.$emit('goToNextSlide')
				}
			},
			pageChange () {
				this.formValidated = false
				
			},
		},
		components: {
			appGoodCardQuiz: goodCardQuiz,
			appSvgIcon: SvgIcon,
			// Multiselect,
			// appCheckbox: Checkbox,
			appCarousel: Carousel,
			appSlide: Slide,
			appFile: file,
			appCountPoints: countPoints
		}
	}
</script>

<style lang="scss" scoped>
</style>