<template>
	<div>
		<div class="row align-items-center pb-3">
			<div class="column mb-2">
				<div class="text-extra-large">Опросы магазина</div>
			</div>
			<div class="column mb-2 ml-auto">
				<a class="color-gray-2" href="#">Архив опросов</a>
			</div>
		</div>
		<div class="row">
			<div class="col-4 mb-4 pb-1 d-flex flex-column"
				v-for="(good, idx) in quizGoods"
				:key="idx">
				<app-good-card-quiz :type="'buyer'" :dataObject="good"></app-good-card-quiz>
			</div>
		</div>
		<a href="#" @click.prevent="showModal('quizIntro')">quiz Intro</a>
		<br>
		<a href="#" @click.prevent="tooltipShow = true, showModal('quiz1')">Опрос 1</a>
		<br>
		<a href="#" @click.prevent="showModal('congritulations')">quiz congritulations</a>
		<modal name="quizIntro" :adaptive="true" :minWidth="280" :maxWidth="555" :height="'auto'" :scrollable="true">
			<div class="wrap pt-5 pb-5 pl-4 pr-4">
				<div class="pt-xl-5">
					<button class="modal-close modal-close_right_25 button-clr" type="button" @click="hideModal('quizIntro')">
						<app-svg-icon name="close" />
					</button>
					<div class="text-center mb-5 pb-4">
						<img src="../assets/images/quizIntroImg.png" alt="">
					</div>
					<div class="text-center pb-5 color-gray-2">
						<h4>Получайте бонусы, отвечая на вопросы</h4>
						<div class="mb-5 pb-4 mt-4">Помогите совершенствовать сервис, отвечая  на вопросы. <br> Получите бонусы, которые сможете потратить на Buynow.</div>
						<a class="button-blue" href="#" @click.prevent="hideModal('quizIntro'), showModal('quiz1')">Пройти опрос</a>
					</div>
				</div>
			</div>
		</modal>
		<modal name="quiz1" :adaptive="true" :minWidth="280" :maxWidth="555" :height="'auto'" :scrollable="true">
			<div class="wrap pt-5 pb-5 pl-4 pr-4">
				<div class="pt-xl-5">
					<button class="modal-close modal-close_right_25 button-clr" type="button" @click="hideModal('quiz1')">
						<app-svg-icon name="close" />
					</button>
					<app-carousel
						class="shop-creation-carousel"
						:perPage="1"
						:adjustableHeight="false"
						:mouseDrag="false"
						:touchDrag="false"
						:paginationEnabled="true"
						:navigationEnabled="false"
						@pageChange="pageChange"
						ref="quizCarousel">
						<app-slide>
							<div class="row">
								<div class="col-xl-10 ml-auto mr-auto">
									<form>
										<div class="text-center color-gray-2">
											<h4 class="mb-5">Купили бы вы этот товар?</h4>
											<div class="mb-5">
												<img src="../assets/images/add-img6-large.png" alt="">
											</div>
											<div class="mb-4 pb-3">
												<label class="button button-checkbox button-checkbox_quiz active w-100 m-0" href="#">
													<input class="button-checkbox-input input-hidden" type="radio" name="answer1">
													<div class="button-checkbox-pseudo d-flex flex-nowrap align-items-center justify-content-between">
														<!-- <div class="button-checkbox-line" style="right: 26%;">&nbsp;</div> -->
														<span>Да</span>
														<div class="button-checkbox-check">&nbsp;</div>
														<!-- <span>84%</span> -->
													</div>
												</label>
											</div>
											<div class="mb-4 pb-3">
												<label class="button button-checkbox button-checkbox_quiz active w-100 m-0" href="#">
													<input class="button-checkbox-input input-hidden" type="radio" name="answer1">
													<div class="button-checkbox-pseudo d-flex flex-nowrap align-items-center justify-content-between">
														<!-- <span class="button-checkbox-line" style="right: 84%;">&nbsp;</span> -->
														<span>Нет</span>
														<div class="button-checkbox-check">&nbsp;</div>
														<!-- <span>26%</span> -->
													</div>
												</label>
											</div>
											<div class="mb-4">
												<a class="button button-blue" href="#" @click.prevent="formValidated = !formValidated, formValidated ? nextSlide() : null">Следующий</a>
											</div>
											<div class="font-weight-bold color-dark-50">1444 проголосовали</div>
										</div>
									</form>
								</div>
							</div>
						</app-slide>
						<app-slide>
							<div class="row">
								<div class="col-xl-10 ml-auto mr-auto">
									<form>
										<div class="text-center color-gray-2">
											<h4 class="mb-5">Купили бы вы этот товар?</h4>
											<div class="mb-5">
												<img src="../assets/images/add-img6-large.png" alt="">
											</div>
											<div class="mb-4 pb-3">
												<label class="button button-checkbox button-checkbox_quiz w-100 m-0" href="#">
													<input class="button-checkbox-input input-hidden" type="radio" name="answer2">
													<div class="button-checkbox-pseudo d-flex flex-nowrap align-items-center justify-content-between">
														<div class="button-checkbox-line">&nbsp;</div>
														<span>Да</span>
													</div>
												</label>
											</div>
											<div class="mb-4 pb-3">
												<label class="button button-checkbox button-checkbox_quiz w-100 m-0" href="#">
													<input class="button-checkbox-input input-hidden" type="radio" name="answer2">
													<div class="button-checkbox-pseudo d-flex flex-nowrap align-items-center justify-content-between">
														<div class="button-checkbox-line">&nbsp;</div>
														<span>Нет</span>
													</div>
												</label>
											</div>
											<div class="mb-4">
												<a class="button button-blue" href="#" @click.prevent="formValidated = !formValidated, formValidated ? nextSlide() : null">Следующий</a>
											</div>
											<div class="font-weight-bold color-dark-50">1444 проголосовали</div>
										</div>
									</form>
								</div>
							</div>
						</app-slide>
						<app-slide>
							<div class="row">
								<div class="col-xl-10 ml-auto mr-auto">
									<form>
										<div class="text-center color-gray-2">
											<h4 class="mb-5">Купили бы вы этот товар?</h4>
											<div class="mb-5">
												<img src="../assets/images/add-img6-large.png" alt="">
											</div>
											<div class="mb-4 pb-3">
												<label class="button button-checkbox button-checkbox_quiz w-100 m-0" href="#">
													<input class="button-checkbox-input input-hidden" type="radio" name="answer3">
													<div class="button-checkbox-pseudo d-flex flex-nowrap align-items-center justify-content-between">
														<div class="button-checkbox-line">&nbsp;</div>
														<span>Да</span>
													</div>
												</label>
											</div>
											<div class="mb-4 pb-3">
												<label class="button button-checkbox button-checkbox_quiz w-100 m-0" href="#">
													<input class="button-checkbox-input input-hidden" type="radio" name="answer3">
													<div class="button-checkbox-pseudo d-flex flex-nowrap align-items-center justify-content-between">
														<div class="button-checkbox-line">&nbsp;</div>
														<span>Нет</span>
													</div>
												</label>
											</div>
											<div class="mb-4">
												<a class="button button-blue" href="#" @click.prevent="formValidated = !formValidated, formValidated ? nextSlide() : null">Следующий</a>
											</div>
											<div class="font-weight-bold color-dark-50">1444 проголосовали</div>
										</div>
									</form>
								</div>
							</div>
						</app-slide>
					</app-carousel>
				</div>
			</div>
		</modal>
		<modal name="congritulations" :adaptive="true" :minWidth="280" :maxWidth="380" :height="'auto'" :scrollable="true">
			<div class="wrap pt-5 pb-5 pl-4 pr-4">
				<div class="pt-xl-5">
					<button class="modal-close modal-close_right_25 button-clr" type="button" @click="hideModal('congritulations')">
						<app-svg-icon name="close" />
					</button>
					<div class="text-center mb-3">
						<app-svg-icon class="modal-main-icon" name="firework" />
					</div>
					<div class="text-center pb-5">
						<h4>Поздравляем!</h4>
						<div class="color-gray-2">На ваш счет зачислено <span class="color-green">200 BNW</span></div>
					</div>
				</div>
			</div>
		</modal>
	</div>
</template>

<script>
	import { Carousel, Slide } from 'vue-carousel';
	import goodCardQuiz from '../components/goodCardQuiz.vue'
	import SvgIcon from '../components/SvgIcon.vue'
	// import Checkbox from '../components/Checkbox.vue'
	export default {
		name: 'storeQuiz',
		data () {
			return {
				formValidated: false,
				quizGoods: [
					{
						largeTitle: 'Какой товар вам подходит больше? ',
						titleDescr: 'Бонус 500 BNW',
						eventDate: '23.04.19 - 02.05.19',
						goodImg: require('../assets/images/ads-card-img.png'),
						questions: 5,
						questionsDate: '23.04.19',
						members: 12000,
						membersTotal: 20000
					},
					{
						largeTitle: 'Какой товар вам подходит больше? ',
						titleDescr: 'Бонус 500 BNW',
						eventDate: '23.04.19 - 02.05.19',
						goodImg: require('../assets/images/ads-card-img.png'),
						questions: 5,
						questionsDate: '23.04.19',
						members: 12000,
						membersTotal: 20000
					},
					{
						largeTitle: 'Какой товар вам подходит больше? ',
						titleDescr: 'Бонус 500 BNW',
						eventDate: '23.04.19 - 02.05.19',
						goodImg: require('../assets/images/ads-card-img.png'),
						questions: 5,
						questionsDate: '23.04.19',
						members: 12000,
						membersTotal: 20000
					},
				],
			}
		},
		methods: {
			checkObj (obj) {
				for(var key in obj) {
					if(obj.hasOwnProperty(key))
						return false;
				}
				return true;
			},
			nextSlide() {
				if ( !this.checkObj(this.$refs) ) {
					this.$refs.quizCarousel.goToPage(this.$refs.quizCarousel.getNextPage());
				} else {
					this.$emit('goToNextSlide')
				}
			},
			pageChange () {
				this.formValidated = false
			},
			showModal (modal) {
				this.$modal.show(modal);
			},
			hideModal (modal) {
				this.$modal.hide(modal);
			},
		},
		components: {
			appGoodCardQuiz: goodCardQuiz,
			// appCheckbox: Checkbox,
			appCarousel: Carousel,
			appSlide: Slide,
			appSvgIcon: SvgIcon,
		}
	}
</script>

<style lang="scss" scoped>
</style>