<template>
	<div>
		<div class="row align-items-center pb-3">
			<div class="column mb-2">
				<div class="text-extra-large">Купоны магазина</div>
			</div>
			<div class="column mb-2 ml-auto">
				<a class="color-gray-2" href="#">Архив купонов</a>
			</div>
		</div>
		<div class="row">
			<div class="col-4 mb-4 pb-1 d-flex flex-column"
				v-for="(good, idx) in couponsGoods"
				:key="idx">
				<app-good-card-coupons :type="'buyer'" :dataObject="good"></app-good-card-coupons>
			</div>
		</div>
	</div>
</template>

<script>
	import goodCardCoupons from '../components/goodCardCoupons.vue'
	export default {
		name: 'storeCoupons',
		data () {
			return {
				couponsGoods: [
					{
						largeTitle: '- 20% на сумки!',
						titleDescr: '-20% при покупки сумок Lorem Ipsum Standard',
						startEventDate: '23.04.19',
						eventDate: '23.04.19 - 02.05.19',
						goodImg: require('../assets/images/ads-card-img.png'),
						coupons: 34,
						couponsTotal: 50
					},
					{
						largeTitle: '- 20% на сумки!',
						titleDescr: '-20% при покупки сумок Lorem Ipsum Standard',
						startEventDate: '23.04.19',
						eventDate: '23.04.19 - 02.05.19',
						goodImg: require('../assets/images/ads-card-img.png'),
						coupons: 34,
						couponsTotal: 50
					},
					{
						largeTitle: '- 20% на сумки!',
						titleDescr: '-20% при покупки сумок Lorem Ipsum Standard',
						startEventDate: '23.04.19',
						eventDate: '23.04.19 - 02.05.19',
						goodImg: require('../assets/images/ads-card-img.png'),
						coupons: 34,
						couponsTotal: 50
					},
				]
			}
		},
		methods: {
		},
		components: {
			appGoodCardCoupons: goodCardCoupons,
		}
	}
</script>

<style lang="scss" scoped>
</style>