<template>
	<div class="store-inside pt-4">
		<div class="section mb-4 pb-1">
			<div class="container-fluid">
				<div class="wrap pl-4 pr-4 pt-4 pb-3">
					<app-breadcrumbs :list="crumbs"></app-breadcrumbs>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-4 col-lg-3 d-flex flex-column mb-4 pb-1">
					<div class="pb-1">
						<div class="shop-info wrap mb-4">
							<div class="shop-info-body">
								<div class="pt-3 pb-3 pl-4 pr-4">
									<div class="shop-info-head row row_indents_s flex-nowrap align-items-center mb-3">
										<div class="column">
											<div class="shop-info-logo">C</div>
										</div>
										<div class="column pt-1">
											<h4 class="mb-0">
												<span>Cover store</span>
												<app-svg-icon class="ml-1 ml-lg-2 color-green" name="verifyed" />
											</h4>
											<a class="shop-info-link text-extra-small font-weight-bold color-grey-dark" href="#">@coverstore</a>
										</div>
									</div>
									<div class="shop-info-content">Магазин шерстянных ковров из Дубая. Ручная работа! Оригинал! Доставка по Ташкенту Бесплатная!</div>
								</div>
							</div>
							<div class="shop-info-foot pt-3 pb-3 pl-4 pr-4">
								<strong>245</strong>
								<span class="color-gray-2 ml-1">товаров</span>
							</div>
						</div>
					</div>
					<div class="shop-info wrap">
						<div class="shop-info-body">
							<div class="shop-info-head border-bottom pt-2 pb-2 pl-4 pr-4">
								<div class="row row_indents_s flex-nowrap align-items-center justify-content-between">
									<div class="column">
										<div class="text-small font-weight-bold">Рейтинг магазина</div>
									</div>
									<div class="column flex-shrink-0">
										<div class="text-small">3,5 из 5</div>
									</div>
									<div class="column"><div class="rate">3.5</div></div>
								</div>
							</div>
							<div class="pt-3 pb-3 pl-4 pr-4">
								<div class="d-flex-flex-nowrap align-items-center mb-2">
									<app-svg-icon class="color-grey-dark flex-shrink-0 font-size-18" name="tel" />
									<span class="ml-2 color-dark text-small">90 923 49 59</span>
								</div>
								<div class="d-flex-flex-nowrap align-items-center mb-2">
									<app-svg-icon class="color-grey-dark flex-shrink-0 font-size-18" name="loc2" />
									<span class="ml-2 color-dark text-small">ТЦ Compas,  ТЦ Next</span>
								</div>
								<div class="d-flex-flex-nowrap align-items-center mb-2">
									<app-svg-icon class="color-grey-dark flex-shrink-0 font-size-18" name="self-export" />
									<span class="ml-2 color-dark text-small">Самовывоз</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-8 col-lg-9 d-flex flex-column mb-4 pb-1">
					<div class="wrap flex-grow-1 d-flex flex-column">
						<div class="d-flex flex-column flex-grow-1 justify-content-center align-items-center p-3">
							<app-file class="single extra-large" />
						</div>
						<div class="shop-info-foot p-3">
							<div class="pl-3 pr-3">
								<div class="row align-items-center">
									<div class="column mr-auto">
										<a class="d-flex flex-nowrap align-items-center color-gray-2" href="#">
											<app-svg-icon class="font-size-22 flex-grow-0" name="repost"/>
											<span class="ml-2 font-weight-bold font-size-14">Поделиться</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-4 col-lg-3 mb-4 pb-1">
					<a class="button-medium button-blue w-100" href="#">Отправить сообщение</a>
				</div>
				<div class="col-8 col-lg-9 mb-4 pb-1">
					<div class="wrap pl-3 pr-3">
						<div class="pl-lg-3 pr-lg-3">
							<div class="row align-items-lg-center flex-column flex-lg-row">
								<div class="column">
									<ul class="shop-nav row row_indents_m list-unstyled mb-0">
										<router-link
											v-for="(link, keyLink) in shopLinks"
											:key="keyLink"
											:exact="link.main"
											active-class="active"
											class="column"
											tag="li"
											:to="{name: link.url}">
												<a class="font-weight-bold color-grey-dark">
													{{ link.linkName }}
												</a>
										</router-link>
									</ul>
								</div>
								<div class="column pt-2 pb-2 ml-lg-5 store-inside-column">
									<div class="shop-search">
										<form>
											<div class="position-relative">
												<app-svg-icon class="form-icon-position form-icon-position_inside-left" name="zoom-2" />
												<input class="form-control" type="search" placeholder="Поиск по товарам">
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div v-if="this.$router.currentRoute.name == 'store-inside'">
				<app-section-products class="section-products" v-for="(section, index) in productSections" :key="index" :productObject="section" />
				<div class="row pb-4">
					<div class="col-4 col-lg-3 mb-4 d-flex flex-column">
						<div class="wrap">
							<app-toggle :title="'Оценка'" :toggle="true">
								<app-checkbox 
									class="d-block checkbox-circle pb-1"
									:type="'radio'"
									:name="'rate'"
									:id="'any'"
									:checked="true">
										<span class="row row_indents_s flex-nowrap align-items-center justify-content-between">
											<span class="column d-flex flex-nowrap align-items-center">
												<span>Любая</span>
											</span>
											<span class="column">803</span>
										</span>
								</app-checkbox>
								<app-checkbox 
									class="d-block checkbox-circle pb-1"
									:type="'radio'"
									:name="'rate'"
									:id="'rate4'"
									:checked="false">
										<span class="row row_indents_s flex-nowrap align-items-center justify-content-between">
											<span class="column d-flex flex-nowrap align-items-center">
												<span class="d-flex flex-wrap align-items-center">
													<app-svg-icon class="flex-shrink-0 color-yellow" name="star2" />
													<app-svg-icon class="flex-shrink-0 color-yellow" name="star2" />
													<app-svg-icon class="flex-shrink-0 color-yellow" name="star2" />
													<app-svg-icon class="flex-shrink-0 color-yellow" name="star2" />
													<app-svg-icon class="flex-shrink-0 color-dark-30" name="star2" />
												</span>
												<span class="ml-1">& Выше</span>
											</span>
											<span class="column">470</span>
										</span>
								</app-checkbox>
								<app-checkbox 
									class="d-block checkbox-circle pb-1"
									:type="'radio'"
									:name="'rate'"
									:id="'rate3'"
									:checked="false">
										<span class="row row_indents_s flex-nowrap align-items-center justify-content-between">
											<span class="column d-flex flex-nowrap align-items-center">
												<span class="d-flex flex-wrap align-items-center">
													<app-svg-icon class="flex-shrink-0 color-yellow" name="star2" />
													<app-svg-icon class="flex-shrink-0 color-yellow" name="star2" />
													<app-svg-icon class="flex-shrink-0 color-yellow" name="star2" />
													<app-svg-icon class="flex-shrink-0 color-dark-30" name="star2" />
													<app-svg-icon class="flex-shrink-0 color-dark-30" name="star2" />
												</span>
												<span class="ml-1">& Выше</span>
											</span>
											<span class="column">284</span>
										</span>
								</app-checkbox>
								<app-checkbox 
									class="d-block checkbox-circle pb-1"
									:type="'radio'"
									:name="'rate'"
									:id="'rate2'"
									:checked="false">
										<span class="row row_indents_s flex-nowrap align-items-center justify-content-between">
											<span class="column d-flex flex-nowrap align-items-center">
												<span class="d-flex flex-wrap align-items-center">
													<app-svg-icon class="flex-shrink-0 color-yellow" name="star2" />
													<app-svg-icon class="flex-shrink-0 color-yellow" name="star2" />
													<app-svg-icon class="flex-shrink-0 color-dark-30" name="star2" />
													<app-svg-icon class="flex-shrink-0 color-dark-30" name="star2" />
													<app-svg-icon class="flex-shrink-0 color-dark-30" name="star2" />
												</span>
												<span class="ml-1">& Выше</span>
											</span>
											<span class="column">49</span>
										</span>
								</app-checkbox>
							</app-toggle>
							<app-toggle :toggle="true" :title="'Производитель'">
								<app-checkbox 
									class="d-block pb-1"
									:type="'checkbox'"
									:name="'manufacturer'"
									:id="'Samsung'"
									:checked="false">
										<span class="row row_indents_s flex-nowrap align-items-center justify-content-between">
											<span class="column d-flex flex-nowrap align-items-center">
												<span>Samsung</span>
											</span>
											<span class="column">96</span>
										</span>
								</app-checkbox>
								<app-checkbox 
									class="d-block pb-1"
									:type="'checkbox'"
									:name="'manufacturer'"
									:id="'Sony'"
									:checked="true">
										<span class="row row_indents_s flex-nowrap align-items-center justify-content-between">
											<span class="column d-flex flex-nowrap align-items-center">
												<span>Sony</span>
											</span>
											<span class="column">71</span>
										</span>
								</app-checkbox>
								<app-checkbox 
									class="d-block pb-1"
									:type="'checkbox'"
									:name="'manufacturer'"
									:id="'Apple'"
									:checked="true">
										<span class="row row_indents_s flex-nowrap align-items-center justify-content-between">
											<span class="column d-flex flex-nowrap align-items-center">
												<span>Apple</span>
											</span>
											<span class="column">55</span>
										</span>
								</app-checkbox>
								<app-checkbox 
									class="d-block pb-1"
									:type="'checkbox'"
									:name="'manufacturer'"
									:id="'Huawei'"
									:checked="false">
										<span class="row row_indents_s flex-nowrap align-items-center justify-content-between">
											<span class="column d-flex flex-nowrap align-items-center">
												<span>Huawei</span>
											</span>
											<span class="column">54</span>
										</span>
								</app-checkbox>
								<app-checkbox 
									class="d-block pb-1"
									:type="'checkbox'"
									:name="'manufacturer'"
									:id="'ASUS'"
									:checked="false">
										<span class="row row_indents_s flex-nowrap align-items-center justify-content-between">
											<span class="column d-flex flex-nowrap align-items-center">
												<span>ASUS</span>
											</span>
											<span class="column">49</span>
										</span>
								</app-checkbox>
								<app-checkbox 
									class="d-block pb-1"
									:type="'checkbox'"
									:name="'manufacturer'"
									:id="'Meizu'"
									:checked="false">
										<span class="row row_indents_s flex-nowrap align-items-center justify-content-between">
											<span class="column d-flex flex-nowrap align-items-center">
												<span>Meizu</span>
											</span>
											<span class="column">48</span>
										</span>
								</app-checkbox>
								<app-checkbox 
									class="d-block pb-1"
									:type="'checkbox'"
									:name="'manufacturer'"
									:id="'LG'"
									:checked="false">
										<span class="row row_indents_s flex-nowrap align-items-center justify-content-between">
											<span class="column d-flex flex-nowrap align-items-center">
												<span>LG</span>
											</span>
											<span class="column">47</span>
										</span>
								</app-checkbox>
							</app-toggle>
							<app-toggle :title="'Цена'">
								<div class="row row_indents_m align-items-center pb-2">
									<div class="col mb-2">
										<input class="form-control" type="text" v-model="priceRangeValue[0]">
									</div>
									<div class="col flex-grow-0">-</div>
									<div class="col mb-2">
										<input class="form-control" type="text" v-model="priceRangeValue[1]">
									</div>
								</div>
								<vue-slider
									class="mb-4"
									v-model="priceRangeValue"
									:enable-cross="false"
									:min="0"
									:max="1000"
									:tooltip="'none'"/>
								<div class="row pb-3">
									<div class="col-lg-6 mb-2">
										<a class="color-dark-80" href="#" @click.prevent="setValue($event)"><span class="d-none">от 0 - </span>до $25</a>
									</div>
									<div class="col-lg-6 mb-2">
										<a class="color-dark-80" href="#" @click.prevent="setValue($event)">$25 - $50</a>
									</div>
									<div class="col-lg-6 mb-2">
										<a class="color-dark-80" href="#" @click.prevent="setValue($event)">$50 - $100</a>
									</div>
									<div class="col-lg-6 mb-2">
										<a class="color-dark-80" href="#" @click.prevent="setValue($event)">$100 - $200</a>
									</div>
									<div class="col-lg-6 mb-2">
										<a class="color-dark-80" href="#" @click.prevent="setValue($event)">$200 - $500</a>
									</div>
									<div class="col-lg-6 mb-2">
										<a class="color-dark-80" href="#" @click.prevent="setValue($event)">$500 & выше <span class="d-none">- до $1000</span></a>
									</div>
								</div>
								<div class="color-dark-50 text-small">Найдено 878 товаров</div>
							</app-toggle>
							<app-toggle :toggle="true" :title="'Цвет'">
								<div class="row">
									<div class="col-6">
										<app-checkbox 
											class="d-block pb-1"
											:type="'checkbox'"
											:name="'color'"
											:id="'black'"
											:checked="false"
											:content="'Black'"/>
									</div>
									<div class="col-6">
										<app-checkbox 
											class="d-block pb-1"
											:type="'checkbox'"
											:name="'color'"
											:id="'Gold'"
											:checked="false"
											:content="'Gold'"/>
									</div>
									<div class="col-6">
										<app-checkbox 
											class="d-block pb-1"
											:type="'checkbox'"
											:name="'color'"
											:id="'White'"
											:checked="false"
											:content="'White'"/>
									</div>
									<div class="col-6">
										<app-checkbox 
											class="d-block pb-1"
											:type="'checkbox'"
											:name="'color'"
											:id="'Pink'"
											:checked="false"
											:content="'Pink'"/>
									</div>
									<div class="col-6">
										<app-checkbox 
											class="d-block pb-1"
											:type="'checkbox'"
											:name="'color'"
											:id="'Gray'"
											:checked="false"
											:content="'Gray'"/>
									</div>
									<div class="col-6">
										<app-checkbox 
											class="d-block pb-1"
											:type="'checkbox'"
											:name="'color'"
											:id="'Green'"
											:checked="false"
											:content="'Green'"/>
									</div>
								</div>
								<app-toggle class="toggle-box_simple" :toggle="false" :title="'Показать ещё'">
									<div class="row">
										<div class="col-6">
											<app-checkbox 
												class="d-block pb-1"
												:type="'checkbox'"
												:name="'color'"
												:id="'black1'"
												:checked="false"
												:content="'Black'"/>
										</div>
										<div class="col-6">
											<app-checkbox 
												class="d-block pb-1"
												:type="'checkbox'"
												:name="'color'"
												:id="'Gold1'"
												:checked="false"
												:content="'Gold'"/>
										</div>
										<div class="col-6">
											<app-checkbox 
												class="d-block pb-1"
												:type="'checkbox'"
												:name="'color'"
												:id="'White1'"
												:checked="false"
												:content="'White'"/>
										</div>
										<div class="col-6">
											<app-checkbox 
												class="d-block pb-1"
												:type="'checkbox'"
												:name="'color'"
												:id="'Pink1'"
												:checked="false"
												:content="'Pink'"/>
										</div>
										<div class="col-6">
											<app-checkbox 
												class="d-block pb-1"
												:type="'checkbox'"
												:name="'color'"
												:id="'Gray1'"
												:checked="false"
												:content="'Gray'"/>
										</div>
										<div class="col-6">
											<app-checkbox 
												class="d-block pb-1"
												:type="'checkbox'"
												:name="'color'"
												:id="'Green1'"
												:checked="false"
												:content="'Green'"/>
										</div>
									</div>
								</app-toggle>
							</app-toggle>
							<app-toggle :toggle="true" :title="'Размер экрана'">
								<div class="row row_indents_xs">
									<div class="column">
										<app-checkbox 
											class="d-block checkbox-frame"
											:type="'checkbox'"
											:name="'color'"
											:id="'size5-5'"
											:checked="true"
											:content="'5.5'"/>
									</div>
									<div class="column">
										<app-checkbox 
											class="d-block checkbox-frame"
											:type="'checkbox'"
											:name="'color'"
											:id="'size5-7'"
											:checked="false"
											:content="'5.7'"/>
									</div>
									<div class="column">
										<app-checkbox 
											class="d-block checkbox-frame"
											:type="'checkbox'"
											:name="'color'"
											:id="'size5-0'"
											:checked="false"
											:content="'5.0'"/>
									</div>
									<div class="column">
										<app-checkbox 
											class="d-block checkbox-frame"
											:type="'checkbox'"
											:name="'color'"
											:id="'size6-0'"
											:checked="false"
											:content="'6.0'"/>
									</div>
									<div class="column">
										<app-checkbox 
											class="d-block checkbox-frame"
											:type="'checkbox'"
											:name="'color'"
											:id="'size4-7'"
											:checked="false"
											:content="'4.7'"/>
									</div>
									<div class="column">
										<app-checkbox 
											class="d-block checkbox-frame"
											:type="'checkbox'"
											:name="'color'"
											:id="'size4-3'"
											:checked="false"
											:content="'4.3'"/>
									</div>
								</div>
								<app-toggle class="toggle-box_simple" :toggle="false" :title="'Показать ещё'">
									<div class="row row_indents_xs">
									<div class="column">
										<app-checkbox 
											class="d-block checkbox-frame"
											:type="'checkbox'"
											:name="'color'"
											:id="'size5-5-1'"
											:checked="true"
											:content="'5.5'"/>
									</div>
									<div class="column">
										<app-checkbox 
											class="d-block checkbox-frame"
											:type="'checkbox'"
											:name="'color'"
											:id="'size5-7-1'"
											:checked="false"
											:content="'5.7'"/>
									</div>
									<div class="column">
										<app-checkbox 
											class="d-block checkbox-frame"
											:type="'checkbox'"
											:name="'color'"
											:id="'size5-0-1'"
											:checked="false"
											:content="'5.0'"/>
									</div>
									<div class="column">
										<app-checkbox 
											class="d-block checkbox-frame"
											:type="'checkbox'"
											:name="'color'"
											:id="'size6-0-1'"
											:checked="false"
											:content="'6.0'"/>
									</div>
									<div class="column">
										<app-checkbox 
											class="d-block checkbox-frame"
											:type="'checkbox'"
											:name="'color'"
											:id="'size4-7-1'"
											:checked="false"
											:content="'4.7'"/>
									</div>
									<div class="column">
										<app-checkbox 
											class="d-block checkbox-frame"
											:type="'checkbox'"
											:name="'color'"
											:id="'size4-3-1'"
											:checked="false"
											:content="'4.3'"/>
									</div>
								</div>
								</app-toggle>
							</app-toggle>
							<app-toggle :title="'Built-in Storage'">
								<div>Контент ещё не готов</div>
							</app-toggle>
							<app-toggle :title="'Rear Camera'">
								<div>Контент ещё не готов</div>
							</app-toggle>
							<app-toggle :title="'Front-Facing Camera'">
								<div>Контент ещё не готов</div>
							</app-toggle>
							<app-toggle :title="'разрешение экрана'">
								<div>Контент ещё не готов</div>
							</app-toggle>
						</div>
					</div>
					<div class="col-8 col-lg-9 mb-4 d-flex flex-column">
						<div class="mb-4 pb-1">
							<div class="wrap pl-3 pr-3">
								<div class="pr-2">
									<div class="row align-items-center">
										<div class="column">
											<ul class="shop-nav row row_indents_m list-unstyled mb-0">
												<router-link
													v-for="(link, keyLink) in filterLinks"
													:key="keyLink"
													class="column"
													tag="li"
													:to="{name: link.url}">
														<a class="font-weight-bold color-grey-dark">
															{{ link.linkName }}
														</a>
												</router-link>
											</ul>
										</div>
										<div class="column pt-2 pb-2">
											<div class="shop-search">
												<form>
													<div class="position-relative">
														<app-svg-icon class="form-icon-position form-icon-position_inside-left" name="zoom-2" />
														<input class="form-control" type="search" placeholder="Поиск по товарам">
													</div>
												</form>
											</div>
										</div>
										<div class="column pt-2 pb-2 ml-auto">
											<div class="row align-items-center">
												<div class="column">
													<div class="font-weight-bold">Вид</div>
												</div>
												<div class="column">
													<div class="row row_indents_s align-items-center">
														<div class="column">
															<a class="button-view-sort color-grey d-block" :class="{'active color-blue': !viewToggle}" @click.prevent="viewToggle = !viewToggle" href="#">
																<app-svg-icon class="font-size-14" name="ceils" />
															</a>
														</div>
														<div class="column">
															<a class="button-view-sort color-grey d-block" :class="{'active color-blue': viewToggle}" @click.prevent="viewToggle = !viewToggle" href="#">
																<app-svg-icon class="font-size-14" name="list-2" />
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-6 col-lg-4 mb-4 pb-1 d-flex flex-column" :class="{'col-12': viewToggle}">
								<a class="add-preview add-preview_good flex-grow-1 d-flex" :class="{'add-preview_stroke position-relative flex-nowrap': viewToggle, 'flex-column': !viewToggle}" href="#">
									<div class="add-preview__img text-center p-3" :class="{'p-3 position-static': viewToggle, 'flex-grow-1 d-flex flex-column align-items-center justify-content-center': !viewToggle}">
										<img src="../assets/images/add-img2.png" alt="">
										<a class="add-preview-favour active" href="#">
											<app-svg-icon name="heart"/>
										</a>
									</div>
									<div class="add-preview__body pt-0 pl-4 pr-4" :class="{'col-9 pt-4': viewToggle}">
										<div class="add-preview__price font-weight-bold">360 990 <span class="font-size-10">UZS</span></div>
										<div class="add-preview__name">Комбенезон джинсовый <br> Gloria Jeans</div>
										<div class="add-preview__category">Сумки</div>
									</div>
								</a>
							</div>
							<div class="col-6 col-lg-4 mb-4 pb-1 d-flex flex-column" :class="{'col-12': viewToggle}">
								<a class="add-preview add-preview_good flex-grow-1 d-flex" :class="{'add-preview_stroke position-relative flex-nowrap': viewToggle, 'flex-column': !viewToggle}" href="#">
									<div class="add-preview__img text-center p-3" :class="{'p-3 position-static': viewToggle, 'flex-grow-1 d-flex flex-column align-items-center justify-content-center': !viewToggle}">
										<img src="../assets/images/add-img4-new.png" alt="">
										<a class="add-preview-favour" href="#">
											<app-svg-icon name="heart"/>
										</a>
									</div>
									<div class="add-preview__body pt-0 pl-4 pr-4" :class="{'col-9 pt-4': viewToggle}">
										<div class="add-preview__price font-weight-bold">360 990 <span class="font-size-10">UZS</span></div>
										<div class="add-preview__name">Комбенезон джинсовый <br> Gloria Jeans</div>
										<div class="add-preview__category">Сумки</div>
									</div>
								</a>
							</div>
							<div class="col-6 col-lg-4 mb-4 pb-1 d-flex flex-column" :class="{'col-12': viewToggle}">
								<a class="add-preview add-preview_good flex-grow-1 d-flex" :class="{'add-preview_stroke position-relative flex-nowrap': viewToggle, 'flex-column': !viewToggle}" href="#">
									<div class="add-preview__img text-center p-3" :class="{'p-3 position-static': viewToggle, 'flex-grow-1 d-flex flex-column align-items-center justify-content-center': !viewToggle}">
										<img src="../assets/images/add-img3.png" alt="">
										<a class="add-preview-favour" href="#">
											<app-svg-icon name="heart"/>
										</a>
									</div>
									<div class="add-preview__body pt-0 pl-4 pr-4" :class="{'col-9 pt-4': viewToggle}">
										<div class="add-preview__price font-weight-bold">360 990 <span class="font-size-10">UZS</span></div>
										<div class="add-preview__name">Комбенезон джинсовый <br> Gloria Jeans</div>
										<div class="add-preview__category">Сумки</div>
									</div>
								</a>
							</div>
						</div>
						<div class="preview-event mb-4">
							<div class="wrap p-4 position-relative">
								<a class="add-preview-favour add-preview-favour_no-border" href="#">
									<app-svg-icon name="heart"/>
								</a>
								<div class="row flex-nowrap">
									<div class="col-4 d-flex flex-column">
										<div class="preview-event-img">
											<img src="../assets/images/preview-event.jpg" alt="">
										</div>
									</div>
									<div class="col-4 d-flex flex-column">
										<div class="preview-event-main d-flex flex-column flex-grow-1">
											<div>
												<div class="tag tag_red font-weight-normal d-inline-block mb-3">Акция</div>
											</div>
											<div class="color-blue">Комбенезон джинсовый Gloria JeansКомбенезон джинсовый  Gloria Jeans Casual for Women style</div>
											<div class="color-orange font-size-12 font-weight-bold mt-auto">by Zara Casual</div>
										</div>
									</div>
									<div class="col-4 d-flex flex-column align-items-center justify-content-center flex-shrink-0">
										<div>
											<h4 class="mb-0">360 990 <span class="font-size-12">UZS</span></h4>
											<del class="font-size-8 color-grey">480 000 UZS</del>
											<div class="row row_indents_m align-items-center mt-3">
												<div class="column">
													<div class="rate font-size-12 font-weight-normal pt-1 pb-1"><span class="d-inline-block pb-1">3.5</span></div>
												</div>
												<div class="column">
													<a class="color-dark-50" href="#">10 отзывов</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="preview-event mb-4">
							<div class="wrap p-4 position-relative">
								<div class="preview-event__tag tag tag_green">Новинка</div>
								<div class="row flex-nowrap">
									<div class="col-3 d-flex flex-column">
										<div class="d-flex flex-column flex-grow-1 align-items-center justify-content-center">
											<div class="preview-event-img d-flex flex-column">
												<img class="flex-shrink-0 flex-grow-0 w-100" src="../assets/images/preview-event2.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="col-5 d-flex flex-column">
										<div class="preview-event-main d-flex flex-column flex-grow-1">
											<h4>Apple Watch 3</h4>
											<div class="row row_indents_xs align-items-center pb-2">
												<div class="column mb-2">
													<div class="d-flex flex-nowrap align-items-center">
														<app-svg-icon class="color-orange" name="star2" />
														<app-svg-icon class="color-orange" name="star2" />
														<app-svg-icon class="color-orange" name="star2" />
														<app-svg-icon class="color-orange" name="star2" />
														<app-svg-icon class="color-dark-30" name="star2" />
													</div>
												</div>
												<div class="column mb-2">
													<a class="color-dark-50" href="#">143 отзыва</a>
												</div>
											</div>
											<div class="color-dark-80">
												<div class="mb-2">Case: Gold Aluminum</div>
												<div class="mb-2">Case size: 38mm</div>
												<div class="mb-2">Band: Pink Sand Sport (120-130mm)</div>
												<div class="mb-2">Connectivity: GPS+Cellular </div>
											</div>
										</div>
									</div>
									<div class="col-4 d-flex flex-column align-items-center justify-content-center">
										<div class="preview-event-foot">
											<h4 class="mb-0">360 990 <span class="font-size-12">UZS</span></h4>
											<del class="font-size-8 color-grey">480 000 UZS</del>
											<div class="row row_indents_s flex-nowrap mt-4 pb-1">
												<div class="column mb-2">
													<a class="button button-blue nowrap" href="#">В корзину</a>
												</div>
												<div class="column mb-2">
													<a class="add-preview-favour position-static" href="#">
														<app-svg-icon name="heart"/>
													</a>
												</div>
											</div>
											<div class="mb-2"><a class="color-dark-80" href="#">Бесплатная доставка</a></div>
											<div class="mb-2"><a class="color-dark-80" href="#">Есть в магазине в Next</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="mb-4">
							<a href="#" @click.prevent="showModal('yoursPrice')">Предложить цену</a>
						</div>
						<div class="pagination d-flex flex-wrap w-100 mt-auto">
							<li>
								<a href="#">
									<app-svg-icon class="mr-2" name="arrow-left" />
									<span>Пред</span>
								</a>
							</li>
							<li>
								<a href="#">1</a>
							</li>
							<li class="active">
								<a href="#">2</a>
							</li>
							<li>
								<a href="#">3</a>
							</li>
							<li>
								<a href="#">4</a>
							</li>
							<li>
								<a href="#">...</a>
							</li>
							<li>
								<a href="#">18</a>
							</li>
							<li>
								<a href="#">
									<span>След</span>
									<app-svg-icon class="svg-icon_reverse ml-2" name="arrow-left" />
								</a>
							</li>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col col-lg-9 ml-auto">
					<router-view />
				</div>
			</div>
		</div>
		<modal name="yoursPrice" :adaptive="true" :minWidth="280" :maxWidth="380" :height="'auto'" :scrollable="true">
			<div class="modal-in">
				<div class="modal-body pb-4">
					<button class="modal-close button-clr" type="button" @click="hideModal('yoursPrice')">
						<app-svg-icon name="close" />
					</button>
					<form>
						<div class="modal-title mb-4">Предложить цену</div>
						<div class="form-group mb-3 pb-1">
							<input class="form-control" type="text">
						</div>
						<div class="form-group mb-3 pb-1">
							<label class="label font-weight-bold color-gray-2" for="priceMsg">Сообщение</label>
							<textarea class="form-control" id="priceMsg" rows="5"></textarea>
						</div>
						<div class="form-group text-center mb-0">
							<a class="button button-blue" href="#">Отправить</a>
						</div>
					</form>
				</div>
				
			</div>
		</modal>
	</div>
</template>
<script>
	import BreadCrumbs from '../components/Breadcrumbs.vue'
	import SvgIcon from '../components/SvgIcon.vue'
	import File from '../components/uploadFiles.vue'
	import SectionProducts from '../components/SectionProducts.vue'
	import toggleBox from '../components/toggle-box.vue'
	import Checkbox from '../components/Checkbox.vue'
	import VueSlider from 'vue-slider-component'
	import 'vue-slider-component/theme/default.css'
	export default {
		name: 'Store',
		data () {
			return {
				priceRangeValue: [200, 500],
				viewToggle: false,
				productSections: [
					{
						title: 'Самое интересное',
						products: [
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img1.png'),
								price: '10 490 990 000',
								currency: 'UZS',
								title: 'Подставка для мошини силикон самоклека тарпедка',
								category: 'телефоны и аксессуары'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img2.png'),
								price: '2 000 000',
								currency: 'UZS',
								title: 'Сумка кожанная BLACK QUAIL',
								category: 'Сумки'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img3.png'),
								price: '500 000',
								currency: 'UZS',
								title: 'Chocolate Slim (Шоколад Слим) . Худеть вкусно',
								category: 'Спортивные добавки'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img4.png'),
								price: '300 000',
								currency: 'UZS',
								title: 'Наручные Smart часы кастомные ремешки',
								category: 'телефоны и аксессуары'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img5.png'),
								price: '105 000 000',
								currency: 'UZS',
								title: 'Beats by Dre Solo2 Bluetooth Беспроводные наушники',
								category: 'телефоны и аксессуары'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img4.png'),
								price: '300 000',
								currency: 'UZS',
								title: 'Наручные Smart часы кастомные ремешки',
								category: 'телефоны и аксессуары'
							},
							{
								url: '#',
								imgSrc: require('@/assets/images/add-img5.png'),
								price: '105 000 000',
								currency: 'UZS',
								title: 'Beats by Dre Solo2 Bluetooth Беспроводные наушники',
								category: 'телефоны и аксессуары'
							},
						]
					},
				],
				shopLinks: [
					{
						main: true,
						linkName: 'Товары',
						url: 'store-inside'
					},
					{
						linkName: 'Акции',
						url: 'store-events'
					},
					{
						linkName: 'Отзывы',
						url: 'store-reviews',
					},
					{
						linkName: 'Опросы',
						url: 'store-quiz',
					},
					{
						linkName: 'Купоны',
						url: 'store-coupons',
					},
				],
				filterLinks: [
					{
						main: true,
						linkName: 'По порядку',
						url: '#'
					},
					{
						linkName: 'По цене',
						url: '#'
					},
					{
						linkName: 'По популярности',
						url: '#',
					},
					{
						linkName: 'По новизне',
						url: '#',
					},
				],
				goods: [
					{
						category: 'сумки',
						largeTitle: '149 990 UZS',
						titleDescr: 'Сумка “Индиана Джонс” с кожанными ручками ',
						soldGoods: '125',
						totalGoods: '370',
						views: '54,764',
						rate: '5.0',
						reviewsSummary: '10',
						goodImg: require('../assets/images/ads-card-img.png')
					},
					{
						category: 'сумки',
						largeTitle: '149 990 UZS',
						titleDescr: 'Сумка “Индиана Джонс” с кожанными ручками ',
						soldGoods: '125',
						totalGoods: '370',
						views: '54,764',
						rate: '5.0',
						reviewsSummary: '10',
						goodImg: require('../assets/images/ads-card-img.png')
					},
					{
						category: 'сумки',
						largeTitle: '149 990 UZS',
						titleDescr: 'Сумка “Индиана Джонс” с кожанными ручками ',
						soldGoods: '125',
						totalGoods: '370',
						views: '54,764',
						rate: '5.0',
						reviewsSummary: '10',
						goodImg: require('../assets/images/ads-card-img.png')
					},
				]
			}
		},
		methods: {
			setValue (e) {
				var arr = e.target.text.replace(/[^-\d]/g, '').split('-')
				this.priceRangeValue = arr
			},
			showModal (modal) {
				this.$modal.show(modal);
			},
			hideModal (modal) {
				this.$modal.hide(modal);
			}
		},
		computed: {
			crumbs: function() {
				let pathArray = this.$route.path.split("/")
				let breadcrumbs = pathArray.reduce((breadcrumbArray, path, idx) => {
					breadcrumbArray.push({
						path: path,
						to: breadcrumbArray[idx - 1] ? ( breadcrumbArray[idx - 1].to == '/' ? breadcrumbArray[idx - 1].to + path : breadcrumbArray[idx - 1].to + '/' + path ) : '/',
						text: this.$route.matched[idx].meta.breadcrumb || path,
					});
					return breadcrumbArray;
				}, [])
				return breadcrumbs;
			}
		},
		components: {
			appBreadcrumbs: BreadCrumbs,
			appSvgIcon: SvgIcon,
			appFile: File,
			appSectionProducts: SectionProducts,
			appToggle: toggleBox,
			appCheckbox: Checkbox,
			VueSlider
		}
	}
</script>
<style lang="scss" scoped>
</style>