<template>
	<div>
		<div class="row align-items-center pb-3">
			<div class="column mb-2">
				<div class="text-extra-large">Действующие акции</div>
			</div>
			<div class="column mb-2 ml-auto">
				<a class="color-gray-2" href="#">Архив акций</a>
			</div>
		</div>
		<div class="row">
			<div class="col-4 mb-4 pb-1 d-flex flex-column"
				v-for="(good, idx) in eventsGoods"
				:key="idx">
				<app-good-card-events :type="'buyer'" :dataObject="good"></app-good-card-events>
			</div>
		</div>
	</div>
</template>

<script>
	import goodCardEvents from '../components/goodCardEvents.vue'
	export default {
		name: 'storeEvents',
		data () {
			return {
				eventsGoods: [
					{
						largeTitle: '1+1 = 3',
						titleDescr: 'При покупке 2 вещей получи еще 1 в подарок',
						eventDate: '23.04.19 - 02.05.19',
						goodImg: require('../assets/images/ads-card-img.png')
					},
					{
						largeTitle: 'Купи кружку - получи подарок!',
						titleDescr: 'При покупке 2 вещей получи еще 1 в подарок',
						eventDate: '23.04.19 - 02.05.19',
						goodImg: require('../assets/images/ads-card-img.png')
					},
					{
						largeTitle: '-20% на термо - держалки',
						titleDescr: 'Осенняя распродажа!',
						eventDate: '23.04.19 - 02.05.19',
						goodImg: require('../assets/images/ads-card-img.png')
					},
				],
			}
		},
		methods: {
		},
		components: {
			appGoodCardEvents: goodCardEvents,
		}
	}
</script>

<style lang="scss" scoped>
</style>