<template>
	<div>
		<a class="d-inline-block button-medium button-blue mb-4" href="#" @click.prevent="showModal('toSupport')">Написать обращение</a>
		<div class="row">
			<div class="col-lg">
				<div class="wrap wrap-messeges position-relative overflow-hidden mb-4" :class="{'d-none': chatInside}">
					<button class="messeges-search color-grey-4 hover-color-blue font-size-22 button-clr" type="button" @click="[searchToggle = !searchToggle, setFocus('searchInput')]">
						<app-svg-icon name="zoom" />
					</button>
					<div class="messeges-search-form pl-4 pr-4" :class="{'visible': searchToggle}">
						<div class="row row_indents_m align-items-center flex-nowrap">
							<div class="column">
								<button class="color-grey-4 hover-color-blue button-clr" type="button" @click="searchToggle = !searchToggle">
									<app-svg-icon name="arrow-left" />
								</button>
							</div>
							<div class="column flex-grow-1">
								<input class="messeges-input" ref="searchInput" type="text" placeholder="Поиск">
							</div>
							<div class="column ml-auto">
								<button class="color-grey button-clr" type="button" @click="clearInput('searchInput')">
									<app-svg-icon name="close" />
								</button>
							</div>
						</div>
					</div>
					<vue-tabs class="tabs-messeges">
						<v-tab id="all" title="Все обращения">
							<a class="user-contact-box user-contact-box_active" href="#" @click.prevent="chatInside = !chatInside">
								<div class="row row_indents_m justify-content-between flex-nowrap">
									<div class="column col-lg">
										<div class="user user_small d-flex flex-nowrap">
											<div class="user-avatar flex-shrink-0">
												<img src="../assets/images/user.png" alt="">
											</div>
											<div class="ml-3 d-flex flex-column justify-content-center">
												<div class="color-dark-80 mb-1">Polvonbek Uzakov</div>
												<div class="text-small color-dark-50">Salom alekom. Shu narsa ne4pul ekan?</div>
											</div>
										</div>
									</div>
									<div class="column">
										<div class="color-dark-50 text-small mb-2">12:04</div>
										<div class="notification notification_blue ml-auto"><span>1</span></div>
									</div>
								</div>
							</a>
							<a class="user-contact-box user-contact-box" href="#" @click.prevent="chatInside = !chatInside">
								<div class="row row_indents_m justify-content-between flex-nowrap">
									<div class="column col-lg">
										<div class="user user_small d-flex flex-nowrap">
											<div class="user-avatar flex-shrink-0">
												<img src="../assets/images/user-avatar3.png" alt="">
											</div>
											<div class="ml-3 d-flex flex-column justify-content-center">
												<div class="color-dark-80 mb-1">Марина Веселова</div>
												<div class="text-small color-dark-50">Если вы готовы продать за 450 000 сум, подъеду сразу!</div>
											</div>
										</div>
									</div>
									<div class="column">
										<div class="color-dark-50 text-small mb-2">30 марта</div>
									</div>
								</div>
							</a>
						</v-tab>
						<v-tab id="closed" title="Закрытые обращения">
							<a class="user-contact-box" href="#" @click.prevent="chatInside = !chatInside">
								<div class="row row_indents_m justify-content-between flex-nowrap">
									<div class="column col-lg">
										<div class="user user_small d-flex flex-nowrap">
											<div class="user-avatar flex-shrink-0">
												<img src="../assets/images/user-avatar3.png" alt="">
											</div>
											<div class="ml-3 d-flex flex-column justify-content-center">
												<div class="color-dark-80 mb-1">Марина Веселова</div>
												<div class="text-small color-dark-50">Если вы готовы продать за 450 000 сум, подъеду сразу!</div>
											</div>
										</div>
									</div>
									<div class="column">
										<div class="color-dark-50 text-small mb-2">30 марта</div>
									</div>
								</div>
							</a>
							<a class="user-contact-box" href="#" @click.prevent="chatInside = !chatInside">
								<div class="row row_indents_m justify-content-between flex-nowrap">
									<div class="column col-lg">
										<div class="user user_small d-flex flex-nowrap">
											<div class="user-avatar flex-shrink-0">
												<img src="../assets/images/user.png" alt="">
											</div>
											<div class="ml-3 d-flex flex-column justify-content-center">
												<div class="color-dark-80 mb-1">Polvonbek Uzakov</div>
												<div class="text-small color-dark-50">Salom alekom. Shu narsa ne4pul ekan?</div>
											</div>
										</div>
									</div>
									<div class="column">
										<div class="color-dark-50 text-small mb-2">12:04</div>
									</div>
								</div>
							</a>
						</v-tab>
					</vue-tabs>
				</div>
				<div class="user-contact-box-inside wrap position-relative mb-4" :class="{'d-none': !chatInside}">
					<div class="messeges-search-head pl-4 pr-4">
						<div class="row row_indents_m align-items-center flex-nowrap justify-content-between">
							<div class="column">
								<button class="color-grey-4 hover-color-blue button-clr" type="button" @click="chatInside = !chatInside">
									<app-svg-icon name="arrow-left" />
									<span class="ml-2">Назад</span>
								</button>
							</div>
							<div class="column">
								<span>Марина Веселова</span>
							</div>
							<div class="column">
								<div class="row row_indents_m align-items-center">
									<div class="column">
										<button class="color-grey-4 hover-color-blue font-size-22 button-clr" type="button" @click="[searchUserChat = !searchUserChat, setFocus('searchInChatInput')]">
											<app-svg-icon name="zoom" />
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="messeges-search-form pl-4 pr-4" :class="{'visible': searchUserChat}">
						<div class="pl-2 pr-2">
							<div class="row row_indents_s align-items-center flex-nowrap">
								<div class="column">
									<app-svg-icon class="font-size-22 color-grey-4" name="zoom" />
								</div>
								<div class="column flex-grow-1">
									<input class="messeges-input" ref="searchInChatInput" type="text" placeholder="Поиск">
								</div>
								<div class="column ml-auto">
									<button class="font-weight-bold color-dark-50 hover-color-blue button-clr" type="button" @click="searchUserChat = !searchUserChat">Отмена</button>
								</div>
							</div>
						</div>
					</div>
					<div class="user-contact-box-messeges p-3 p-lg-4">
						<div class="font-weight-bold color-dark-50 text-center mb-4">Cегодня</div>
						<div class="user-messege mb-4 pl-lg-3 pr-lg-3">
							<div class="d-flex flex-nowrap pr-5">
								<div class="pr-5">
									<div class="user user_small d-flex flex-nowrap mb-2">
										<div class="user-avatar flex-shrink-0">
											<img src="../assets/images/user-avatar3.png" alt="">
										</div>
										<div class="ml-3 d-flex flex-column justify-content-center">
											<div class="color-dark font-weight-bold mb-1">Марина Веселова</div>
											<div class="text-small color-dark">Если вы готовы продать за 450 000 сум, подъеду сразу!</div>
										</div>
									</div>
									<div class="text-right">
										<a class="color-dark-50" href="#">Ответить</a>
									</div>
								</div>
							</div>
						</div>
						<div class="user-messege mb-4 pl-lg-3 pr-lg-3">
							<div class="d-flex flex-nowrap justify-content-end pl-5">
								<div class="pl-5">
									<div class="checkbox-wrap p-3">
										<div class="p-1">
											<div class="row row_indents_m align-items-center">
												<div class="column">
													<div class="row row_indents_m align-items-center flex-nowrap">
														<div class="column flex-shrink-0">
															<div class="basket-table-img">
																<img src="../assets/images/basket-img2.png" alt="">
															</div>
														</div>
														<div class="column">
															<div class="font-weight-bold color-dark-main">Wood Toy Teether - Baby Toy</div>
															<div>Color: Brown</div>
															<div>Material: Wood</div>
														</div>
													</div>
												</div>
												<div class="column ml-auto">
													<div class="color-dark-80">$33.9</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="user-messege mb-4 pl-lg-3 pr-lg-3">
							<div class="d-flex flex-nowrap pr-5">
								<div class="pr-5">
									<div class="user user_small d-flex flex-nowrap mb-2">
										<div class="user-avatar flex-shrink-0">
											<img src="../assets/images/user-avatar3.png" alt="">
										</div>
										<div class="ml-3 d-flex flex-column justify-content-center">
											<div class="color-dark font-weight-bold mb-1">Марина Веселова</div>
											<div class="text-small color-dark">Если вы готовы продать за 450 000 сум, подъеду сразу!</div>
										</div>
									</div>
									<div class="text-right">
										<a class="color-dark-50" href="#">Ответить</a>
									</div>
								</div>
							</div>
						</div>
						<div class="user-messege mb-4 pl-lg-3 pr-lg-3">
							<div class="d-flex flex-nowrap justify-content-end pl-5">
								<div class="pl-5">
									<div class="checkbox-wrap p-3">
										<div class="p-1">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore nostrum molestiae provident exercitationem, neque voluptatum consequuntur dicta accusantium qui veritatis.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="user-contact-box-foot d-flex flex-column justify-content-center pl-3 pr-3 pl-lg-4 pr-lg-4">
						<div class="row row_indents_m align-items-center">
							<div class="column">
								<app-dropdown-multi class="dropdown-simple dropdown-simple_top_center">
									<template v-slot:togglecontent>
										<app-svg-icon class="font-size-22 color-grey-4 hover-color-blue button-clr" name="clip" />
									</template>
									<ul class="list-unstyled mb-0">
										<li class="mb-2">
											<a class="color-gray-2 text-decoration-none hover-color-blue" href="#">
												<span class="d-flex flex-nowrap">
													<app-svg-icon class="flex-shrink-0 font-size-20" name="camera" />
													<span class="text-small ml-2 d-flex flex-column justify-content-center pt-1">Фото</span>
												</span>
											</a>
										</li>
										<li class="mb-2">
											<a class="color-gray-2 text-decoration-none hover-color-blue" href="#">
												<span class="d-flex flex-nowrap">
													<app-svg-icon class="flex-shrink-0 font-size-20" name="note" />
													<span class="text-small ml-2 d-flex flex-column justify-content-center pt-1">Документ</span>
												</span>
											</a>
										</li>
										<li class="mb-2">
											<a class="color-gray-2 text-decoration-none hover-color-blue" href="#">
												<span class="d-flex flex-nowrap">
													<app-svg-icon class="flex-shrink-0 font-size-20" name="loc" />
													<span class="text-small ml-2 d-flex flex-column justify-content-center pt-1">Геолокация</span>
												</span>
											</a>
										</li>
									</ul>
								</app-dropdown-multi>
							</div>
							<div class="column flex-grow-1">
								<input class="form-control" type="text">
							</div>
							<div class="column">
								<button class="font-size-22 color-grey-4 hover-color-blue button-clr" type="button">
									<app-svg-icon class="svg-icon_reverse_45" name="send" />
								</button>
							</div>
						</div>
					</div>
				</div>
				<h4>Комментарий верстальщика: <br> Пример того, как выглядит чат, если модератор закрыл диалог</h4>
				<div class="user-contact-box-inside wrap position-relative">
					<div class="messeges-search-head pl-4 pr-4">
						<div class="row row_indents_m align-items-center flex-nowrap justify-content-between">
							<div class="column">
								<button class="color-grey-4 hover-color-blue button-clr" type="button">
									<app-svg-icon name="arrow-left" />
									<span class="ml-2">Назад</span>
								</button>
							</div>
							<div class="column">
								<span>Марина Веселова</span>
							</div>
							<div class="column">
								<div class="row row_indents_m align-items-center">
									<div class="column">
										<button class="color-grey-4 hover-color-blue font-size-22 button-clr" type="button">
											<app-svg-icon name="zoom" />
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="messeges-search-form pl-4 pr-4">
						<div class="pl-2 pr-2">
							<div class="row row_indents_s align-items-center flex-nowrap">
								<div class="column">
									<app-svg-icon class="font-size-22 color-grey-4" name="zoom" />
								</div>
								<div class="column flex-grow-1">
									<input class="messeges-input" ref="searchInChatInput" type="text" placeholder="Поиск">
								</div>
								<div class="column ml-auto">
									<button class="font-weight-bold color-dark-50 hover-color-blue button-clr" type="button">Отмена</button>
								</div>
							</div>
						</div>
					</div>
					<div class="user-contact-box-messeges p-3 p-lg-4">
						<div class="font-weight-bold color-dark-50 text-center mb-4">Cегодня</div>
						<div class="user-messege mb-4 pl-lg-3 pr-lg-3">
							<div class="d-flex flex-nowrap pr-5">
								<div class="pr-5">
									<div class="user user_small d-flex flex-nowrap mb-2">
										<div class="user-avatar flex-shrink-0">
											<img src="../assets/images/user-avatar3.png" alt="">
										</div>
										<div class="ml-3 d-flex flex-column justify-content-center">
											<div class="color-dark font-weight-bold mb-1">Марина Веселова</div>
											<div class="text-small color-dark">Если вы готовы продать за 450 000 сум, подъеду сразу!</div>
										</div>
									</div>
									<div class="text-right">
										<a class="color-dark-50" href="#">Ответить</a>
									</div>
								</div>
							</div>
						</div>
						<div class="user-messege mb-4 pl-lg-3 pr-lg-3">
							<div class="d-flex flex-nowrap justify-content-end pl-5">
								<div class="pl-5">
									<div class="checkbox-wrap p-3">
										<div class="p-1">
											<div class="row row_indents_m align-items-center">
												<div class="column mb-2">
													<div class="row row_indents_m align-items-center flex-nowrap">
														<div class="column flex-shrink-0">
															<div class="basket-table-img">
																<img src="../assets/images/basket-img2.png" alt="">
															</div>
														</div>
														<div class="column">
															<div class="font-weight-bold color-dark-main">Wood Toy Teether - Baby Toy</div>
															<div>Color: Brown</div>
															<div>Material: Wood</div>
														</div>
													</div>
												</div>
												<div class="column ml-auto mb-2">
													<div class="color-dark-80">$33.9</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="user-messege mb-4 pl-lg-3 pr-lg-3">
							<div class="d-flex flex-nowrap pr-5">
								<div class="pr-5">
									<div class="user user_small d-flex flex-nowrap mb-2">
										<div class="user-avatar flex-shrink-0">
											<img src="../assets/images/user-avatar3.png" alt="">
										</div>
										<div class="ml-3 d-flex flex-column justify-content-center">
											<div class="color-dark font-weight-bold mb-1">Марина Веселова</div>
											<div class="text-small color-dark">Если вы готовы продать за 450 000 сум, подъеду сразу!</div>
										</div>
									</div>
									<div class="text-right">
										<a class="color-dark-50" href="#">Ответить</a>
									</div>
								</div>
							</div>
						</div>
						<div class="user-messege mb-4 pl-lg-3 pr-lg-3">
							<div class="d-flex flex-nowrap justify-content-end pl-5">
								<div class="pl-5">
									<div class="checkbox-wrap p-3">
										<div class="p-1">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore nostrum molestiae provident exercitationem, neque voluptatum consequuntur dicta accusantium qui veritatis.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="user-contact-box-foot d-flex flex-column justify-content-center pl-3 pr-3 pl-lg-4 pr-lg-4">
						<div class="row row_indents_m align-items-center">
							<div class="column">
								<a class="button button-blue" href="#" @click.prevent="showModal('assesmentSupport')">Оценить поддержку</a>
							</div>
							<div class="column">
								<a class="color-dark-50 font-weight-bold" href="#">Продолжить обсуждение</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<modal name="toSupport" :adaptive="true" :minWidth="280" :maxWidth="555" :height="'auto'" :scrollable="true">
			<div class="modal-in">
				<div class="modal-body">
					<button class="modal-close button-clr" type="button" @click="hideModal('toSupport')">
						<app-svg-icon name="close" />
					</button>
					<div class="p-lg-5">
						<form>
							<div class="modal-title pr-5">Обращение в техподдержку</div>
							<div class="form-group mb-3 pb-1">
								<label class="color-dark font-weight-bold" for="supportMsg">Тема обращения</label>
									<multiselect
										v-model="quantity.value"
										:options="quantity.items"
										:maxHeight="200"
										track-by="name"
										:preselectFirst="true"
										:searchable="false"
										class="multiselect_quantity"
										label="name">
											<span 
												class="arrow" 
												slot="caret" 
												slot-scope="{ toggle }" 
												@mousedown.prevent.stop="toggle">
												<app-svg-icon class="multiselect-toggle" name="arrow-down"/>
											</span>
									</multiselect>
							</div>
							<div class="form-group mb-3 pb-1">
								<label class="color-dark font-weight-bold" for="supportMsg">Текст обращения</label>
								<textarea class="form-control" rows="22"></textarea>
							</div>
							<div class="">
								<div class="row row_indents_m align-items-center">
									<div class="column">
										<button class="button button-blue button-clr" @click="[hideModal('toSupport'), chatInside = true]" type="button">Отправить</button>
									</div>
									<div class="column">
										<a class="color-grey-4 font-weight-bold" href="#" @click.prevent="hideModal('toSupport')">Отменить</a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</modal>
		<modal name="assesmentSupport" :adaptive="true" :minWidth="280" :maxWidth="555" :height="'auto'" :scrollable="true">
			<div class="modal-in">
				<div class="modal-body">
					<button class="modal-close button-clr" type="button" @click="hideModal('assesmentSupport')">
						<app-svg-icon name="close" />
					</button>
					<div class="p-lg-5">
						<div class="text-center">
							<form>
								<div class="modal-title mt-5">Оцените  качество поддержки</div>
								<div class="form-group mb-3 pb-1">
									<div class="row row_indents_xs align-items-center justify-content-center">
										<div class="column">
											<button class="button-clr font-size-50 color-orange hover-color-orange" type="button">
												<app-svg-icon name="star2" />
											</button>
										</div>
										<div class="column">
											<button class="button-clr font-size-50 color-orange hover-color-orange" type="button">
												<app-svg-icon name="star2" />
											</button>
										</div>
										<div class="column">
											<button class="button-clr font-size-50 color-orange hover-color-orange" type="button">
												<app-svg-icon name="star2" />
											</button>
										</div>
										<div class="column">
											<button class="button-clr font-size-50 color-grey hover-color-orange" type="button">
												<app-svg-icon name="star2" />
											</button>
										</div>
										<div class="column">
											<button class="button-clr font-size-50 color-grey hover-color-orange" type="button">
												<app-svg-icon name="star2" />
											</button>
										</div>
									</div>
								</div>
								<div class="mt-5 pt-5">
									<div class="row row_indents_m align-items-center justify-content-center">
										<div class="column">
											<button class="button button-blue button-clr" @click="hideModal('assesmentSupport')" type="button">Отправить</button>
										</div>
										<div class="column">
											<a class="color-grey-4 font-weight-bold" href="#" @click.prevent="hideModal('assesmentSupport')">Отменить</a>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</modal>
	</div>
</template>
<script>
	import {VueTabs, VTab} from 'vue-nav-tabs/dist/vue-tabs.js'
	import SvgIcon from '../components/SvgIcon.vue'
	import Multiselect from 'vue-multiselect'
	import DropdownMulti from '../components/dropdownMulti.vue'
	export default {

		name: 'support',
		data () {
			return {
				searchToggle: false,
				chatInside: false,
				searchUserChat: false,
				quantity: {
					value: [],
					items: [
						{
							name: 'Не проходит  оплата',
						},
						{
							name: 'Не получается добавить товар',
						},
						{
							name: 'Мой товар не прошел модерацию',
						},
						{
							name: 'Возникла ошибка с продажей ',
						},
						{
							name: 'Не удалось получить бонусы ',
						}
					],
					placeholder: 'Введите или выберите',
					icon: 'arrow-down'
				},
			}
		},
		components: {
			VueTabs,
			VTab,
			appSvgIcon: SvgIcon,
			Multiselect,
			appDropdownMulti: DropdownMulti,
		},
		methods: {
			setFocus (refElem) {
				let _this = this
				setTimeout(function(){
					_this.$refs[refElem].focus()
				}, 10)
			},
			clearInput (input) {
				this.$refs[input].value = ''
				this.$refs[input].focus()
			},
			showModal (modal) {
				this.$modal.show(modal);
			},
			hideModal (modal) {
				this.$modal.hide(modal);
			}
		}
	}
</script>
<style lang="css" scoped>
</style>