<template>
	<div class="form-group">
		<div class="row row_indents_m align-items-end">
			<div class="form-group col-xl-8">
				<label class="label font-weight-bold" :for="'mainAddress'+'['+addres.id+']'">{{ addres.title }}</label>
				<div class="position-relative">
					<input class="form-control pr-5" :id="'mainAddress'+'['+addres.id+']'" type="text">
					<div class="tooltip-wrap form-icon-position form-icon-position_inside" @mouseover="tooltipShow = true" @mouseleave="tooltipShow = false">
						<app-svg-icon class="color-grey" name="loc" />
						<div class="tooltip-box" :class="{visible: tooltipShow}"><div class="tooltip-box-inner">{{ addres.locationText }}</div></div>
					</div>
				</div>
			</div>
			<div class="form-group col-xl-4">
				<div class="row align-items-center flex-nowrap">
					<div class="column flex-grow-1">
						<input class="form-control" type="text">
					</div>
					<div class="column flex-shrink-0">
						<button class="font-size-10 color-grey-dark button-clr" @click="delItem" type="button">
							<app-svg-icon name="del" />
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import SvgIcon from '../components/SvgIcon.vue'
	export default {
		name: 'adressForm',
		props: ['addres'],
		data () {
			return {
				tooltipShow: false
			}
		},
		methods: {
			delItem (ev) {
				this.$emit('delItem', ev)
			}
		},
		components: {
			appSvgIcon: SvgIcon
		}
	}
</script>

<style lang="scss">
</style>