<template>
	<div class="banner" :style="{'backgroundImage': 'url('+background+')'}"></div>
</template>
<script>
	export default {
		props: ['imgName'],
		data () {
			return {
				background: require('../assets/images/'+ this.imgName)
			}
		}
	}
</script>
<style lang="scss">
.banner {
	height: 80px;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.header-ban {
	@media only screen and (max-width: 991px) {
		background-position: 30% 50%;
	}
	@media only screen and (max-width: 767px) {
		background-position: 10% 50%;
	}
	@media only screen and (max-width: 575px) {
		background-position: 14% 50%;
	}
}
</style>