<template>
	<button class="button-clr" type="button" @click="[newToggle = !newToggle]">
		<app-svg-icon class="font-size-16 color-dark-30" :class="{'d-none': newToggle}" name="bookmark" />
		<app-svg-icon class="font-size-18 color-red-75" :class="{'d-none': !newToggle}" name="bookmark-fill" />
	</button>
</template>

<script>
	import svgIcon from '../components/SvgIcon.vue'
	export default {

		name: 'bookmark',
		props: {
			toggle: {
				type: Boolean,
				default: false
			}
		},
		data () {
			return {
				newToggle: this.toggle
			}
		},
		components: {
			appSvgIcon: svgIcon
		},
	}
</script>

<style lang="css" scoped>
</style>