<template>
	<div>
		<ul class="breadcrumbs d-flex flex-wrap list-unstyled mb-0">
			<router-link
				v-for="(listItem, index) in list"
				:key="index"
				:class="{'active': index == list.length - 1}"
				tag="li"
				:to="listItem.to">
					<a>{{ listItem.text }}</a>
					<template v-if="!(index == list.length - 1)">
						<app-svg-icon name="arrow-right" />
					</template>
			</router-link>
		</ul>
	</div>
</template>

<script>
	import SvgIcon from '../components/SvgIcon.vue'
	export default {
		name: 'Breadcrumbs',
		props: ['list'],
		data () {
			return {

			}
		},
		components: {
			appSvgIcon: SvgIcon,
		}
	}
</script>

<style lang="css" scoped>
</style>