<template>
	<div class="ads-card-box wrap d-flex flex-column flex-grow-1">
		<div class="ads-card-img-wrap position-relative text-center">
			<slot name="cardimg"></slot>
		</div>
		<div class="ads-card-body pl-3 pr-3 flex-grow-1">
			<slot name="cardcontent"></slot>
		</div>
		<div class="ads-card-foot">
			<slot name="cardfooter"></slot>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'card-uni',
		data () {
			return {

			}
		},
		components: {
		}
	}
</script>

<style lang="scss" scoped>
</style>