<template>
	<div class="last-goods-column column">
		<a class="good-preview" :href="watchedObj.url">
			<div class="good-preview-img">
				<img :src="watchedObj.cardImg" alt="">
			</div>
			<div class="good-preview-content">
				<div class="good-preview-name"> {{ watchedObj.cardName }}</div>
				<div class="good-preview-summary d-flex flex-wrap align-items-center">
					<div class="column mb-2">{{ watchedObj.cardCurrency + watchedObj.cardPrice }}</div>
					<div class="column mb-2">
						<span class="button button-border nowrap">В корзину</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</template>
<script>
	export default {
		props: {
			watchedObj: {
				type: Object,
				required: true
			}
		},
		data () {
			return {

			}
		},
		methods: {
		}
	}
</script>
<style></style>