<template>
	<div class="front">
		<div class="front__container container-fluid">
			<div class="front__wrap">
				<div class="row no-gutters">
					<div class="front__sidebar d-flex flex-column">
						<div class="sidebar-title flex-grow-1">
							<h6>
								<router-link class="sidebar-title__link d-block" :to="{name: 'categorys'}">
									<app-svg-icon class="sidebar-title__icon" name="diagram"/>
									<span>Категории</span>
								</router-link>
							</h6>
						</div>
					</div>
					<div class="front__main">
						<div class="front__sub-wrap" :class="{visible: this.$store.state.menuToggle}">
							<ul class="front__sub sub-category list-clr">
								<router-link 
									class="sub-category-item"
									v-for="(item, index) in secondaryCategory"
									:key="index"
									tag="li"
									:to="{name: item.href}">
									<a class="sub-category-link">{{ item.text }}</a>
								</router-link>
							</ul>
						</div>
					</div>
				</div>
				<div class="row no-gutters" @mouseleave="categoryAction.isOpen = false">
					<div class="front__sidebar" :class="{visible: this.$store.state.menuToggle}">
						<button class="front-close button-clr d-lg-none" @click="menuToggle" type="button">
							<app-svg-icon name="close"/>
						</button>
						<div class="sidebar flex-grow-1">
							<div class="sidebar__body">
								<ul class="sidebar-list list-clr">
									<router-link class="sidebar-list-item"
										v-for="(item, index) in categoryMain.items"
										:key="index"
										tag="li"
										:to="{name: item.href}">
										<a class="sidebar-list-link" :data-target="index" @mouseenter="categoryAction.isOpen = true, getTargetName($event)">
											<app-svg-icon class="sidebar-list-link__icon" :name="item.icon"/>
											<span class="sidebar-list-link__txt">{{ item.text }}</span>
										</a>
									</router-link>
								</ul>
							</div>
							<div class="sidebar__footer">
								<a class="button button-add" href="#">
									<span class="button-add__plus">+</span>
									<span class="button-add__txt">Добавить объявление</span>
								</a>
							</div>
						</div>
					</div>
					<div class="front__main">
						<div class="position-relative">
							<div class="stock">
								<div class="row no-gutters">
									<div class="stock__main">
										<div
											class="stock__offer"
											:style="{'backgroundImage': 'url('+stockBg+')'}">
												<div class="stock__offer-in">
													<div>
														<div class="marker">Акция</div>
													</div>
													<div class="stock__content">
														<h2>Poplin Top <br> With Sleeve Bow</h2>
														<p>Poplin top with roll neckline, long sleeves</p>
													</div>
													<div>
														<a class="button button-oval-blue" href="#">Купить сейчас</a>
													</div>
												</div>
										</div>
									</div>
									<div class="stock__side">
										<h3>Ваше мнение <br> очень важно!</h3>
										<br><br>
										<p>Пройдите опрос, <br> получите бонусы</p>
										<a class="button button-white" href="#">Пройти опрос</a>
									</div>
								</div>
							</div>
							<div class="brand">
								<div class="brand__row row no-gutters align-items-center">
									<div
										class="brand__column"
										v-for="(item, index) in brandList"
										:key="index"
										>
										<a class="brand-logo" :href="item.href">
											<img
												:src="item.src"
												alt="">
										</a>
									</div>
									<div class="brand__column">
										<a class="brand-more" href="#">
											<div class="brand-more__number">701</div>
											<div class="brand-more__txt">Показать <br> всё</div>
										</a>
									</div>
								</div>
							</div>
							<div class="front__categorys categorys" id="subCategory" :class="{isOpen: categoryAction.isOpen}">
								<div class="front__categorys-title">
									<button class="front__categorys-close button-clr" @click="categoryAction.isOpen = !categoryAction.isOpen">
										<app-svg-icon name="right-arrow"/>
									</button>
								</div>
								<div class="row">
									<div class="col-lg-9">
										<ul class="row list-unstyled mb-0"
											v-if="currentCategoryIndex">
											<li class="categorys-list col-6 col-sm-4 mb-4 pb-3"
												v-for="(item, index) in categoryMain.items[currentCategoryIndex].itemsList"
												:key="index">
												<div class="categorys-list__title">{{ item.itemListTitle }}</div>
												<ul class="categorys-list__ul list-clr">
													<li v-for="(name, idIndex) in item.itemListIn" :key="idIndex"><router-link :to="{name: name.href}">{{ name.itemListName }}</router-link></li>
												</ul>
											</li>
										</ul>
									</div>
									<div class="col-12 col-lg-3">
										<div class="row justify-content-center"
											v-if="currentCategoryIndex">
											<a 
												class="categorys-logo"
												v-for="(item, index) in categoryMain.items[currentCategoryIndex].brandsList"
												:key="index"
												:href="item.href">
												<div class="categorys-logo__img">
													<img
														:src="item.src"
														alt="">
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import SvgIcon from './SvgIcon.vue'
	export default {
		data () {
			return {
				categoryAction: {
					isOpen: false
				},
				currentCategoryIndex: '',
				categoryMain: {
					items: [
						{
							icon: 'camera',
							text: 'Электроника',
							href: 'electronics',
							itemsList: [
								{
									itemListTitle: 'Chevrolet',
									itemListIn: [
										{
											itemListName: 'Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Gaming Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Tablets',
											href: 'clocks'
										},
										{
											itemListName: '2 in 1 Tablets',
											href: 'clocks'
										},
										{
											itemListName: 'Phone Call Tablets',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Иномарки',
									itemListIn: [
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Fire Protection',
											href: 'clocks'
										},
										{
											itemListName: 'Workplace Safety Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Alarm & Sensor',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Office Electronics',
									itemListIn: [
										{
											itemListName: 'Printer Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Office & School Supplies',
											href: 'clocks'
										},
										{
											itemListName: '3D Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Scanners',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Laptop Accessories',
									itemListIn: [
										{
											itemListName: 'Laptop Bags & Cases',
											href: 'clocks'
										},
										{
											itemListName: 'Laptop Batteries',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet Accessories',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet LCD Screens',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Storage Devices',
									itemListIn: [
										{
											itemListName: 'USB Flash Drives',
											href: 'clocks'
										},
										{
											itemListName: 'Memory Cards',
											href: 'clocks'
										},
										{
											itemListName: 'External Hard Drives',
											href: 'clocks'
										},
										{
											itemListName: 'SSD',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Networking',
									itemListIn: [
										{
											itemListName: 'Wireless Routers',
											href: 'clocks'
										},
										{
											itemListName: 'Network Cards',
											href: 'clocks'
										},
										{
											itemListName: '3G Modems',
											href: 'clocks'
										},
										{
											itemListName: 'Modem-Router Combos',
											href: 'clocks'
										}
									]
								}
							],
							brandsList: [
								{
									href: '#',
									src: require('@/assets/images/categorys-logo12.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo11.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo10.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo9.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo8.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo7.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo6.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo5.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo4.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo3.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo2.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo.png')
								}
							]
						},
						{
							icon: 'refridgerator',
							text: 'Бытовая Техника',
							href: 'electronics',
							itemsList: [
								{
									itemListTitle: 'Laptop Accessories',
									itemListIn: [
										{
											itemListName: 'Laptop Bags & Cases',
											href: 'clocks'
										},
										{
											itemListName: 'Laptop Batteries',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet Accessories',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet LCD Screens',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Storage Devices',
									itemListIn: [
										{
											itemListName: 'USB Flash Drives',
											href: 'clocks'
										},
										{
											itemListName: 'Memory Cards',
											href: 'clocks'
										},
										{
											itemListName: 'External Hard Drives',
											href: 'clocks'
										},
										{
											itemListName: 'SSD',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Networking',
									itemListIn: [
										{
											itemListName: 'Wireless Routers',
											href: 'clocks'
										},
										{
											itemListName: 'Network Cards',
											href: 'clocks'
										},
										{
											itemListName: '3G Modems',
											href: 'clocks'
										},
										{
											itemListName: 'Modem-Router Combos',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Chevrolet',
									itemListIn: [
										{
											itemListName: 'Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Gaming Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Tablets',
											href: 'clocks'
										},
										{
											itemListName: '2 in 1 Tablets',
											href: 'clocks'
										},
										{
											itemListName: 'Phone Call Tablets',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Иномарки',
									itemListIn: [
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Fire Protection',
											href: 'clocks'
										},
										{
											itemListName: 'Workplace Safety Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Alarm & Sensor',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Office Electronics',
									itemListIn: [
										{
											itemListName: 'Printer Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Office & School Supplies',
											href: 'clocks'
										},
										{
											itemListName: '3D Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Scanners',
											href: 'clocks'
										}
									]
								},
							],
							brandsList: [
								{
									href: '#',
									src: require('@/assets/images/categorys-logo7.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo6.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo5.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo4.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo3.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo2.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo12.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo11.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo10.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo9.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo8.png')
								},
							]
						},
						{
							icon: 'imac',
							text: 'Компьютерная Техника',
							href: 'electronics',
							itemsList: [
								{
									itemListTitle: 'Chevrolet',
									itemListIn: [
										{
											itemListName: 'Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Gaming Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Tablets',
											href: 'clocks'
										},
										{
											itemListName: '2 in 1 Tablets',
											href: 'clocks'
										},
										{
											itemListName: 'Phone Call Tablets',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Иномарки',
									itemListIn: [
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Fire Protection',
											href: 'clocks'
										},
										{
											itemListName: 'Workplace Safety Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Alarm & Sensor',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Office Electronics',
									itemListIn: [
										{
											itemListName: 'Printer Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Office & School Supplies',
											href: 'clocks'
										},
										{
											itemListName: '3D Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Scanners',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Laptop Accessories',
									itemListIn: [
										{
											itemListName: 'Laptop Bags & Cases',
											href: 'clocks'
										},
										{
											itemListName: 'Laptop Batteries',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet Accessories',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet LCD Screens',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Storage Devices',
									itemListIn: [
										{
											itemListName: 'USB Flash Drives',
											href: 'clocks'
										},
										{
											itemListName: 'Memory Cards',
											href: 'clocks'
										},
										{
											itemListName: 'External Hard Drives',
											href: 'clocks'
										},
										{
											itemListName: 'SSD',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Networking',
									itemListIn: [
										{
											itemListName: 'Wireless Routers',
											href: 'clocks'
										},
										{
											itemListName: 'Network Cards',
											href: 'clocks'
										},
										{
											itemListName: '3G Modems',
											href: 'clocks'
										},
										{
											itemListName: 'Modem-Router Combos',
											href: 'clocks'
										}
									]
								}
							],
							brandsList: [
								{
									href: '#',
									src: require('@/assets/images/categorys-logo12.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo11.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo10.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo9.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo8.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo7.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo6.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo5.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo4.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo3.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo2.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo.png')
								}
							]
						},
						{
							icon: 'building',
							text: 'Недвижимость',
							href: 'electronics',
							itemsList: [
								{
									itemListTitle: 'Laptop Accessories',
									itemListIn: [
										{
											itemListName: 'Laptop Bags & Cases',
											href: 'clocks'
										},
										{
											itemListName: 'Laptop Batteries',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet Accessories',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet LCD Screens',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Storage Devices',
									itemListIn: [
										{
											itemListName: 'USB Flash Drives',
											href: 'clocks'
										},
										{
											itemListName: 'Memory Cards',
											href: 'clocks'
										},
										{
											itemListName: 'External Hard Drives',
											href: 'clocks'
										},
										{
											itemListName: 'SSD',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Networking',
									itemListIn: [
										{
											itemListName: 'Wireless Routers',
											href: 'clocks'
										},
										{
											itemListName: 'Network Cards',
											href: 'clocks'
										},
										{
											itemListName: '3G Modems',
											href: 'clocks'
										},
										{
											itemListName: 'Modem-Router Combos',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Chevrolet',
									itemListIn: [
										{
											itemListName: 'Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Gaming Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Tablets',
											href: 'clocks'
										},
										{
											itemListName: '2 in 1 Tablets',
											href: 'clocks'
										},
										{
											itemListName: 'Phone Call Tablets',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Иномарки',
									itemListIn: [
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Fire Protection',
											href: 'clocks'
										},
										{
											itemListName: 'Workplace Safety Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Alarm & Sensor',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Office Electronics',
									itemListIn: [
										{
											itemListName: 'Printer Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Office & School Supplies',
											href: 'clocks'
										},
										{
											itemListName: '3D Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Scanners',
											href: 'clocks'
										}
									]
								},
							],
							brandsList: [
								{
									href: '#',
									src: require('@/assets/images/categorys-logo7.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo6.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo5.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo4.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo3.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo2.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo12.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo11.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo10.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo9.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo8.png')
								},
							]
						},
						{
							icon: 'car',
							text: 'Транспорт',
							href: 'electronics',
							itemsList: [
								{
									itemListTitle: 'Chevrolet',
									itemListIn: [
										{
											itemListName: 'Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Gaming Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Tablets',
											href: 'clocks'
										},
										{
											itemListName: '2 in 1 Tablets',
											href: 'clocks'
										},
										{
											itemListName: 'Phone Call Tablets',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Иномарки',
									itemListIn: [
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Fire Protection',
											href: 'clocks'
										},
										{
											itemListName: 'Workplace Safety Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Alarm & Sensor',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Office Electronics',
									itemListIn: [
										{
											itemListName: 'Printer Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Office & School Supplies',
											href: 'clocks'
										},
										{
											itemListName: '3D Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Scanners',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Laptop Accessories',
									itemListIn: [
										{
											itemListName: 'Laptop Bags & Cases',
											href: 'clocks'
										},
										{
											itemListName: 'Laptop Batteries',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet Accessories',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet LCD Screens',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Storage Devices',
									itemListIn: [
										{
											itemListName: 'USB Flash Drives',
											href: 'clocks'
										},
										{
											itemListName: 'Memory Cards',
											href: 'clocks'
										},
										{
											itemListName: 'External Hard Drives',
											href: 'clocks'
										},
										{
											itemListName: 'SSD',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Networking',
									itemListIn: [
										{
											itemListName: 'Wireless Routers',
											href: 'clocks'
										},
										{
											itemListName: 'Network Cards',
											href: 'clocks'
										},
										{
											itemListName: '3G Modems',
											href: 'clocks'
										},
										{
											itemListName: 'Modem-Router Combos',
											href: 'clocks'
										}
									]
								}
							],
							brandsList: [
								{
									href: '#',
									src: require('@/assets/images/categorys-logo12.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo11.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo10.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo9.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo8.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo7.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo6.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo5.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo4.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo3.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo2.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo.png')
								}
							]
						},
						{
							icon: 'paint',
							text: 'Строительство и Ремонт',
							href: 'electronics',
							itemsList: [
								{
									itemListTitle: 'Laptop Accessories',
									itemListIn: [
										{
											itemListName: 'Laptop Bags & Cases',
											href: 'clocks'
										},
										{
											itemListName: 'Laptop Batteries',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet Accessories',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet LCD Screens',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Storage Devices',
									itemListIn: [
										{
											itemListName: 'USB Flash Drives',
											href: 'clocks'
										},
										{
											itemListName: 'Memory Cards',
											href: 'clocks'
										},
										{
											itemListName: 'External Hard Drives',
											href: 'clocks'
										},
										{
											itemListName: 'SSD',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Networking',
									itemListIn: [
										{
											itemListName: 'Wireless Routers',
											href: 'clocks'
										},
										{
											itemListName: 'Network Cards',
											href: 'clocks'
										},
										{
											itemListName: '3G Modems',
											href: 'clocks'
										},
										{
											itemListName: 'Modem-Router Combos',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Chevrolet',
									itemListIn: [
										{
											itemListName: 'Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Gaming Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Tablets',
											href: 'clocks'
										},
										{
											itemListName: '2 in 1 Tablets',
											href: 'clocks'
										},
										{
											itemListName: 'Phone Call Tablets',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Иномарки',
									itemListIn: [
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Fire Protection',
											href: 'clocks'
										},
										{
											itemListName: 'Workplace Safety Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Alarm & Sensor',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Office Electronics',
									itemListIn: [
										{
											itemListName: 'Printer Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Office & School Supplies',
											href: 'clocks'
										},
										{
											itemListName: '3D Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Scanners',
											href: 'clocks'
										}
									]
								},
							],
							brandsList: [
								{
									href: '#',
									src: require('@/assets/images/categorys-logo7.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo6.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo5.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo4.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo3.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo2.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo12.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo11.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo10.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo9.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo8.png')
								},
							]
						},
						{
							icon: 'tees',
							text: 'Мода и Cтиль',
							href: 'electronics',
							itemsList: [
								{
									itemListTitle: 'Chevrolet',
									itemListIn: [
										{
											itemListName: 'Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Gaming Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Tablets',
											href: 'clocks'
										},
										{
											itemListName: '2 in 1 Tablets',
											href: 'clocks'
										},
										{
											itemListName: 'Phone Call Tablets',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Иномарки',
									itemListIn: [
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Fire Protection',
											href: 'clocks'
										},
										{
											itemListName: 'Workplace Safety Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Alarm & Sensor',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Office Electronics',
									itemListIn: [
										{
											itemListName: 'Printer Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Office & School Supplies',
											href: 'clocks'
										},
										{
											itemListName: '3D Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Scanners',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Laptop Accessories',
									itemListIn: [
										{
											itemListName: 'Laptop Bags & Cases',
											href: 'clocks'
										},
										{
											itemListName: 'Laptop Batteries',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet Accessories',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet LCD Screens',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Storage Devices',
									itemListIn: [
										{
											itemListName: 'USB Flash Drives',
											href: 'clocks'
										},
										{
											itemListName: 'Memory Cards',
											href: 'clocks'
										},
										{
											itemListName: 'External Hard Drives',
											href: 'clocks'
										},
										{
											itemListName: 'SSD',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Networking',
									itemListIn: [
										{
											itemListName: 'Wireless Routers',
											href: 'clocks'
										},
										{
											itemListName: 'Network Cards',
											href: 'clocks'
										},
										{
											itemListName: '3G Modems',
											href: 'clocks'
										},
										{
											itemListName: 'Modem-Router Combos',
											href: 'clocks'
										}
									]
								}
							],
							brandsList: [
								{
									href: '#',
									src: require('@/assets/images/categorys-logo12.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo11.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo10.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo9.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo8.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo7.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo6.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo5.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo4.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo3.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo2.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo.png')
								}
							]
						},
						{
							icon: 'pingpong',
							text: 'Спорт и Отдых',
							href: 'electronics',
							itemsList: [
								{
									itemListTitle: 'Laptop Accessories',
									itemListIn: [
										{
											itemListName: 'Laptop Bags & Cases',
											href: 'clocks'
										},
										{
											itemListName: 'Laptop Batteries',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet Accessories',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet LCD Screens',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Storage Devices',
									itemListIn: [
										{
											itemListName: 'USB Flash Drives',
											href: 'clocks'
										},
										{
											itemListName: 'Memory Cards',
											href: 'clocks'
										},
										{
											itemListName: 'External Hard Drives',
											href: 'clocks'
										},
										{
											itemListName: 'SSD',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Networking',
									itemListIn: [
										{
											itemListName: 'Wireless Routers',
											href: 'clocks'
										},
										{
											itemListName: 'Network Cards',
											href: 'clocks'
										},
										{
											itemListName: '3G Modems',
											href: 'clocks'
										},
										{
											itemListName: 'Modem-Router Combos',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Chevrolet',
									itemListIn: [
										{
											itemListName: 'Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Gaming Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Tablets',
											href: 'clocks'
										},
										{
											itemListName: '2 in 1 Tablets',
											href: 'clocks'
										},
										{
											itemListName: 'Phone Call Tablets',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Иномарки',
									itemListIn: [
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Fire Protection',
											href: 'clocks'
										},
										{
											itemListName: 'Workplace Safety Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Alarm & Sensor',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Office Electronics',
									itemListIn: [
										{
											itemListName: 'Printer Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Office & School Supplies',
											href: 'clocks'
										},
										{
											itemListName: '3D Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Scanners',
											href: 'clocks'
										}
									]
								},
							],
							brandsList: [
								{
									href: '#',
									src: require('@/assets/images/categorys-logo7.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo6.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo5.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo4.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo3.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo2.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo12.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo11.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo10.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo9.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo8.png')
								},
							]
						},
						{
							icon: 'lipstick',
							text: 'Красота и Уход',
							href: 'electronics',
							itemsList: [
								{
									itemListTitle: 'Chevrolet',
									itemListIn: [
										{
											itemListName: 'Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Gaming Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Tablets',
											href: 'clocks'
										},
										{
											itemListName: '2 in 1 Tablets',
											href: 'clocks'
										},
										{
											itemListName: 'Phone Call Tablets',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Иномарки',
									itemListIn: [
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Fire Protection',
											href: 'clocks'
										},
										{
											itemListName: 'Workplace Safety Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Alarm & Sensor',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Office Electronics',
									itemListIn: [
										{
											itemListName: 'Printer Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Office & School Supplies',
											href: 'clocks'
										},
										{
											itemListName: '3D Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Scanners',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Laptop Accessories',
									itemListIn: [
										{
											itemListName: 'Laptop Bags & Cases',
											href: 'clocks'
										},
										{
											itemListName: 'Laptop Batteries',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet Accessories',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet LCD Screens',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Storage Devices',
									itemListIn: [
										{
											itemListName: 'USB Flash Drives',
											href: 'clocks'
										},
										{
											itemListName: 'Memory Cards',
											href: 'clocks'
										},
										{
											itemListName: 'External Hard Drives',
											href: 'clocks'
										},
										{
											itemListName: 'SSD',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Networking',
									itemListIn: [
										{
											itemListName: 'Wireless Routers',
											href: 'clocks'
										},
										{
											itemListName: 'Network Cards',
											href: 'clocks'
										},
										{
											itemListName: '3G Modems',
											href: 'clocks'
										},
										{
											itemListName: 'Modem-Router Combos',
											href: 'clocks'
										}
									]
								}
							],
							brandsList: [
								{
									href: '#',
									src: require('@/assets/images/categorys-logo12.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo11.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo10.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo9.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo8.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo7.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo6.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo5.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo4.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo3.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo2.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo.png')
								}
							]
						},
						{
							icon: 'bear',
							text: 'Детские товары',
							href: 'electronics',
							itemsList: [
								{
									itemListTitle: 'Laptop Accessories',
									itemListIn: [
										{
											itemListName: 'Laptop Bags & Cases',
											href: 'clocks'
										},
										{
											itemListName: 'Laptop Batteries',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet Accessories',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet LCD Screens',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Storage Devices',
									itemListIn: [
										{
											itemListName: 'USB Flash Drives',
											href: 'clocks'
										},
										{
											itemListName: 'Memory Cards',
											href: 'clocks'
										},
										{
											itemListName: 'External Hard Drives',
											href: 'clocks'
										},
										{
											itemListName: 'SSD',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Networking',
									itemListIn: [
										{
											itemListName: 'Wireless Routers',
											href: 'clocks'
										},
										{
											itemListName: 'Network Cards',
											href: 'clocks'
										},
										{
											itemListName: '3G Modems',
											href: 'clocks'
										},
										{
											itemListName: 'Modem-Router Combos',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Chevrolet',
									itemListIn: [
										{
											itemListName: 'Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Gaming Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Tablets',
											href: 'clocks'
										},
										{
											itemListName: '2 in 1 Tablets',
											href: 'clocks'
										},
										{
											itemListName: 'Phone Call Tablets',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Иномарки',
									itemListIn: [
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Fire Protection',
											href: 'clocks'
										},
										{
											itemListName: 'Workplace Safety Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Alarm & Sensor',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Office Electronics',
									itemListIn: [
										{
											itemListName: 'Printer Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Office & School Supplies',
											href: 'clocks'
										},
										{
											itemListName: '3D Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Scanners',
											href: 'clocks'
										}
									]
								},
							],
							brandsList: [
								{
									href: '#',
									src: require('@/assets/images/categorys-logo7.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo6.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo5.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo4.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo3.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo2.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo12.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo11.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo10.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo9.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo8.png')
								},
							]
						},
						{
							icon: 'stethoscope',
							text: 'Для Здоровья',
							href: 'electronics',
							itemsList: [
								{
									itemListTitle: 'Chevrolet',
									itemListIn: [
										{
											itemListName: 'Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Gaming Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Tablets',
											href: 'clocks'
										},
										{
											itemListName: '2 in 1 Tablets',
											href: 'clocks'
										},
										{
											itemListName: 'Phone Call Tablets',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Иномарки',
									itemListIn: [
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Fire Protection',
											href: 'clocks'
										},
										{
											itemListName: 'Workplace Safety Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Alarm & Sensor',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Office Electronics',
									itemListIn: [
										{
											itemListName: 'Printer Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Office & School Supplies',
											href: 'clocks'
										},
										{
											itemListName: '3D Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Scanners',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Laptop Accessories',
									itemListIn: [
										{
											itemListName: 'Laptop Bags & Cases',
											href: 'clocks'
										},
										{
											itemListName: 'Laptop Batteries',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet Accessories',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet LCD Screens',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Storage Devices',
									itemListIn: [
										{
											itemListName: 'USB Flash Drives',
											href: 'clocks'
										},
										{
											itemListName: 'Memory Cards',
											href: 'clocks'
										},
										{
											itemListName: 'External Hard Drives',
											href: 'clocks'
										},
										{
											itemListName: 'SSD',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Networking',
									itemListIn: [
										{
											itemListName: 'Wireless Routers',
											href: 'clocks'
										},
										{
											itemListName: 'Network Cards',
											href: 'clocks'
										},
										{
											itemListName: '3G Modems',
											href: 'clocks'
										},
										{
											itemListName: 'Modem-Router Combos',
											href: 'clocks'
										}
									]
								}
							],
							brandsList: [
								{
									href: '#',
									src: require('@/assets/images/categorys-logo12.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo11.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo10.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo9.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo8.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo7.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo6.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo5.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo4.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo3.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo2.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo.png')
								}
							]
						},
						{
							icon: 'home',
							text: 'Дом и дача',
							href: 'electronics',
							itemsList: [
								{
									itemListTitle: 'Laptop Accessories',
									itemListIn: [
										{
											itemListName: 'Laptop Bags & Cases',
											href: 'clocks'
										},
										{
											itemListName: 'Laptop Batteries',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet Accessories',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet LCD Screens',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Storage Devices',
									itemListIn: [
										{
											itemListName: 'USB Flash Drives',
											href: 'clocks'
										},
										{
											itemListName: 'Memory Cards',
											href: 'clocks'
										},
										{
											itemListName: 'External Hard Drives',
											href: 'clocks'
										},
										{
											itemListName: 'SSD',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Networking',
									itemListIn: [
										{
											itemListName: 'Wireless Routers',
											href: 'clocks'
										},
										{
											itemListName: 'Network Cards',
											href: 'clocks'
										},
										{
											itemListName: '3G Modems',
											href: 'clocks'
										},
										{
											itemListName: 'Modem-Router Combos',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Chevrolet',
									itemListIn: [
										{
											itemListName: 'Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Gaming Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Tablets',
											href: 'clocks'
										},
										{
											itemListName: '2 in 1 Tablets',
											href: 'clocks'
										},
										{
											itemListName: 'Phone Call Tablets',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Иномарки',
									itemListIn: [
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Fire Protection',
											href: 'clocks'
										},
										{
											itemListName: 'Workplace Safety Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Alarm & Sensor',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Office Electronics',
									itemListIn: [
										{
											itemListName: 'Printer Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Office & School Supplies',
											href: 'clocks'
										},
										{
											itemListName: '3D Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Scanners',
											href: 'clocks'
										}
									]
								},
							],
							brandsList: [
								{
									href: '#',
									src: require('@/assets/images/categorys-logo7.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo6.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo5.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo4.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo3.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo2.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo12.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo11.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo10.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo9.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo8.png')
								},
							]
						},
						{
							icon: 'cat',
							text: 'Для Животных',
							href: 'electronics',
							itemsList: [
								{
									itemListTitle: 'Chevrolet',
									itemListIn: [
										{
											itemListName: 'Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Gaming Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Tablets',
											href: 'clocks'
										},
										{
											itemListName: '2 in 1 Tablets',
											href: 'clocks'
										},
										{
											itemListName: 'Phone Call Tablets',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Иномарки',
									itemListIn: [
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Fire Protection',
											href: 'clocks'
										},
										{
											itemListName: 'Workplace Safety Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Alarm & Sensor',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Office Electronics',
									itemListIn: [
										{
											itemListName: 'Printer Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Office & School Supplies',
											href: 'clocks'
										},
										{
											itemListName: '3D Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Scanners',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Laptop Accessories',
									itemListIn: [
										{
											itemListName: 'Laptop Bags & Cases',
											href: 'clocks'
										},
										{
											itemListName: 'Laptop Batteries',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet Accessories',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet LCD Screens',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Storage Devices',
									itemListIn: [
										{
											itemListName: 'USB Flash Drives',
											href: 'clocks'
										},
										{
											itemListName: 'Memory Cards',
											href: 'clocks'
										},
										{
											itemListName: 'External Hard Drives',
											href: 'clocks'
										},
										{
											itemListName: 'SSD',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Networking',
									itemListIn: [
										{
											itemListName: 'Wireless Routers',
											href: 'clocks'
										},
										{
											itemListName: 'Network Cards',
											href: 'clocks'
										},
										{
											itemListName: '3G Modems',
											href: 'clocks'
										},
										{
											itemListName: 'Modem-Router Combos',
											href: 'clocks'
										}
									]
								}
							],
							brandsList: [
								{
									href: '#',
									src: require('@/assets/images/categorys-logo12.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo11.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo10.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo9.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo8.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo7.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo6.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo5.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo4.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo3.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo2.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo.png')
								}
							]
						},
						{
							icon: 'signal',
							text: 'Оборудование',
							href: 'electronics',
							itemsList: [
								{
									itemListTitle: 'Laptop Accessories',
									itemListIn: [
										{
											itemListName: 'Laptop Bags & Cases',
											href: 'clocks'
										},
										{
											itemListName: 'Laptop Batteries',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet Accessories',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet LCD Screens',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Storage Devices',
									itemListIn: [
										{
											itemListName: 'USB Flash Drives',
											href: 'clocks'
										},
										{
											itemListName: 'Memory Cards',
											href: 'clocks'
										},
										{
											itemListName: 'External Hard Drives',
											href: 'clocks'
										},
										{
											itemListName: 'SSD',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Networking',
									itemListIn: [
										{
											itemListName: 'Wireless Routers',
											href: 'clocks'
										},
										{
											itemListName: 'Network Cards',
											href: 'clocks'
										},
										{
											itemListName: '3G Modems',
											href: 'clocks'
										},
										{
											itemListName: 'Modem-Router Combos',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Chevrolet',
									itemListIn: [
										{
											itemListName: 'Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Gaming Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Tablets',
											href: 'clocks'
										},
										{
											itemListName: '2 in 1 Tablets',
											href: 'clocks'
										},
										{
											itemListName: 'Phone Call Tablets',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Иномарки',
									itemListIn: [
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Fire Protection',
											href: 'clocks'
										},
										{
											itemListName: 'Workplace Safety Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Alarm & Sensor',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Office Electronics',
									itemListIn: [
										{
											itemListName: 'Printer Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Office & School Supplies',
											href: 'clocks'
										},
										{
											itemListName: '3D Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Scanners',
											href: 'clocks'
										}
									]
								},
							],
							brandsList: [
								{
									href: '#',
									src: require('@/assets/images/categorys-logo7.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo6.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo5.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo4.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo3.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo2.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo12.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo11.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo10.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo9.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo8.png')
								},
							]
						},
						{
							icon: 'guitar',
							text: 'Досуг',
							href: 'electronics',
							itemsList: [
								{
									itemListTitle: 'Chevrolet',
									itemListIn: [
										{
											itemListName: 'Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Gaming Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Tablets',
											href: 'clocks'
										},
										{
											itemListName: '2 in 1 Tablets',
											href: 'clocks'
										},
										{
											itemListName: 'Phone Call Tablets',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Иномарки',
									itemListIn: [
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Fire Protection',
											href: 'clocks'
										},
										{
											itemListName: 'Workplace Safety Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Alarm & Sensor',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Office Electronics',
									itemListIn: [
										{
											itemListName: 'Printer Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Office & School Supplies',
											href: 'clocks'
										},
										{
											itemListName: '3D Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Scanners',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Laptop Accessories',
									itemListIn: [
										{
											itemListName: 'Laptop Bags & Cases',
											href: 'clocks'
										},
										{
											itemListName: 'Laptop Batteries',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet Accessories',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet LCD Screens',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Storage Devices',
									itemListIn: [
										{
											itemListName: 'USB Flash Drives',
											href: 'clocks'
										},
										{
											itemListName: 'Memory Cards',
											href: 'clocks'
										},
										{
											itemListName: 'External Hard Drives',
											href: 'clocks'
										},
										{
											itemListName: 'SSD',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Networking',
									itemListIn: [
										{
											itemListName: 'Wireless Routers',
											href: 'clocks'
										},
										{
											itemListName: 'Network Cards',
											href: 'clocks'
										},
										{
											itemListName: '3G Modems',
											href: 'clocks'
										},
										{
											itemListName: 'Modem-Router Combos',
											href: 'clocks'
										}
									]
								}
							],
							brandsList: [
								{
									href: '#',
									src: require('@/assets/images/categorys-logo12.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo11.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo10.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo9.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo8.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo7.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo6.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo5.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo4.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo3.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo2.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo.png')
								}
							]
						},
						{
							icon: 'diagram',
							text: 'Аукционы',
							href: 'electronics',
							itemsList: [
								{
									itemListTitle: 'Laptop Accessories',
									itemListIn: [
										{
											itemListName: 'Laptop Bags & Cases',
											href: 'clocks'
										},
										{
											itemListName: 'Laptop Batteries',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet Accessories',
											href: 'clocks'
										},
										{
											itemListName: 'Tablet LCD Screens',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Storage Devices',
									itemListIn: [
										{
											itemListName: 'USB Flash Drives',
											href: 'clocks'
										},
										{
											itemListName: 'Memory Cards',
											href: 'clocks'
										},
										{
											itemListName: 'External Hard Drives',
											href: 'clocks'
										},
										{
											itemListName: 'SSD',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Networking',
									itemListIn: [
										{
											itemListName: 'Wireless Routers',
											href: 'clocks'
										},
										{
											itemListName: 'Network Cards',
											href: 'clocks'
										},
										{
											itemListName: '3G Modems',
											href: 'clocks'
										},
										{
											itemListName: 'Modem-Router Combos',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Chevrolet',
									itemListIn: [
										{
											itemListName: 'Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Gaming Laptops',
											href: 'clocks'
										},
										{
											itemListName: 'Tablets',
											href: 'clocks'
										},
										{
											itemListName: '2 in 1 Tablets',
											href: 'clocks'
										},
										{
											itemListName: 'Phone Call Tablets',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Иномарки',
									itemListIn: [
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Surveillance Products',
											href: 'clocks'
										},
										{
											itemListName: 'Fire Protection',
											href: 'clocks'
										},
										{
											itemListName: 'Workplace Safety Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Alarm & Sensor',
											href: 'clocks'
										}
									]
								},
								{
									itemListTitle: 'Office Electronics',
									itemListIn: [
										{
											itemListName: 'Printer Supplies',
											href: 'clocks'
										},
										{
											itemListName: 'Office & School Supplies',
											href: 'clocks'
										},
										{
											itemListName: '3D Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Printers',
											href: 'clocks'
										},
										{
											itemListName: 'Scanners',
											href: 'clocks'
										}
									]
								},
							],
							brandsList: [
								{
									href: '#',
									src: require('@/assets/images/categorys-logo7.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo6.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo5.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo4.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo3.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo2.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo12.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo11.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo10.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo9.png')
								},
								{
									href: '#',
									src: require('@/assets/images/categorys-logo8.png')
								},
							]
						}
					]
				},
				secondaryCategory: [
					{
						href: 'electronics',
						text: 'Женская одежда'
					}, {
						href: 'electronics',
						text: 'Мужская одежда'
					},
					{
						href: 'electronics',
						text: 'Аксессуары'
					},
					{
						href: 'electronics',
						text: 'Недвижимость'
					},
					{
						href: 'electronics',
						text: 'Цифровые товары'
					},
					{
						href: 'electronics',
						text: 'Книги'
					},
					{
						href: 'electronics',
						text: 'Акссесуары'
					}
				],
				brandList: [
					{
						href: '#',
						src: require('../assets/images/zara-logo.png')
					},
					{
						href: '#',
						src: require('../assets/images/ray-ban-logo.png')
					},
					{
						href: '#',
						src: require('../assets/images/lacoste-logo.png')
					},
					{
						href: '#',
						src: require('../assets/images/converse-logo.png')
					},
				],
				stockBg: require('../assets/images/stock-bg.jpg')
			}
		},
		methods: {
			getTargetName (event) {
				this.currentCategoryIndex = event.target.getAttribute('data-target')
			},
			menuToggle () {
				this.$store.state.menuToggle = !this.$store.state.menuToggle
			}
		},
		components: {
			appSvgIcon: SvgIcon
		}
	}
</script>
<style>
	
</style>