<template>
	<div class="checkbox">
		<input class="checkbox-input input-hidden" v-if="check" :type="type" :name="name" :id="id" :checked="checked">
		<label class="checkbox-label align-items-start" :for="id">
			<span class="checkbox-pseudo">
				<app-svg-icon name="check"/>
			</span>
			<span class="checkbox-txt ml-2" :class="{'d-none': !content}" v-if="content">{{ content }}</span>
			<template v-if="hasSlotData">
				<span class="checkbox-txt ml-2 flex-grow-1"><slot></slot></span>
			</template>
		</label>
	</div>
</template>
<script>
	import SvgIcon from '../components/SvgIcon.vue'
	export default {
		name: 'Checkbox',
		props: {
			type: {
				type: String,
			},
			name: {
				type: String
			},
			id: {
				type: String
			},
			content: {
				type: String,
				default: ''
			},
			checked: {
				type: Boolean
			},
			check: {
				type: Boolean,
				default: true
			}
		},
		data () {
			return {

			}
		},
		computed: {
			hasSlotData() {
				return this.$slots.default;
			}
		},
		components: {
			appSvgIcon: SvgIcon
		}
	}
</script>
<style lang="scss" scoped>
</style>