<template>
	<div>
		<slot></slot>
		<div :class="{'d-none': toggle}">
			<slot name="collapse"></slot>
		</div>
		<div :class="btnWrapClass">
			<a class="button button_oval" :class="btnClass" href="#" @click.prevent="toggle = !toggle">{{ btnTxt }}</a>
		</div>
	</div>
</template>
<script>
	export default {
		name: 'contentToggle',
		props: {
			btnTxt: {
				type: String,
				default: 'Подробнее'
			},
			btnWrapClass: {
				type: String,
				default: ''
			},
			btnClass: {
				type: String,
				default: ''
			}
		},
		data () {
			return {
				toggle: true
			}
		}
	}
</script>
<style lang="css" scoped>
</style>