<template>
	<div class="count-input position-relative d-flex flex-nowrap">
		<div>
			<input class="count-input__input form-control" type="number" value="1" v-model="value">
		</div>
		<div class="flex-shrink-0 d-flex flex-column">
			<button class="count-input__btn count-input__btn_plus button-clr flex-grow-1" type="button" @click="value++">
				<app-svg-icon name="input-plus" />
			</button>
			<button class="count-input__btn count-input__btn_minus button-clr flex-grow-1" type="button" @click="value <= 1 ? value = 1 : value--">
				<app-svg-icon name="minus" />
			</button>
		</div>
	</div>
</template>

<script>
	import SvgIcon from '../components/SvgIcon.vue'
	export default {

		name: 'countInput',

		data () {
			return {
				value: 1
			}
		},
		components: {
			appSvgIcon: SvgIcon
		}
	}
</script>

<style lang="scss" scoped>
</style>