<template>
	<div class="count-points">
		<div class="count-points-head">
			<button class="count-points-plus count-points-btn button-clr" type="button" @click="[count++, checkVal()]">
				<app-svg-icon name="plus" />
			</button>
		</div>
		<div class="count-points-body">
			<input class="count-points-result" ref="result" :value="count">
		</div>
		<div class="count-points-foot">
			<button class="count-points-minus count-points-btn button-clr" type="button" @click="[count--, checkVal()]">
				<app-svg-icon class="svg-icon_reverse" name="minus" />
			</button>
		</div>
	</div>
</template>

<script>
	import svgIcon from '../components/SvgIcon.vue'
	export default {

		name: 'count-points',
		props: {
			countVal: {
				type: Number,
				default: 0
			}
		},
		data () {
			return {
				count: this.countVal
			}
		},
		methods: {
			checkVal () {
				if ( this.count > 0 ) {
					this.$refs.result.classList.remove('negative')
					this.$refs.result.classList.add('positive')
				} else if ( this.count < 0 ) {
					this.$refs.result.classList.remove('positive')
					this.$refs.result.classList.add('negative')
				} else {
					this.$refs.result.classList.remove('positive')
					this.$refs.result.classList.remove('negative')
				}
			}
		},
		mounted () {
			this.checkVal()
		},
		components: {
			appSvgIcon: svgIcon
		}
	}
</script>

<style lang="css" scoped>
</style>