<template>
	<div class="dropdown"
		v-click-outside="closeDrop">
		<span
			class="dropdown-toggle-btn d-flex flex-nowrap align-items-center"
			@click="isOpen = !isOpen">
			<span ref="dropdownToggle" class="mr-2 nowrap"> {{ dropdownData.placeholder }} </span>
			<app-svg-icon class="ml-auto flex-shrink-0" :name="dropdownData.icon"/>
		</span>
		<div 
			class="dropdown-drop"
			:class="{isOpen}">
			<template>
				<ul class="dropdown-list list-unstyled mb-0">
					<li
						class="dropdown-list-item"
						v-for="(item, index) in dropdownData.items"
						:key="index">
						<a 
							class="dropdown-list-link"
							:href="item.url"
							@click.prevent="changeName($event)">
							{{ item.name }}</a>
					</li>
				</ul>
			</template>
		</div>
	</div>
</template>
<script>
	import SvgIcon from './SvgIcon.vue'
	export default {
		props: ['dropdown-data'],
		data() {
			return {
				isOpen: false
			};
		},
		methods: {
			changeName (event) {
				let toggleTxt = event.target.innerText;
				this.$refs.dropdownToggle.innerHTML = toggleTxt
			},
			closeDrop: function() {
				this.isOpen = false
			},
		},
		components: {
			appSvgIcon: SvgIcon
		},
		directives: {
		}
	}
</script>
<style lang="scss">
</style>