<template>
	<div class="dropdown"
		v-click-outside="closeDrop">
		<a class="personal-link"
			@click.prevent="isOpen = !isOpen"
			href="#">
			<template v-if="hasToggleContentSlot">
				<slot name="togglecontent"></slot>
			</template>
			<template v-else>
				<app-svg-icon class="personal-link__icon" :name="dropdownData.icon"/>
				<template v-if="dropdownData.placeholder">
					<span class="personal-link__name">{{ dropdownData.placeholder }}</span>
				</template>
			</template>
		</a>
		<div class="dropdown-drop" :class="{isOpen}">
			<div class="dropdown-drop__body">
				<slot></slot>
			</div>
			<slot name="footer"></slot>
		</div>
	</div>
</template>
<script>

	import SvgIcon from './SvgIcon.vue'
	export default {
		props: ['dropdown-data'],
		data() {
			return {
				isOpen: false
			};
		},
		methods: {
			closeDrop: function() {
				this.isOpen = false
			},
		},
		computed: {
			hasToggleContentSlot () {
				return !!this.$slots['togglecontent']
			}
		},
		components: {
			appSvgIcon: SvgIcon
		}
	}
</script>
<style></style>