<template>
	<button class="button-favourite button-clr" type="button" :class="{active: favour}" @click="favour = !favour">
		<app-svg-icon name="heart" />
	</button>
</template>

<script>
	import SvgIcon from '../components/SvgIcon.vue'
	export default {

		name: 'favourite',

		data () {
			return {
				favour: false
			}
		},
		components: {
			appSvgIcon: SvgIcon
		}
	}
</script>

<style lang="scss" scoped>
</style>