<template>
	<div class="footer">
		<div class="footer-head">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="column">
						<ul class="row align-items-center list-unstyled mb-0">
							<li class="column">
								<app-dropdown class="dropdown_small dropdown_footer" :dropdown-data="footerHeadData.currencyList"/>
							</li>
							<li class="column">
								<app-dropdown class="dropdown_small dropdown_footer" :dropdown-data="footerHeadData.langList"/>
							</li>
						</ul>
					</div>
					<div class="column ml-auto">
						<ul class="row row_indents_m list-unstyled mb-0">
							<li class="column" v-for="(social, index) in socials" :key="index">
								<a class="social-link" :href="social.url">
									<app-svg-icon :name="social.icon"/>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-nav">
			<div class="container-fluid">
				<ul class="row justify-content-between list-unstyled mb-0">
					<li class="column mb-4" v-for="(listItem, index) in footerMenu" :key="index">
						<h6 @click="isOpen = !isOpen">{{ listItem.title }}</h6>
						<div class="collapse show">
							<ul class="list-unstyled mb-0">
								<li v-for="(linkItem, index) in listItem.menuIn" :key="index">
									<a :href="linkItem.url">{{linkItem.name}}</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer-copy pb-4">
			<div class="container-fluid">
				<hr class="devider mt-0 mb-4">
				<div class="row align-items-center pt-2 pb-2">
					<div class="footer-copy column mr-xl-5">© 2019 Buynow</div>
					<div class="column ml-xl-5">
						<ul class="row row_indents_m list-unstyled mb-0">
							<li class="column"><a href="#">Политика конфиденциальности</a></li>
							<li class="column"><a href="#">Условия</a></li>
						</ul>
					</div>
					<div class="column ml-auto">
						<div class="row row_indents_s">
							<div class="column">
								<a class="d-block" href="#">
									<img src="../assets/images/App-Store.png" alt="">
								</a>
							</div>
							<div class="column">
								<a class="d-block" href="#">
									<img src="../assets/images/GP.png" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import Dropdown from '../components/Dropdown.vue'
	import SvgIcon from '../components/SvgIcon.vue'
	export default {
		props: ['footerHeadData'],
		data () {
			return {
				isOpen: false,
				socials: [
					{
						url: '#',
						icon: 'fb'
					},
					{
						url: '#',
						icon: 'insta'
					},
					{
						url: '#',
						icon: 'tw'
					},
				],
				footerMenu: [
					{
						title: 'Ссылки',
						menuIn: [
							{
								name: 'Корзина',
								url: '#'
							},
							{
								name: 'Личный кабинет',
								url: '#'
							},
							{
								name: 'Вы смотрели',
								url: '#'
							},
							{
								name: 'Мой магазин',
								url: '#'
							},
							{
								name: 'Бонусы',
								url: '#'
							}
						]
					},
					{
						title: 'Company',
						menuIn: [
							{
								name: 'О нас',
								url: '#'
							},
							{
								name: 'Магазин',
								url: '#'
							},
							{
								name: 'Вакансии',
								url: '#'
							}
						]
					},
					{
						title: 'Партнерство',
						menuIn: [
							{
								name: 'Реферальная программа',
								url: '#'
							},
							{
								name: 'Реклама',
								url: '#'
							},
							{
								name: 'Другие программы',
								url: '#'
							}
						]
					},
					{
						title: 'Как купить',
						menuIn: [
							{
								name: 'Оплата',
								url: '#'
							},
							{
								name: 'Вырианты доставки',
								url: '#'
							},
							{
								name: 'Защита покупателя',
								url: '#'
							}
						]
					},
					{
						title: 'Ресурсы',
						menuIn: [
							{
								name: 'Новости',
								url: '#'
							},
							{
								name: 'База знаний',
								url: '#'
							}
						]
					},
					{
						title: 'Помощь',
						menuIn: [
							{
								name: 'Контакты',
								url: '#'
							},
							{
								name: 'FAQ',
								url: '#'
							},
							{
								name: 'Политика',
								url: '#'
							}
						]
					},
				]
			}
		},
		methods: {
			collapse () {

			}
		},
		components: {
			appDropdown: Dropdown,
			appSvgIcon: SvgIcon
		}
	}
</script>
<style lang="scss">
	.social-link {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		font-size: 20px;
		color: rgba(40, 47, 54, 0.3);
		border: 1px solid rgba(40, 47, 54, 0.15);
		border-radius: 50%;
		transition: linear .1s;
		.svg-icon {
			flex-shrink: 0;
		}
		&:hover {
			transform: scale(1.1, 1.1);
		}
	}
	.footer {
		font-size: 14px;
		.dropdown-toggle-btn {
			font-size: 14px;
		}
	}
	.footer-nav {
		padding: 45px 0 25px;
		h6 {
			font-size: 14px;
			line-height: 20px;
			color: #282F36;
			margin-bottom: 15px;
			text-transform: none;
			font-weight: 700;
			letter-spacing: normal;
		}
		a {
			display: inline-block;
			padding: 5px 0;
			font-size: 14px;
			line-height: 20px;
			color: rgba(40, 47, 54, 0.8);
		}
	}
	.footer-copy {
		a {
			display: inline-block;
			font-size: 14px;
			line-height: 20px;
			color: rgba(40, 47, 54, 0.8);
		}
	}
	.footer-copy {
		font-size: 14px;
		line-height: 20px;
		color: rgba(40, 47, 54, 0.5);
	}
	.dropdown_footer {
		.dropdown-list {
			padding: 15px;
		}
	}
</style>