<template>
	<div class="ads-card-box wrap d-flex flex-column flex-grow-1">
		<div class="ads-card-img-wrap position-relative text-center">
			<img :src="dataObject.goodImg" alt="">
		</div>
		<div class="ads-card-body flex-grow-1">
			<h4 class="ads-card-price mb-2">{{ dataObject.largeTitle }}</h4>
			<div class="title-h5 color-dark-80 mb-3">{{ dataObject.titleDescr }}</div>
			<div class="ads-card-info">
				<div class="row row_indents_s justify-content-between">
					<div class="column color-grey-4">Дата создания {{ dataObject.startEventDate }}</div>
					<div class="column color-grey-dark">{{ dataObject.coupons }} из {{ dataObject.couponsTotal }}</div>
				</div>
				<div class="d-flex flex-nowrap align-items-center mt-3 color-blue">
					<app-svg-icon class="flex-shrink-0 font-size-18" name="time" />
					<span class="ml-2 text-small">{{ dataObject.eventDate }}</span>
				</div>
			</div>
		</div>
		<div class="ads-card-foot" :class="{'ads-card-foot_border-top-none': type == 'buyer'}">
			<div class="row row_indents_m align-items-center justify-content-end" v-if="!type">
				<div class="column">
					<a class="d-inline-block color-gray-2" href="#">
						<app-svg-icon name="eye-2" />
					</a>
				</div>
				<div class="column">
					<a class="d-inline-block color-gray-2" href="#">
						<app-svg-icon name="garbage" />
					</a>
				</div>
			</div>
			<a class="button-regular button-regular_style_1" href="#" v-if="type == 'buyer'">Забрать</a>
		</div>
	</div>
</template>

<script>
	import SvgIcon from "../components/SvgIcon.vue"
	export default {
		name: 'goodCardCoupons',
		props: {
			dataObject: {
				type: Object
			},
			type: {
				type: String
			}
		},
		data () {
			return {

			}
		},
		components: {
			appSvgIcon: SvgIcon,
			// appDropdownMulti: Dropdown
		}
	}
</script>

<style lang="scss" scoped>
</style>