<template>
	<div class="ads-card-box wrap d-flex flex-column flex-grow-1">
		<div class="ads-card-img-wrap position-relative text-center">
			<img :src="dataObject.goodImg" alt="">
		</div>
		<div class="ads-card-body pl-3 pr-3 flex-grow-1">
			<h4 class="ads-card-price mb-2">{{ dataObject.largeTitle }}</h4>
			<div class="title-h5 color-dark-80 mb-3">{{ dataObject.titleDescr }}</div>
			<div class="d-flex flex-nowrap align-items-center color-blue">
				<app-svg-icon class="flex-shrink-0" name="time" />
				<span class="ml-2 text-small">{{ dataObject.lotDate }}</span>
			</div>
		</div>
		<div class="ads-card-foot">
			<div class="row row_indents_m align-items-center justify-content-end">
				<div class="column">
					<a class="d-inline-block color-gray-2" href="#">
						<app-svg-icon name="garbage" />
					</a>
				</div>
				<div class="column">
					<app-dropdown-multi class="dropdown_shop-card-features pt-0 pb-0">
						<template v-slot:togglecontent>
							<app-svg-icon class="shop-card-icon color-grey svg-icon_reverse_90" name="dots" />
						</template>
						<ul class="shop-card-features-list list-unstyled mb-0">
							<li v-for="(item, index) in dataObject.subMenu" :key="index">
								<router-link :to="{name: item.url}">{{item.text}}</router-link>
							</li>
						</ul>
					</app-dropdown-multi>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import SvgIcon from "../components/SvgIcon.vue"
	import Dropdown from "../components/dropdownMulti.vue"
	export default {
		name: 'goodCardLots',
		props: {
			dataObject: {
				type: Object
			},
		},
		data () {
			return {

			}
		},
		components: {
			appSvgIcon: SvgIcon,
			appDropdownMulti: Dropdown
		}
	}
</script>

<style lang="scss" scoped>
</style>