<template>
	<div class="ads-card-box wrap d-flex flex-column flex-grow-1">
		<div class="ads-card-img-wrap position-relative text-center">
			<div class="ads-card-rate" v-if="dataObject.rate">
				<div class="rate rate_green_dark mb-1">{{ dataObject.rate }}</div>
				<div>
					<a class="color-dark-50 extra-small" href="#">{{ dataObject.reviewsSummary }} отзывов</a>
				</div>
			</div>
			<img :src="dataObject.goodImg" alt="">
		</div>
		<div class="ads-card-body flex-grow-1">
			<div class="ads-card-category mb-1" v-if="!type">{{ dataObject.category }}</div>
			<h4 class="ads-card-price mb-2">{{ dataObject.largeTitle }}</h4>
			<div class="row row_indents_s justify-content-between text-small color-grey-dark mb-2" v-if="type == 'quiz'">
				<div class="column">
					<a class="color-grey-dark" href="#">{{ dataObject.questions }} вопросов</a>
				</div>
				<div class="column">{{ dataObject.questionsDate }}</div>
			</div>
			<div class="title-h5 mb-3" :class="{'color-dark-80': type && type != 'quiz', 'mb-4': type != 'coupons'}">{{ dataObject.titleDescr }}</div>
			<div class="ads-card-info">
				<div class="color-grey-dark" v-if="type == 'quiz'">{{ dataObject.members }} из {{ dataObject.membersTotal }} участников проголосовало</div>
				<div class="row row_indents_s justify-content-between" v-if="!type">
					<div class="column">Продано {{ dataObject.soldGoods }} из {{ dataObject.totalGoods }}</div>
					<div class="ads-card-info-views column d-flex align-items-center">
						<app-svg-icon name="eye-2"/>
						<span class="ml-1">{{ dataObject.views }}</span>
					</div>
				</div>
				<div class="row row_indents_s justify-content-between" v-if="type == 'coupons'">
					<div class="column color-grey-4">Дата создания {{ dataObject.startEventDate }}</div>
					<div class="column color-grey-dark">{{ dataObject.coupons }} из {{ dataObject.couponsTotal }}</div>
				</div>
				<div class="d-flex flex-nowrap align-items-center mt-3 color-blue" v-if="type == 'coupons'">
					<app-svg-icon class="flex-shrink-0 font-size-18" name="time" />
					<span class="ml-2 text-small">{{ dataObject.eventDate }}</span>
				</div>
			</div>
		</div>
		<div class="ads-card-foot">
			<div class="row row_indents_m align-items-center justify-content-end">
				<div class="column" v-if="type && !(type == 'event')">
					<a class="d-inline-block color-gray-2" href="#">
						<app-svg-icon name="eye-2" />
					</a>
				</div>
				<div class="column mr-auto" v-if="type == 'event'">
					<div class="d-flex flex-nowrap align-items-center color-blue">
						<app-svg-icon class="flex-shrink-0" name="time" />
						<span class="ml-2 text-small">{{ dataObject.eventDate }}</span>
					</div>
				</div>
				<div class="column" v-if="!type">
					<a class="d-inline-block color-gray-2" href="#">
						<app-svg-icon name="pencil" />
					</a>
				</div>
				<div class="column">
					<a class="d-inline-block color-gray-2" href="#">
						<app-svg-icon name="garbage" />
					</a>
				</div>
				<div class="column" v-if="!type">
					<app-dropdown-multi class="dropdown_shop-card-features pt-0 pb-0">
						<template v-slot:togglecontent>
							<app-svg-icon class="shop-card-icon color-grey" name="dots" />
						</template>
						<ul class="shop-card-features-list list-unstyled mb-0">
							<li><a href="#">Открыть</a></li>
							<li><a href="#">Редактировать</a></li>
							<li><a href="#">Продвигать</a></li>
							<li><a href="#">Создать купон</a></li>
							<li><a href="#">Создать акцию</a></li>
							<li><a href="#">Удалить</a></li>
						</ul>
					</app-dropdown-multi>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import SvgIcon from "../components/SvgIcon.vue"
	import Dropdown from "../components/dropdownMulti.vue"
	export default {
		name: 'goodCard',
		props: {
			dataObject: {
				type: Object
			},
			type: {
				type: String
			}
		},
		data () {
			return {

			}
		},
		components: {
			appSvgIcon: SvgIcon,
			appDropdownMulti: Dropdown
		}
	}
</script>

<style lang="scss" scoped>
</style>