<template>
	<div class="ads-card-box wrap d-flex flex-column flex-grow-1">
		<div class="ads-card-img-wrap position-relative text-center">
			<img :src="dataObject.goodImg" alt="">
		</div>
		<div class="ads-card-body flex-grow-1">
			<h4 class="ads-card-price mb-2">{{ dataObject.largeTitle }}</h4>
			<div class="row row_indents_s justify-content-between text-small color-grey-dark mb-2">
				<div class="column">
					<a class="color-grey-dark" href="#">{{ dataObject.questions }} вопросов</a>
				</div>
				<div class="column">{{ dataObject.questionsDate }}</div>
			</div>
			<div class="title-h5 mb-3">{{ dataObject.titleDescr }}</div>
			<div class="ads-card-info">
				<div class="color-grey-dark">{{ dataObject.members }} из {{ dataObject.membersTotal }} участников проголосовало</div>
			</div>
		</div>
		<div class="ads-card-foot" :class="{'ads-card-foot_border-top-none': type == 'buyer'}">
			<div class="row row_indents_m align-items-center justify-content-end" v-if="type != 'buyer'">
				<div class="column">
					<a class="d-inline-block color-gray-2" href="#">
						<app-svg-icon class="font-size-24" name="pen-2" />
					</a>
				</div>
				<div class="column">
					<a class="d-inline-block color-gray-2" href="#">
						<app-svg-icon name="garbage" />
					</a>
				</div>
			</div>
			<a class="button-regular button-regular_style_1" href="#" v-if="type == 'buyer'">Участвовать</a>
		</div>
	</div>
</template>

<script>
	import SvgIcon from "../components/SvgIcon.vue"
	// import Dropdown from "../components/dropdownMulti.vue"
	export default {
		name: 'goodCardQuiz',
		props: {
			dataObject: {
				type: Object
			},
			type: {
				type: String
			}
		},
		data () {
			return {

			}
		},
		components: {
			appSvgIcon: SvgIcon,
			// appDropdownMulti: Dropdown
		}
	}
</script>

<style lang="scss" scoped>
</style>