<template>
	<div class="ads-card-box wrap d-flex flex-column flex-grow-1">
		<div class="ads-card-img-wrap position-relative text-center">
			<img :src="dataObject.goodImg" alt="">
		</div>
		<div class="ads-card-body flex-grow-1">
			<h4 class="ads-card-price mb-2">{{ dataObject.largeTitle }}</h4>
			<div class="title-h5 color-dark-80 mb-3">{{ dataObject.titleDescr }}</div>
		</div>
		<div class="ads-card-foot" :class="{'ads-card-foot_border-top-none': type == 'buyer'}">
			<div class="row row_indents_m align-items-center justify-content-end">
				<div class="column mr-auto">
					<div class="d-flex flex-nowrap align-items-center color-blue">
						<app-svg-icon class="flex-shrink-0" name="time" />
						<span class="ml-2 text-small">{{ dataObject.eventDate }}</span>
					</div>
				</div>
				<div class="column" v-if="type != 'buyer'">
					<a class="d-inline-block color-gray-2" href="#">
						<app-svg-icon name="garbage" />
					</a>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import SvgIcon from "../components/SvgIcon.vue"
	// import Dropdown from "../components/dropdownMulti.vue"
	export default {
		name: 'goodCardEvents',
		props: {
			dataObject: {
				type: Object
			},
			type: {
				type: String
			}
		},
		data () {
			return {

			}
		},
		components: {
			appSvgIcon: SvgIcon,
			// appDropdownMulti: Dropdown
		}
	}
</script>

<style lang="scss" scoped>
</style>