<template>
	<div class="container-fluid">
		<div class="row justify-content-end">
			<div class="column">
				<ul class="header-sub row align-items-center list-unstyled mb-0">
					<li>
						<a class="header-sub-link header-sub-link_red d-flex flex-nowrap align-items-center" href="#">
							<app-svg-icon class="flex-shrink-0" name="smartphone"/>
							<span class="ml-2 d-none d-sm-inline-block">Мобильное предложение</span>
						</a>
					</li>
					<li>
						<a class="header-sub-link d-flex flex-nowrap align-items-center" href="#">Помощь</a>
					</li>
					<li>
						<app-dropdown class="dropdown_small" :dropdown-data="data.currencyList"/>
					</li>
					<li>
						<app-dropdown class="dropdown_small" :dropdown-data="data.langList"/>
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>
<script>
	import Dropdown from './Dropdown.vue'
	import SvgIcon from './SvgIcon.vue'
	export default {
		props: ['data'],
		data () {
			return {
			}
		},
		methods: {
		},
		components: {
			appDropdown: Dropdown,
			appSvgIcon: SvgIcon
		}
	}
</script>
<style lang="scss">
</style>