<template>
	<div class="header-search">
		<form action="">
			<div class="header-main__search-row row align-items-center">
				<div class="header-main__search column">
					<div class="position-relative">
						<input class="header-search__input" type="search" placeholder="Искать товар">
						<app-svg-icon class="header-search__icon" name="zoom"/>
						<button class="header-search__submit button-clr" type="submit">
							<app-svg-icon name="right-arrow" />
						</button>
					</div>
				</div>
				<div class="header-main__search-select column">
					<app-dropdown class="dropdown_select" :dropdown-data="categorysList" />
				</div>
			</div>
		</form>
	</div>
</template>
<script>
	import SvgIcon from './SvgIcon.vue'
	import Dropdown from './Dropdown.vue'
	export default {
		data () {
			return {
				categorysList: {
					items: [
						{
							name: 'Категория 1',
							url: '#'
						},
						{
							name: 'Категория 1',
							url: '#'
						},
						{
							name: 'Категория 1',
							url: '#'
						},
						{
							name: 'Категория 1',
							url: '#'
						}
					],
					placeholder: 'Все категории',
					icon: 'arrow-down'
				}
			}
		},
		components: {
			appSvgIcon: SvgIcon,
			appDropdown: Dropdown
		}
	}
</script>
<style lang="scss">
	// @import "~bootstrap/dist/css/bootstrap.css";
	// @import '@/assets/styles/base/_bootstrap-grid';
</style>