<template>
	<div class="header-main">
		<div class="container-fluid">
			<div class="header-main__row row align-items-center">
				<div class="header-main__logo column">
					<a class="logo" href="#">Buynow!</a>
				</div>
				<div class="header-main__others column">
					<div class="row align-items-center justify-content-end justify-content-lg-start flex-lg-nowrap">
						<div class="header-main__search-wrap column" :class="{ visible: headerSearch.isVisible }">
							<app-header-search/>
						</div>
						<div class="column">
							<div class="header-main__links row justify-content-end flex-nowrap align-items-center" v-if="!entered">
							<!-- для незалогинненного пользователя -->
								<div class="header-main__link column">
									<app-dropdown-multi class="dropdown_favorites" :dropdown-data="favorites">
										<div class="dropdown-drop__title">{{ favorites.dropTitle }}</div><br>
										{{ favorites.dropText }}
									</app-dropdown-multi>
								</div>
								<div class="header-main__link column">
									<app-dropdown-multi class="dropdown_notif" :dropdown-data="notifications">
										<div class="dropdown-drop__title">{{ notifications.dropTitle }}</div><br>
										{{ notifications.dropText }}
									</app-dropdown-multi>
								</div>
								<div class="header-main__link column">
									<app-dropdown-multi class="dropdown_login" :dropdown-data="autorization">
										<div class="dropdown-drop__head row align-items-center">
											<div class="column">
												<a class="button button-blue" :href="autorization.logInUrl" @click.prevent="showModal('signIn', $event)">Войти</a>
											</div>
											<div class="column">
												<a class="link link_reg" :href="autorization.signUpUrl" @click.prevent="showModal('signUp', $event)">Регистрация</a>
											</div>
										</div>
										<hr class="devider">
										<ul class="dropdown-list list-clr">
											<router-link 
												v-for="(item, index) in autorization.autorizationActions"
												:key="index"
												:to="item.url"
												tag="li"
												class="dropdown-list-item"
												active-class="active">
												<a class="dropdown-list-link">{{ item.placeholder }}</a>
											</router-link>
										</ul>
									</app-dropdown-multi>
								</div>
								<div class="header-main__link column d-lg-none">
									<a class="personal-link" href="#" @click.prevent="headerSearch.isVisible = !headerSearch.isVisible">
										<app-svg-icon class="personal-link__icon" name="zoom"/>
									</a>
								</div>
								<div class="header-main__link column d-lg-none">
									<a class="personal-link" href="#" @click.prevent="menuToggle">
										<app-svg-icon class="personal-link__icon" name="menu"/>
									</a>
								</div>
							</div>
							<div class="header-main__links row justify-content-end flex-nowrap align-items-center" v-else>
								<!-- для внутренних страниц -->
									<div class="header-main__link column">
										<app-dropdown-multi class="dropdown_basket" :dropdown-data="basket">
											<div class="dropdown-drop__title">{{ basket.dropTitle }}</div><br>
											<div class="basket-item position-relative" 
												v-for="(good, index) in basket.goods"
												:key="index"
												:good-id="good.goodId">
												<button class="basket-item__del button-clr" type="button" @click="deleteGood(basket.goods)">
													<app-svg-icon name="close" />
												</button>
												<a class="basket-link" :href="good.url">
													<div class="basket-item__row row flex-nowrap">
														<div class="basket-item__column basket-item__column_img column">
															<div class="basket-item__img-wrap text-center">
																<img :src="good.src" alt="">
															</div>
														</div>
														<div class="basket-item__column column">
															<div class="basket-item__title">{{ good.goodName }}</div>
															<div class="basket-item__price">{{ good.goodPrice + ' ' + good.goodCurrency }}</div>
														</div>
													</div>
												</a>
											</div>
											<template v-slot:footer>
												<div class="dropdown-drop__footer">
													<div class="dropdown-drop__total">Итого: &nbsp; <strong> {{ calcTotalPriceOfGoods }}</strong></div>
													<br>
													<a class="button button-blue button_w100" :href="basket.basketUrl">Перейти в корзину</a>
												</div>
											</template>
										</app-dropdown-multi>
									</div>
									<div class="header-main__link column">
										<app-dropdown-multi class="dropdown_favorites" :dropdown-data="favorites">
											<div class="dropdown-drop__title">{{ favorites.dropTitle }}</div><br>
											<div class="basket-item position-relative" 
												v-for="(favor, index) in favorites.favors"
												:key="index"
												:good-id="favor.goodId">
												<button class="basket-item__del button-clr" type="button" @click="deleteGood(favorites.favors)">
													<app-svg-icon name="close" />
												</button>
												<a class="basket-link" :href="favor.url">
													<div class="basket-item__row row flex-nowrap">
														<div class="basket-item__column basket-item__column_img column">
															<div class="basket-item__img-wrap text-center">
																<img :src="favor.src" alt="">
															</div>
														</div>
														<div class="basket-item__column column">
															<div class="basket-item__title">{{ favor.goodName }}</div>
															<div class="basket-item__price">{{ favor.goodPrice + ' ' + favor.goodCurrency }}</div>
														</div>
													</div>
												</a>
											</div>
											<template v-slot:footer>
												<div class="dropdown-drop__footer">
													<a class="button button-blue button_w100" :href="favorites.favorsUrl">Открыть список</a>
												</div>
											</template>
										</app-dropdown-multi>
									</div>
									<div class="header-main__link column">
										<app-dropdown-multi class="dropdown_notif" :dropdown-data="notifications">
											<div class="dropdown-drop__title">{{ notifications.dropTitle }}</div><br>
											{{ notifications.dropText }}
										</app-dropdown-multi>
									</div>
									<div class="header-main__link column d-lg-none">
										<a class="personal-link" href="#" @click="headerSearch.isVisible = !headerSearch.isVisible">
											<app-svg-icon class="personal-link__icon" name="zoom" />
										</a>
									</div>
									<div class="header-main__link column">
										<app-dropdown-multi class="dropdown_loged" :dropdown-data="autorizationLoged" @close="closeTest()">
											<template v-slot:togglecontent>
												<span class="personal-link__img">
													<img :src="autorizationLoged.userAvatar" alt="">
												</span>
											</template>
											<ul class="dropdown-list list-clr">
												<router-link
													v-for="(action, index) in autorizationLoged.autorizationActions"
													:key="index"
													tag="li"
													:to="action.url"
													active-class="active"
													class="dropdown-list-item">
													<a class="dropdown-list-link">{{ action.placeholder }}</a>
												</router-link>
											</ul>
											<br><br><br><br>
											<hr class="devider">
											<a class="link link_logout" href="#">
												<app-svg-icon class="personal-link__icon" name="logout" />
												<span>Выйти</span>
											</a>
										</app-dropdown-multi>
									</div>
									<div class="header-main__link column d-lg-none">
										<a class="personal-link" href="#" @click.prevent="menuToggle">
											<app-svg-icon class="personal-link__icon" name="menu" />
										</a>
									</div>
								<!-- =================== -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<modal name="signUpPhone" :adaptive="true" :minWidth="280" :maxWidth="380" :height="'auto'" :scrollable="true">
			<div class="modal-in">
				<div class="modal-body">
					<button class="modal-close button-clr" type="button" @click="hideModal('signUpPhone')">
						<app-svg-icon name="close" />
					</button>
					<form>
						<div class="modal-title">Регистрация</div>
						<div class="modal-socials row align-items-center pb-3">
							<div class="column mb-2">Войти с помощью</div>
							<div class="column">
								<ul class="list-unstyled row row_indents_s mb-0">
									<li class="column mb-2" v-for="(social, index) in this.$store.state.modalSocials" :key="index">
										<a :href="social.url">
											<img :src="social.srcImg" alt="">
										</a>
									</li>
								</ul>
							</div>
						</div>
						<input class="modal-input form-control" type="text" placeholder="+998">
						<div class="pt-1">
							<button class="button button-blue button-clr mt-3" @click="hideModal('signUpPhone'), showModal('registerCode', $event)" type="button">Получить код</button>
						</div>
					</form>
				</div>
				<div class="modal-foot">
					Есть аккаунт? <a class="modal-link font-weight-bold" href="#">Войдите</a>
				</div>
			</div>
		</modal>
		<modal name="registerCode" :adaptive="true" :minWidth="280" :maxWidth="380" :height="'auto'" :scrollable="true">
			<div class="modal-in">
				<div class="modal-body">
					<button class="modal-close button-clr" type="button" @click="hideModal('signUpPhone')">
						<app-svg-icon name="close" />
					</button>
					<form>
						<div class="modal-title">Введите код</div>
						<input class="modal-input form-control" type="text">
						<div class="pt-3 mt-1">Код выслан на <strong>+998 90 990 99 99</strong></div>
						<a class="modal-link mt-3" href="#">Получить новый можно через 00:58</a>
						<!-- <a class="modal-link mt-3" href="#">Получить новый код</a> -->
						<!-- <a class="modal-link error mt-3" href="#">Неверный код</a> -->
					</form>
				</div>
				<div class="modal-foot">
					Есть аккаунт? <a class="modal-link font-weight-bold" href="#">Войдите</a>
				</div>
			</div>
		</modal>
		<modal name="signUp" :adaptive="true" :minWidth="280" :maxWidth="380" :height="'auto'" :scrollable="true">
			<div class="modal-in">
				<div class="modal-body">
					<button class="modal-close button-clr" type="button" @click="hideModal('signUp')">
						<app-svg-icon name="close" />
					</button>
					<form>
						<div class="modal-title">Регистрация</div>
						<div class="modal-socials row align-items-center pb-3">
							<div class="column mb-2">Войти с помощью</div>
							<div class="column">
								<ul class="list-unstyled row row_indents_s mb-0">
									<li class="column mb-2" v-for="(social, index) in this.$store.state.modalSocials" :key="index">
										<a :href="social.url">
											<img :src="social.srcImg" alt="">
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="position-relative mb-3">
							<input class="modal-input form-control" type="text" placeholder="Имя">
						</div>
						<div class="position-relative mb-3">
							<input class="modal-input form-control" type="text" placeholder="Email">
						</div>
						<div class="position-relative mb-3">
							<button class="modal-input-icon button-clr" type="button">
								<app-svg-icon name="eye" />
							</button>
							<input class="modal-input form-control" type="password" placeholder="Пароль ( не менее 8 символов )">
						</div>
						<div class="position-relative mb-3">
							<button class="modal-input-icon button-clr" type="button">
								<app-svg-icon name="eye" />
							</button>
							<input class="modal-input form-control" type="password" placeholder="Подтвердите пароль">
						</div>
						<div class="checkbox">
							<input class="checkbox-input input-hidden" type="checkbox" id="condition">
							<label class="checkbox-label" for="condition">
								<span class="checkbox-pseudo">
									<app-svg-icon name="check"/>
								</span>
								<span class="checkbox-txt ml-2">Я согласен с <a class="checkbox-link font-weight-bold" href="#">условиями подписки</a> и обработки <a class="checkbox-link font-weight-bold" href="#">персональных данных</a></span>
							</label>
						</div>
						<div class="pt-1">
							<button class="button button-blue button-clr mt-3" @click="hideModal('signUpPhone'), showModal('registerCode', $event)" type="button">Регистрация</button>
						</div>
					</form>
				</div>
				<div class="modal-foot">
					Есть аккаунт? <a class="modal-link font-weight-bold" href="#" @click.prevent="hideModal('signUp'), showModal('signIn', $event)">Войдите</a>
				</div>
			</div>
		</modal>
		<modal name="signIn" :adaptive="true" :minWidth="280" :maxWidth="380" :height="'auto'" :scrollable="true">
			<div class="modal-in">
				<div class="modal-body">
					<button class="modal-close button-clr" type="button" @click="hideModal('signIn')">
						<app-svg-icon name="close" />
					</button>
					<form>
						<div class="modal-title">Вход</div>
						<div class="modal-socials row align-items-center pb-3">
							<div class="column mb-2">Войти с помощью</div>
							<div class="column">
								<ul class="list-unstyled row row_indents_s mb-0">
									<li class="column mb-2" v-for="(social, index) in this.$store.state.modalSocials" :key="index">
										<a :href="social.url">
											<img :src="social.srcImg" alt="">
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="position-relative mb-3">
							<input class="modal-input form-control" type="text" placeholder="Email или номер телефона">
						</div>
						<div class="position-relative mb-3">
							<button class="modal-input-icon button-clr" type="button">
								<app-svg-icon name="eye" />
							</button>
							<input class="modal-input form-control" type="password" placeholder="Пароль">
						</div>
						<div class="pt-1">
							<button class="button button-blue button-clr" type="button">Войти</button>
							<a class="modal-forget ml-2 mr-2" href="#" @click.prevent="hideModal('signIn'), showModal('restorePass', $event)">Забыли пароль?</a>
						</div>
					</form>
				</div>
				<div class="modal-foot">
					Нет аккаунта? <a class="modal-link font-weight-bold" @click.prevent="hideModal('signIn'), showModal('signUp', $event)" href="#">Зарегистрируйтесь</a>
				</div>
			</div>
		</modal>
		<modal name="restorePass" :adaptive="true" :minWidth="280" :maxWidth="380" :height="'auto'" :scrollable="true">
			<div class="modal-in">
				<div class="modal-body">
					<button class="modal-close button-clr" type="button" @click="hideModal('restorePass')">
						<app-svg-icon name="close" />
					</button>
					<form>
						<div class="modal-title mb-2">Восстановление пароля</div>
						<div class="position-relative mb-3">
							<label class="modal-label mb-3 pb-1" for="restore-input">Введите email на который <br> зарегистрирован ваш аккаунт</label>
							<input class="modal-input form-control" id="restore-input" type="text" placeholder="Email">
						</div>
						<div class="pt-1">
							<button class="button button-blue button-clr" type="button" @click="hideModal('restorePass'), showModal('checkEmail', $event)">Далее</button>
						</div>
					</form>
				</div>
			</div>
		</modal>
		<modal name="checkEmail" :adaptive="true" :minWidth="280" :maxWidth="380" :height="'auto'" :scrollable="true">
			<div class="modal-in">
				<div class="modal-body text-center pt-5 pb-5">
					<div class="pt-5 pb-5">
						<button class="modal-close button-clr" type="button" @click="hideModal('checkEmail')">
							<app-svg-icon name="close" />
						</button>
						<app-svg-icon class="modal-main-icon mb-3" name="envelope-open" />
						<div class="modal-title mb-2 pt-1">Проверьте почту</div>
						<div class="modal-label">На <strong>name@domain.com</strong> отправлена <br> инструкция по сбросу пароля</div>
					</div>
				</div>
			</div>
		</modal>
		<!-- <a class="d-inline-block pl-2 pr-2" href="#" @click.prevent="showModal('newPass', $event)">newPass</a> -->
		<!-- <a class="d-inline-block pl-2 pr-2" href="#" @click.prevent="showModal('registred', $event)">registred</a> -->
		<modal name="newPass" :adaptive="true" :minWidth="280" :maxWidth="380" :height="'auto'" :scrollable="true">
			<div class="modal-in">
				<div class="modal-body">
					<button class="modal-close button-clr" type="button" @click="hideModal('newPass')">
						<app-svg-icon name="close" />
					</button>
					<form>
						<div class="modal-title mb-2">Новый пароль</div>
						<div class="position-relative mb-3">
							<label class="modal-label mb-3 pb-1" for="new-pass-input">Придумайте новый пароль для <br> вашего аккаунта</label>
							<div class="position-relative mb-3">
								<button class="modal-input-icon button-clr" type="button">
									<app-svg-icon name="eye-closed" />
								</button>
								<input class="modal-input form-control" id="new-pass-input" type="password" placeholder="Не менее 8 символов">
							</div>
						</div>
						<div class="pt-1">
							<button class="button button-blue button-clr" type="button">Сохранить & Войти</button>
						</div>
					</form>
				</div>
			</div>
		</modal>
		<modal name="registred" :adaptive="true" :minWidth="280" :maxWidth="380" :height="'auto'" :scrollable="true">
			<div class="modal-in">
				<div class="modal-body text-center pt-5 pb-5">
					<div class="pt-5 pb-5">
						<button class="modal-close button-clr" type="button" @click="hideModal('registred')">
							<app-svg-icon name="close" />
						</button>
						<app-svg-icon class="modal-main-icon mb-3" name="firework" />
						<div class="modal-title mb-2 pt-1">Вы зарегистрировались!</div>
						<div class="modal-label">На <strong>name@domain.com</strong> отправлена <br> инструкция по сбросу пароля</div>
					</div>
				</div>
			</div>
		</modal>
	</div>
</template>
<script>
	import Headersearch from './Headersearch.vue'
	import SvgIcon from './SvgIcon.vue'
	import DropdownMulti from './dropdownMulti.vue'
	export default {
		data () {
			return {
				entered: true,
				basketItem: '',
				headerSearch: {
					isVisible: false
				},
				menu: {
					isVisible: false
				},
				favorites: {
					placeholder: 'Мои желания',
					icon: 'heart',
					dropTitle: 'Избранное',
					dropText: 'Помогает сохранить понравившиеся вам товары и отслеживать изменения в цене, специальные предложения.',
					favorsUrl: '#',
					favors: [
						{
							url: '#',
							src: require('@/assets/images/basket-img.png'),
							goodName: 'Rick Morty Mug – Pickle Rick',
							goodPrice: '210000',
							goodCurrency: 'UZS',
							goodId: 0
						},
						{
							url: '#',
							src: require('@/assets/images/basket-img2.png'),
							goodName: 'Rick Morty Mug – Pickle Rick',
							goodPrice: '14000',
							goodCurrency: 'UZS',
							goodId: 1
						},
					]
				},
				notifications: {
					placeholder: '',
					icon: 'bell',
					dropTitle: 'Уведомления',
					dropText: 'Нет уведомлений'
				},
				autorization: {
					placeholder: 'Мой Buynow',
					icon: 'user',
					logInUrl: '#',
					signUpUrl: '#',
					autorizationActions: [
						{
							url: '#',
							placeholder: 'История просмотров'
						},
						{
							url: '#',
							placeholder: 'Мой Buynow'
						},
						{
							url: '#',
							placeholder: 'Избранное'
						},
						{
							url: '#',
							placeholder: 'Центр поддержки'
						},
						{
							url: '#',
							placeholder: 'Мои купоны'
						},
					]
				},
				autorizationLoged: {
					userAvatar: require('@/assets/images/user.png'),
					placeholder: '',
					icon: '',
					autorizationActions: [
						{
							url: '/my-buynow',
							placeholder: 'Мой Buynow'
						},
						{
							url: '#',
							placeholder: 'Мои покупки'
						},
						{
							url: '#',
							placeholder: 'Избранное'
						},
						{
							url: '#',
							placeholder: 'Мои купоны'
						},
						{
							url: '#',
							placeholder: 'Центр поддержки'
						},
						{
							url: '#',
							placeholder: 'История просмотров'
						},
					]
				},
				basket: {
					placeholder: 'Корзина',
					icon: 'bag',
					dropTitle: 'Корзина',
					total: '4 555 506 UZS',
					basketUrl: '#',
					defaultCurrency: 'UZS',
					goods: [
						{
							url: '#',
							src: require('@/assets/images/basket-img.png'),
							goodName: 'Rick Morty Mug – Pickle Rick',
							goodPrice: '210000',
							goodCurrency: 'UZS',
							goodId: 0
						},
						{
							url: '#',
							src: require('@/assets/images/basket-img2.png'),
							goodName: 'Rick Morty Mug – Pickle Rick',
							goodPrice: '14000',
							goodCurrency: 'UZS',
							goodId: 1
						},
					],
				}
			}
		},
		methods: {
			deleteGood (arr) {
				let goodId = event.target.closest('.basket-item').getAttribute('good-id');
				for (let i = 0; i < arr.length; i++) {
					if ( arr[i].goodId == goodId ) {
						arr.splice(i,1)
						i--
					}
				}
			},
			menuToggle () {
				this.$store.state.menuToggle = !this.$store.state.menuToggle
			},
			showModal (modal, event) {
				if ( event.target.closest('.dropdown-drop') ) {
					event.target.closest('.dropdown-drop').classList.remove('isOpen')
				}
				this.$modal.show(modal);
			},
			hideModal (modal) {
				this.$modal.hide(modal);
			}
		},
		computed: {
			calcTotalPriceOfGoods () {
				let total = 0;
				for ( let i = 0; i < this.basket.goods.length; i++ ) {
					var goodCurrency = this.basket.goods[i].goodCurrency
					total += +this.basket.goods[i].goodPrice
				}
				if ( !goodCurrency ) {
					goodCurrency = this.basket.defaultCurrency
				}
				return total + ' ' + goodCurrency;
			}
		},
		components: {
			appHeaderSearch: Headersearch,
			appSvgIcon: SvgIcon,
			appDropdownMulti: DropdownMulti
		}
	}
</script>
<style lang="scss">
</style>