<template>
	<header class="header" ref="header">
		<app-banner class="header-ban" imgName="bannerImg.jpg"/>
		<app-header-sub :data="headerSubData" />
		<!-- <app-header-main /> -->
	</header>
</template>
<script>
	import Banner from './Banner.vue'
	import Headersub from './Headersub.vue'
	// import Headermain from './Headermain.vue'
	export default {
		props: ['headerSubData'],
		data () {
			return {
				scrolled: false
			}
		},
		methods: {
		},
		components: {
			appBanner: Banner,
			appHeaderSub: Headersub,
			// appHeaderMain: Headermain
		}
	}
</script>