<template>
	<div>
		<input
			class="form-control"
			type="text"
			@keyup.enter="pushValue">
		<div class="row row_indents_m mt-3"
			v-if="value.length">
			<div class="column mb-2 pb-1"
				v-for="(item, index) in value"
				:key="index">
				<div class="tag d-inline-flex align-items-center">
					<span>{{ item.name }}</span>
					<button
						class="font-size-8 color-grey-dark button-clr ml-2"
						type="button"
						@click="deleteTag(index)">
						<app-svg-icon name="del" />
					</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import SvgIcon from '../components/SvgIcon.vue'
	export default {
		name: 'Input-taggable',

		data () {
			return {
				value: []
			}
		},
		methods: {
			pushValue (e) {
				this.value.push({name: e.target.value})
				e.target.value = ''
				this.$emit('tagsData', this.value)
			},
			deleteTag (index) {
				this.value.splice(index, 1)
			}
		},
		components: {
			appSvgIcon: SvgIcon,
		}
	}
</script>

<style lang="scss" scoped>
</style>