<template>
	<div class="likes-counter row row_indents_s align-items-center">
		<div class="column">
			<button class="likes-counter-like color-dark-30 button-clr" type="button" @click="[count++, checkVal()]">
				<app-svg-icon name="like" />
			</button>
		</div>
		<div class="column">
			<div class="likes-counter-result" ref="result">{{ count }}</div>
		</div>
		<div class="column">
			<button class="likes-counter-dislike color-dark-30 button-clr" type="button" @click="[count--, checkVal()]">
				<app-svg-icon class="svg-icon_reverse" name="like" />
			</button>
		</div>
	</div>
</template>

<script>
	import svgIcon from '../components/SvgIcon.vue'
	export default {

		name: 'likes-counter',
		props: {
			countVal: {
				type: Number,
				default: 0
			}
		},
		data () {
			return {
				count: this.countVal
			}
		},
		methods: {
			checkVal () {
				if ( this.count > 0 ) {
					this.$refs.result.classList.remove('negative')
					this.$refs.result.classList.add('positive')
				} else if ( this.count < 0 ) {
					this.$refs.result.classList.remove('positive')
					this.$refs.result.classList.add('negative')
				} else {
					this.$refs.result.classList.remove('positive')
					this.$refs.result.classList.remove('negative')
				}
			}
		},
		mounted () {
			this.checkVal()
		},
		computed: {

		},
		components: {
			appSvgIcon: svgIcon
		}
	}
</script>

<style lang="scss" scoped>

</style>