<template>
	<div class="button button_square" @click="toggle = !toggle">
		<span :class="{'d-none': !toggle}">
			<span class="d-flex flex-nowrap align-items-center">
				<span class="color-dark">+9989XXXXХ</span>
				<app-svg-icon class="ml-2" name="eye" />
			</span>
		</span>
		<div :class="{'d-none': toggle}">
			<slot></slot>
		</div>
	</div>
</template>
<script>
	import SvgIcon from '../components/SvgIcon.vue'
	export default {
		name: 'phoneToggle',
		data () {
			return {
				toggle: true
			}
		},
		components: {
			appSvgIcon: SvgIcon
		}
	}
</script>
<style lang="scss" scoped>
</style>