<template>
	<div class="section section-margin">
		<div class="container-fluid">
			<div class="wrap">
				<div class="wrap-title">
					<div class="row justify-content-between align-items-center">
						<div class="column">
							<!-- {{ test }} -->
							<h6>{{ productObject.title }}</h6>
						</div>
						<div class="column">
							<div class="arrows">
								<button class="arrows__arrow arrows__arrow_prev" type="button" @click.prevent="prevSlide()">&nbsp;</button>
								<button class="arrows__arrow arrows__arrow_next" type="button" @click.prevent="nextSlide()">&nbsp;</button>
							</div>
						</div>
					</div>
				</div>
				<div class="wrap-content">
					<template v-if="!this.$slots.default">
						<app-carousel :perPageCustom="[[320, 3], [992, 4], [992, 5]]" :scrollPerPage="false" :mouseDrag="false" :paginationEnabled="false" ref="carousel">
							<app-slide
								v-for="(product, index) in productObject.products"
								:key="index">
								<div class="slider-item">
									<a class="add-preview" :href="product.url">
										<div class="add-preview__img">
											<img
												:src="product.imgSrc"
												alt="">
										</div>
										<div class="add-preview__body">
											<div class="add-preview__price" v-if="product.price && product.currency">{{ product.price + ' ' + product.currency }}</div>
											<div class="add-preview__name">{{  product.title }}</div>
											<div class="add-preview__category">{{ product.category }}</div>
										</div>
									</a>
								</div>
							</app-slide>
						</app-carousel>
					</template>
					<template v-else>
						<slot></slot>
					</template>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import { Carousel, Slide } from 'vue-carousel';
	export default {
		props: {
			productObject: {
				type: Object,
				required: true
			}
		},
		data () {
			return {
			}
		},
		methods: {
			checkObj (obj) {
				for(var key in obj) {
					if(obj.hasOwnProperty(key))
						return false;
				}
				return true;
			},
			nextSlide() {
				if ( !this.checkObj(this.$refs) ) {
					this.$refs.carousel.goToPage(this.$refs.carousel.getNextPage());
				} else {
					this.$emit('goToNextSlide')
				}
			},
			prevSlide() {
				if ( !this.checkObj(this.$refs) ) {
					this.$refs.carousel.goToPage(this.$refs.carousel.getPreviousPage());
				} else {
					this.$emit('goToPrevSlide')
				}
			}
		},
		components: {
			appCarousel: Carousel,
			appSlide: Slide
		}
	}
</script>
<style></style>