<template>
	<div class="section">
		<div class="container-fluid">
			<div class="row advantages-list">
				<div class="advantages-column col-3"
					v-for="(advantage, index) in advantagesObject"
					:key="index">
					<div class="advantage-box">
						<div class="advantage-box-in">
							<div class="advantage-box-img">
								<app-svg-icon :name="advantage.icon" />
							</div>
							<div class="advantage-box-title">{{ advantage.text }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import SvgIcon from '../components/SvgIcon.vue'
	export default {
		props: {
			advantagesObject: {
				type: Array,
				required: true,
				default: null
			}
		},
		data () {
			return {

			}
		},
		components: {
			appSvgIcon: SvgIcon
		}
	}
</script>
<style></style>