<template>
	<div class="section section-margin">
		<div class="container-fluid">
			<div class="subscribe-form">
				<div :style="{'backgroundImage': 'url('+ subscribeObj.backgroundImg +')'}">
					<div class="subscribe-form-in">
						<div class="subscribe-form-title">{{ subscribeObj.title }}</div>
						<br>
						{{ subscribeObj.text }}
						<br><br>
						<form>
							<div class="subscribe-row row justify-content-center">
								<div class="subscribe-column column">
									<input class="subscribe-form__input subscribe-input" type="email" placeholder="Введите Email" autocomplete="off">
								</div>
								<div class="subscribe-column column">
									<input class="button button-clr button-blue" type="submit" value="Отправить">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		props: {
			subscribeObj: {
				type: Object,
				required: true
			}
		},
		data () {
			return {

			}
		}
	}
</script>
<style></style>