<template>
	<div class="synced-carousel">
		<div class="synced-carousel-row row">
			<div class="synced-carousel-column col-2">
				<div class="overflow-hidden">
					<hooper class="synced-carousel-thumbs" :group="groupName" :vertical="true" :itemsToShow="4" :wheelControl="true">
						<slide v-for="(item, index) in dataCarousel" :key="index"><img :src="item.thumbs" alt=""></slide>
						<hooper-navigation slot="hooper-addons">
							<app-svg-icon name="arrow-down-light" />
							<!-- <app-svg-icon name="arrow-down-light" /> -->
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, distinctio.
						</hooper-navigation>
					</hooper>
				</div>
			</div>
			<div class="synced-carousel-column col-10">
				<div class="overflow-hidden">
					<hooper class="synced-carousel-main" :group="groupName" :itemsToShow="1" :wheelControl="false" :trimWhiteSpace="true">
						<slide v-for="(item, index) in dataCarousel" :key="index"><img :src="item.carouselImg" alt=""></slide>
					</hooper>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import SvgIcon from '../components/SvgIcon.vue'
	import {
		Hooper,
		Slide,
		// Pagination as HooperPagination,
		Navigation as HooperNavigation
	} from 'hooper';
	export default {
		name: 'synced-vertical-carousel',
		props: {
			dataCarousel: {
				type: Array
			},
			groupName: {
				type: String
			}
		},
		data () {
			return {
				hooperSettings: {
					itemsToShow: 2,
					centerMode: true
				}
			}
		},
		components: {
			Hooper,
			Slide,
			// HooperPagination,
			HooperNavigation,
			appSvgIcon: SvgIcon,
		}
	}
</script>

<style lang="scss" scoped>
</style>