<template>
	<div>
		<label
			class="label color-black font-weight-bold"
			:class="{'d-flex flex-wrap align-items-center': input}"
			:for="id">
			<span :class="{'mr-auto': input}">{{ labelName }}</span>
			<template v-if="input">
				<span class="text-small color-grey font-weight-normal"
					:class="{error: hasError}">
						{{ this.remainingCount + ' / ' + this.maxCount }}
				</span>
			</template>
		</label>
		<template v-if="input">
			<input
				class="form-control"
				type="text"
				:id="id"
				v-model="message"
				@keyup="count">
		</template>
		<template v-else>
			<textarea
				class="form-control"
				:rows="rows"
				:id="id"
				v-model="message"
				@keyup="count"></textarea>
			<div class="text-right mt-2">
				<div class="text-small color-grey" :class="{error: hasError}">{{ this.remainingCount + ' / ' + this.maxCount }}</div>
			</div>
		</template>
	</div>
</template>

<script>
	export default {
		name: 'textareaCounter',
		props: {
			maxCount: {
				type: Number
			},
			rows: {
				type: Number
			},
			labelName: {
				type: String
			},
			id: {
				type: String
			},
			input: {
				type: Boolean,
				default: false
			}
		},
		data () {
			return {
				message: '',
				hasError: false,
				startCount: 0,
				remainingCount: 0
			}
		},
		methods: {
			count: function() {
				this.remainingCount = this.message.length;
				this.hasError = this.remainingCount > this.maxCount;
			}
		}
	}
</script>

<style lang="css" scoped>
</style>