<template>
	<a class="button button-basket" :class="{'active': toggle}" href="#" @click.prevent="toggle = !toggle">
		<slot></slot>
	</a>
</template>

<script>
	export default {

		name: 'toggle-el',

		data () {
			return {
				toggle: false
			}
		}
	}
</script>

<style lang="css" scoped>
</style>