<template>
	<div class="toggle-box">
		<div class="toggle-box-btn d-flex flex-nowrap justify-content-between align-items-center" :class="{'collapsed': !newToggle}" @click="newToggle = !newToggle">
			<h6 class="color-dark font-weight-bold m-0">{{title}}</h6>
			<app-svg-icon class="font-size-8 color-dark-50" name="arrow-down" />
		</div>
		<div class="toggle-box-collapse" :class="{'d-none': !newToggle}">
			<div class="toggle-box-collapse-in">
				<slot></slot>
			</div>
		</div>
	</div>
</template>

<script>
	import SvgIcon from '../components/SvgIcon.vue'
	export default {
		name: 'toggle-box',
		props: {
			toggle: {
				type: Boolean,
				default: false
			},
			title: {
				type: String,
				default: 'Title'
			}
		},
		data () {
			return {
				newToggle: this.toggle
			}
		},
		computed: {
		},
		components: {
			appSvgIcon: SvgIcon
		}
	}
</script>

<style lang="scss" scoped>
</style>