<template>
	<div class="tooltip-wrap position-relative" @mouseover="tooltipShow = true" @mouseleave="tooltipShow = false">
		<slot name="tooltiphead"></slot>
		<div class="tooltip-box w-auto" :class="[{visible: tooltipShow}, returnClass]">
			<slot name="tooltippopup"></slot>
		</div>
	</div>
</template>

<script>
	export default {

		name: 'tooltip',
		props: {
			tooltipClass: {
				type: String,
				default: ''
			}
		},
		data () {
			return {
				tooltipShow: false,
			}
		},
		computed: {
			returnClass () {
				return this.tooltipClass
			}
		}
	}
</script>

<style lang="scss" scoped>
</style>