<template>
	<div class="upload row row_indents_s">
		<div class="upload-column column" v-for="(image, key) in resultImgs" :key="key">
			<div class="upload-preview position-relative">
				<img
					class="preview"
					:src="resultImgs[key]" />
				<button class="upload-preview-del button-clr" type="button" @click="delImg(key)">
					<app-svg-icon name="del" />
				</button>
			</div>
		</div>
		<div class="column">
			<label class="input-file">
				<app-svg-icon class="color-grey" name="add-photo" />
				<div>Загрузить</div>
				<input class="input-hidden" type="file" multiple @change="onFileChange">
			</label>
		</div>
	</div>
</template>

<script>
	import SvgIcon from '../components/SvgIcon.vue'
	export default {

		name: 'inputFile',
		props: {
			single: {
				type: Boolean,
				default: true
			}
		},
		data () {
			return {
				images: [],
				resultImgs: [],
				selectedFiles: 0,
			}
		},
		methods: {
			onFileChange (e) {
				var selectedFiles = e.target.files;
				// 
				for (let i = 0; i < selectedFiles.length; i++){
					this.images.push(selectedFiles[i]);
				}

				this.resultImgs.splice(0, this.resultImgs.length)
				this.images.splice(0, this.resultImgs.length)
				for (let i = 0; i < this.images.length; i++){
					let reader = new FileReader();
					reader.addEventListener('load', function(){
						this.resultImgs.push(reader.result)
					}.bind(this), false);

					reader.readAsDataURL(this.images[i]);
				}
				
				
			},
			delImg (idx) {
				this.resultImgs.splice(idx, 1)
				this.images.splice(idx, 1)
				if ( !this.single ) {
					this.resultImgs = []
					this.images = []
				}
			}
		},
		components: {
			appSvgIcon: SvgIcon
		}
	}
</script>

<style lang="scss" scoped>

</style>