.add-preview {
	text-decoration: none !important;
	display: block;
	// width: 200px;
	border-right: 1px solid rgba(40, 47, 54, 0.15);

	color: #282F36;
	transition: linear .1s;
	img {
		// width: 100%;
		// height: 193px;
		@media only screen and (min-width: 450px) {
			height: 193px;
		}
	}
	&:hover {
		color: #282F36;
		text-decoration: none;
		box-shadow: 0 3px 12px rgba(#000, .05);
	}
	&_good {
		border-right: none;
		background: #FFFDFD;
		border-radius: 10px;
		&:hover {
			.add-preview-favour {
				opacity: 1;
				visibility: visible;
			}
		}
		.add-preview-favour {
			opacity: 0;
			visibility: hidden;
		}
		img {
			height: auto;
		}
	}
	&_stroke {
		.add-preview-favour {
			right: 10px;
		}
	}
}
.add-preview__img {
	width: 100%;
	@media only screen and (max-width: 449px) {
		text-align: center;
	}
	&:after {
		// padding-bottom: 170 / 200 * 100%;
	}
}
.add-preview__body {
	padding: 15px;
}
.add-preview__price {
	margin-bottom: 10px;

	font-size: 16px;
	line-height: 25px;

	color: #282F36;
}
.add-preview__name {
	margin-bottom: 5px;

	font-size: 12px;
	line-height: 18px;

	color: #4592FF;
}
.add-preview__category {
	font-size: 8px;
	line-height: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #828282;
}

.add-preview-favour {
	position: absolute;
	top: 10px;
	right: 30px;

	border: 1px solid rgba(40, 47, 54, 0.15);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;

	color: rgba(40, 47, 54, 0.3);
	.svg-icon {
		flex-shrink: 0;
		position: relative;
		top: 1px;
	}
	&:hover {
		color: #FF4F52;
		border-color: #FF4F52;
	}
	&.active {
		border-color: #FF4F52;
		background-color: #FF4F52;
		color: #fff;
	}
	&_no-border {
		top: 15px;
		right: 20px;
		border: none;
		width: auto;
		height: auto;
		padding: 10px;
		font-size: 25px;
		z-index: 3;
		&.active {
			background-color: transparent;
			color: #FF4F52;
		}
	}
	&_position_new {
		top: 20px;
	}
}