.ads-card-box {
	border: 1px solid rgba(40, 47, 54, 0.15);

	font-size: 14px;
	line-height: 22px;
	color: #2F80ED;
}

.ads-card-img-wrap {
	background-color: #E0E0E0;
	padding: 10px;
	height: 151px;
	img {
		max-height: 100%;
		// height: 100%;
		// width: 100%;
	}
}
.ads-card-body {
	padding: 15px 25px;
}
.ads-card-category {
	font-size: 8px;
	line-height: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;

	/* Gray 3 */
	color: #828282;
}
.ads-card-price {
	font-size: 20px;
	line-height: 25px;
	color: #282F36;
}
.ads-card-info {
	font-size: 10px;
	line-height: 14px;
	color: #333;
}
.ads-card-info-views {
	font-size: 12px;
	line-height: 14px;

	color: #828282;
}

.ads-card-foot {
	padding: 15px 25px;
	border-top: 1px solid rgba(40, 47, 54, 0.15);

	font-size: 22px;
	color: #4F4F4F;
	&_border-top-none {
		border-top-color: transparent;
	}
}

.ads-card_row {
	display: flex;
	flex-direction: row !important;
	flex-wrap: nowrap;
	.ads-card-img-wrap {
		width: 265px;
		min-height: 170px;
		height: auto;

		display: flex;
		flex-direction: column;
		justify-content: center;
		text-justify: inter-cluster;
		img {
			max-height: 100%;
		}
	}
	.ads-card-foot {
		margin-left: auto;
		border-top: none;
		border-left: 1px solid rgba(40, 47, 54, 0.15);
		.row {
			margin: 0;
			flex-direction: column;
			justify-content: space-between !important;
			height: 100%;
		}
		.column {
			padding: 0;
		}
	}
	.ads-card-rate {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.ads-card-rate {
	position: absolute;
	top: 0;
	left: 0;
	text-align: left;
	padding: 10px 25px;
}


.ads-card-box-poll {
	.ads-card-foot {
		display: none;
	}
	&_border_none {
		border: none;
		border-bottom: 1px solid rgba(40, 47, 54, 0.15);
	}
}