.advantages-list {

}
.advantages-column {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}
.advantage-box {
	border-radius: 10px;
	background-color: #fff;
	display: inline-flex;
	flex-direction: column;
	flex-grow: 1;
}
.advantage-box-in {
	min-height: 170px;
	padding: 20px 25px;
	flex-grow: 1;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.advantage-box-img {
	// width: 46px;
	// height: 46px;
	flex-shrink: 0;
	margin-right: 15px;
	.svg-icon {
		font-size: 46px;
	}
}
.advantage-box-title {
	
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 700;
	
	color: #282F36;
}