.arrows {
	display: flex;
	flex-wrap: nowrap;
}
.arrows__arrow {
	position: relative;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid rgba(40, 47, 54, 0.15);
	background-color: transparent;
	padding: 0;
	&:before {
		content: '';

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		border-right: 8px solid #282F36;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		transform-origin: 50% 50%;
		transition: linear .1s;
	}
	&:last-child {
		border-left: none;
	}
	&.disabled {
		&:before {
			border-right-color: rgba(#282F36, .3);
		}
	}
	&:focus {
		outline: none;
	}
	&_prev {
		border-radius: 5px 0 0 5px;
		&:hover {
			&:not(.disabled) {
				&:before {
					margin-left: -2px;
				}
			}
		}
	}
	&_next {
		border-radius: 0 5px 5px 0;
		&:before {
			transform: translate(-50%, -50%) rotate(180deg);
		}
		&:hover {
			&:not(.disabled) {
				&:before {
					margin-left: 2px;
				}
			}
		}
	}
}