.article-card-section {
	padding-top: 0 !important;
	& > .section {
		margin: 0 !important;
		padding: 0 !important;
		& > .container-fluid {
			max-width: none !important;
			padding-right: 0;
			padding-left: 0;
		}
	}
}
.article-card {
	
}
.article-card-mark {
	position: absolute;
	top: -10px;
	left: 0;

	.svg-icon {
		color: #fff !important; 
		font-size: 30px !important;
	}
}
.article-card-header {
	padding-top: 63px;
	padding-bottom: 50px;
	background-color: #111317;
	&:before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		background: linear-gradient(0deg, rgba(31, 94, 255, 0.35), rgba(31, 94, 255, 0.35));
	}
	& > .container-fluid {
		z-index: 3;
	}
}
.article-card-header-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;


	background-repeat: no-repeat;
	background-position: 50% 0;
}

.article-card-header-content {
	max-width: 680px;
}

.article-card-body {
	padding: 65px 0;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 30px;
	}
	p {
		font-size: 18px;
		line-height: 30px;
		color: rgba(40, 47, 54, 0.8);
		margin-bottom: 34px;
	}
	blockquote {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin: 0;
		}
		.blockquote-svg {
			position: absolute;
			top: -38px;
			left: -15px;

		}
	}
}


.article-card-arrows {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 60px;
	transform: translate(0, -50%);
}
.article-card-arrow-prev, .article-card-arrow-next {
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 60px;

	// background-color: rgba(120, 118, 118, 0.5);

	border-radius: 50%;

	color: #fff;
}
.article-card-arrow-prev {
	position: absolute;
	top: 0;
	left: 35px;
}
.article-card-arrow-next {
	position: absolute;
	top: 0;
	right: 35px;
}