.article-preview {
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid rgba(40, 47, 54, 0.15);
	&:last-child {
		border-bottom-color: transparent;
	}
}
.article-preview-link {
	display: block;
	text-decoration: none !important;

}
.article-preview-mark {
	position: absolute;
	top: 0;
	right: 0;
}