.basket-item {
	position: relative;
	display: block;
	color: #505050;
	padding-right: 20px;
	&:hover {
		color: #505050;
		text-decoration: none;
	}
	& + .basket-item {
		margin-top: 15px;
		padding-top: 15px;
		border-top: 1px solid rgba(40, 47, 54, 0.15);;
	}
}
.basket-link {
	color: #505050 !important;
	text-decoration: none !important;
}
.basket-item__row {
	margin-left: -8px;
	margin-right: -8px;
}
.basket-item__column {
	padding-left: 8px;
	padding-right: 8px;
}
.basket-item__img-wrap {
	width: 60px;
}
.basket-item__title {
	color: #282F36;
	font-weight: 700;
}
.basket-item__del {
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translate(0, -50%);

	color: #DADADA;
	font-size: 10px;
	&:hover {
		color: #505050;
	}
}