.basket {

}
.basket-collapse-toggle {
	&.active {
		transform: rotate(180deg);
	}
}
.basket-collapse-title {
	background: rgba(40, 47, 54, 0.04);
	padding: 10px 0;
	// margin-left: -20px;
	// margin-right: -20px;
	& > .column {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.basket-collapse-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}