.basket-wrap {
	// max-width: 780px;
	width: 780px;
}

.basket-table {
	background-color: transparent;
	border-radius: 10px;

	color: rgba(40, 47, 54, 0.8);
	thead {
		tr {
			background: rgba(40, 47, 54, 0.04);
			th {
				padding: 11px 20px 10px;
				border: none;
				font-weight: 400;
				&:first-child {
					width: 350px;
				}
			}
		}
	}
	tbody {
		tr {
			background: rgba(40, 47, 54, 0.04);
			td {
				padding: 15px 20px;
				vertical-align: middle;
				border-color: rgba(40, 47, 54, 0.08);
				@include mlg() {
					padding-left: 15px;
					padding-right: 15px;
				}
				&:first-child {
					width: 350px;
				}
			}
		}
	}
	tfoot {
		tr {
			&:first-child {
				td {
					position: relative;
					vertical-align: middle;
					border-color: transparent;
					padding-top: 20px;
					padding-left: 0;
					&:before {
						content: '';

						position: absolute;
						top: 20px;
						bottom: 12px;
						left: 0;
						width: 100%;

						background: rgba(40, 47, 54, 0.04);
						border-radius: 10px;
					}
					padding-right: 0;
					.checkbox {
						label {
							margin-bottom: 0;
						}
					}
				}
			}
			&:nth-child(2) {
				td {
					border-color: transparent;
				}
			}
			td {
				vertical-align: middle;
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	.count-input {
		// width: 110px;
		width: 50px;
	}
	&_small {
		tbody {
			tr {
				background: none;
				&:first-child {
					td {
						border-color: transparent;
					}
				}
			}
		}
	}
	&_referals {
		color: #000;
		thead, tbody {
			tr {
				background-color: transparent;
				&:nth-child(even) {
					background: #F9F9F9;
				}
				&:last-child {
					td {
						border-bottom: 1px solid #C4C4C4;

					}
				}
				td {
					border-top-color: #C4C4C4;
				}
			}
		}
	}
}
.basket-table-item {
}
.basket-table-img {
	width: 70px;
	height: 70px;
	padding: 8px;
	border: 1px solid rgba(40, 47, 54, 0.15);
	text-align: center;

	background: #fff;
	border-radius: 10px;
}

.basket-table {
	tfoot {
		tr {
			td {
				&:last-child {
					&:before {
						border-radius: 0 10px 10px 0;
					}
				}
				&:first-child {
					&:before {
						border-radius: 10px 0 0 10px;
					}
				}
			}
		}
	}
}
.basket-table-foor-td {
	position: relative;
	padding: 15px 20px;

	// background: rgba(40, 47, 54, 0.04);
}