.brand {
	padding: 19px 0;
	background-color: #fff;
	border-left: 1px solid rgba(40, 47, 54, 0.15);
}
.brand__row {
	justify-content: center;
}
.brand__column {
	position: relative;
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;

	max-width: 20%;
	flex: 0 0 20%;
	text-align: center;
	@include mmd() {
		max-width: none;
		width: auto;
		.brand-logo {
			max-width: none;
			width: 120px;
		}
	}
	&:first-child {
		&:before {
			display: none;
		}
	}
	&:before {
		content: '';

		position: absolute;
		top: 50%;
		left: 0;
		height: 80px;
		transform: translate(0, -50%);

		border-left: 1px solid rgba(40, 47, 54, 0.15);
		display: none;
		@include md() {
			display: block;
		}
	}
}