.brand-more {
	position: relative;
	display: block;
	text-align: center;
	&:hover {
		text-decoration: none;
	}
}
.brand-more__number {
	font-size: 64px;
	line-height: 90px;
	text-align: center;
	font-weight: 700;

	color: rgba(40, 47, 54, 0.08);
}
.brand-more__txt {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	color: #282F36;
}