.brand-logo {
	display: inline-block;
	width: 100%;
	max-width: 120px;
	transition: linear .1s;
	&:after {
		padding-bottom: 78 / 120 * 100%;
	}
	&:hover {
		text-decoration: none;
		transform: translate(0, -3px);
	}
}