.breadcrumbs {
	li {
		padding-left: 10px;
		// padding-right: 10px;
		margin-bottom: 10px;
		&.active {
			a {
				text-decoration: none !important;
				color: #282F36;
				cursor: text;
			}
		}
		.svg-icon {
			margin-left: 10px;
			position: relative;
			top: -1px;
		}
	}
	a {
		display: inline-block;

		font-size: 14px;
		line-height: 20px;
		color: #828282;
		font-weight: 700;
	}
	span {
		color: #282F36;
		font-weight: 700;
	}
}