.button-clr {
	padding: 0;
	background-color: transparent;
	border: none;
	&:focus {
		outline: none;
	}
}
.button {
	display: inline-block !important;
	text-align: center;
	line-height: 1;
	transition: linear .1s;
	&:hover {
		text-decoration: none;
	}
	&_w100 {
		width: 100%;
	}
	&_paddings_new {
	}
	&_basket {
		padding: 10px 20px;
		border: 1px solid #E0E0E0;
		border-radius: 20px;
		color: #E0E0E0;
		.button-in {
			min-height: 18px;
		}
		&:hover {
			color: $document-color !important;
			border-color: $document-color;
		}
	}
	&_square {
		color: #333 !important;
		font-weight: 700;
		border: 1px solid rgba(40, 47, 54, 0.15);
		border-radius: 10px;
		padding: 10px 20px;
		cursor: pointer;
		.svg-icon {
			font-size: 20px;
			transition: linear .1s;
		}
		&:hover {
			.svg-icon {
				color: #bdbdbd;
			}
		}
	}
	&_oval {
		padding: 10px 22px;
		border: 1px solid rgba(40, 47, 54, 0.15);
		border-radius: 20px;
		font-size: 14px;
		line-height: 1;
		color: #282F36;
		font-weight: 700;
		&:hover {
			background-color: #1570F1;
			color: #fff;
			border-color: #1570F1;
		}
	}
}

.button-border {
	border: 1px solid rgba(40, 47, 54, 0.15);
	border-radius: 14px;
	padding: 5px 12px;
	&_theme_article {
		padding: 12px 15px 11px;
		border-radius: 20px;
		border-color: rgba(255, 255, 255, 0.3);
		color: #fff !important;
	}
	&:hover {
		&[href] {
			background-color: #fff;
			color: #333 !important;
		}
	}
}

.button-add {
	padding: 5px 20px 8px;

	font-size: 12px;
	line-height: 1;
	color: #333;
	font-weight: 700;

	border-radius: 5px;
	background-color: #E0E0E0;
	&:hover, &:focus {
		color: #333;
	}
}
.button-add__plus {
	font-size: 20px;
	margin-right: 5px;
}
.button-add__txt {
	position: relative;
	top: -1px;
}
.button-oval-blue {
	padding: 10px 20px;
	font-size: 14px;
	line-height: 1;
	text-align: center;

	color: #fff;
	background: #4592FF;
	border-radius: 20px;
	&:hover {
		background-color: #1570F1;
		color: #fff;
	}
}
.button-white {
	padding: 10px 20px;
	border: 2px solid #E0E0E0;
	font-size: 14px;
	line-height: 1;
	text-align: center;

	color: #fff;
	background: transparent;
	border-radius: 20px;
	&:hover {
		background-color: transparent;
		color: #fff;
		box-shadow: 0 3px 12px rgba(#fff, .3);
	}
}

.button-blue {
	padding: 13px 25px;

	color: #fff;
	font-size: 14px;
	line-height: 1;
	text-align: center;

	background: #4592FF;
	border-radius: 20px;
	text-decoration: none !important;
	&:hover, &:focus {
		color: #fff;
		background-color: #106AEA;
	}
	&_my-buynow {
		border-radius: 0 0 10px 10px;
		font-weight: 700;
	}
}

.button-medium {
	display: inline-block;
	padding: 20px 30px 19px;

	font-size: 16px;
	line-height: 1;
	color: #f2f2f2;
	text-align: center;

	border-radius: 10px;
	&:hover {
		color: #f2f2f2;
		background-color: #106AEA;
	}
	&_blue {
		background-color: #2F80ED;
	}
}


.button-view-sort {
	// font-size: 14px;
}


.button-regular {
	display: inline-block;
	padding: 13px 15px;

	font-size: 14px;
	line-height: 1;
	color: #fff !important;
	text-align: center;
	text-decoration: none !important;

	background-color: #4592FF;
	border-radius: 5px;
	&_style_1 {
		width: 100%;
		padding: 11px 15px 10px;

		font-weight: 700;
		font-size: 12px;
		color: #333 !important;

		background-color: #F2F2F2;
		&:hover {
			background-color: #4592FF;
			color: #fff !important;
		}
	}
	&_grey {
		background-color: #F2F2F2;
		color: #333333 !important;
		font-weight: 700;
		&:hover {
			background-color: #4592FF;
			color: #fff !important;
		}
		&.poll-done {
			color: #219653 !important;
			&:hover {
				background-color: #F2F2F2;
				color: #219653 !important;
			}
		}
	}
	&_grey_light {
		background: rgba(40, 47, 54, 0.04);
		border-radius: 4px;
		font-weight: 700;
		text-transform: uppercase;
		color: #828282 !important;
		letter-spacing: 1px;
		&:hover {
			background-color: #F2F2F2;
		}
	}
	&_my-buynow {
		border-radius: 0 0 10px 10px;
		font-weight: 700;
	}
	&_blue_light {
		background-color: rgba(112, 170, 252, 0.1);
		color: rgba(69, 146, 255, 0.8) !important;
		&:hover {
			background-color: #4592FF;
			color: #fff !important;
		}
	}
}

.button-checkbox {
	display: inline-block;
	cursor: pointer;
	.button-checkbox-input {
		&:checked + .button-checkbox-pseudo {
			background-color: #4592FF;
			border-color: #4592FF;
			color: #fff;
		}
	}
	&_quiz {
		.button-checkbox-input {
			&:checked + .button-checkbox-pseudo {
				background-color: transparent;
				border: 1px solid rgba(40, 47, 54, 0.15);
				color: #282F36;
			}
		}
		&.active {
			.button-checkbox-line {
				background: rgba(197, 228, 252, 0.9);
				border: 1px solid rgba(40, 47, 54, 0.15);
			}
		}
	}
}
.button-checkbox-pseudo {
	position: relative;
	padding: 20px;

	text-align: center;
	color: #282F36;
	font-weight: 700;
	border: 1px solid rgba(40, 47, 54, 0.15);
	border-radius: 5px;
	background: #fff;
	// overflow: hidden;
	& > span {
		position: relative;
	}
}
.button-checkbox-line {
	position: absolute !important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: -1px;

	border-radius: 5px;
	transition: linear .2s;
}


.button-white {
	display: inline-block;
	padding: 10px 15px;
	border: 2px solid #E0E0E0;

	font-size: 14px;
	line-height: 1;
	text-align: center;
	color: #E0E0E0 !important;

	border-radius: 5px;
}
.button-width-160 {
	width: 160px;
}


.button-large {
	display: block;
	padding: 15px;
	border: 1px solid rgba(40, 47, 54, 0.15);

	font-weight: 700;
	text-align: center;
	color: #282F36 !important;
	text-decoration: none !important;

	border-radius: 25px;
	transition: linear .1s;
	.svg-icon {
		color: #dadada;
	}
	&:hover, &:focus {
		border-color: #106AEA;
		color: #fff !important;
		background-color: #106AEA;
		.svg-icon {
			color: #fff;
		}
	}
}

.button-circle {
	display: inline-block;
	padding: 12px 15px;
	border: 1px solid rgba(40, 47, 54, 0.15);
	
	font-size: 14px;
	line-height: 1;
	font-weight: 700;
	text-align: center;
	color: #282F36 !important;
	text-decoration: none !important;

	border-radius: 25px;
	transition: linear .1s;
	&:hover, &:focus {
		border-color: #106AEA;
		color: #fff !important;
		background-color: #106AEA;
		.svg-icon {
			color: #fff;
		}
	}
}


.button-checkbox-check {
	width: 20px;
	height: 20px;
	background: #fff;
	border: 1px solid rgba(40, 47, 54, 0.15);
	border-radius: 3px;
}

.button-favourite {
	&.active {
		color: red !important;
	}
}


.button-social {
	padding: 12px 22px 13px;
	
	color: #fff !important;

	background: #FF4F52;
	border-radius: 20px;
	.column {
		&:last-child {
			color: #FFC7D0;
		}
	}
	&_fb {
		background-color: #3064CE;
		.column {
			&:last-child {
				color: #C5E4FC;
			}
		}
	}
	&_tw {
		background-color: #48A9F2;
		.column {
			&:last-child {
				color: #C5E4FC;
			}
		}
	}
}



.button-basket {
	border: 1px solid #4592FF;
	border-radius: 10px;
	padding: 10px;
	font-size: 18px;
	&.active {
		background-color: #4592FF;
		color: #fff;
	}
}