.categorys-logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	width: 90px;
	height: 50px;
	margin: 5px;

	background: #fff;
	/* Dark-15 */
	border: 1px solid rgba(40, 47, 54, 0.15);
	&:hover {
		text-decoration: none;
	}
}