.categorys {
	padding: 35px 25px;
	border: 1px solid transparent;

	background-color: #fff;
	border-left-color: rgba(#282F36, .15);

	opacity: 0;
	visibility: hidden;
	transition: linear .2s;
	&.isOpen {
		opacity: 1;
		visibility: visible;
	}
}