.checkbox {
	position: relative;
	display: inline-block;
	&-background-white {
		.checkbox-pseudo {
			background-color: #fff;
		}
	}
	&-label-indents-0 {
		.checkbox-label {
			margin: 0;
		}
	}
}
.checkbox-input {
	&:checked {
		& + .checkbox-label {
			.checkbox-pseudo {
				background: #4592FF;
				border-color: #4592FF;
				.svg-icon {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}
.checkbox-label {
	display: flex;
	flex-wrap: nowrap;
}
.checkbox-pseudo {
	position: relative;
	border: 1px solid rgba(40, 47, 54, 0.15);
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	border-radius: 3px;
	.svg-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		font-size: 10px;
		color: #fff;
		opacity: 0;
		visibility: hidden;
	}
}
.checkbox-txt {
	color: rgba(40, 47, 54, 0.8);
	a {
		text-decoration: underline;
	}
}
.checkbox-link {
	color: rgba(40, 47, 54, 0.8) !important;
}



.checkbox-in-select {
	label {
		margin: -10px -12px -10px -25px;
		padding: 10px 12px 10px 25px;
	}
}

.checkbox_color {
	.checkbox-pseudo {
		width: 25px;
		height: 25px;
		border-radius: 50%;
		margin: 0;
		border: none;
		transition: linear .1s;
		&.white {
			border: 1px solid #d5d2d2;
		}
	}
	&:hover {
		.checkbox-pseudo {
			transform: scale(1.1, 1.1);
		}
	}
	&_red {
		.checkbox-input {
			&:checked + label {
				.checkbox-pseudo {
					background-color: #FF4F52;
				}
			}
		}
		.checkbox-pseudo {
			background-color: #FF4F52;
		}
	}
	&_violet {
		.checkbox-input {
			&:checked + label {
				.checkbox-pseudo {
					background-color: #AC8EE3;
				}
			}
		}
		.checkbox-pseudo {
			background-color: #AC8EE3;
		}
	}
	&_pink {
		.checkbox-input {
			&:checked + label {
				.checkbox-pseudo {
					background-color: #FFA6BC;
				}
			}
		}
		.checkbox-pseudo {
			background-color: #FFA6BC;
		}
	}
	&_orange {
		.checkbox-input {
			&:checked + label {
				.checkbox-pseudo {
					background-color: #FFA34D;
				}
			}
		}
		.checkbox-pseudo {
			background-color: #FFA34D;
		}
	}
	&_yellow {
		.checkbox-input {
			&:checked + label {
				.checkbox-pseudo {
					background-color: #FFD980;
				}
			}
		}
		.checkbox-pseudo {
			background-color: #FFD980;
		}
	}
	&_blue {
		.checkbox-input {
			&:checked + label {
				.checkbox-pseudo {
					background-color: #4592FF;
				}
			}
		}
		.checkbox-pseudo {
			background-color: #4592FF;
		}
	}
	&_light-blue {
		.checkbox-input {
			&:checked + label {
				.checkbox-pseudo {
					background-color: #A2D2FC;
				}
			}
		}
		.checkbox-pseudo {
			background-color: #A2D2FC;
		}
	}
	&_green {
		.checkbox-input {
			&:checked + label {
				.checkbox-pseudo {
					background-color: #3DC47E;
				}
			}
		}
		.checkbox-pseudo {
			background-color: #3DC47E;
		}
	}
	&_brown {
		.checkbox-input {
			&:checked + label {
				.checkbox-pseudo {
					background-color: #967C62;
				}
			}
		}
		.checkbox-pseudo {
			background-color: #967C62;
		}
	}
	&_black {
		.checkbox-input {
			&:checked + label {
				.checkbox-pseudo {
					background-color: #282F36;
				}
			}
		}
		.checkbox-pseudo {
			background-color: #282F36;
		}
	}
	&_gray {
		.checkbox-input {
			&:checked + label {
				.checkbox-pseudo {
					background-color: #93979B;
				}
			}
		}
		.checkbox-pseudo {
			background-color: #93979B;
		}
	}
	&_white {
		.checkbox-input {
			&:checked + label {
				.checkbox-pseudo {
					background-color: #fff;
					border: 1px solid rgba(40, 47, 54, 0.3);
				}
			}
		}
		.checkbox-pseudo {
			background-color: #fff;
			border: 1px solid rgba(40, 47, 54, 0.3);
			.svg-icon {
				color: rgba(40, 47, 54, 0.5);
			}
		}
	}
}


.checkbox-circle {
	.checkbox-input {
		&:checked + .checkbox-label {
			.checkbox-pseudo {
				border: 6px solid #4592FF;
				background-color: transparent;
			}
		}
	}
	.checkbox-pseudo {
		border-radius: 50%;
	}
	.svg-icon_check {
		display: none;
	}
	&_color {
		padding-bottom: 0 !important;
		font-size: 0;
		.checkbox-label {
			margin: 0 0 5px;
			font-size: 0;
		}
		.checkbox-txt {
			display: none;
		}
		.checkbox-pseudo {
			border: none !important;
			&:before {
				content: '';

				position: absolute;
				top: 4px;
				left: 4px;
				right: 4px;
				bottom: 4px;

				border-radius: 50%;
			}
		}
	}
	&_color_green {
		.checkbox-pseudo {
			&:before {
				background-color: rgba(61, 196, 126, 0.3);
			}
		}
		.checkbox-input {
			&:checked + .checkbox-label {
				.checkbox-pseudo {
					background-color: rgba(61, 196, 126, 0.3);
					&:before {
						background: #3DC47E;
						
					}
				}
			}
		}
	}
	&_color_blue {
		.checkbox-pseudo {
			&:before {
				background-color: #A2D2FC;
			}
		}
		.checkbox-input {
			&:checked + .checkbox-label {
				.checkbox-pseudo {
					background-color: #A2D2FC;
					&:before {
						background: #4592FF;
						
					}
				}
			}
		}
	}
	&_color_yellow {
		.checkbox-pseudo {
			&:before {
				background-color: #FFD980;
			}
		}
		.checkbox-input {
			&:checked + .checkbox-label {
				.checkbox-pseudo {
					background-color: #FFD980;
					&:before {
						background: #FFB200;
						
					}
				}
			}
		}
	}
	&_style_quiz {
		.checkbox-pseudo {
			border-color: #A2D2FC;
			background-color: #fff;
			&:before {
				// background-color: #FFD980;
			}
		}
	}
}

.checkbox-frame {
	.checkbox-input {
		&:checked + .checkbox-label {
			.checkbox-pseudo {
				border: 2px solid #4592FF;
				background-color: transparent;
			}
		}
	}
	.checkbox-label {
		position: relative;
		margin-bottom: 10px;
	}
	.checkbox-pseudo {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: 5px;
		border: 1px solid rgba(40, 47, 54, 0.15);
	}
	.checkbox-txt {
		padding: 8px 15px;
		font-size: 14px;
		line-height: 1;
		font-weight: 700;
		color: #282F36;
		margin-left: 0 !important;
	}
	.svg-icon_check {
		display: none;
	}
}

.checkbox-wrap {
	background: rgba(40, 47, 54, 0.04);
	border-radius: 10px;
	&_maxw-460 {
		max-width: 460px;
	}
}


.checkbox-img-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 70px;
	height: 30px;
	background: #FFFFFF;
	border: 1px solid rgba(40, 47, 54, 0.08);
	img {
	}
}

.checkbox-multiple-quiz {
	.checkbox-pseudo {
		background-color: #fff;
		border-color: #A2D2FC;
	}
}