.circle {
	width: 60px;
	height: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 2px solid rgba(40, 47, 54, 0.15);
	background-color: #fff;
	font-size: 25px;
	color: $document-color;
	text-decoration: none !important;
	&_40x40 {
		width: 40px;
		height: 40px;
	}
	&_blue {
		border-color: #2F80ED;
		background-color: #2F80ED;
		color: #fff !important;
	}
	&_social {
		background-color: transparent;
		width: 40px;
		height: 40px;
		border-width: 1px;
		border-color: rgba(40, 47, 54, 0.15);
	}
}