.comments-wrap {
	max-width: 750px;
}

.comment-card {
	border-top: 1px solid rgba(40, 47, 54, 0.15);
	padding-top: 20px;
	margin-top: 30px;
	&:first-child {
		margin-top: 15px;
	}
	img {
		width: 75px;
		height: 75px;
	}
	.comment-card {
		padding-left: 90px;
	}
	&_write {
		border-top: none;
		margin-top: 0;
		padding-top: 0;
	}
}


.comment-card-answer {
	border-radius: 10px;
}
.comment-card-textarea {
	position: relative;
	&:before {
		content: '';

		position: absolute;
		top: 30px;
		right: 100%;

		border-right: 12px solid rgba(40, 47, 54, 0.15);
		border-top: 9px solid transparent;
		border-bottom: 9px solid transparent;
	}
	&:after {
		content: '';
		position: absolute;
		top: 30px;
		right: 100%;
		margin-right: -1px;

		border-right: 12px solid #fff;
		border-top: 9px solid transparent;
		border-bottom: 9px solid transparent;
	}
	textarea {
		border: 1px solid rgba(40, 47, 54, 0.15);
		min-height: 130px;
	}
	&.focus {
		&:before {
			border-right-color: #80bdff;
		}
	}
}