.list-clr {
	padding: 0;
	margin: 0;
	list-style: none;
}

h6 {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;

	color: #282F36;
}
.devider {
	margin: 14px 0;
	border: none;
	border-bottom: 1px solid rgba(40, 47, 54, 0.15);
	&_dark-8 {
		border-bottom-color: rgba(40, 47, 54, 0.08);;
	}
}

.nowrap {
	white-space: nowrap;
}

.font-size-0 {
	font-size: 0 !important;
}
.font-size-8 {
	font-size: 8px !important;
}
.font-size-9 {
	font-size: 9px !important;
}
.font-size-10 {
	font-size: 10px !important;
}
.font-size-12 {
	font-size: 12px !important;
}
.font-size-14 {
	font-size: 14px !important;
}
.font-size-16 {
	font-size: 16px !important;
}
.font-size-18 {
	font-size: 18px !important;
}
.font-size-20 {
	font-size: 20px !important;
}
.font-size-22 {
	font-size: 22px !important;
}
.font-size-24 {
	font-size: 24px !important;
}
.font-size-30 {
	font-size: 30px !important;
}
.font-size-40 {
	font-size: 40px !important;
}
.font-size-50 {
	font-size: 50px !important;
}
.font-size-70 {
	font-size: 70px !important;
}

.line-height-1 {
	line-height: 1 !important;
}
.line-height-30 {
	line-height: 30px !important;
}

.letter-spacing-1 {
	letter-spacing: 1px !important;
}

.color-white {
	color: #fff !important;
}
.text-white-30 {
	color: rgba(#fff, .3) !important;
}
.text-white-50 {
	color: rgba(#fff, .5) !important;
}
.text-white-80 {
	color: rgba(#fff, .8) !important;
}
.color-grey {
	color: #DADADA !important;
}
.color-grey-4 {
	color: #BDBDBD !important;
}
.color-grey-dark {
	color: #828282 !important;
}
.color-gray-2 {
	color: #4F4F4F !important;
}
.color-gray-6 {
	color: #F2F2F2 !important;
}
.color-dark-2 {
	color: #53585E !important;
}
.color-dark-30 {
	color: rgba(40, 47, 54, 0.3) !important;
}
.color-dark-50 {
	color: rgba(40, 47, 54, 0.5) !important;
}
.color-dark-80 {
	color: rgba(40, 47, 54, 0.8) !important;
}
.color-dark {
	color: #333 !important;
}
.color-green {
	color: #27AE60 !important;
}
.color-blue {
	color: #2F80ED !important;
}
.color-blue-25 {
	color: #C5E4FC !important;
}
.color-blue-75 {
	color: #4592FF !important;
}
.color-yellow {
	color: #F2C94C !important;
}
.color-orange {
	color: #F2994A !important;
}
.color-purple {
	color: #9B51E0 !important;
}
.color-purple-75 {
	color: #AC8EE3 !important;
}
.color-dark-main {
	color: #282F36 !important;
}
.color-bluegreen-75 {
	color: #3BBDC4 !important;
}
.color-red-25 {
	color: #FFC7D0 !important;
}
.color-red-75 {
	color: #FF4F52 !important;
}
.hover-color-blue {
	&:hover {
		color: #2F80ED !important;
	}
}
.hover-color-orange {
	&:hover {
		color: #F2994A !important;
	}
}

.title-h1, h1 {
	font-size: 54px;
	line-height: 70px;
	font-weight: 700;
}
h2 {
	font-size: 40px;
	line-height: 50px;
	font-weight: 700;
	@include mmd() {
		font-size: 30px;
		line-height: 40px;
	}
}
h3 {
	font-size: 28px;
	line-height: 30px;
	font-weight: 700;
	@include msm() {
		font-size: 24px;
	}
}
h4 {
	font-size: 20px;
	line-height: 25px;
	font-weight: 700;
}
h5 {
	font-size: 18px;
	line-height: 25px;
	font-weight: 700;
	letter-spacing: 1px;
}
.title-h5 {
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
}
.title-h6 {
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
	letter-spacing: 1px;
}


.text-extra-large {
	font-size: 27px;
	line-height: 35px;
	font-weight: 700;
}
.text-large-bold {
	font-size: 16px;
	line-height: 25px;
	font-weight: 700;
}
.text-large {
	font-size: 18px;
	line-height: 30px;
}

.text-small {
	font-size: 12px;
	line-height: 15px;
}
.text-extra-small {
	font-size: 10px;
	line-height: 15px;
	&.font-weight-bold {
		font-size: 9px;
	}
}
