.count-input {
	background: #fff;
	border: 1px solid rgba(40, 47, 54, 0.15);
	border-radius: 6px;
	overflow: hidden;
}
.count-input__btn {
	// position: absolute;
	// top: 50%;
	// transform: translate(0, -50%);
	color: rgba(40, 47, 54, 0.3);
	font-size: 10px;
	font-weight: 700;
	padding: 3px 5px;
	& + .count-input__btn {
		border-top: 1px solid rgba(40, 47, 54, 0.15);
	}
	// &_minus {
	// 	left: 20px;
	// }
	// &_plus {
	// 	right: 20px;
	// }
}
.count-input__input {
	min-width: auto;
	// border-radius: 20px;
	border-radius: 0;
	text-align: center;
	padding: 11px 10px;
	background-color: #fff;
	border: none;
	border-right: 1px solid rgba(40, 47, 54, 0.15);
	&:focus {
		background-color: #fff;
	}
}
