.count-points {
	position: relative;
	border: 1px solid rgba(40, 47, 54, 0.15);
	border-radius: 5px;
	text-align: center;

	height: 75px;
	width: 75px;
}

.count-points-head, .count-points-foot {
	background-color: #DFE0E1;
	padding: 6px 0;
	font-size: 0;
	&:hover {
		background-color: #F5F5F5;
		.count-points-btn {
			color: #4592FF;
		}
	}
}
.count-points-head {

}
.count-points-btn {
	width: 100%;
	color: #93979A;
	font-size: 8px;
}

.count-points-result {
	width: 100%;
	display: block;
	font-size: 12px;
	line-height: 1;
	padding: 7px 0;
	border: none;
	color: rgba(40, 47, 54, 0.5);
	text-align: center;
}