.create-quiz {

}
.create-quiz-input-img-wrap {
	border: 1px solid #C5C5C5;
	padding: 15px;
	display: inline-block;
	margin-bottom: 10px;
	margin-left: 10px;
}
.create-quiz-input-img {
	max-width: 110px;
}

.create-quiz-item {
	&.ghost {
		background-color: transparent !important;
	}
}