.datepicker {
	.cell {
		position: relative;
		&:not(.day-header) {
			&:hover {
				// border-color: #ebebeb !important;
				// background-color: #ebebeb;
				border-color: transparent !important;
				background-color: transparent;
				color: #4592FF !important;
			}
		}
		&.selected {
			// background-color: #4592FF !important;
			background-color: transparent !important;
			border-color: transparent !important;
			color: #4592FF !important;
			&:hover {
				// border-color: #4592FF !important;
				border-color: transparent !important;
			}
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.form-control {
		color: #2F80ED;
	}
}
.datepicker-wrap {
	background-color: #fff;
	border-color: transparent !important;
	box-shadow: 0px 5px 30px rgba(40, 47, 54, 0.3);
	border-radius: 0 0 10px 10px;
}
.vdp-datepicker__calendar {
	width: 265px !important;
	border-radius: 10px !important;
}
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover {
	// background-color: #106AEA !important;
	// border-color: #106AEA !important;
}

.vdp-datepicker__calendar header .up:not(.disabled):hover {
	// background-color: #ebebeb !important;
	// color: #fff;
}

.vdp-datepicker__calendar {
	margin-top: 10px;
	header {
		padding: 10px 0;
		color: #282F36;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 14px;
		position: relative;
		width: 100%;
		height: 60px;
		border-bottom: 1px solid rgba(40, 47, 54, 0.15);
		.up {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(0, -50%);
			text-align: left;
			padding-left: 20px !important;
			padding-right: 20px !important;
			&:hover {
				background: none !important;
				color: #4592FF;
			}
		}
		& > span {
			text-align: left !important;
			padding-left: 20px !important;
			padding-right: 20px !important;
		}
		.prev, .next {
			width: 30px !important;
			position: absolute !important;
			right: 15px;
			top: 50%;
			transform: translate(0, -50%);
			padding-left: 0 !important;
			padding-right: 0 !important;

			border: 1px solid rgba(40, 47, 54, 0.15);
			border-radius: 5px;
			height: 30px;
			&:after {
				transition: linear .1s;
				border-width: 5px !important;
			}
			&:hover {
				background: none !important;
			}
		}
		.prev {
			right: 45px;
			border-radius: 5px 0 0 5px;
			&:after {
				margin-left: -3px !important;
				border-right-width: 8px !important;
			}
			&:hover {
				&:after {
					margin-left: -5px !important;
				}
			}
		}
		.next {
			border-radius: 0 5px 5px 0;
			margin-right: 1px;
			&:after {
				margin-left: 3px !important;
				border-left-width: 8px !important;
			}
			&:hover {
				&:after {
					margin-left: 5px !important;
				}
			}
		}
	}
	& > div {
		padding: 10px 5px;
	}
}

.datepicker-icon {
	margin-top: -1px;
}

.vdp-datepicker__calendar .cell {
	font-family: $font2;
	height: 40px;
	line-height: 40px;
	&:after {
		content: '';

		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);

		width: 5px;
		height: 5px;

		background-color: #4592FF;

		opacity: 0;
		visibility: hidden;
		border-radius: 50%;
	}
}
.vdp-datepicker__calendar .cell.day-header {
	color: rgba(40, 47, 54, 0.5);
	font-size: 12px;
}