.dotted-txt {
	position: relative;
	// line-height: 1;
	
}
.dotted-txt__left {
	text-align: left;
}
.dotted-txt__right {
	// text-align: right;
}
.dotted-txt__dash-wrap {
	min-height: 19px;
}
.dotted-txt__dash {
	position: relative;
	top: 12px;
	width: 100%;
	border-bottom: 1px dashed rgba(40, 47, 54, 0.15);
}