.dropdown {
	position: relative;
	padding: 10px 0;
	&_select {
		padding: 0;
		.dropdown-toggle-btn {
			padding: 13px 15px;
			background: #F2F2F2;
			border-radius: 5px;
			color: rgba(40, 47, 54, 0.8);

			font-size: 14px;
			.svg-icon {
				margin-left: 10px;
			}
		}
		.dropdown-drop {
			padding: 15px;
			width: 100%;
			margin-top: 10px;
			@include mxl() {
				left: auto;
				right: 0;
				&:before {
					left: auto;
					right: 10px;
				}
			}
		}
	}
	&_form-control {
		padding: 0;
		.dropdown-toggle-btn {
			padding: 7px 15px 6px;
			background: #FFFFFF;
			border: 1px solid rgba(40, 47, 54, 0.15);
			border-radius: 5px;

			font-size: 14px;
			line-height: 20px;
			
			color: rgba(40, 47, 54, 0.5) !important;
		}
		.dropdown-drop {
			padding: 10px;
			margin-top: 5px;
			width: 100%;
		}
	}
	&_small {
		.dropdown-drop {
			width: auto;
		}
	}
	&_favorites {
		.dropdown-drop {
			left: auto;
			right: 0;
			&:before {
				left: auto;
				right: 7px;
				@include xl() {
					right: 82px;
				}
			}
			@include msm() {
				right: -120px;
				&:before {
					right: 122px;
				}
			}
		}
	}
	&_basket {
		.dropdown-drop {
			left: auto;
			right: 0;
			&:before {
				left: auto;
				right: 7px;
				@include xl() {
					right: 55px;
				}
			}
			@include msm() {
				right: -150px;
				&:before {
					right: 152px;
				}
			}
		}
	}
	&_notif {
		.dropdown-drop {
			left: auto;
			right: 0;
			&:before {
				left: auto;
				right: 7px;
				@include xl() {
					right: 8px;
				}
			}
			@include msm() {
				right: -100px;
				&:before {
					right: 102px;
				}
			}
		}
	}
	&_login {
		.dropdown-drop {
			left: auto;
			right: 0;
			&:before {
				left: auto;
				right: 7px;
				@include xl() {
					right: 77px;
				}
			}
			@include msm() {
				right: -50px;
				&:before {
					right: 52px;
				}
			}
		}
	}
	&_loged {
		.dropdown-drop {
			left: auto;
			right: 0;
			&:before {
				left: auto;
				right: 15px;
			}
		}
	}
	&_shop-card-features {
		.dropdown-drop {
			width: 125px;
			border-radius: 10px;
			top: auto;
			bottom: 100%;
			left: 50%;
			transform: translate(-50%, 0);
			margin-bottom: 10px;
			&:before {
				top: 100%;
				right: auto;
				left: 50%;
				transform: translatex(-50%) rotate(180deg);
			}
		}
		.dropdown-drop__body {
			padding: 15px;
		}
	}
	&_social {
		.dropdown-drop {
			width: 180px;
			border-radius: 10px;
			top: auto;
			bottom: 100%;
			left: 50%;
			transform: translate(-50%, 0);
			margin-bottom: 15px;
			&:before {
				top: 100%;
				right: auto;
				left: 50%;
				transform: translatex(-50%) rotate(180deg);
			}
		}
		.dropdown-drop__body {
			padding: 15px;
		}
	}
}
.dropdown-toggle-btn {
	position: relative;

	cursor: pointer;
	font-size: 10px;
	line-height: 1;
	color: #505050 !important;
	text-decoration: none !important;
	.svg-icon {
		font-size: 8px;
		color: rgba(#3F3E3E, .5);
	}
	&:after {
		display: none;
	}
}
.dropdown-drop {
	width: 300px;
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 999999;
	display: block !important;
	// padding: 10px;

	min-width: 50px;

	color: rgba(40, 47, 54, 0.8);

	background-color: #fff;
	box-shadow: 0px 5px 30px rgba(40, 47, 54, 0.3);
	
	border-radius: 0 0 10px 10px;

	opacity: 0;
	visibility: hidden;
	transition: linear .2s;
	@include msm() {
		width: 260px;
	}
	&:before {
		content: '';

		position: absolute;
		bottom: 100%;
		right: 10%;

		border-bottom: 8px solid #fff;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
	}
	&.isOpen {
		opacity: 1;
		visibility: visible;
	}
	// &_user {
	// 	left: auto;
	// 	right: 0;
	// 	&:before {
	// 		left: auto;
	// 		right: 7px;
	// 		@include xl() {
	// 			right: 15px;
	// 		}
	// 	}
	// 	@include msm() {
	// 		right: -40px;
	// 		&:before {
	// 			right: 55px;
	// 		}
	// 	}
	// }
	// &_small {
	// 	width: auto;
	// 	.dropdown-list {
	// 		padding: 10px 15px;
	// 	}
	// 	.dropdown-list-item {
	// 		margin-bottom: 5px;
	// 	}
	// }
}
.dropdown-drop__body {
	padding: 25px;
	@include msm() {
		padding: 15px;
	}
}
.dropdown-list {
	&_paddings {
		padding: 20px 15px;
	}
}
.dropdown-list-item {
	margin-bottom: 10px;
	&:last-child {
		margin-bottom: 0;
	}
}
.dropdown-list-link {
	color: #282F36;
	&:hover, &:focus {
		color: #505050;
	}
}

.dropdown-drop__title {
	color: #282F36;
	font-weight: 700;
}
.dropdown__button-margin {

}

.dropdown-drop__head {
	margin-left: -10px;
	margin-right: -10px;
	.column {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.dropdown-drop__footer {
	padding: 20px 35px;
	background-color: rgba(40, 47, 54, 0.04);
}
.dropdown-drop__total {
	font-weight: 700;
	color: #282F36;
	strong {
		font-size: 16px;
		line-height: 25px;
	}
}

.dropdown-simple {
	padding-top: 0;
	padding-bottom: 0;
	.dropdown-drop {
		width: 150px;
		min-height: 169px;
		margin-top: 10px;
		border-radius: 10px;
	}
	.dropdown-drop__body {
		padding: 15px 15px 7px;
	}
	&_center {
		.dropdown-drop {
			left: 50%;
			transform: translate(-50%, 0);
			&:before {
				right: auto;
				left: 50%;
				transform: translate(-50%, 0);
			}
		}
		.dropdown-drop__body {
			padding: 15px;
		}
	}
	&_top_center {
		.dropdown-drop {
			left: 50%;
			transform: translate(-50%, 0);
			top: auto;
			bottom: 100%;
			margin: 0 0 15px 0;
			&:before {
				right: auto;
				left: 50%;
				transform: translate(-50%, 0) rotate(180deg);
				bottom: auto;
				top: 100%;
			}
		}
		.dropdown-drop__body {
			padding: 15px;
		}
	}
}