.filepond--wrapper {
	border: 1px solid #EBEBEB !important;
	margin-bottom: 20px !important;
	border-radius: 7px;
}
.filepond--root {
	margin: 0 !important;
}
.filepond--panel-root {
	background-color: #fff !important;
}
.filepond--drop-label {
	font-size: 14px;
	color: #53585E;
	font-weight: 700;
}