.form-group {
	position: relative;
	&.succes {
		.form-control {
			border-color: #3DC47E;
		}
		.svg-icon_check_style-2 {
			opacity: 1;
			visibility: visible;
		}
	}
	.svg-icon_check_style-2 {
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translate(0, -50%);
	}
}
.form-control {
	border: 1px solid #EBEBEB;
	padding: 11px 15px;
	border-radius: 4px;
	height: auto;

	background: #FFFFFF;

	font-size: 14px;
	line-height: 1;
	color: rgba(40, 47, 54, 0.8);
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	@include iph() {
		font-size: 14px;
		line-height: 1;
		color: rgba(#282D3B, .5);
	}
	&:focus {
		box-shadow: none;
		outline: none;
		color: rgba(40, 47, 54, 0.8);
		// border-color: #F1A33A;
		// border-color: #F1A33A;
	}
	&.succes {
	}
	&_quiz {
		border: none;
		border-bottom: 1px solid rgba(40, 47, 54, 0.15);
		border-radius: 0;
		background-color: transparent;
		padding-top: 0;
		&:focus {
			background-color: transparent;
		}
	}
}
input[type=number] {
	-moz-appearance:textfield; /* Firefox */
}
textarea.form-control {
	line-height: 1.3;
	resize: none;
}


.form-icon-position {
	position: absolute;
	right: -35px;
	top: 50%;
	transform: translate(0, -50%);

	font-size: 20px;
	color: #4F4F4F;
	&_inside {
		right: 15px;
	}
	&_inside-left {
		right: auto;
		left: 10px;
	}
}
.form-wrap {
	padding: 20px;
	border: 1px solid rgba(40, 47, 54, 0.15);

	border-radius: 10px;
	background: #FFFFFF;
}


.add-form-item {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	color: #4592FF !important;
	font-weight: 500;
	.svg-icon {
		// font-size: 16px;
	}
}

.form-control[readonly] {
	background-color: transparent;
}


.quiz-textarea {
	height: 75px !important;
}