.front {
	margin-bottom: 30px;
	&.unvisible {
		opacity: 0;
		visibility: hidden;
	}
}
.front__container {
	@include mxl() {
		padding-left: 0;
		padding-right: 0;
	}
}
.front__wrap {
	overflow: hidden;
	border-radius: 0 0 10px 10px;
}
.front__sidebar {
	width: 100%;
	max-width: 263px;
	display: flex;
	flex-direction: column;
	@include mlg() {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999;
		width: 65%;
		max-width: none;
		height: 100%;

		opacity: 0;
		visibility: hidden;

		transition: linear .1s;
		.sidebar {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
		}
		.sidebar-title {
			margin-bottom: 10px;
			padding-right: 40px;
			@include msm() {
				padding-left: 10px;
			}
		}
		.sidebar__body {
			flex-grow: 1;
			overflow-y: auto;
		}
		.sidebar-list {
			@include mlg() {
				padding: 0;
			}
		}
		.sidebar__footer {
			padding: 10px;
		}
		&.visible {
			opacity: 1;
			visibility: visible;
		}
	}
	@include msm() {
		width: 60%;
		.sidebar-list-link {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			padding: 7px 5px 7px 10px;
			white-space: normal;
		}
		.button {
			padding-left: 10px;
			padding-right: 10px;
		}
		.sidebar-title {
			padding-left: 10px;
		}
	}
}
.front__main {
	width: 100%;
	flex: 1 1 0;
	&.category-active {
		background-color: #fff;
		.sub-category {
			border-left-color: rgba(#282F36, .15);
			@include lg() {
				padding-left: 10px;
			}
		}
		.sub-category-item {
		}
		.sub-category-link {
			@include lg() {
				font-weight: 700;
				color: #282F36;
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
}

.front__categorys {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;

	width: 100%;
	height: 100%;
	@include mlg() {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 99999;
		overflow-y: auto;

		padding: 0 15px 20px;


		opacity: 0;
		visibility: hidden;

		transition: linear .1s;
		br {
			display: none;
		}
		[class*="col-"] {
			margin-bottom: 20px;
		}
		.categorys-list__ul {
			margin-bottom: 20px;
		}
	}
}
.front__categorys-title {
	padding: 15px 0 20px;
	@include lg() {
		display: none;
	}
}
.front__categorys-close {
	transform: rotate(180deg);
	font-size: 20px;

}
.front__sub-wrap {
	@include mlg() {
		position: fixed;
		top: 0;
		right: 0;
		width: 35%;
		height: 100%;
		z-index: 9999;

		background-color: #fff;

		opacity: 0;
		visibility: hidden;

		transition: linear .1s;
		.sub-category-item {
			margin-bottom: 5px;
		}
		.sub-category-link {
			padding: 5px 0;

			font-size: 14px;
			text-align: left;
		}
		&.visible {
			opacity: 1;
			visibility: visible;
		}
	}
	@include msm() {
		width: 40%;
	}
}
.front__sub {
	@include mlg() {
		display: block;
		padding: 15px;
		border-left: 1px solid rgba(#282F36, .15);
		border-bottom: none;
		height: 100%;
		overflow-y: auto;
	}
	@include msm() {
		padding-left: 10px;
		padding-right: 5px;
	}
}


.front-close {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 999;
}