.last-goods {
	padding: 35px 25px 5px;
	@include msm() {
		padding-left: 10px;
		padding-right: 10px;
	}
}
.last-goods-column {
	// margin-bottom: 30px;
	text-align: center;
}
.good-preview {
	display: inline-flex;
	flex-wrap: nowrap;
	// flex-wrap: wrap;
	// align-items: center;
	flex-grow: 1;
	text-align: left;
	text-decoration: none !important;
	color: #282F36 !important;
}
.good-preview-img {
	width: 80px;
	// height: 80px;
	margin-right: 15px;
	text-align: center;
	// display: inline-flex;
	// align-items: center;
	// justify-content: center;
	flex-shrink: 0;

	&:after {
		display: none;
	}
}
.good-preview-content {
	color: rgba(40, 47, 54, 0.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.good-preview-name {
	margin-bottom: 10px;

}
.good-preview-summary {
	padding: 5px 0;
	margin-left: -10px;
	margin-right: -10px;
	// border: 1px solid rgba(40, 47, 54, 0.15);
	box-sizing: border-box;
	border-radius: 14px;
	font-weight: 700;
	color: #282F36;
	// transition: linear .1s;
	.column {
		margin-bottom: 5px;
		padding: 0 10px;
	}
	&:hover {
		// color: #282F36;
		// text-decoration: none;
		// box-shadow: 0 1px 12px rgba(#000, .1);
	}
}
