.header-main {
	position: relative;
	background-color: #fff;
	border-bottom: 1px solid rgba(40, 47, 54, 0.15);
	// transition: linear .1s;
	position: sticky;
	top: 0;
	left: 0;
	// width: 100%;
	// min-width: 992px;
	padding: 0;
	z-index: 999;
	@include lg() {
		padding: 14px 0 13px;
	}
	&.fixed {
		@include mlg() {
			
		}
		.personal-link__name {
			display: none;
		}
		.header-main__search-wrap {
			margin-right: auto;
		}
		.dropdown-drop {
			&:before {
				right: 8px;
			}
		}
		.dropdown_notif {
			.dropdown-drop {
				&:before {
					right: 15px;
				}
			}
		}
	}
}
.header-main__row {
	@include msm() {
		margin-left: -5px;
		margin-right: -5px;
	}
}

.header-main__logo {
	@include msm() {
		padding-left: 5px;
		padding-right: 5px;
		.logo {
			font-size: 20px;
		}
	}
	@include sm() {
		padding-left: 40px;
	}
	@include lg() {
		width: 100%;
		max-width: 262px;
	}
}
.header-main__others {
	width: 100%;
	flex: 1 1 0;
	@include msm() {
		padding-left: 5px;
		padding-right: 5px;
	}
}
.header-main__links {
	margin-left: -10px;
	margin-right: -10px;
	@include msm() {
		margin-left: -5px;
		margin-right: -5px;
	}
}
.header-main__link {
	padding-left: 10px;
	padding-right: 10px;
	@include msm() {
		padding-left: 5px;
		padding-right: 5px;
		.svg-icon {
			font-size: 18px;
		}
	}
	.dropdown {
		// padding-top: 7px;
		// padding-bottom: 8px;
	}
}
.header-main__search-wrap {
	width: 100%;
	max-width: 535px;
	@include mlg() {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 9999;

		width: 100%;
		max-width: none;
		margin-top: 1px;
		padding-top: 8px;
		padding-bottom: 7px;

		background-color: #fff;

		opacity: 0;
		visibility: hidden;

		transition: linear .1s;
		&.visible {
			opacity: 1;
			visibility: visible;
		}
	}
}
.header-main__search-row {
	margin-left: -7px;
	margin-right: -7px;
}
.header-main__search {
	width: 100%;
	max-width: 360px;
	padding-left: 7px;
	padding-right: 7px;
	@include mxl() {
		max-width: 320px;
	}
	@include mlg() {
		width: auto;
		max-width: none;
		flex-grow: 1;
	}
	@include msm() {
		width: 100%;
		flex-grow: 0;
		margin-bottom: 8px;
	}
}
.header-main__search-select {
	padding-left: 7px;
	padding-right: 7px;
	@include mlg() {
		width: 155px;
		// width: 100%;
	}
	@include msm() {
		width: 100%;
		.dropdown_select {
			padding-top: 0;
		}
	}
}