.header-sub {
	& > li {
		padding-left: 10px;
		padding-right: 10px;
	}
	.dropdown-toggle-link {

	}
	.dropdown-drop {
		margin-top: 3px;
		padding: 10px;
		border-radius: 0 0 5px 5px;
	}
	.dropdown-list {
		font-size: 10px;
		line-height: 15px;
		li {
			margin-bottom: 2px;
		}
		a {
			color: inherit;
		}
	}
}
.header-sub-link {
	display: block;
	padding-top: 8px;
	padding-bottom: 7px;

	font-size: 10px;
	line-height: 1;
	color: #505050 !important;
	text-decoration: none !important;
	&_red {
		color: #EB5757 !important;
	}
	.svg-icon {
		font-size: 20px;
	}
	.svg-icon_arrow-down {
		font-size: 9px;
		color: rgba(#3F3E3E, .5);
	}
}