.header-search {
	position: relative;
}
.header-search__input {
	width: 100%;
	font-size: 14px;
	line-height: 1;
	color: rgba(40, 47, 54, 0.5);

	border-color: transparent;
	padding: 10px 20px 10px 45px;

	background: #F2F2F2;
	border-radius: 5px;
	@include mlg() {
		padding-right: 50px;
	}
	@include iph() {
		font-size: 14px;
		line-height: 1;
		color: rgba(40, 47, 54, 0.5);
	}
	&:focus {
		outline: none;
	}

}
.header-search__icon {
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translate(0, -50%);

	font-size: 20px;
	color: #2F80ED;
}
.header-search__submit {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 40px;

	font-size: 18px;
	padding: 10px;

	background-color: #EB5757;
	color: #fff;

	border-radius: 0 5px 5px 0;
	@include lg() {
		display: none;
	}
	.svg-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}