.upload {
	&.single {
		.upload-column {
			margin: 0;
			& + .column {
				display: none;
			}
		}
	}
	&.large {
		.upload-preview, .input-file {
			width: 215px;
			height: 215px;
		}
	}
	&.extra-large {
		width: 100%;
		justify-content: center;
		.upload-column {
			width: 100%;
		}
		.upload-preview {
			width: 100%;
			height: 290px;
		}
	}
}

.upload-preview {
	width: 75px;
	height: 75px;
	border: 1px solid rgba(40, 47, 54, 0.15);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5px 8px;
	margin: 0;
	img {
		max-width: 100%;
		max-height: 100%;
	}

}
.input-file {
	width: 75px;
	height: 75px;
	border: 1px solid rgba(40, 47, 54, 0.15);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5px 8px;
	margin: 0;

	font-size: 12px;
	line-height: 15px;
	text-align: center;
	color: rgba(40, 47, 54, 0.5);

	background: #FFFFFF;
	border-radius: 5px;
	cursor: pointer;
	.svg-icon {
		font-size: 25px;
		margin-bottom: 5px;
	}
}

.upload-preview-del {
	position: absolute;
	top: 5px;
	right: 5px;

	width: 20px;
	height: 20px;

	background: rgba(40, 47, 54, 0.8);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.svg-icon {
		color: #fff !important;
		font-size: 10px;
	}
}
.upload-column {
	margin-bottom: 10px;
}

.uploaded-review-imgs {
	.upload-preview {
		width: 55px;
		height: 55px;
		padding: 5px;
		border-radius: 5px;
	}
	.preview {
		width: 45px;
		height: 45px;
	}
}