.likes-counter {
	line-height: 1;
}
.likes-counter-result {
	font-size: 12px;
	line-height: 1;
	font-weight: 700;
	position: relative;
	top: 2px;
	&.positive {
		color: #3DC47E;
		position: relative;
		top: 4px;
		&:before {
			content: '+';
			display: inline-block;
			vertical-align: middle;
			position: relative;
			top: -2px;
		}
	}
	&.negative {
		color: #FF4F52;
	}
}
.likes-counter-like {
	
}
.likes-counter-dislike {
	position: relative;
	top: 2px;
}