.link {
	display: inline-block;
	&_reg {
		font-weight: 700;
		color: #333;
		&:hover {
			color: #333;
		}
	}
	&_logout {
		color: #282F36;
		.svg-icon {
			font-size: 24px;
			margin-right: 5px;
		}
		&:hover {
			color: #282F36;
		}
	}
}

.link_color_grey {
	color:  rgba(40, 47, 54, 0.5) !important;
}

.share-link {
	.svg-icon {
		transition: linear .1s;
	}
	&:hover {
		.svg-icon {
			transform: scale(1.2, 1.2);
		}
	}
}