.messeges-nav {
	li {
		margin-bottom: 15px;
		&.router-link-exact-active {
			a {
				font-weight: 700;
			}
		}
	}
	a {
		display: block;
		padding-bottom: 15px;
		border-bottom: 1px solid rgba(40, 47, 54, 0.15);
		text-decoration: none !important;
		&:hover {
			.column {
				color: #2F80ED !important;
			}
		}
	}
}