.messeges {

}
.messeges-search-form, .messeges-search-head {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 61px;
	border-bottom: 1px solid rgba(40, 47, 54, 0.15);

	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: #fff;
	@include mlg() {
		height: 51px;
	}
}
.messeges-search-form {
	opacity: 0;
	visibility: hidden;
	&.visible {
		opacity: 1;
		visibility: visible;
	}
}
.messeges-search {
	position: absolute;
	right: 30px;
	top: 15px;
	@include mlg() {
		top: 8px;
	}
}

.messeges-input {
	width: 100%;
	border-color: transparent;
	color: rgba(40, 47, 54, 0.8);
	@include iph() {
		color: rgba(40, 47, 54, 0.8);
	}
	&:focus {
		outline: none;
	}
}