.v--modal-overlay {
	padding: 30px 0;
}
.v--modal {
	background-color: transparent !important;
	box-shadow: none !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.modal-in {
	background-color: #fff;
	border-radius: 10px;
}
.modal-body {
	padding: 25px 30px;
	@include mlg() {
		padding-left: 20px;
		padding-right: 20px;
	}
	&_background_orange {
		background-color: #F2994A;
		border-radius: 10px;
	}
	&_background_green {
		background-color: #219653;
		border-radius: 10px;
	}
	@include msm() {
		padding: 20px 15px;
	}
}
.modal-close {
	position: absolute;
	top: 15px;
	right: 15px;

	font-size: 20px;
	color: #DADADA;
	z-index: 10;
	&:hover {
		color: #000;
	}
	&_right_25 {
		right: 25px;
	}
}
.modal-title {
	font-size: 20px;
	line-height: 25px;
	color: #282F36;
	font-weight: 700;
	margin-bottom: 20px;
}
.modal-input {
	height: auto;
	min-height: none;
	border: 1px solid rgba(40, 47, 54, 0.15);
	padding: 11px 15px;

	font-size: 14px;
	line-height: 1;
	color: #282F36;

	background: #FFFFFF;
	border-radius: 5px;
	@include iph() {
		font-size: 14px;
		color: rgba(40, 47, 54, 0.5);
	}
	&:focus {
		outline: none;
		box-shadow: 0 1px 4px rgba(#000, .1);
		border-color: rgba(40, 47, 54, 0.15);
	}
}

.modal-input-icon {
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translate(0, -50%);

	font-size: 20px;
	color: #DADADA;
	&:hover {
		color: #000;
	}
	& + .modal-input {
		padding-right: 50px;
	}
}

.modal-socials {
	a {
		display: inline-block;
		transition: linear .1s;
		&:hover {
			transform: scale(1.1, 1.1);
		}
	}
}

.modal-foot {
	border-top: 1px solid rgba(40, 47, 54, 0.15);
	padding: 15px 30px;
}

.modal-link {
	display: inline-block;
	color: #4592FF !important;
}


.error {
	color: #FF4545 !important;
}


.modal-forget {
	color: rgba(40, 47, 54, 0.5) !important;
}

.modal-main-icon {
	font-size: 70px;
	color: #4592FF;
}


.v--modal-box {
	overflow: visible !important;
}



.event-title {
	font-size: 40px;
	line-height: 71px;
	letter-spacing: 10px;

	color: #F2994A;
	background-color: #fff;
}

.event-title-descr {
	font-size: 32px;
	line-height: 70px;
	color: #F2F2F2;
}
.event-title-sub {
	font-size: 18px;
	line-height: 30px;
	color: #F2F2F2;
}

.event-date {
	font-size: 14px;
	line-height: 20px;
	color: #F2F2F2;
}