.multiselect {
	min-height: 35px;
	&--active {
		.multiselect__tags {
			border-color: #A2D2FC;
			border-bottom-color: #EBEBEB;
		}
		.multiselect__content-wrapper {
			border-color: #A2D2FC;
		}
		.multiselect-toggle {
			transform: rotate(180deg);
		}
	}
	&-colors {
		.multiselect__content-wrapper {
			width: 200px;
			margin-top: 10px;
			box-shadow: 0px 5px 30px rgba(40, 47, 54, 0.3);
			padding: 20px 20px 5px;
			// width: fit-content;
			overflow: visible;
			&:before {
				content: '';

				position: absolute;
				bottom: 100%;
				left: 10%;

				border-bottom: 8px solid #fff;
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
			}
		}
		.multiselect__content {
			display: flex !important;
			flex-wrap: wrap;
			padding: 0;
			margin-left: -8px;
			margin-right: -8px;
		}
		.multiselect__element {
			border: none !important;
			margin-bottom: 10px;
		}
		.multiselect-title {
			padding-left: 8px;
			padding-right: 8px;
		}
		.multiselect__option {
			padding: 0 8px;
			height: auto;
			min-height: auto;
			line-height: 1;
			white-space: normal;
			&--highlight {
				background-color: transparent;
				border-color: transparent;
			}
			&--selected {
				&.multiselect__option--highlight {
					background: transparent;
				}
			}
		}
		.multiselect__input {
			padding-top: 7px;
			margin-top: 1px;
		}
		.multiselect__tags-wrap {
			position: relative;
			width: 100%;
			min-height: 28px;
			&:after {
				content: '';

				position: absolute;
				top: 100%;
				left: -10px;
				right: -40px;
				border-top: 1px solid #EBEBEB;
				opacity: 0;
				visibility: hidden;
			}
		}
		.multiselect__input {
			padding-top: 7px;
			margin-top: 1px;
		}
		.multiselect__strong {
			position: absolute;
			right: 40px;
			top: 8px;
		}
		&.multiselect--active {
			background-color: #fff;
			.multiselect__tags-wrap {
				&:after {
					opacity: 1;
					visibility: visible;
				}
			}
			.multiselect__tags {
				border-color: #ebebeb;
			}
			.multiselect__content-wrapper {
				border: 1px solid #ebebeb;
				border-radius: 10px;
			}
		}
		&:not(.itemsIsSelected) {
			.multiselect__input {
				padding-top: 1px;
				margin-top: 0;
				margin-bottom: 7px;
			}
			.multiselect__single {
				margin-bottom: 0;
			}
		}
		&.itemsIsSelected {
		}
		&.multiselect--above {
			.multiselect__content-wrapper {
				margin-bottom: 10px;
				&:before {
					bottom: auto;
					top: 100%;
					transform: rotate(180deg);
				}
			}
		}
	}
	&_quantity {
		.multiselect__option {
			padding-left: 10px;
		}
	}
	&_width-160 {
		width: 160px;
	}
}
.multiselect-short {
	.multiselect__content-wrapper {
		max-height: 130px !important;
	}
}
.multiselect__tags {
	min-height: 40px;
	padding-top: 5px;
	border-color: #EBEBEB;
}
.multiselect__placeholder {
	padding-left: 5px;
	margin-bottom: 7px;
}
.multiselect__input {
	font-size: 14px;
	color: rgba(40, 47, 54, 0.5);
	@include iph() {
		font-size: 14px;
		line-height: 1;
		color: rgba(#282D3B, .5);
	}
}
.multiselect__tags {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.multiselect__tags-wrap {
}
.multiselect__tag {
	display: inline-block;
	background-color: transparent;
	color: rgba(40, 47, 54, 0.8);
	font-size: 14px;
	line-height: 1;
	padding-left: 3px;
	padding-right: 3px;
	margin-right: 0;
	margin-bottom: 1px;
	&:last-child {
		&:after {
			display: none;
		}
	}
	&:after {
		content: ',';
		display: inline-block;
		position: relative;
		left: -2px;
	}
	&_checkbox {
		&:after {
			left: 0;
		}
	}
}
.multiselect__tag-icon {
	display: none;
}

.multiselect__strong {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0 0 5px 5px;
	width: 20px;
	height: 20px;

	font-size: 12px;
	line-height: 1;
	color: rgba(40, 47, 54, 0.5);

	border-radius: 50%;
	background: rgba(#A2D2FC, .5);
	mix-blend-mode: normal;
}


.multiselect__option {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	border: 1px solid transparent;

	font-size: 14px;
	line-height: 1;
	color: rgba(40, 47, 54, 0.8);
	&:after {
		display: none;
	}
	&--highlight {
		border-color: #A2D2FC;
		background: rgba(197, 228, 252, 0.5);
	}
	&--group {
		padding-left: 15px;
		background-color: transparent;
		font-weight: 700;
		&.multiselect__option--highlight {
			color: rgba(40, 47, 54, 0.8);
			background: rgba(197, 228, 252, 0.5);
		}
	}
	&--selected {
		background-color: transparent;
		.checkbox-pseudo {
			background: #4592FF;
			border-color: #4592FF;
			.svg-icon {
				opacity: 1;
				visibility: visible;
			}
		}
		&.multiselect__option--highlight {
			color: rgba(40, 47, 54, 0.8);
			background: rgba(197, 228, 252, 0.5);
		}
	}

}


.multiselect__content-wrapper, .scroll-style {
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: 0 0 0 transparent;
		border-radius: 0;
		background-color: transparent;
	}
	&::-webkit-scrollbar {
		width: 5px;
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
		width: 5px;
		background: rgba(40, 47, 54, 0.8);
		border-radius: 8px;
	}
}

.multiselect__element {
	& + .multiselect__element {
		border-top: 1px solid #EBEBEB;
	}
}

.multiselect__select  {
	height: 35px;
}

.multiselect-toggle {
	position: absolute;
	top: 16px;
	right: 20px;
	color: rgba(40, 47, 54, 0.5);
	font-size: 8px;
	&_apps {
		font-size: 14px;
		top: 14px;
		right: 10px;
	}
}

.multiselect__single {
	margin-bottom: 3px;
	font-size: 14px;
	color: rgba(40, 47, 54, 0.8);
	margin: 0 0 7px;
	.checkbox_color {
		padding-top: 2px;
		padding-bottom: 6px;
	}
}

.multiselect-title {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;

	color: #282F36 !important;
	font-weight: 700;
}

.multiselect-shop-background {
	width: 130px;
	.multiselect__tags {
		padding-left: 5px;
		padding-right: 5px;
		min-height: 40px;
	}
	.multiselect__input {
		padding-right: 10px;
	}
}

.multiselect-option-in {
	display: block;
	margin: -10px -12px -10px -25px;
	padding: 10px 12px 10px 25px;
	font-weight: 400 !important;
}


.multiselect_goods {
	height: 40px;
	.multiselect__strong {
		margin-bottom: 0;
	}
	.multiselect__tags {
		padding-top: 9px;
		padding-bottom: 9px;
	}
	.multiselect__tag {
		padding-top: 0;
		padding-bottom: 0;
	}
	.multiselect__placeholder {
		margin-bottom: 0;
	}
	.multiselect__tags-wrap {
		font-size: 0;
	}
}



.vue-treeselect__control {
	border: 1px solid rgba(40, 47, 54, 0.15) !important;
	background: #FFFFFF !important;
	padding: 0 15px !important;
	height: 40px !important;
	// border-radius: 5px !important;
}

.vue-treeselect__menu {
	border: 1px solid rgba(40, 47, 54, 0.15) !important;
	padding: 0 !important;
	max-height: 170px !important;
}
.vue-treeselect__option {
	padding: 0 !important;
	font-size: 14px !important;
	line-height: 1 !important;
	color: rgba(40, 47, 54, 0.8) !important;
	border: 1px solid transparent !important;
	border-top: 1px solid rgba(40, 47, 54, 0.15) !important;
	margin: 0 -1px 0 -1px !important;
	&.vue-treeselect__option--selected {
		.vue-treeselect__label {
			font-weight: 700 !important;
		}
	}
	&.vue-treeselect__option--highlight {
		background-color: rgba(197, 228, 252, 0.5) !important;
		border-color: #A2D2FC !important;
	}
}
.vue-treeselect__label {
	padding: 13px 15px !important;
	// padding-left: 0 !important;
	color: rgba(40, 47, 54, 0.8) !important;
	font-weight: 700;
}
.vue-treeselect--open {
	.vue-treeselect__control {
		border-color: #A2D2FC !important;
		border-bottom-color: transparent !important;
	}
	.vue-treeselect__menu {
		border-color: #A2D2FC !important;
		border-top-color: rgba(40, 47, 54, 0.15) !important;
	}
	.vue-treeselect__input-container {
		display: block !important;
	}
}

.vue-treeselect__multi-value {
	font-size: 14px !important;
	line-height: 1 !important;
	color: rgba(40, 47, 54, 0.5) !important;
}
.vue-treeselect__input {
	font-size: 14px !important;
	line-height: 1 !important;
	color: rgba(40, 47, 54, 0.8) !important;

}
.vue-treeselect__option-arrow-container {
	display: none !important;
}
.vue-treeselect__option-arrow-placeholder {
	
	width: 0 !important;
}
.vue-treeselect__checkbox-container {
	display: none !important;
}
.vue-treeselect__list {
	.vue-treeselect__label {
		
	}
	.vue-treeselect__list {
		.vue-treeselect__label {
			padding-left: 25px !important;
			font-weight: 400;
		}
		.vue-treeselect__list {
			.vue-treeselect__label {
				font-weight: 400;
				padding-left: 35px !important;
			}
		}
	}
}


.vue-treeselect__multi-value-item {
	background-color: transparent !important;
	color: rgba(40, 47, 54, 0.8) !important;
	padding: 0 !important;
}
.vue-treeselect__multi-value {
	margin: 0 !important;
	display: flex !important;
	flex-wrap: wrap !important;
	align-items: center !important;
}
.vue-treeselect__placeholder {
	line-height: 1 !important;
	color: rgba(40, 47, 54, 0.5) !important;
	padding: 10px 0 !important;
}
.vue-treeselect__multi-value-label {
	padding: 0 !important;
	font-size: 14px !important;
	line-height: 1;
	color: rgba(40, 47, 54, 0.8) !important;
}

.vue-treeselect__multi-value-item-container {
	padding: 7px 0 !important;
	margin-right: 10px;
}
.vue-treeselect__input-container {
	width: 100% !important;
	padding: 5px 0 !important;
	display: none !important;
	margin-top: -5px;
}
.vue-treeselect__value-remove {
	display: none !important;
}

.vue-treeselect__x-container {
	display: none !important;
}


.vue-treeselect__limit-tip {
	padding: 0 !important;
}

.vue-treeselect__limit-tip-text {
	width: 20px;
	height: 20px;
	display: inline-flex !important;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 !important;

	background: rgba(#A2D2FC, .5);
	border-radius: 50%;
	font-size: 12px !important;
	line-height: 1 !important;
	font-weight: 700 !important;

	color: rgba(40, 47, 54, 0.5) !important;
}
.vue-treeselect__control-arrow {
	position: absolute;
	top: 15px;
	color: rgba(40, 47, 54, 0.5) !important;
}


.multiselect-smaller {
	min-width: 85px;
	min-height: auto;
	.multiselect__single, .multiselect__placeholder {
		font-size: 12px;
		line-height: 1;
		color: #282F36;
		margin-bottom: 4px;
		padding-left: 0;
		padding-top: 0;

		min-height: auto;
	}
	.multiselect__tags {
		min-height: auto;
		padding-left: 8px;
		padding-top: 4px;
		padding-right: 18px;
	}
	.multiselect-toggle {
		top: 8px;
		right: 5px;
	}
	.multiselect__option {
		font-size: 12px;
		line-height: 1;
		padding: 5px;
		min-height: auto;
	}
}