.my-buynow {

}
.my-buynow-avatar {
	img {
		width: 76px;
		height: 76px;
	}
}

.my-buynow-bonus {
	overflow-y: auto;
	max-height: 310px;
}



.my-buynow-invite {
	font-size: 36px;
	color: #fff;
	// background: #6FCF97;
}