.my-orders-column {
	border-left: 1px solid rgba(40, 47, 54, 0.15);
	&:nth-child(odd) {
		border-left: 1px solid transparent;
	}
	@include lg() {
		&:nth-child(4n+1) {
			border-left: 1px solid transparent;
		}
	}
}
.my-orders-box {
}