.notification {
	width: 20px;
	height: 20px;
	display: inline-flex;
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 50px;
	&_blue {
		background-color: #4592FF;
		color: #fff;
	}
}