.pagination {
	// border-radius: 10px;
	overflow: hidden;
	li {
		text-align: center;
		margin-top: -1px;
		margin-left: -1px;
		// border: 1px solid rgba(40, 47, 54, 0.1);
		flex-grow: 1;
		&:first-child {
			// border-radius: 10px 0 0 10px;
			overflow: hidden;
			@include mlg() {
				width: 100%;
				border-bottom: 1px solid rgba(40, 47, 54, 0.1);
				margin-bottom: 1px;
			}
			a {
				.svg-icon {
					left: 0;
				}
				&:hover {
					.svg-icon {
						left: -5px;
					}
				}
			}
		}
		// flex-grow: 1;
		&:last-child {
			@include mlg() {
				width: 100%;
				border-top: 1px solid rgba(40, 47, 54, 0.1);
			}
			a {
				.svg-icon {
					right: 0;
				}
				&:hover {
					.svg-icon {
						right: -5px;
					}
				}
			}
		}
		& + li {
			border-left: 1px solid rgba(40, 47, 54, 0.1);
		}
		&.active {
			a {
				color: #4592FF;
			}
		}
	}
	a {
		display: block;
		padding: 18px 28px 17px;
		font-size: 14px;
		line-height: 20px;
		color: #282F36;
		background-color: #fff;
		font-weight: 700;
		text-decoration: none !important;
		.svg-icon {
			position: relative;
			font-size: 16px;
			transition: linear .1s;
			color: rgba(40, 47, 54, 0.5);
		}
		&:hover {
			color: #282F36;
		}
	}
}