.personal-link {
	display: inline-block;

	font-size: 12px;
	line-height: 15px;
	color: #505050;
	white-space: nowrap;
	// margin: 5px 0;
	&:hover {
		text-decoration: none;
		color: #EB5757;
		.personal-link__icon {
			color: #EB5757;
		}
	}
}
.personal-link__icon {
	vertical-align: middle;
	font-size: 22px;
	color: #4f4f4f;
	@include sm() {
		& + .personal-link__name {
			margin-left: 5px;
		}
	}
}
.personal-link__name {
	padding-top: 3px;
	display: inline-block;
	vertical-align: middle;
	display: none;
	@include xl() {
		display: inline-block;
	}
}
.personal-link__img {
	display: inline-block;
	vertical-align: middle;
	width: 45px;
	height: 45px;

	border-radius: 50%;
	overflow: hidden;
}