.popup {
	padding: 25px;

	background: #FFFFFF;
	box-shadow: 0px 5px 15px rgba(40, 47, 54, 0.08);
	border-radius: 10px;

	text-align: center;

	color: rgba(40, 47, 54, 0.8);
}
.popup-title {
	margin-bottom: 5px;

	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 700;
	color: #282F36;
}
.popup-button {
	width: 80%;
}

.popup-basket {
	width: 260px;
}