.preview-event {
	.wrap {
		text-decoration: none !important;
		transition: linear .1s;
	}
	&:hover {
		box-shadow: 0 3px 12px rgba(#000, .05);
	}
}
.preview-event-img {
	text-align: center;
	// max-height: 195px;
	img {
		vertical-align: middle;
		max-height: 100%;
		object-fit: cover;
	}
}
.preview-event-main {
	border-right: 1px solid rgba(40, 47, 54, 0.15);
	padding-right: 10px;
}
.preview-event__tag {
	position: absolute;
	top: 13px;
	left: 20px;
	z-index: 2;
}