.rating-button {
	.arrows__arrow {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		line-height: 1;
		padding: 7px 15px 6px;
		width: auto;
		height: auto;
		&:before {
			display: none;
		}
		.svg-icon {
			position: relative;
			transition: linear .1s;
			color: rgba(40, 47, 54, 0.3);
		}
	}
	.arrows__arrow_next {
		.svg-icon {
			// top: -1px;
			transform: rotate(180deg);
		}
		&:hover {
			.svg-icon {
				top: 1px;
			}
		}
	}
	.arrows__arrow_prev {
		.svg-icon {
			top: -2px;
		}
		&:hover {
			.svg-icon {
				top: -4px;
			}
		}
	}
}