.rate-line {

}
.rate-line-rate {
	width: 40px;
}
.line {
	position: relative;
	height: 5px;
	background: rgba(40, 47, 54, 0.08);
	border-radius: 3px;
}

.line-progress {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #4592FF;
	border-radius: 3px;
}
.rate-line-txt {
	width: 30px;
}