.rate {
	display: inline-block;
	padding: 5px 10px;
	background: #45D289;
	border-radius: 0px 3px 3px 0px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	&_green_dark {
		background-color: #1DAB5F;
	}
	&_max {
		background-color: #1DAB5F;
	}
	&_rate_good {
		background-color: #45D289;
	}
	&_allright {
		background-color: #C6D04E;
	}
	&_not-good {
		background-color: #FFA34D;
	}
	&_bad {
		background-color: #E88D38;
	}
}