.referals-rate-line {
	height: 32px;
	&.green {
		background-color: #0ACF83;
	}
	&.red {
		background-color: #FF0742;
	}
	&.purple {
		background-color: #8000FF;
	}
	&.black {
		background-color: #000;
	}
	&.grey {
		background-color: #8F8F8F;
	}
}