.search-article {
	max-width: 200px;
	.svg-icon {
		position: absolute;
		top: 7px;
		left: 10px;

		color: #BDBDBD;
	}
	.form-control {
		border-radius: 10px;
		border: 1px solid #BDBDBD;
		padding: 6px 15px 6px 30px;

		font-size: 12px;
		@include iph() {
			font-size: 12px;
			color: rgba(40, 47, 54, 0.5);
		}
	}
}