.shop-creation {
	color: #4F4F4F;
}
.shop-creation-carousel {
	.VueCarousel-dot {
		background-color: rgba(40, 47, 54, 0.15) !important;
		&--active {
			background-color: #4592FF !important;
		}
		&:focus {
			outline: none !important;
		}
	}
}