.shop-card {
	min-height: 180px;
}
.shop-card-img {
	width: 100%;
	img {
		width: 100%;
		height: 125px;
	}
}
.shop-card-name {
	font-weight: 700;
	color: #333;
}
.shop-card-goods-sum {
	font-size: 10px;
	color: #828282;
	line-height: 15px;
}


.shop-card-icon {
	font-size: 20px;
}

.shop-card-features-list {
	li {
		margin-bottom: 3px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	a {
		display: block;
		font-size: 12px;
		color: #4F4F4F;
	}
}

.shop-card-add {
	min-height: 180px;
	text-decoration: none !important;
	&:hover {
		.add-form-item {
			color: #BDBDBD !important;
		}
	}
}