.shop-nav {
	li {
		&.active {
			a {
				color: #282F36 !important;
				&:before {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	a {
		position: relative;
		display: block;
		padding-top: 18px;
		padding-bottom: 18px;
		text-decoration: none;
		@include mlg() {
			// padding-top: 10px;
			padding-bottom: 10px;
		}
		&:before {
			content: '';

			position: absolute;
			top: 0;
			left: 0;
			width: 100%;

			border-bottom: 5px solid #4592FF;

			opacity: 0;
			visibility: hidden;
			transition: linear .1s;
		}
	}
}