.shop-info {

}
.shop-info-body {

}
.shop-info-head {
	line-height: 1;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1;
	}
	.svg-icon {
		font-size: 18px;
	}
	&.border-bottom {
		border-bottom: 1px solid rgba(40, 47, 54, 0.15);;
	}
}
.shop-info-logo {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;

	font-size: 16px;
	line-height: 25px;
	color: #2F80ED;

	border-radius: 50%;
	background-color: #E0E0E0;
}
.shop-info-link {
	position: relative;
	top: -3px;
}

.shop-info-content {
	font-size: 12px;
	line-height: 15px;
	color: rgba(40, 47, 54, 0.8);
}

.shop-info-foot {
	border-top: 1px solid rgba(40, 47, 54, 0.15);;
	font-size: 12px;
	line-height: 15px;
}

.shop-info {
	.basket-item {
		padding-right: 0;
		& + .basket-item {
			border: none;
			margin-top: 15px;
		}
		.basket-item__img-wrap {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 70px;
			height: 70px;
			border: 1px solid rgba(40, 47, 54, 0.15);
			border-radius: 10px;
		}
		.basket-item__title {
			// margin-bottom: 5px;
		}
	}
}