.shop-search {
	.form-control {
		min-width: 200px;
		max-width: 200px;
		min-height: auto;
		height: auto;
		padding-left: 30px;
		padding-top: 6px;
		padding-bottom: 6px;

		font-size: 12px;
		line-height: 1;

		border-color: #bdbdbd;
		border-radius: 10px;
		@include mlg() {
			min-width: 180px;
		}
		@include iph() {
			color: rgba(#282F36, .5);
			font-size: 12px;
			line-height: 1;
		}
	}
	.svg-icon {
		font-size: 14px;
		color: #bdbdbd;
	}
}