.sidebar-list {
	padding: 8px 0;
	&:hover {
		.active {
			font-weight: 400;
			background-color:  transparent;
			.sidebar-list-link__icon {
				color: #4F4F4F;
			}
			&:hover {
				font-weight: 700;
				background-color:  rgba(197, 228, 252, 0.9);
				.sidebar-list-link__icon {
					color: #2F80ED;
				}
			}
		}
	}
	&_my-buynow {
		padding: 15px;
		border-bottom: 1px solid rgba(40, 47, 54, 0.15);
		@include xl() {
			padding: 20px 32px;
		}
		&:last-child {
			border-bottom-color: transparent;
		}
		li {
			position: relative;
			margin-bottom: 13px;
			.svg-icon {
				margin-right: 20px;
				flex-shrink: 0;
				font-size: 20px;
				color: #4F4F4F;
				@include mxl() {
					margin-right: 10px;
				}
			}
			a {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				color: #53585E !important;
				text-decoration: none !important;
			}
			&.active {
				a {
					font-weight: 700;
					// font-weight: 400;
					color: #53585E !important;
				}
			}
			&.disabled {
				a {
					font-weight: 400 !important;
					color: #BDBDBD !important;
					.svg-icon {
						color: #BDBDBD !important;
					}
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
		&:hover {
			li {
				a {
					&:hover {
						color: #282F36 !important;
					}
				}
				&.active {
					background-color:  transparent;
					a {
						color: #53585E !important;
					}
					&:hover {
						background-color: transparent;
						a {
							color: #53585E !important;
						}
					}
				}
				&.disabled {
					a {
						cursor: default;
						color: #BDBDBD !important;
						&:hover {
							color: #BDBDBD !important;
						}
					}
					&.active {
						a {
							&:hover {
								color: #BDBDBD !important;
							}
						}
					}
				}
			}
		}
	}
}
.sidebar-list-item {
	
}
.sidebar-list-link {
	display: block;
	padding: 7px 20px;
	color: rgba(#282F36, .8);
	white-space: nowrap;
	transition: linear .1s;
	&:hover {
		text-decoration: none;
		color: rgba(#282F36, .8);
		background-color:  rgba(197, 228, 252, 0.9);
		font-weight: 700;
		.sidebar-list-link__icon {
			color: #2F80ED;
		}
	}
	&.active {
		font-weight: 700;
		background-color:  rgba(197, 228, 252, 0.9);
		.sidebar-list-link__icon {
			color: #2F80ED;
		}
	}
}
.sidebar-list-link__icon {
	vertical-align: top;
	font-size: 20px;
	color: #4F4F4F;
	margin-right: 10px;
	transition: linear .1s;
}
.sidebar-list-link__txt {
	display: inline-block;
	vertical-align: top;
	padding-top: 1px;
}