.sidebar-title {
	position: relative;
	margin: 0;
	padding: 15px 22px;

	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #282F36;
	font-weight: 700;
	border-bottom: 1px solid rgba(40, 47, 54, 0.15);
	background-color: #fff;
	h6 {
		margin: 0;
	}
}
.sidebar-title__icon {
	color: #4F4F4F;
	font-size: 18px;
	margin-right: 10px;
}
.sidebar-title__close {
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translate(0, -50%);
	@include lg() {
		display: none;
	}
}
.sidebar-title__sub-toggle {
	position: absolute;
	top: 50%;
	right: 40px;
	transform: translate(0, -50%);
}

.sidebar-title__link {
	color: $document-color;
	text-decoration: none !important;
	font-weight: 700;
	&:hover {
		color: $document-color;
	}
}