.statistic {
	width: 285px;
	background-color: #F2F2F2;
	&_green {
		background-color: #3DC47E;
		.statistic-head {
			border-bottom-color: rgba(#A8F0B3, .5);
		}
	}
	&_red {
		background-color: #FF4F52;
		.statistic-head {
			border-bottom-color: #FFA6BC;
		}
	}
	&_violet {
		background-color: #9B51E0;
		.statistic-head {
			border-bottom-color: rgba(#A8F0B3, .5);
		}
	}
}
.statistic-head {
	border-bottom: 1px solid rgba(40, 47, 54, 0.15);
	padding: 10px 25px;
	min-height: 60px;
}
.statistic-body {
	min-height: 110px;
}
.statistic-large-txt {
	font-size: 30px;
	line-height: 35px;
}