.stock {

}
.stock__offer {
	// min-height: 485px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.stock__offer-in {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 25px 20px 25px 45px;
	min-height: 350px;
	@include md() {
		padding-bottom: 60px;
		min-height: 485px;
	}
	@include msm() {
		padding-left: 15px;
	}
}
.stock__main {
	width: 100%;
	@include md() {
		max-width: 70%;
		flex: 0 0 70%;
	}
}
.stock__side {
	width: 100%;
	padding: 20px 15px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	color: #fff;
	text-align: center;

	background-color: #EB5757;
	@include md() {
		max-width: 30%;
		flex: 0 0 30%;
	}
	@include mmd() {
		br {
			display: none;
		}
	}
	h3 {
		margin-bottom: 14px;
	}
}
.stock__content {
	font-weight: 500;
	color: rgba(#282F36, .8);
}