.sub-category {
	display: flex;
	flex-wrap: wrap;
	padding-left: 15px;
	border-bottom: 1px solid rgba(#282F36, .15);
	border-left: 1px solid transparent;
}
.sub-category-item {

}
.sub-category-link {
	padding: 18px 20px 17px;
	display: block;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	color: #4F4F4F;
	&:hover {
		text-decoration: none;
		color: #EB5757;
	}
}