.subscribe-form {
	color: #fff;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border-radius: 10px;
}
.subscribe-form-in {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 370px;
	padding: 30px 15px;
}
.subscribe-form-title {
		font-size: 40px;
		line-height: 50px;
		@include mmd() {
			font-size: 30px;
		}
}

.subscribe-input {
	display: inline-block;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	line-height: 20px;
	color: rgba(40, 47, 54, 0.5);
	background: #FFFFFF;
	border-radius: 5px;
	@include iph() {
		font-size: 14px;
		line-height: 20px;
		color: rgba(40, 47, 54, 0.5);
	}
	&:focus {
		outline: none;
	}
}


.subscribe-row {
	margin-left: -8px;
	margin-right: -8px;
}
.subscribe-column {
	padding-left: 8px;
	padding-right: 8px;
	margin: 10px 0;
}
.subscribe-form__input {
	width: 260px;
}