.svg-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
	&_reverse {
		transform: rotate(180deg);
	}
	&_reverse_45 {
		transform: rotate(45deg);
	}
	&_reverse_90 {
		transform: rotate(90deg);
	}
}