.synced-carousel {
	height: 560px;
}
.synced-carousel-row {
	margin-left: -1px;
	margin-left: -1px;
}
.synced-carousel-column {
	padding-left: 1px;
	padding-right: 1px;
}

.synced-carousel-thumbs {
	border-radius: 10px 0 0 10px;
	overflow: hidden;
	height: 560px;
	&:focus {
		outline: none;
	}
	.hooper-slide {
		position: relative;
		padding-bottom: 2px;
		overflow: hidden;
		&:after {
			content: '';

			position: absolute;
			top: 0;
			right: 0;
			width: 3px;
			bottom: 2px;
			background-color: #4592FF;

			opacity: 0;
			visibility: hidden;
			transition: linear .1s;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&.is-current {
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.hooper-list {
		position: relative;
		&:focus {
			outline: none;
		}
	}
	.hooper-navigation {
		// height: 100%;
		&.is-vertical {
			.hooper-prev, .hooper-next {
				width: 100%;
				background-color: rgba(#000, .2);
				// color: #fff !important;
				.icon {
					display: inline-block;
					width: 1em;
					height: 1em;
					fill: currentColor;
					color: #fff;
					font-size: 30px;
				}
				&.is-disabled {
					opacity: 0;
					visibility: hidden;
				}
				&:focus {
					outline: none;
				}
			}
		}

		&.is-vertical {
			.hooper-next {

			}
		}

		// position: absolute;
		// left: 50%;
		// transform: translate(-50%, 0);
	}
}
.synced-carousel-main {
	height: 560px;
	.hooper-slide {
		overflow: hidden;
		img {
			width: 100%;
			@include lg() {
				height: 100%;
			}
			object-fit: cover;
		}
	}
}



.article-card-carousel {
	.VueCarousel-slide {
		border-radius: 10px;
		overflow: hidden;
	}
}