.table {

}
.table-regular {
	min-width: 540px;
	thead {
		th {
			border: none;
			font-weight: 400;
			&:first-child {
				padding-left: 0;
			}
		}
	}
	tbody {
		td {
			vertical-align: middle;
			&:first-child {
				padding-left: 0;
			}
		}
	}
}