.tabs {

}
.nav-tabs {
	justify-content: center;
	border-bottom-color: rgba(40, 47, 54, 0.15);
	margin: 0;
	list-style: none;
	padding: 0;

	display: flex;
	flex-wrap: wrap;
}
.tab {
	padding-left: 13px;
	padding-right: 13px;
	&.active {
		a {
			color: #282F36 !important;
			.stepTitle {
				color: #282F36 !important;
			}
			&:before {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.tabs__link {
	position: relative;
	display: inline-block;
	padding: 20px 0;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #94979B;
	font-weight: 700;
	text-decoration: none !important;
	@include mlg() {
		padding: 15px 0;
	}
	&:before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		border-bottom: 5px solid #4592FF;

		opacity: 0;
		visibility: hidden;
	}
	&:hover {
		color: #94979B;
	}
}

.tab-container {
	padding: 50px 20px 0;
	@include mlg() {
		padding-top: 30px;
	}
}

.tab-title {
	font-size: 20px;
	line-height: 25px;
	color: #282F36;
	font-weight: 700;
	margin-bottom: 20px;
}


.tabs-foot {
	padding: 30px 0;
	border-top: 1px solid rgba(40, 47, 54, 0.15);
}

.vue-tabs_advert {
	border: 1px solid rgba(40, 47, 54, 0.15);
	border-radius: 10px;
	.tab-container {
		padding: 30px;
	}
}


.small-tabs {
	.nav-tabs {
		border: none;
		justify-content: flex-start;
		margin-left: -13px;
		margin-right: -13px;
	}
	.tabs__link {
		padding: 0;
		font-size: 14px;
		line-height: 20px;
		color: rgba(40, 47, 54, 0.5);
		text-transform: none;
		letter-spacing: normal;
		&:before {
			display: none;
		}
	}
	.tab-container {
		padding: 10px 0 0;
	}
}

.tabs-style {
	.tab-container {
		padding-bottom: 50px;
	}
}


.tabs-messeges {
	.nav-tabs {
		justify-content: flex-start;
		padding-left: 20px;
		padding-right: 70px;
	}
	.tab-container {
		padding: 0;
	}
}