.tag {
	display: block;
	padding: 4px 10px;
	border: 1px solid rgba(40, 47, 54, 0.15);

	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #4F4F4F;
	font-weight: 700;

	border-radius: 5px;
	&_red {
		background-color: #FF4F52;
		border-color: #FF4F52;
		color: #fff;
	}
	&_green {
		background-color: #3DC47E;
		border-color: #3DC47E;
		color: #fff;
	}
}