.toggle-box {
	padding: 20px;
	& + .toggle-box {
		border-top: 1px solid rgba(40, 47, 54, 0.15);
	}
	&_simple {
		padding: 0;
		padding-top: 8px;
		.toggle-box-btn {
			padding: 0;
			h6 {
				text-transform: none !important;
				font-size: 14px;
				line-height: 20px;
				color: #282f36 !important;
				letter-spacing: normal;
			}
		}
		.svg-icon_arrow-down {
			display: none;
		}
	}
}
.toggle-box-btn {
	cursor: pointer;
}

.toggle-box-collapse-in {
	padding-top: 20px;
}