.tooltip-wrap {
	z-index: 2;

}
.tooltip-box {
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 999;

	width: 130px;
	padding: 5px 10px;
	margin-bottom: 7px;

	font-size: 9px;
	line-height: 13px;
	color: #fff;
	text-align: center;

	background-color: #333;
	border-radius: 4px;
	opacity: 0;
	visibility: hidden;
	transition: linear .1s;

	&:after {
		content: '';

		position: absolute;
		top: 100%;
		left: 50%;
		z-index: 1;
		transform: translate(-50%, 0) rotate(45deg);
		margin-top: -8px;

		width: 12px;
		height: 12px;

		background-color: #333;
	}
	&.visible {
		opacity: 1;
		visibility: visible;
	}
}

.tooltip-box-inner {
	position: relative;
	z-index: 2;
}