// .rokka-uploader {
// 	// height: 50vh;
// 	table {
// 		display: flex;
// 		flex-wrap: wrap;
// 		margin-left: -5px;
// 		margin-right: -5px;
// 	}
// 	tr {
// 		position: relative;
// 		display: block;
// 		padding-left: 5px;
// 		padding-right: 5px;
// 	}
// 	td {
// 		display: none;

// 		background: #FFFFFF;
// 		border: 1px solid rgba(40, 47, 54, 0.15);
// 		border-radius: 5px;
// 		padding: 5px;
// 		height: 75px;
// 		img {
// 			height: 100%;
// 			width: 100%;
// 			object-fit: cover;
// 		}
// 		&.remove, &.thumb {
// 			display: block;
// 		}
// 		&.remove {
// 			position: absolute;
// 			top: 5px;
// 			right: 10px;

// 			height: auto;
// 			border: none;
// 			padding: 0;

// 			border-radius: 0;
// 		}
// 	}
// 	& > div {
// 		&:first-child {
// 			display: none;
// 		}
// 	}
// }

// .removeButton {
// 	width: 20px;
// 	height: 20px;
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	justify-content: center;
// 	padding: 0;
// 	border: none;

// 	color: #fff !important;

// 	background: rgba(40, 47, 54, 0.8) !important;
// 	font-size: 0;
// 	// background-image: url(../assets/images/close.svg);
// }
// .biggerPreview {
// 	display: none;
// }

// .rokka-uploader .button,
// .rokka-uploader .rokka-fileupload {
// 	padding: 5px;
// 	background-color: transparent;
// 	border: 1px solid;
// 	display: inline-block;
// 	vertical-align: middle;
// 	font-size: 16px;
// 	font-family: 'Avenir', Helvetica, Arial, sans-serif;
// }

// .rokka-uploader .drop-active h3 {
// 	margin: -0.5em 0 0;
// 	position: absolute;
// 	top: 50%;
// 	left: 0;
// 	right: 0;
// 	-webkit-transform: translateY(-50%);
// 	-ms-transform: translateY(-50%);
// 	transform: translateY(-50%);
// 	font-size: 40px;
// 	color: #fff;
// 	padding: 0;
// }

// .rokka-uploader .removeButton {
// 	background-color: transparent;
// 	border: 0;
// 	font-weight: 100;
// 	color: black;
// 	cursor: pointer;
// }