.user-contact-box {
	display: block;
	text-decoration: none !important;
	padding: 20px 30px;
	@include mlg() {
		padding-left: 15px;
		padding-right: 15px;
	}
	&:hover {
		background-color: rgba(40, 47, 54, 0.05);
	}
	& + .user-contact-box {
		border-top: 1px solid rgba(40, 47, 54, 0.15);
	}
	&_active {
		background-color: #E2F2FE;
		&:hover {
			// background-color: rgba(#4592FF, .3);
		}
	}
}

.user-contact-box-inside {
	height: 431px;
	.messeges-search-head {
		position: static;
	}
}
.user-contact-box-messeges {
	height: 310px;
	overflow-y: auto;
}

.user-contact-box-foot {
	height: 70px;
	border-top: 1px solid rgba(40, 47, 54, 0.15);;
}