.user {
	&_small {
		.user-avatar {
			img {
				width: 45px;
				height: 45px;
			}
		}
	}
	&_smallest {
		.user-avatar {
			img {
				width: 11px;
				height: 11px;
			}
		}
	}
	&_card-absolute {
		position: absolute;
		top: 10px;
		left: 20px;
		z-index: 2;
	}
}
.user-avatar {
	img {
		width: 64px;
		height: 64px;
		border-radius: 50%;
	}
}
.user-name {
	font-size: 16px;
	line-height: 25px;
	color: #333333;
	font-weight: 700;
}
.user-change-avatar {
	color: #828282 !important;
	font-weight: 700;
}