.vue-slider {
	height: 5px !important;
}
.vue-slider-dot-handle {
	background: #4592FF !important;
	box-shadow: none !important;
}
.vue-slider-dot {
	width: 15px !important;
	height: 15px !important;
	
}
.vue-slider-rail {
	border-radius: 3px !important;
	background: rgba(40, 47, 54, 0.15) !important;
}
.vue-slider-process {
	background: #4592FF !important;
}