.wrap {
	background: #fff;
	border-radius: 10px;
	&_background_dark_4 {
		background-color: rgba(40, 47, 54, 0.04) !important;
	}
	&_border_style {
		border: 1px solid rgba(40, 47, 54, 0.15);
		border-radius: 4px;
	}
}
.wrap-title {
	padding: 15px 25px;
	@include msm() {
		padding: 15px;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
	}
}
.wrap-content {
	border-top: 1px solid rgba(40, 47, 54, 0.15);
}

.wrap-handle-position {
	position: absolute;
	top: -4px;
	left: 50%;
	transform: translate(-50%, 0) rotate(90deg);
}

.wrap-transition {
	// transition: transform 5s;
}


.flip-list-move {
	transition: transform 0.5s;
}
.no-move {
	transition: transform 0s;
}
.ghost {
	background-color: rgba(40, 47, 54, 0.025) !important;
}