	<template>
	<div class="wrapper" id="app">
		<div class="wrapper-in">
			<app-header v-if="!(this.$route.name == 'article-card')" :headerSubData="{currencyList, langList}" />
			<app-header-main v-if="!(this.$route.name == 'article-card')" />
			<div class="wrapper__content">
				<app-categorys :class="{'d-none': !(this.$route.name == 'home') && !this.$store.state.menuToggle}" />
				<router-view />
			</div>
			<app-footer v-if="!(this.$route.name == 'article-card')" :footerHeadData="{currencyList, langList}"/>
		</div>
	</div>
</template>
<script>
	import Header from './components/Header.vue'
	import Headermain from './components/Headermain.vue'
	import Footer from './components/Footer.vue'
	import Categorys from './components/Categorys.vue'



	export default {
		data () {
			return {
				currencyList: {
					items: [
					{
						url: '#',
						name: 'SUM',
						activeState: true
					},
					{
						url: '#',
						name: 'EURO',
						activeState: false
					},
					{
						url: '#',
						name: 'DOLLAR',
						activeState: false
					}
					],
					placeholder: 'SUM',
					icon: 'arrow-down'
				},
				langList: {
					items: [
					{
						url: '#',
						name: 'Русский',
					},
					{
						url: '#',
						name: 'English',
					},
					{
						url: '#',
						name: 'Uzbek',
					}
					],
					placeholder: 'Русский',
					icon: 'arrow-down'
				}
			}
		},
		methods: {
		},
		computed: {
		},
		components: {
			'app-header': Header,
			'app-footer': Footer,
			appHeaderMain: Headermain,
			appCategorys: Categorys,
		}
	}
</script>
<style lang="scss">
	// @import '@/assets/styles/common/_wrapper';
	// @import '@/assets/styles/base/_fonts';
	// @import '@/assets/styles/base/_base';
	// @import '@/assets/styles/base/_bootstrap-grid';
</style>
